﻿@{
    ViewBag.Title = "Taksi";
}

<!DOCTYPE html>
@*@Scripts.Render("~/bundles/fuelchart")*@
<script src="~/Scripts/RGraph.common.core.js"></script>
<script src="~/Scripts/RGraph.common.dynamic.js"></script>
<script src="~/Scripts/RGraph.common.key.js"></script>
<script src="~/Scripts/RGraph.drawing.rect.js"></script>
<script src="~/Scripts/RGraph.common.tooltips.js"></script>
<script src="~/Scripts/RGraph.drawing.yaxis.js"></script>
<script src="~/Scripts/RGraph.drawing.xaxis.js"></script>
<script src="~/Scripts/RGraph.line.js"></script>
<script src="~/Scripts/RGraph.drawing.marker1.js"></script>
<script src="~/Scripts/RGraph.drawing.marker2.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<meta name="viewport" content="width=device-width" />
@*<title>Chart</title>*@


    <div id="PageTitle" style="height: 30px; text-align: center; font-size: xx-large"></div>
    <br />
    <table>
        <tr>
            <td>
                <div style="text-align: center">
                    <canvas id="cvs" width="1200" height="800">[Graph is support starting from IE 9 or Chrome or Firefox]</canvas>
                </div>
            </td>
        </tr>
    </table>

    <script>
        $(document).ready(function () {
            GetChart();
        });

        function GetChart(tooltipShow) {
            var canvas = document.getElementById('cvs');
            var context = canvas.getContext('2d');
            context.clearRect(0, 0, 1500, 700);
            yaxisName = '%'

            $.ajax({
                url: '/Chart/GetDataForChart',
                type: 'POST',
                cache: false,
                success: function (datos) {
                    RGraph.reset(canvas)
                    var ytd = eval('[' + datos + ']');
                    if (ytd.length > 0) {
                        var tooltip1 = ['Jan - <b>' + ytd[0] + '%</b>', 'Feb - <b>' + ytd[1] + '%</b>', 'Mar - <b>' + ytd[2] + '%</b>', 'Apr - <b>' + ytd[3] + '%</b>', 'May - <b>' + ytd[4] + '%</b>', 'Jun - <b>' + ytd[5] + '%</b>', 'Jul - <b>' + ytd[6] + '%</b>', 'Aug  - <b>' + ytd[7] + '%</b>', 'Sept - <b>' + ytd[8] + '%</b>', 'Oct - <b>' + ytd[9] + '%</b>', 'Nov - <b>' + ytd[10] + '%</b>', 'Dec - <b>' + ytd[11] + '%</b>'];
                        var line = new RGraph.Line("cvs", ytd)
                        .set('labels', ['Jan', 'Feb', 'March', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'])
                        .set('gutter.left', 100)
                        .set('colors', ['#0066FF'])
                        .set('background.barcolor1', '#FFF5EE')
                        .set('background.barcolor2', '#FFF5EE')
                        .set('tickmarks', 'endcircle')
                        .set('linewidth', 6)
                        .set('shadow', true)
                        .set('numxticks', 2)
                        .set('key', ['My Graph'])
                        .set('key.position', 'gutter')
                        .set('key.interactive', true)
                        .set('shadow.blur', 15)
                        .set('shadow.color', ['#0066FF', '#990033'])
                        .set('tickmarks', 'circle')
                        .set('tooltips', tooltip1)
                        .set('scale.zerostart', false)
                        .set('ylabels', false)
                        .set('background.grid.autofit.align', true)
                        .set('text.angle', 90)
                        .set('gutter.bottom', 40)
                        .set('gutter.top', 40)
                        .set('tooltips.hotspot.xonly', true)
                        .draw()
                        .trace();

                        var yaxis = new RGraph.Drawing.YAxis('cvs', line.gutterLeft)
                        .set('max', line.max)
                        .set('title', yaxisName)
                        .set('colors', ['black'])
                        .set('gutter.bottom', 55)
                        .set('gutter.top', 40)
                        //.set('max', ymaxValue)
                        //.set('min', yminValue)
                        .draw();
                    }
                },
            });
        }
    </script>

    @*<script src="~/Scripts/jqplot.canvasTextRenderer.js"></script>
        <script src="~/Scripts/jqplot.canvasTextRenderer.min.js"></script>
        <script src="~/Scripts/jquery.jqplot.js"></script>
        <link href="http://localhost:58489/Scripts/jqPlot/jquery.jqplot.css" rel="stylesheet" />
        <script>
            $(document).ready(function () {
                var plot2 = $.jqplot('chart2', [[3, 7, 9, 1, 4, 6, 8, 2, 5]], {
                    // Give the plot a title.
                    title: 'Plot With Options',
                    // You can specify options for all axes on the plot at once with
                    // the axesDefaults object.  Here, we're using a canvas renderer
                    // to draw the axis label which allows rotated text.
                    axesDefaults: {
                        labelRenderer: $.jqplot.CanvasAxisLabelRenderer
                    },
                    // An axes object holds options for all axes.
                    // Allowable axes are xaxis, x2axis, yaxis, y2axis, y3axis, ...
                    // Up to 9 y axes are supported.
                    axes: {
                        // options for each axis are specified in seperate option objects.
                        xaxis: {
                            label: "X Axis",
                            // Turn off "padding".  This will allow data point to lie on the
                            // edges of the grid.  Default padding is 1.2 and will keep all
                            // points inside the bounds of the grid.
                            pad: 0
                        },
                        yaxis: {
                            label: "Y Axis"
                        }
                    }
                });
            });
            //$(document).ready(function () {
            //    // Some simple loops to build up data arrays.
            //    var cosPoints = [];
            //    for (var i = 0; i < 2 * math.pi; i += 0.4) {
            //        cospoints.push([i, math.cos(i)]);
            //    }
            //    var sinpoints = [];
            //    for (var i = 0; i < 2 * math.pi; i += 0.4) {
            //        sinpoints.push([i, 2 * math.sin(i - .8)]);
            //    }
            //    var powpoints1 = [];
            //    for (var i = 0; i < 2 * math.pi; i += 0.4) {
            //        powpoints1.push([i, 2.5 + math.pow(i / 4, 2)]);
            //    }

            //    var powPoints2 = [];
            //    for (var i = 0; i < 2 * math.pi; i += 0.4) {
            //        powpoints2.push([i, -2.5 - math.pow(i / 4, 2)]);
            //    }

            //    var plot3 = $.jqplot('chart3', [cosPoints, sinPoints, powPoints1, powPoints2],
            //    {
            //        title: 'Line Style Options',
            //        // Series options are specified as an array of objects, one object
            //        // for each series.
            //        series: [
            //        {
            //            // Change our line width and use a diamond shaped marker.
            //            lineWidth: 2,
            //            markerOptions: { style: 'dimaond' }
            //        },
            //        {
            //            // Don't show a line, just show markers.
            //            // Make the markers 7 pixels with an 'x' style
            //            showLine: false,
            //            markerOptions: { size: 7, style: "x" }
            //        },
            //        {
            //            // Use (open) circlular markers.
            //            markerOptions: { style: "circle" }
            //        },
            //        {
            //            // Use a thicker, 5 pixel line and 10 pixel
            //            // filled square markers.
            //            lineWidth: 5,
            //            markerOptions: { style: "filledSquare", size: 10 }
            //        }
            //        ]
            //    }
            //    );

            //});*@
    </script>
