﻿@model GFleetV3.Models.Disconnected
@{
    Layout = null;
    WebGrid grid = new WebGrid(rowsPerPage: Model.DisconnectedCount < 1 ? 1 : Model.DisconnectedCount);
    grid.Bind(Model.DisconnectedData,
              autoSortAndPage: false,
              rowCount: Model.DisconnectedCount
              );
    if (false)
    {
    <script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>
}
}
<style type="text/css">
    .color_red
    {
        color: Red;
    }

    .smallfont
    {
        font-size: 11px !important; /* Base Font Size */
    }

    table.qlabs_grid_container
    {
        /*width: 100%;  --- Overall Table Width --- */
        /*  max-width: 960px; --- Overall Table Max Width --- */
        border-collapse: collapse;
        position: relative;
        margin-left: auto;
        overflow: scroll;
        margin-right: initial;
        line-height: normal !important;
        font-family: arial, sans-serif !important; /* Base Font Family */
        /*font-size: 12px !important;  Base Font Size */
        background: #ffffff;
        border: 1px solid #c5c5c5;
        color: #444444 !important; /* Base Font Color */ /* CSS3 Box-Shadow */
        -webkit-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.05);
        box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.05);
        height: 100px;
    }

    thead, tbody
    {
        display: block;
    }

    tbody
    {
        height: 300px; /* Just for the demo          */
        overflow-y: auto; /* Trigger vertical scroll    */
        overflow-x: hidden; /* Hide the horizontal scroll */
    }
</style>
<div style="background-color: white; -moz-border-radius: 15px; border-radius: 7px;">
    <div>
        <div style="font-size: 15px; padding: 5px; font-weight: bold;">
            Disconnected
        </div>
        <div style="font-size: 13px; padding: 5px;">
            All Units @Model.TotalCount Disconnected @Model.DisconnectedCount
        </div>
    </div>
    <div class="smallfont">
        @grid.GetHtml(
    htmlAttributes: new { id = "gridData" },
                    fillEmptyRows: false,
                tableStyle: "qlabs_grid_container",//"webgrid",
                headerStyle: "header_row",//"webgrid-header",
                footerStyle: "webgrid-footer",
                alternatingRowStyle: "data_even",//"webgrid-alternating-row",
                selectedRowStyle: "webgrid-selected-row",
                rowStyle: "data_odd",
        mode: WebGridPagerModes.All,
                        firstText: "<< First",
                        previousText: "< Prev",
                        nextText: "Next >",
                        lastText: "Last >>",
    columns: new[] {        
        grid.Column("Reg",style: "data_cell namewarap", header: "Registration"),
        grid.Column("Date",style: "data_cell color_red", header: "Disconnect Date"),
        grid.Column("Place",style: "data_cell color_red", header: "Place of Disconnection")
        
})
    </div>
</div>
<script type="text/javascript">
    InitGrid('gridData');
</script>
