
@using (Html.BeginForm(" ", " ", FormMethod.Post))
{
    <div>
        <div id="containerDispatchOrgPerformance">
        </div>
    </div>
}
<script type="text/javascript">
    

    $(function () {
        Highcharts.setOptions({
            colors: ['#4169E1', '#000000', '#FF0000']
        });
        if (graph_data != null) {
            var data = graph_data;
            var seriesData = [];
            var xCategories = [];
            var i, cat;
            for (i = 0; i < data.length; i++) {
                cat = data[i].unit;
                if (xCategories.indexOf(cat) === -1) {
                    xCategories[xCategories.length] = cat;
                }
            }
            for (i = 0; i < data.length; i++) {
               // color: (this.data[i] < 0) ? 'blue' : 'black'; 'red';
                if (seriesData) {
                    var currSeries = seriesData.filter(function (seriesObject) { return seriesObject.name == data[i].status; });
                    if (currSeries.length === 0) {
                        currSeries = seriesData[seriesData.length] = { name: data[i].status, data: [] };
                    } else {
                        currSeries = currSeries[0];
                    }
                    var index = currSeries.data.length;
                    currSeries.data[index] = data[i].val;
                } else {
                    seriesData[0] = { name: data[i].status, data: [data[i].val] }
                }
            }

            var chartPerformance;

            var optionsPerformance = {
                chart: {
                    type: 'bar',
                    renderTo: 'containerDispatchOrgPerformance'
                },
                title: {
                    text: 'Dispatch Performance'
                },
                subtitle: {
                    text: 'Daily Dipatches made'
                },
                xAxis: {
                    categories: xCategories,
                    //type: ontimeupdate
                },
                yAxis: {
                    title: {
                        text: 'No. Of Dispatches',
                        align: 'high'
                    },
                    labels: {
                        overflow: 'justify'
                    }
                },
                tooltip: {
                    formatter: function() {
                        return  '<b>' + this.y + ' ' + this.series.name +'</b><br/>' + 'Date: ' + 
                            Highcharts.dateFormat('%y/%m/%d', new Date());
                    }
                },
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'top',
                    x: -40,
                    y: 100,
                    floating: true,
                    borderWidth: 1,
                    backgroundColor: '#FFFFFF',
                    shadow: true
                },
                credits: {
                    enabled: false
                },
                series: seriesData,
            };
            chartPerformance = new Highcharts.Chart(optionsPerformance);
        }
        //else to show no data
    else
        {
            var chartPerformance;
            var optionsPerformance = {
                chart: {
                    type: 'bar',
                    renderTo: 'containerDispatchOrgPerformance'
                },
            //$('#containerDispatchOrgPerformance').highcharts({
            //    chart: {
            //        plotBackgroundColor: null,
            //        plotBorderWidth: null,
            //        plotShadow: false
            //    },
                title: {
                    text: 'No data availale.'
                },
                series: [{
                    type: 'bar',
                    name: 'Random data',
                    data: []
                }]
            };
            chartPerformance = new Highcharts.Chart(optionsPerformance);
        }
        //end
    });
</script>



