﻿@using (Html.BeginForm(" ", " ", FormMethod.Post))
{
    <div>
        <div id="containerTop">
        </div>
    </div>
}
<script type="text/javascript">
    var chart;
    var options = {
        chart: {
            type: 'column',
            renderTo: 'containerTop'
        },
        title: {
            text: 'Daily Distance Vehicle Summary (Top 10)'
        },
        subtitle: {
            text: 'Distance Travelled'
        },
        xAxis: {
            categories: [],
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Distance (Kms)',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            valueSuffix: ' Kms'
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -40,
            y: 100,
            floating: true,
            borderWidth: 1,
            backgroundColor: '#FFFFFF',
            shadow: true
        },
        credits: {
            enabled: false
        },
        series: [{
            name: output,
            data: []
        }]
    }
    $(function () {
        Highcharts.setOptions({
            colors: ['#4169E1']
        });
        if (graph_data != null && graph_data.top10 != null) {
            for (var i = 0; i < graph_data.top10.length; i++) {
                var xDataObj = graph_data.top10[i].Vehicles;
                options.xAxis.categories.push(xDataObj);
                var yDataObj = graph_data.top10[i].Distance;
                options.series[0].data.push(parseFloat(yDataObj));
            }
            chart = new Highcharts.Chart(options);
        }
    });
</script>
