﻿@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
   
}
@Html.Partial("_NewBooking")
<script src="//maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=drawing&amp;key=AIzaSyDEraSXsfbkYBnkCukdi5qTKRDoIaz4WUg" type="text/javascript"></script>
@*<script src="//maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=drawing&amp;key=AIzaSyDEraSXsfbkYBnkCukdi5qTKRDoIaz4WUg" type="text/javascript"></script>*@
@*<script src="js/Jquery-ui-map/jquery.ui.map.extensions.js"></script>*@
<script src="~/Scripts/oms.min.js"></script>
<script src="~/js/map-Live.js"></script>
@Scripts.Render("~/bundles/markerlabel")

<script type="text/javascript">
    function first_load() {
        update_pending = true;
        $.ajax({
            url: '@Url.Action("GetBookData", "Dashboard")',
            type: 'POST',
            dataType: 'json',
            //error: ajax_error,
            success: function (data) {
                if (data != null) {
                    initial_load(data);
                    update_pending = false;
                }
            },
            error: ajax_error
        });
    }
</script>
<style type="text/css">
    .dataTables_scrollHeadInner
    {
        padding-left: 0px!important;
    }
</style>
<div id="page">
    <div id="main">
        <div id="mapPart">
            <div id="map">
            </div>
            <div class="grid-place">
                <span class="bookings">Bookings</span>
                <img class="pin-icon" src="" />
                <div id="grid" class="dataTables_wrapper" role="grid">
                    <table id="vehicles" class="table striped hovered dataTable mDataTable" cellspacing="0">
                        <thead>
                            <tr class="mbg1">
                                <td class="RefNo" style="background-color: rgb(220, 211, 202);">Ref. No
                                </td>
                                <td class="Customername" style="background-color: rgb(220, 211, 202);">Customer Name
                                </td>
                                <td class="PickUpPoint" style="background-color: rgb(220, 211, 202);">PickUp Point
                                </td>
                                <td class="DropOffPoint" style="background-color: rgb(220, 211, 202);">DropOff Point
                                </td>
                                <td class="PickUpDateTime" style="background-color: rgb(220, 211, 202);">PickUp Time
                                </td>
                                <td class="BookedDate" style="background-color: rgb(220, 211, 202);">Booking Date
                                </td>
                                <td class="NoOfPassengers" style="background-color: rgb(220, 211, 202);">Passengers
                                </td>
                                <td class="Status" style="background-color: rgb(220, 211, 202);">Status
                                </td>
                            </tr>
                        </thead>
                        <tbody class="scroll-vertical"></tbody>
                    </table>
                    <div>
                    </div>
                    <!--permanent scrollbar-->
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(".pin-icon").click(function () {
                var gridplace = $('.grid-place');

                if (pinned) {
                    $('body').addClass('nojQuery');
                    gridplace.removeClass('noHover');
                    $(".pin-icon").attr("src", "../../img/pin.png");
                    $(".pin-icon").attr("title", "pin to page");

                } else {
                    $('body').removeClass('nojQuery');
                    gridplace.addClass('noHover');
                    $(".pin-icon").attr("src", "../../img/unpin.png");
                    $(".pin-icon").attr("title", "Unpin from page");
                }

                pinned = !pinned;
            });
        </script>

        <!-- ployzones -->
        <div id="zones" class="sidewindow">
            <h1>Polyzones</h1>
            <a class="close"></a>
            <div id="zones-list">
            </div>
            <div id="zones-group">
            </div>
            <div id="zones-details">
                <div class="line">
                    <fieldset>
                        <div class="line">
                            <label for="Isgeofencespeed">
                                Is GeoFenceSpeed?
                            </label>
                            <input type="checkbox" id="zones-Isgeofencespeed" />
                        </div>
                    </fieldset>
                </div>
                <div class="line">
                    <fieldset>
                        <div class="line">
                            <label for="zones-name">
                                Name
                            </label>
                            <input id="zones-name" />
                        </div>
                        <div class="line">
                            <label for="zones-geofenceactive">
                                Geofence Active?
                            </label>
                            <input type="checkbox" id="zones-geofenceactive" name="zonesgeofenceactive" />
                        </div>
                    </fieldset>
                </div>
                <div id="zone-frequency">
                    <div class="line">
                        <fieldset>
                            <legend>Exit Repoting</legend>
                            <div class="line">
                                <label for="zones-reportonexit">
                                    Report on Exit?
                                </label>
                                <input type="checkbox" id="zones-reportonexit" name="zonesreportonexit" />
                            </div>
                            <div class="line">
                                <label for="zones-reportonexitfreq">
                                    Frequency (Minutes)
                                </label>
                                <input id="zones-reportonexitfreq" />
                            </div>
                            <div class="line">
                                <label for="zones-reportonexitnoofalerts">
                                    No of Alerts
                                </label>
                                <input id="zones-reportonexitnoofalerts" />
                            </div>
                        </fieldset>
                    </div>
                    <div class="line">
                        <fieldset>
                            <legend>Entry Repoting</legend>
                            <div class="line">
                                <label for="zones-reportonentry">
                                    Report on Entry?
                                </label>
                                <input type="checkbox" id="zones-reportonentry" name="zonesreportonentry" />
                            </div>
                            <div class="line">
                                <label for="zones-reportonentryfreq">
                                    Frequency (Minutes)
                                </label>
                                <input id="zones-reportonentryfreq" />
                            </div>
                            <div class="line">
                                <label for="zones-reportonentrynoofalerts">
                                    No of Alerts
                                </label>
                                <input id="zones-reportonentrynoofalerts" />
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div id="zone-speed" style="display: none">
                    <fieldset>
                        <div class="line">
                            <label for="zones-Speed">
                                Speed
                            </label>
                            <input id="zones-Speed" />
                        </div>
                    </fieldset>
                </div>
                <fieldset title='Use "," or ";" to split your email accounts/phone numbers.
                        Example: test@example.com,info@example.com; or 254723456789;25434567987'>
                    <div class="line">
                        <label for="zones-phone">
                            Phone(s)
                        </label>
                        <input id="zones-phone" />
                    </div>
                    <div class="line">
                        <label for="zones-email">
                            Email(s)
                        </label>
                        <input id="zones-email" />
                    </div>
                </fieldset>
                <fieldset>
                    <div class="line">
                        <div id="zones-create" class="button">
                            Create
                        </div>
                        <div id="zones-show" class="button">
                            Show
                        </div>
                    </div>
                    <div class="line">
                        <div id="zones-save" class="button">
                            Save
                        </div>
                        <div id="zones-del" class="button">
                            Delete
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div id="zone-creator" class="sidewindow">
            <h1>Create zone</h1>
            <a class="close"></a>
            <p>
            </p>
            <div class="line">
                <div id="zone-creator-finish" class="button">
                    Finish
                </div>
            </div>
        </div>
    </div>
</div>


