﻿@model IEnumerable<DataAccess.SQL.vw_DriverStatusRpt>
@{
    ViewBag.Title = "Driver Assignment Status";

    WebGrid grid = new WebGrid();
    grid.Bind(Model
              );
    if (false)
    {
    <script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>
    }
    <script src="../../Scripts/dataTable/dataTables.js" type="text/javascript"></script>
    <script src="../../Scripts/dataTable/ZeroClipboard.js" type="text/javascript"></script>
    <script src="../../Scripts/dataTable/TableTools.js" type="text/javascript"></script>
    <link href="../../content/reports/TableTools.css" rel="Stylesheet" type="text/css" />
    
}
<script type="text/javascript">
    $(document).ready(function () {
        var oTable = $('#gridData').dataTable({
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": false,
            "sDom": 'T<"clear">lfrtip',
            "oTableTools": {
                "sSwfPath": "../../Scripts/dataTable/copy_csv_xls_pdf.swf"
            }
        });
        var oSettings = oTable.fnSettings();

        console.log(oSettings);

        $("#StartDate").datepicker();
        $("#EndDate").datepicker();
    });
</script>
<table width="961" border="0" align="center" cellpadding="0">
    <tr>
        <td height="42" colspan="2" class="td1">
            @using (Html.BeginForm("DriverStatus", "Reports"))
            {
                <fieldset>
                    <div id="criteria">
                        <div id="DriverCriteria" style="float: right; right: 400px; position: relative;">
                            <div class="editor-labelDriverStatus">
                                @Html.Label("Driver Status", "Driver Status")
                            </div>
                            <div class="editor-field">
                                @Html.DropDownList("DriverStatus", new SelectList(ViewBag.DriverStatus, "Value", "Text"), "Please Select Driver Status")
                            </div>
                        </div>
                        <div id="submitBtn" style="float: right;top: 35px;position: relative;right: 70px;">
                            <input type="submit" id="search" name="search" value="Search ..." class="btn" />
                        </div>
                    </div>
                </fieldset>
            }
        </td>
    </tr>
    <tr>
        <td width="208" height="169" class="td1" valign="top">
            @Html.Partial("_sidebarmenu", GFleetV3.Models.SideMenu.getSubmenu(@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()))
        </td>
        <td width="747" class="td1" valign="top">
            <div id="divreport">
                @grid.GetHtml(
               htmlAttributes: new { id = "gridData" },
            fillEmptyRows: false,
            tableStyle: "qlabs_grid_container",
            headerStyle: "header_row",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "data_even",
            selectedRowStyle: "webgrid-selected-row",
            rowStyle: "data_odd",
                        //mode: WebGridPagerModes.All,
                        //        firstText: "<< First",
                        //        previousText: "< Prev",
                        //        nextText: "Next >",
                        //        lastText: "Last >>",
    columns: new[] {
        grid.Column("FirstName",style: "data_cell namewarap", canSort:false,
                    header: "Driver"),
        grid.Column("Telephone1",style: "data_cell namewarap", canSort:false,
                    header: "Phones"),
        grid.Column("IDNumber",style: "data_cell", canSort:false,
                    header: "ID Number"),
        grid.Column("COfCNo",style: "data_cell", canSort:false,
                    header: "C Of CNo"),
        grid.Column("SpecialConditions",style: "data_cell", canSort:false,
                    header: "Special Conditions")
        //            ,
        //grid.Column("DriverStatu.DriverStatusName",style: "data_cell", canSort:false,
        //            header: "Driver Status")                    
})
            </div>
        </td>
    </tr>
</table>
<script type="text/javascript">
    InitGrid('gridData');    
</script>
