@charset "utf-8";
/* CSS Document */

@font-face{
	font-family:DroidSans;
	src:url("fonts/DroidSans.ttf");
}

@font-face{
	font-family:Oswald-Regular;
	src:url("fonts/Oswald-Regular.ttf");
}

@font-face{
	font-family:PRISTINA;
	src:url("fonts/PRISTINA.ttf");
}