﻿
#map {
    height: 90%;
}

.grid-place {
    bottom: 0;
    height: 8%;
    /*background:rgba(14, 157, 203, 0.48);*/
    position: absolute;
    width: 100%;
    transition: height .6s ease-out;
    padding-top: 10px;
border-top: 2px solid rgba(236,236,236,1);

}

.dataTables_wrapper {
    background-color: #fff;
}

.dataTables_filter {
    border: 1px solid rgb(220, 211, 202);
}

body.nojQuery .grid-place:hover {
    max-height: 50%;
    height: auto;
    transition: height .8s ease-out;
    transition: max-height .8s ease-out;
}

.noHover {
    max-height: 50%;
    height: auto;
}

.fixed-grid {
    bottom: 0;
    width: 100%;
}

#page, #main, #mapPart {
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    position: absolute;
    /*border:1px solid #000;*/
}

#page {
    top: 7%;
    height: 93%;
    position: fixed;
    overflow: hidden;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

/* Map */
#map {
    /*     float: right; */
    position: relative;
    width: 100%;
    height: 100%;
    background: #eee;
    overflow: hidden;
}

/*.labels {
   color: red;
   background-color: white;
   font-family: "Lucida Grande", "Arial", sans-serif;
   font-size: 10px;
   font-weight: bold;
   text-align: center;
   width: 60px;     
   border: 2px solid black;
   white-space: nowrap;
 }*/
.limit{
    width:70px;
}

.maplabel {
    padding: 0 2px 2px;
    border: 1px solid #000;
    background: #ff0;
}

/* mapPart */
#mapPart {
    /*     float: right;*/
    position: relative;
    height: 100%;
    background: #d43636;
    overflow: hidden;
}

/* Tree */
#tree {
    /**/
    float: left;
    position: relative; /*width: 225px;*/
    height: 100%;
    background: #eee;
    overflow-x: hidden;
    overflow-y: scroll;
}

#grid {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.vehicles {
    width: 100%;
    font-size: 70%;
    table-layout: fixed;
}

.mbg1 {
    background: rgba(209,209,209,1);
    background: -moz-linear-gradient(top, rgba(209,209,209,1) 0%, rgba(238,216,238,1) 19%, rgba(240,216,240,1) 20%, rgba(239,214,239,1) 22%, rgba(230,202,230,1) 35%, rgba(237,208,237,1) 55%, rgba(235,226,235,1) 74%, rgba(240,226,240,1) 79%, rgba(232,223,232,1) 85%, rgba(211,209,213,1) 99%, rgba(209,208,212,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(209,209,209,1)), color-stop(19%, rgba(238,216,238,1)), color-stop(20%, rgba(240,216,240,1)), color-stop(22%, rgba(239,214,239,1)), color-stop(35%, rgba(230,202,230,1)), color-stop(55%, rgba(237,208,237,1)), color-stop(74%, rgba(235,226,235,1)), color-stop(79%, rgba(240,226,240,1)), color-stop(85%, rgba(232,223,232,1)), color-stop(99%, rgba(211,209,213,1)), color-stop(100%, rgba(209,208,212,1)));
    background: -webkit-linear-gradient(top, rgba(209,209,209,1) 0%, rgba(238,216,238,1) 19%, rgba(240,216,240,1) 20%, rgba(239,214,239,1) 22%, rgba(230,202,230,1) 35%, rgba(237,208,237,1) 55%, rgba(235,226,235,1) 74%, rgba(240,226,240,1) 79%, rgba(232,223,232,1) 85%, rgba(211,209,213,1) 99%, rgba(209,208,212,1) 100%);
    background: -o-linear-gradient(top, rgba(209,209,209,1) 0%, rgba(238,216,238,1) 19%, rgba(240,216,240,1) 20%, rgba(239,214,239,1) 22%, rgba(230,202,230,1) 35%, rgba(237,208,237,1) 55%, rgba(235,226,235,1) 74%, rgba(240,226,240,1) 79%, rgba(232,223,232,1) 85%, rgba(211,209,213,1) 99%, rgba(209,208,212,1) 100%);
    background: -ms-linear-gradient(top, rgba(209,209,209,1) 0%, rgba(238,216,238,1) 19%, rgba(240,216,240,1) 20%, rgba(239,214,239,1) 22%, rgba(230,202,230,1) 35%, rgba(237,208,237,1) 55%, rgba(235,226,235,1) 74%, rgba(240,226,240,1) 79%, rgba(232,223,232,1) 85%, rgba(211,209,213,1) 99%, rgba(209,208,212,1) 100%);
    background: linear-gradient(to bottom, rgba(209,209,209,1) 0%, rgba(238,216,238,1) 19%, rgba(240,216,240,1) 20%, rgba(239,214,239,1) 22%, rgba(230,202,230,1) 35%, rgba(237,208,237,1) 55%, rgba(235,226,235,1) 74%, rgba(240,226,240,1) 79%, rgba(232,223,232,1) 85%, rgba(211,209,213,1) 99%, rgba(209,208,212,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#d1d0d4', GradientType=0 );
}

.hidden {
    display: none;
}

.show {
    display: block;
}

#sidebar {
    z-index: 5;
    position: absolute;
    width: auto;
    left: 1%;
    top: 8%;
}

.book-holder {
    width: 30%;
    right: 5%;
    top: 12%;
    z-index: 1;
    border: 2px solid rgba(236,236,236,1);
    background: #fff;
    border-radius: 4px;
    position: absolute;
    padding: 5px 10px;
    -webkit-box-shadow: 5px 5px 18px 0px rgba(50, 50, 50, 0.74);
    -moz-box-shadow: 5px 5px 18px 0px rgba(50, 50, 50, 0.74);
    box-shadow: 5px 5px 18px 0px rgba(50, 50, 50, 0.74);
}

.close {
    position: absolute;
    right: -3%;
    top: -5%;
}

.ui-widget-content {
    z-index: 12;
    background: #47d7eb;
    border: 1px solid rgba(50, 50, 50, 0.74);
    width: 40%;
    list-style-type: none;
}

    .ui-widget-content li {
        cursor: pointer;
        text-decoration: none;
        padding: 0 10px;
    }

        .ui-widget-content li:hover {
            background: rgba(4, 18, 85, 0.74);
            color: #fff;
        }


.info-table {
    width: 70%;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(0, 0, 0, 0.64);
    z-index: 200;
}

.notification-holder {
    min-width: 30%;
    overflow-y: auto;
    min-height: 50px;
    font-size: medium;
    z-index: 200;
}

.mDataTable {
    text-align: left;
    font-size: smaller;
    table-layout: auto;
}

    .mDataTable td.absorbing-column {
        width: 10%;
    }
.bookings{
    width:auto;
    padding:5px 15px;
    margin-top:-40px;
    background:rgb(236, 236, 236);
    border-radius:0 3px 0 0;
    position:absolute;
    cursor:pointer
}
.form_item {
    position: relative;
}

.validation-msg {
    color: red;
    font-size: smaller;
    font-style: initial;
    position: absolute;
    bottom: -12%;
}

#wait {
    height: 350px;
    width: 350px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url('../img/waiting.gif');
}

#loading {
    height: 461px;
    width: 461px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url('../img/loading-blue.gif');
}

.comments {
    width: 200px;
    height: 100px;
    position: absolute;
}

.steps {
    padding: 5px !important;
    font-size: 13px;
}

.rating {
    height: 15px !important;
}

.pin-icon {
    width: 25px;
    position: absolute;
    right: 0;
    top: -10px;
    background: #eee 50%;
    z-index: 10;
}

div.dataTables_scroll {
    clear: both;
}

.slim {
    width: auto;
    float: left;
    padding-right: 10px;
}
