﻿@charset "utf-8";
/* CSS Document */

@import url("fonts.css");

body {
    font-size: 12px;
    font-family: DroidSans, Arial, Helvetica, sans-serif;
    margin: 0;
}

h1, h2, h3 {
    margin: 0 5px;
    padding: 5px;
}

a {
    text-decoration: none;
}

.container-fluid {
    max-width: 1440px;
    margin: 0 auto;
}

.top_wrapper {
    position: fixed;
    width: 100%;
    background-color: #4390df !important;
    left: 0;
    top: 0;
    padding:0 5%;
    z-index: 5;
}

.logo {
    display: inline-table;
    width: 180px;
    font-family: Oswald-Regular;
}

    .logo a {
        color: #FFF;
    }

.page {
    padding: 0 5% 0 5% !important;
}

.menu {
    padding: 2px 5px;
    margin: 0;
    display: inline-table;
    float: right;
}

    .menu li {
        display: inline-table;
    }

.top_wrapper .menu a {
    color: #FFF;
    font-size: 16px;
    text-decoration: none;
    font-weight: normal;
}

.menu li div {
    padding: 5px 10px;
}

.mapholder {
    position: absolute;
    z-index: 0;
    left: 0;
    width: 100%;
    top:37px !important;
}

#mapcanvas {
    background: #000;
    width: 100%;
}

#loginpanel {
    position: absolute;
    top: 250px;
    left: 60%;
    width: 350px;
    padding: 15px 25px;
    box-shadow: 0 0 5px #000;
    background: rgba(255,255,255,0.8);
    z-index: 1;
}



#loginpanel a {
    color: #000;
}

#div_errormsg {
    color: red;
    font-style: italic;
}


/*==================== Imported css===================*/

.project-info {
    margin-top: 60px;
    margin-bottom: 30px;
}

.sixteen .project-info {
    margin-top: 0px;
}

.project-info {
    height: auto;
    float: left;
    margin-bottom: 30px;
}

.project-description, .project-details {
    margin-bottom: 30px;
}

    .project-description h3, .project-details h3 {
        margin-bottom: 10px;
    }

    .project-details p {
        border-bottom: 1px solid #e8e8e8;
        padding-bottom: 7px;
    }

        .project-details p span {
            font-weight: bold;
        }



/*======== CONTACT SECTION ========*/
#contact {
    padding-bottom: 0;
}

.contact-box {
    width: 100%;
    text-align: center;
    padding: 45px 0px 60px;
}

.contact-details {
    width: 70%;
    padding: 5px 0;
    margin: 0 auto 10px;
    color: #ffffff;
}

    .contact-details h2 {
        margin-bottom: 0px;
        color: inherit;
    }

    .contact-details h1 {
        color: black;
        background: rgba(255, 255, 255, 0.50);
        -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4Cffffff, endColorstr=#4Cffffff);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4Cffffff, endColorstr=#4Cffffff);
    }

/*=== COPYRIGHT SECTION ===*/
.copyright {
    width: 100%;
    padding: 40px 0;
    background: #FFD600;
    font-size: 11px;
}

    .copyright h1,
    .copyright h2,
    .copyright h3,
    .copyright h4,
    .copyright h5,
    .copyright h6,
    .copyright a {
        color: inherit;
    }

.copyright-logo a {
    display: inline-block;
    text-align: center;
    margin-bottom: 30px;
}

.copyright .social-icons {
    text-align: center;
}

    .copyright .social-icons .social-icon {
        display: inline-block;
        float: none;
        margin: 0 5px 5px 0;
        background-color: rgba(0,0,0,0.05) !important;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin-bottom: 30px;
    }
/*=== CONTACT FORM ELEMENTS ===*/
#contact-input {
    overflow: hidden;
    margin-bottom: 13px;
    width: 50%;
    float: left;
}

    #contact-input input {
        border: 1px solid #e8e8e8;
        width: 90%;
        font-size: 13px;
        color: #747474;
        padding: 20px 2%;
        float: left;
        margin: 0 1% 2%;
        border-radius: 2px;
    }

#contact-textarea textarea {
    border: 1px solid #e8e8e8;
    width: 95%;
    height: 92px;
    font-size: 13px;
    color: #747474;
    padding: 20px 11px 10px;
    border-radius: 2px;
    margin-bottom: 10px;
}

#contact-input input:last-child {
    margin-right: 0;
}

#contact-input input:-moz-placeholder, #contact-textarea textarea:-moz-placeholder {
    color: #999;
}

#contact-input input:-ms-input-placeholder, #contact-textarea textarea:-ms-input-placeholder {
    color: #999;
}

#contact-input input::-webkit-input-placeholder, #contact-textarea textarea::-webkit-input-placeholder {
    color: #999;
}

#contact-textarea {
    width: 50%;
    float: right;
}

    #contact-input label, #contact-textarea label {
        display: block;
        text-align: left;
        font-weight: bold;
        padding-left: 2%;
    }

#contact-submit input[type="submit"] {
    padding: 20px 24px 20px 24px;
    border: 0 none;
    color: #ffffff;
    display: block;
    width: 50%;
    cursor: pointer;
    text-indent: -9999px;
    background-image: url(../images/mail.png);
    background-position: center center;
    background-repeat: no-repeat;
    float: right;
    height: 57px;
    line-height: 57px;
}

input[type="text"], input[type="password"], input[type="email"], textarea, select {
    background: #fff;
    padding: 8px 8px;
    outline: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #666;
    margin: 0;
    width: 200px;
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
    width: 180px;
    color: #999;
    border: 1px solid #e8e8e8;
}

    input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus {
        border: 1px solid #e0e0e0;
        color: #333;
    }

.fittext-content {
    line-height: 0.8;
}

* html .title h1 {
    display: inline;
}

* + html .title h1 {
    display: inline;
}


.p_content {
    text-align:center;
    text-decoration: none;
font-family: Baskerville, “Baskerville Old Face”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
  font-weight: 100;
  letter-spacing: 0.00em;
  font-size: 3.5rem;
  line-height: 2.5em;
  letter-spacing: 0.01em;
  color: #000000;
  line-height: 3.2rem;
  font-size: 3.2rem;
  color: inherit;
    padding:50px 10% 0;
}

.paragraph strong {
        font-weight: 400;
    }
.hr {
  clear: both;
  display: block;
  width: 100%;
  height: 25px;
  line-height: 25px;
  position: relative;
  margin: 30px 0;
  float: left;
}
 .hr-short {
  height: 20px;
  line-height: 20px;
  margin: 30px 0;
  float: none;
}


.about-image {
    width:40%;
}
.container-fluid {
    background:url('../img/bg-1.jpg') center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}