﻿@model GFleetV3.Models.ChangePasswordModel
@{
    ViewBag.Title = "Change Password";
}
<h2>
    Change Password</h2>
<p>
    Use the form below to change your password.
</p>
<p>
    New passwords are required to be a minimum of @ViewBag.PasswordLength characters
    in length.
</p>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
    <div>
        <fieldset style="width: 400px; margin: auto;">
            <div class="editor-field">
                @Html.PasswordFor(m => m.OldPassword, new { id = "TxtOldPassword", placeholder = "Old Password" })
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.NewPassword, new { id = "TxtNewPassword", placeholder = "New Password" })
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword, new { id = "TxtConfirmPassword", placeholder = "Confirm Password" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
            <p>
                <button type="submit" id="btnSave" name="Command" value="Save" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                    <span class="ui-button-text">Change Password</span></button>
                @*<input type="submit" value="Change Password" />*@
            </p>
        </fieldset>
    </div>
}
