﻿@using CaptchaMvc.HtmlHelpers
    @using Recaptcha;
@model GFleetV3.Models.LogOnModel
@{
    Layout = null;
    ViewBag.Title = "Log On";
}
<!DOCTYPE html>
@*<html xmlns="http://www.w3.org/1999/xhtml">*@
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Taksi</title>
    <!-- BOOTSTRAP CORE CSS -->
    <script src="~/Content/landing-page/js/noframework.waypoints.min.js"></script>
    <script src="~/Content/landing-page/js/jquery.waypoints.min.js"></script>
    <link href="~/Content/landing-page/css/Roboto.css" rel="stylesheet" />

    <link href="~/Content/landing-page/css/bootstrap.css" rel="stylesheet" />
    <!-- CUSTOM CSS -->
    <link href="~/Content/landing-page/css/animate.min.css" rel="stylesheet" />

    <link href="~/Content/landing-page/css/style.css" rel="stylesheet" />




</head>
<body data-spy="scroll" data-target=".navbar-fixed-top">

    <div class="navbar navbar-default navbar-fixed-top scroll-me">
        <div class="container">
            <div class="navbar-header" id="nav-barheader1">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="~/Content/landing-page/img/logo-new-black.png" alt="" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right " style="padding:20px;">
                   
                    <li><a href="@Url.Action("Index", "Home")"><span>HOME</span></a>
                    @*<li><a href="#about-sec">ABOUT</a></li>
                    <li><a href="#description-sec">TEXT</a></li>*@
                    <li><a href="@Url.Action("LogOn", "Account")"><span>LOGIN</span></a>
                    @*<li><a href="#contact-sec">CONTACT</a></li>*@
                </ul>
            </div>

        </div>
    </div>
    <style>
        body {
           
            /*background: #808080 ;*/
            background: url(/Content/landing-page/img/login-background.jpg) no-repeat center center!important;
            
             background-size: cover!important;
             padding: 0!important;
             min-height: 600px!important;
            /* <------ */
            
         
          
            
    
        }

        form {
            font-family: 'Ubuntu', 'Lato', sans-serif !important;
            font-weight: 400 !important;
            /* Size and position */
            width: 330px !important;
            height:293px !important;
            position: relative;
            margin: 60px auto 30px;
            padding: 10px;
            overflow: hidden;
            /* Styles */
            background: rgb(125,126,125) !important; /* Old browsers */
            background: -moz-linear-gradient(top, rgba(125,126,125,1) 24%, rgba(125,126,125,1) 56%, rgba(125,126,125,1) 56%, rgba(125,126,125,1) 79%, rgba(125,126,125,1) 79%, rgba(125,126,125,1) 79%, rgba(14,14,14,1) 98%) !important; /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(24%,rgba(125,126,125,1)), color-stop(56%,rgba(125,126,125,1)), color-stop(56%,rgba(125,126,125,1)), color-stop(79%,rgba(125,126,125,1)), color-stop(79%,rgba(125,126,125,1)), color-stop(79%,rgba(125,126,125,1)), color-stop(98%,rgba(14,14,14,1))) !important; /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, rgba(125,126,125,1) 24%,rgba(125,126,125,1) 56%,rgba(125,126,125,1) 56%,rgba(125,126,125,1) 79%,rgba(125,126,125,1) 79%,rgba(125,126,125,1) 79%,rgba(14,14,14,1) 98%) !important; /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, rgba(125,126,125,1) 24%,rgba(125,126,125,1) 56%,rgba(125,126,125,1) 56%,rgba(125,126,125,1) 79%,rgba(125,126,125,1) 79%,rgba(125,126,125,1) 79%,rgba(14,14,14,1) 98%) !important; /* Opera 11.10+ */
            background: -ms-linear-gradient(top, rgba(125,126,125,1) 24%,rgba(125,126,125,1) 56%,rgba(125,126,125,1) 56%,rgba(125,126,125,1) 79%,rgba(125,126,125,1) 79%,rgba(125,126,125,1) 79%,rgba(14,14,14,1) 98%) !important; /* IE10+ */
            background: linear-gradient(to bottom, rgba(125,126,125,1) 24%,rgba(125,126,125,1) 56%,rgba(125,126,125,1) 56%,rgba(125,126,125,1) 79%,rgba(125,126,125,1) 79%,rgba(125,126,125,1) 79%,rgba(14,14,14,1) 98%) !important; /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ) !important; /* IE6-9 */
            border-radius: 0.4em;
            border: 1px solid #191919;
            box-shadow: inset 0 0 2px 1px rgba(255,255,255,0.08), 0 16px 10px -8px rgba(0, 0, 0, 0.6) !important;
        }

        .editor-field-login {
            width: 308px;
        }

        .captcha {
            width: 305px;
            height: 80px;
            float: right;
        }

        .divforgot {
            width: 150px;
            height: 70px;
        }

        .captcha img {
            width: 130px;
        }

        .captcha br {
            display: none;
        }

        .captcha a {
            padding-right: 10px;
        }

        .captcha span {
            display: block;
        }

        #CaptchaInputText {
            width: 130px;
            float: right;
            margin-right: 70PX;
            height: 10PX;
        }



        .field-validation-error {
            color: #ff0000;
        }

        .validation-summary-errors {
            color: #ff0000;
            margin: auto;
            width: 410px;
        }

        .validation-msg {
            margin: auto;
            width: 205px;
        }
    </style>

    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript">
        window.onload = function getQueryVariable() {
            var query = window.location.href;
            if (query.indexOf("newport") != -1) {
                var image = 'content/images/NewportAfrica.png';
                image = baseUrl() + image;
                document.getElementById('LogImg').src = image;
            }
        }
        function baseUrl() {
            var thisurl = document.location.href.toString();
            var hav = thisurl.substring(thisurl.indexOf("//") + 2, thisurl.length);
            var thisbase = hav.substring(0, hav.indexOf("/"));
            return thisurl.substring(0, thisurl.indexOf("//") + 2) + thisbase + '/';
        }


        function set_LogoUrl() {
            $.ajax({
                url: '@Url.Action("getClientTypeLogoUrl", "Live")',
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    var image = baseUrl() + data;
                    document.getElementById('LiveImg').src = image;
                }
            });
        }

        $(document).ready(function () {
            set_LogoUrl();
        });
        //var product = getQueryVariable('local');
    </script>
    @Styles.Render("~/Content/LogOn")

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <div id="login">
        <h2>
            <img id="LogImg" alt="Logo" src="~/Content/images/logo-new-white.png" width="200" height="59">
        </h2>
        <p>
            @TempData["Message"]
        </p>
    </div>
    @Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")
    @using (Html.BeginForm("LogOn", "Account", FormMethod.Post, new { @id = " ff" }))
    {
        @Html.AntiForgeryToken()
        <div style="overflow: hidden;">
            <div class="editor-field">
              
                @Html.TextBoxFor(m => m.UserName, new { id = "TxtUsername", placeholder = "Username", @class = "editorLogon", style = "width:102%;" })
            </div>
            <div class="validation-msg">
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
        </div>
        <div>
            <div class="editor-field">
               
                @Html.PasswordFor(m => m.Password, new { id = "TxtPassword", placeholder = "Password", @class = "editorLogon" , style = "width:102%;"})
            </div>
            <div class="validation-msg">
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>
        <div class="main-login">
            @*<div class="captcha">
                <form action="/Account/validatecaptcha" method="POST">
                    <div class="g-recaptcha" data-sitekey="6LcQ2wUTAAAAANW0mbJKEjRNPVx5J1llo1vaxMmh"></div>
                </form>
            </div>

            <p>
                <input type="submit" id="signIn" name="signIn" value="Sign In" class="btn" />
            </p>
            <div class="divforgot">
                @Html.ActionLink("Forgot Password?", "ForgotPassword", "Account")
            </div>*@
            <div class="main-login">
                <div class="captcha">
                    <form action="/Account/validatecaptcha" method="POST">
                        <div class="g-recaptcha" data-sitekey="6LcQ2wUTAAAAANW0mbJKEjRNPVx5J1llo1vaxMmh"></div>
                    </form>
                </div>
                <p>
                    <input type="submit" id="signIn" name="signIn" value="Sign In" class="btn btn-default btn-lg" />
                </p>
                <div style="width: 150px; float: right; padding-bottom:20px; padding-top:20px">
                    <div class="editor-field">
                        @Html.ActionLink("Forgot Password?", "ForgotPassword", "Account", new { @style = "color:white;" })
                    </div>
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
        </div>
        @*<div class="main-login">
                <div class="captcha">
                    @{
                var captcha = Html.Captcha("Refresh", "Enter Text", 6, "Is Required Field", false);
                        }
                        @captcha
                        @Html.ValidationMessage(captcha.BuildInfo.InputElementId)
                </div>
            </div>
        *@
    }
    </body>
