﻿@{
    ViewBag.Title = "ResetPasswordSuccess";
}
<fieldset>
    <legend>Reset Password Success</legend>
    <ul>
        <li><span style="color: red;">@ViewBag.newPass</span> </li>
        <li><span style="color: red;">@ViewBag.userName</span> </li>
    </ul>
    <ul>
        <li>
            @Html.ActionLink("Login", "Login") You can now login to your account. </li>
    </ul>
</fieldset>
