@*@model DataAccess.SQL.Client*@
@model GFleetV3.Models.DealerRegisterModel
@{  
    Layout = "~/Views/Shared/_maintainanceLayout.cshtml";
    if (false)
    {
    <script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>
    }
}
<style type="text/css">
    .window
    {
        overflow: hidden;
        /*min-height: 200px;*/
        position: fixed;
        z-index: 1050;
        top: 6px;
        left: 50.5px;
        width: 650px;
        /*height: 364px;*/
    }
</style>
@using (Html.BeginForm("CreateEditDealer", "Dealer", FormMethod.Post))
{  
    <div id="wait" style="display: none;">
    </div>
    <div class="divautosize">
        @Html.ValidationSummary(true)
        <div id="from_result">
        </div>
        @if (ViewBag.IsUpdate == true)
        { 
            @Html.HiddenFor(model => model.DealerModel.ClientId)
            @Html.Hidden("isEditing", true)
        }
        <fieldset>
            <legend></legend>
            <div id="ClientLeft" style="float: left; padding-right: 7px;">
                <div class="editor-label">
                    @Html.LabelFor(model => model.DealerModel.ClientName)
                </div>
                <div class="input-control text">
                    @Html.EditorFor(model => model.DealerModel.ClientName)
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.DealerModel.ClientName)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.DealerModel.BrandName)
                </div>
                <div class="input-control text">
                    @Html.EditorFor(model => model.DealerModel.BrandName)
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.DealerModel.BrandName)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.DealerModel.ClientTypeId)
                </div>
                <div class="input-control select">
                    @Html.DropDownListFor(m => m.DealerModel.ClientTypeId, new SelectList(ViewBag.ClientType, "Value", "Text"), "Please Select Client Type", new { style = "width:210px;padding: 5px;border: 1px solid #CCC;" })
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.DealerModel.ClientTypeId)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.DealerModel.ContactPerson)
                </div>
                <div class="input-control text">
                    @Html.EditorFor(model => model.DealerModel.ContactPerson)
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.DealerModel.ContactPerson)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.DealerModel.ClientEmail)
                </div>
                <div class="input-control text">
                    @Html.EditorFor(model => model.DealerModel.ClientEmail)
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.DealerModel.ClientEmail)
                </div>
            </div>
            <div id="ClientRight" style="float: left; padding-right: 7px;">
                <div class="editor-label">
                    @Html.LabelFor(model => model.DealerModel.ClientTelephone)
                </div>
                <div class="input-control text">
                    @Html.TextBoxFor(model => model.DealerModel.ClientTelephone)
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.DealerModel.ClientTelephone)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.DealerModel.ClientAddress)
                </div>
                <div class="input-control text">
                    @Html.EditorFor(model => model.DealerModel.ClientAddress)
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.DealerModel.ClientAddress)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.DealerModel.ClientPhysicalAddress)
                </div>
                <div class="input-control text">
                    @Html.EditorFor(model => model.DealerModel.ClientPhysicalAddress)
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.DealerModel.ClientPhysicalAddress)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.DealerModel.Active)
                </div>
                <div class="input-control text">
                    @Html.EditorFor(model => model.DealerModel.Active)
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.DealerModel.Active)
                </div>
            </div>
            @if (ViewBag.IsUpdate == false)
            {
                <div id="ClientRight2" style="float: left; padding-right: 7px;">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.RegisterModel.Email)
                    </div>
                    <div class="input-control text">
                        @Html.TextBoxFor(model => model.RegisterModel.Email)
                    </div>
                    <div class="validation-msg">
                        @Html.ValidationMessageFor(model => model.RegisterModel.Email)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.RegisterModel.Password)
                    </div>
                    <div class="input-control text">
                        @Html.PasswordFor(model => model.RegisterModel.Password)
                    </div>
                    <div class="validation-msg">
                        @Html.ValidationMessageFor(model => model.RegisterModel.Password)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.RegisterModel.ConfirmPassword)
                    </div>
                    <div class="input-control text">
                        @Html.PasswordFor(model => model.RegisterModel.ConfirmPassword)
                    </div>
                    <div class="validation-msg">
                        @Html.ValidationMessageFor(model => model.RegisterModel.ConfirmPassword)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.RegisterModel.UserRole)
                    </div>
                    <div class="input-control select">
                        @Html.DropDownListFor(m => m.RegisterModel.UserRole.RoleName, new SelectList(ViewBag.RoleName, "Value", "Text"), "Please Select Role", new { id = "dropRoleName" })
                    </div>
                    <div class="validation-msg">
                        @Html.ValidationMessageFor(model => model.RegisterModel.UserRole)
                    </div>
                </div>
            }
        </fieldset>
        <br />
        <div style="bottom: 0px; position: relative; float: left;">
             @if (ViewBag.IsUpdate == true)
                {

                    <button type="submit" id="btnUpdate" name="Command" value="Update" class="image-button bg-darkGreen fg-white image-left">
                        Update
                        <i class="icon-arrow-right-3 bg-green fg-white"></i>
                    </button>
        }
                else
                {
                    <button type="submit" id="btnSave" name="Command" value="Save" class="image-button bg-darkGreen fg-white image-left">
                        Save
                        <i class="icon-arrow-right-3 bg-green fg-white"></i>
                    </button>
        }
                <button type="button" id="btncancelpassenger" class="image-button bg-teal fg-white image-right">
                    Cancel
                    <i class="icon-cancel bg-green fg-white"></i>
                </button>
        &nbsp; &nbsp;
        </div>
    </div>
}

<script type="text/javascript">
    $(function () {
        dialogStartUp(displayResult);
    });
    function displayResult(data) {
        console.log(data);
        data = data.Data;
        var table = document.getElementById("gridData");
        var rowCount = table.rows.length;
        var row = table.insertRow(rowCount);
        row.className = rowCount % 2 == 0 ? "data_even" : "data_odd";

        var insuarancename = row.insertCell(0);
        var contactperson = row.insertCell(1);
        var email = row.insertCell(2);
        var telephone = row.insertCell(3);
        var address = row.insertCell(4);
        var action = row.insertCell(5);

        insuarancename.innerHTML = data.InsuaranceName; insuarancename.className = "data_cell";
        contactperson.innerHTML = data.ContactPerson; contactperson.className = "data_cell";
        email.innerHTML = data.Email; email.className = "data_cell";
        telephone.innerHTML = data.Telephone; telephone.className = "data_cell";
        address.innerHTML = data.Address; address.className = "data_cell";
        var element1 = document.createElement("label");
        var a = document.createElement('a');
        var linkText = document.createTextNode("Edit");
        a.appendChild(linkText);
        a.setAttribute("class", "editDialog");
        a.title = "Edit";
        a.href = "/Insuarance/Edit/" + data.Id;
        element1.appendChild(a);
        action.appendChild(element1); action.className = "data_cell";
    }
</script>
