﻿@model GFleetV3.Models.PagedClientTypeModel
@{
    Layout = null;
    WebGrid grid = new WebGrid(rowsPerPage: Model.PageSize);
    grid.Bind(Model.ClientType,
              autoSortAndPage: false,
              rowCount: Model.TotalRows
              );
    if (false)
    {
        <script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>
    }
}
@grid.GetHtml(
        htmlAttributes: new { id = "gridData" },
        fillEmptyRows: false,
        tableStyle: "qlabs_grid_container",//"webgrid",
        headerStyle: "header_row",//"webgrid-header",
        footerStyle: "webgrid-footer",
        alternatingRowStyle: "data_even",//"webgrid-alternating-row",
        selectedRowStyle: "webgrid-selected-row",
        rowStyle: "data_odd", //"webgrid-row-style",
        mode: WebGridPagerModes.All,
                firstText: "<< First",
                previousText: "< Prev",
                nextText: "Next >",
                lastText: "Last >>",
    columns: new[] {

        grid.Column("ClientTypeName",style: "data_cell",
                    header: "Client Type"
                    ),
       grid.Column("",style: "data_cell",
                    header: "Actions",
                    format: @<text>
                        <label>@Html.ActionLink("Edit", "Edit", new { id = item.ClientTypeId }, new { @class = "editDialog"/*, data_dialog_id = "edit-Dialog"*/ })</label>
                        @*|
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "confirmDialog" })*@
                    </text>
        )
})
<script type="text/javascript">
    InitGrid('gridData');
</script>
