@model DataAccess.SQL.OrganisationDepartment
@{  
    Layout = null;
    if (false)
    {
    <script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>

    }
}
@using (Html.BeginForm("CreateEditOrganisationDepartment", "OrganisationDepartment", FormMethod.Post))
{  <div id="wait" style="display: none;">
    </div>
    <div class="divautosize">
        @Html.ValidationSummary(true)
        <div id="from_result">
        </div>
        @if (ViewBag.IsUpdate == true)
        { 
            @Html.HiddenFor(model => model.OrganisationDeptId)
            @Html.Hidden("isEditing", true)
        }
        <fieldset>
            <div class="editor-label">
                @Html.LabelFor(model => model.DepartmentName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.DepartmentName)
            </div>
            <div class="validation-msg">
                @Html.ValidationMessageFor(model => model.DepartmentName)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Active)
            </div>
            <div class="editor-field">
                @Html.CheckBoxFor(model => model.Active)
            </div>
            <div class="validation-msg">
                @Html.ValidationMessageFor(model => model.Active)
            </div>
        </fieldset>
        <br />
        <div>
            @if (ViewBag.IsUpdate == true)
            { 

                <button type="submit" id="btnUpdate" name="Command" value="Update" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                    <span class="ui-button-text">Update</span></button>
            }
            else
            { 
                <button type="submit" id="btnSave" name="Command" value="Save" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                    <span class="ui-button-text">Save</span></button>
            }
            <button type="button" id="btncancel" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                <span class="ui-button-text">Cancel</span></button>
            &nbsp; &nbsp;
        </div>
    </div>
}
<script type="text/javascript">
    $(function () {
        dialogStartUp(displayResult);
    });
    function displayResult(data) {
        console.log(data);
        data = data.Data;
        var table = document.getElementById("gridData");
        var rowCount = table.rows.length;
        var row = table.insertRow(rowCount);
        row.className = rowCount % 2 == 0 ? "data_even" : "data_odd";

        var driverlicencetype = row.insertCell(0);
        var action = row.insertCell(1);

        driverlicencetype.innerHTML = data.DriverLicenceType; driverlicencetype.className = "data_cell";
        var element1 = document.createElement("label");
        var a = document.createElement('a');
        var linkText = document.createTextNode("Edit");
        a.appendChild(linkText);
        a.setAttribute("class", "editDialog");
        a.title = "Edit";
        a.href = "/DriverLicenceType/Edit/" + data.Id;
        element1.appendChild(a);
        action.appendChild(element1); action.className = "data_cell";
    }
</script>
