/*@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}*/

@font-face
{
    font-family: 'icomoonregular';
    src: url('fonts/icomoon.eot');
    src: url('fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('fonts/icomoon.woff') format('woff'), url('fonts/icomoon.ttf') format('truetype'), url('fonts/icomoon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Demo styles for icons (remove in production site)*/
.box1
{
    float: left;
    background: #f2f2f2;
    padding: 5px;
    margin-right: 15px;
    margin-bottom: 15px;
    min-width: 120px;
    text-align: left;
    box-shadow: inset 0 2px 2px #fff,0 0 0 1px #bbb,0 1px 1px #aaa;
}

    .box1 i
    {
        font-size: 24px;
    }


.icon12
{
    font-size: 12px;
}

.icon16
{
    font-size: 16px;
}

.icon20
{
    font-size: 20px;
}

.icon24
{
    font-size: 24px;
}

.icon32
{
    font-size: 32px;
}

.icon64
{
    font-size: 64px;
}

[class^="i-"], [class*=" i-"]
{
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}

/* Fix for button tag */
button [class^="i-"], button [class*=" i-"]
{
    margin-left: 0;
    display: inline;
}

.btn-link [class^="i-"], .btn-link [class*=" i-"]
{
    display: inline-block;
}

.i-home:before, .i-home-2:before, .i-home-3:before, .i-home-4:before, .i-home-5:before, .i-home-6:before, .i-home-7:before, .i-home-8:before, .i-home-9:before, .i-home-10:before, .i-home-11:before, .i-office:before, .i-newspaper:before, .i-pencil:before, .i-pencil-2:before, .i-pencil-3:before, .i-pencil-4:before, .i-pencil-5:before, .i-pencil-6:before, .i-quill:before, .i-quill-2:before, .i-quill-3:before, .i-pen:before, .i-pen-2:before, .i-pen-3:before, .i-pen-4:before, .i-pen-5:before, .i-marker:before, .i-home-12:before, .i-marker-2:before, .i-blog:before, .i-blog-2:before, .i-brush:before, .i-palette:before, .i-palette-2:before, .i-eyedropper:before, .i-eyedropper-2:before, .i-droplet:before, .i-droplet-2:before, .i-droplet-3:before, .i-droplet-4:before, .i-paint-format:before, .i-paint-format-2:before, .i-image:before, .i-image-2:before, .i-image-3:before, .i-images:before, .i-image-4:before, .i-image-5:before, .i-image-6:before, .i-images-2:before, .i-image-7:before, .i-camera:before, .i-camera-2:before, .i-camera-3:before, .i-camera-4:before, .i-music:before, .i-music-2:before, .i-music-3:before, .i-music-4:before, .i-music-5:before, .i-music-6:before, .i-piano:before, .i-guitar:before, .i-headphones:before, .i-headphones-2:before, .i-play:before, .i-play-2:before, .i-movie:before, .i-movie-2:before, .i-movie-3:before, .i-film:before, .i-film-2:before, .i-film-3:before, .i-film-4:before, .i-camera-5:before, .i-camera-6:before, .i-camera-7:before, .i-camera-8:before, .i-camera-9:before, .i-dice:before, .i-gamepad:before, .i-gamepad-2:before, .i-gamepad-3:before, .i-pacman:before, .i-spades:before, .i-clubs:before, .i-diamonds:before, .i-king:before, .i-queen:before, .i-rock:before, .i-bishop:before, .i-knight:before, .i-pawn:before, .i-chess:before, .i-bullhorn:before, .i-megaphone:before, .i-new:before, .i-connection:before, .i-connection-2:before, .i-podcast:before, .i-radio:before, .i-feed:before, .i-connection-3:before, .i-radio-2:before, .i-podcast-2:before, .i-podcast-3:before, .i-mic:before, .i-mic-2:before, .i-mic-3:before, .i-mic-4:before, .i-mic-5:before, .i-book:before, .i-book-2:before, .i-books:before, .i-reading:before, .i-library:before, .i-library-2:before, .i-graduation:before, .i-file:before, .i-profile:before, .i-file-2:before, .i-file-3:before, .i-file-4:before, .i-file-5:before, .i-file-6:before, .i-files:before, .i-file-plus:before, .i-file-minus:before, .i-file-download:before, .i-file-upload:before, .i-file-check:before, .i-file-remove:before, .i-file-7:before, .i-file-8:before, .i-file-plus-2:before, .i-file-minus-2:before, .i-file-download-2:before, .i-file-upload-2:before, .i-file-check-2:before, .i-file-remove-2:before, .i-file-9:before, .i-copy:before, .i-copy-2:before, .i-copy-3:before, .i-copy-4:before, .i-paste:before, .i-paste-2:before, .i-paste-3:before, .i-stack:before, .i-stack-2:before, .i-stack-3:before, .i-folder:before, .i-folder-download:before, .i-folder-upload:before, .i-folder-plus:before, .i-folder-plus-2:before, .i-folder-minus:before, .i-folder-minus-2:before, .i-folder8:before, .i-folder-remove:before, .i-folder-2:before, .i-folder-open:before, .i-folder-3:before, .i-folder-4:before, .i-folder-plus-3:before, .i-folder-minus-3:before, .i-folder-plus-4:before, .i-folder-remove-2:before, .i-folder-download-2:before, .i-folder-upload-2:before, .i-folder-download-3:before, .i-folder-upload-3:before, .i-folder-5:before, .i-folder-open-2:before, .i-folder-6:before, .i-folder-open-3:before, .i-certificate:before, .i-cc:before, .i-tag:before, .i-tag-2:before, .i-tag-3:before, .i-tag-4:before, .i-tag-5:before, .i-tag-6:before, .i-tag-7:before, .i-tags:before, .i-tags-2:before, .i-tag-8:before, .i-barcode:before, .i-barcode-2:before, .i-qrcode:before, .i-ticket:before, .i-cart:before, .i-cart-2:before, .i-cart-3:before, .i-cart-4:before, .i-cart-5:before, .i-cart-6:before, .i-cart-7:before, .i-cart-plus:before, .i-cart-minus:before, .i-cart-add:before, .i-cart-remove:before, .i-cart-checkout:before, .i-cart-remove-2:before, .i-basket:before, .i-basket-2:before, .i-bag:before, .i-bag-2:before, .i-bag-3:before, .i-coin:before, .i-coins:before, .i-credit:before, .i-credit-2:before, .i-calculate:before, .i-calculate-2:before, .i-support:before, .i-phone:before, .i-phone-2:before, .i-phone-3:before, .i-phone-4:before, .i-contact-add:before, .i-contact-remove:before, .i-contact-add-2:before, .i-contact-remove-2:before, .i-call-incoming:before, .i-call-outgoing:before, .i-phone-5:before, .i-phone-6:before, .i-phone-hang-up:before, .i-phone-hang-up-2:before, .i-address-book:before, .i-address-book-2:before, .i-notebook:before, .i-envelop:before, .i-envelop-2:before, .i-mail-send:before, .i-envelop-opened:before, .i-envelop-3:before, .i-pushpin:before, .i-location:before, .i-location-2:before, .i-location-3:before, .i-location-4:before, .i-location-5:before, .i-location-6:before, .i-location-7:before, .i-compass:before, .i-compass-2:before, .i-map:before, .i-map-2:before, .i-map-3:before, .i-map-4:before, .i-direction:before, .i-history:before, .i-history-2:before, .i-clock:before, .i-clock-2:before, .i-clock-3:before, .i-clock-4:before, .i-watch:before, .i-clock-5:before, .i-clock-6:before, .i-clock-7:before, .i-alarm:before, .i-alarm-2:before, .i-bell:before, .i-bell-2:before, .i-alarm-plus:before, .i-alarm-minus:before, .i-alarm-check:before, .i-alarm-cancel:before, .i-stopwatch:before, .i-calendar:before, .i-calendar-2:before, .i-calendar-3:before, .i-calendar-4:before, .i-calendar-5:before, .i-print:before, .i-print-2:before, .i-print-3:before, .i-mouse:before, .i-mouse-2:before, .i-mouse-3:before, .i-mouse-4:before, .i-keyboard:before, .i-keyboard-2:before, .i-screen:before, .i-screen-2:before, .i-screen-3:before, .i-screen-4:before, .i-laptop:before, .i-mobile:before, .i-mobile-2:before, .i-tablet:before, .i-mobile-3:before, .i-tv:before, .i-cabinet:before, .i-archive:before, .i-drawer:before, .i-drawer-2:before, .i-drawer-3:before, .i-box:before, .i-box-add:before, .i-box-remove:before, .i-download:before, .i-upload:before, .i-disk:before, .i-cd:before, .i-storage:before, .i-storage-2:before, .i-database:before, .i-database-2:before, .i-database-3:before, .i-undo:before, .i-redo:before, .i-rotate:before, .i-rotate-2:before, .i-flip:before, .i-flip-2:before, .i-unite:before, .i-subtract:before, .i-interset:before, .i-exclude:before, .i-align-left:before, .i-align-center-horizontal:before, .i-align-right:before, .i-align-top:before, .i-align-center-vertical:before, .i-align-bottom:before, .i-undo-2:before, .i-redo-2:before, .i-forward:before, .i-reply:before, .i-reply-2:before, .i-bubble:before, .i-bubbles:before, .i-bubbles-2:before, .i-bubble-2:before, .i-bubbles-3:before, .i-bubbles-4:before, .i-bubble-notification:before, .i-bubbles-5:before, .i-bubbles-6:before, .i-bubble-3:before, .i-bubble-dots:before, .i-bubble-4:before, .i-bubble-5:before, .i-bubble-dots-2:before, .i-bubble-6:before, .i-bubble-7:before, .i-bubble-8:before, .i-bubbles-7:before, .i-bubble-9:before, .i-bubbles-8:before, .i-bubble-10:before, .i-bubble-dots-3:before, .i-bubble-11:before, .i-bubble-12:before, .i-bubble-dots-4:before, .i-bubble-13:before, .i-bubbles-9:before, .i-bubbles-10:before, .i-bubble-blocked:before, .i-bubble-quote:before, .i-bubble-user:before, .i-bubble-check:before, .i-bubble-video-chat:before, .i-bubble-link:before, .i-bubble-locked:before, .i-bubble-star:before, .i-bubble-heart:before, .i-bubble-paperclip:before, .i-bubble-cancel:before, .i-bubble-plus:before, .i-bubble-minus:before, .i-bubble-notification-2:before, .i-bubble-trash:before, .i-bubble-left:before, .i-bubble-right:before, .i-bubble-up:before, .i-bubble-down:before, .i-bubble-first:before, .i-bubble-last:before, .i-bubble-replu:before, .i-bubble-forward:before, .i-bubble-reply:before, .i-bubble-forward-2:before, .i-user:before, .i-users:before, .i-user-plus:before, .i-user-plus-2:before, .i-user-minus:before, .i-user-minus-2:before, .i-user-cancel:before, .i-user-block:before, .i-users-2:before, .i-user-2:before, .i-users-3:before, .i-user-plus-3:before, .i-user-minus-3:before, .i-user-cancel-2:before, .i-user-block-2:before, .i-user-3:before, .i-user-4:before, .i-user-5:before, .i-user-6:before, .i-users-4:before, .i-user-7:before, .i-user-8:before, .i-users-5:before, .i-vcard:before, .i-tshirt:before, .i-hanger:before, .i-quotes-left:before, .i-quotes-right:before, .i-quotes-right-2:before, .i-quotes-right-3:before, .i-busy:before, .i-busy-2:before, .i-busy-3:before, .i-busy-4:before, .i-spinner:before, .i-spinner-2:before, .i-spinner-3:before, .i-spinner-4:before, .i-spinner-5:before, .i-spinner-6:before, .i-spinner-7:before, .i-spinner-8:before, .i-spinner-9:before, .i-spinner-10:before, .i-spinner-11:before, .i-spinner-12:before, .i-microscope:before, .i-binoculars:before, .i-binoculars-2:before, .i-search:before, .i-search-2:before, .i-zoom-in:before, .i-zoom-out:before, .i-search-3:before, .i-search-4:before, .i-zoom-in-2:before, .i-zoom-out-2:before, .i-search-5:before, .i-expand:before, .i-contract:before, .i-scale-up:before, .i-scale-down:before, .i-expand-2:before, .i-contract-2:before, .i-scale-up-2:before, .i-scale-down-2:before, .i-fullscreen:before, .i-expand-3:before, .i-contract-3:before, .i-key:before, .i-key-2:before, .i-key-3:before, .i-key-4:before, .i-key-5:before, .i-keyhole:before, .i-lock:before, .i-lock-2:before, .i-lock-3:before, .i-lock-4:before, .i-unlocked:before, .i-lock-5:before, .i-unlocked-2:before, .i-wrench:before, .i-wrench-2:before, .i-wrench-3:before, .i-wrench-4:before, .i-settings:before, .i-equalizer:before, .i-equalizer-2:before, .i-equalizer-3:before, .i-cog:before, .i-cogs:before, .i-cog-2:before, .i-cog-3:before, .i-cog-4:before, .i-cog-5:before, .i-cog-6:before, .i-cog-7:before, .i-factory:before, .i-hammer:before, .i-tools:before, .i-screwdriver:before, .i-screwdriver-2:before, .i-wand:before, .i-wand-2:before, .i-health:before, .i-aid:before, .i-patch:before, .i-bug:before, .i-bug-2:before, .i-inject:before, .i-inject-2:before, .i-construction:before, .i-cone:before, .i-pie:before, .i-pie-2:before, .i-pie-3:before, .i-pie-4:before, .i-pie-5:before, .i-pie-6:before, .i-pie-7:before, .i-stats:before, .i-stats-2:before, .i-stats-3:before, .i-bars:before, .i-bars-2:before, .i-bars-3:before, .i-bars-4:before, .i-bars-5:before, .i-bars-6:before, .i-stats-up:before, .i-stats-down:before, .i-stairs-down:before, .i-stairs-down-2:before, .i-chart:before, .i-stairs:before, .i-stairs-2:before, .i-ladder:before, .i-cake:before, .i-gift:before, .i-gift-2:before, .i-balloon:before, .i-rating:before, .i-rating-2:before, .i-rating-3:before, .i-podium:before, .i-medal:before, .i-medal-2:before, .i-medal-3:before, .i-medal-4:before, .i-medal-5:before, .i-crown:before, .i-trophy:before, .i-trophy-2:before, .i-trophy-star:before, .i-diamond:before, .i-diamond-2:before, .i-glass:before, .i-glass-2:before, .i-bottle:before, .i-bottle-2:before, .i-mug:before, .i-food:before, .i-food-2:before, .i-hamburger:before, .i-cup:before, .i-cup-2:before, .i-leaf:before, .i-leaf-2:before, .i-apple-fruit:before, .i-tree:before, .i-tree-2:before, .i-paw:before, .i-steps:before, .i-flower:before, .i-rocket:before, .i-meter:before, .i-meter2:before, .i-meter-slow:before, .i-meter-medium:before, .i-meter-fast:before, .i-dashboard:before, .i-hammer-2:before, .i-balance:before, .i-bomb:before, .i-fire:before, .i-fire-2:before, .i-lab:before, .i-atom:before, .i-atom-2:before, .i-magnet:before, .i-magnet-2:before, .i-magnet-3:before, .i-magnet-4:before, .i-dumbbell:before, .i-skull:before, .i-skull-2:before, .i-skull-3:before, .i-lamp:before, .i-lamp-2:before, .i-lamp-3:before, .i-lamp-4:before, .i-remove:before, .i-remove-2:before, .i-remove-3:before, .i-remove-4:before, .i-remove-5:before, .i-remove-6:before, .i-remove-7:before, .i-remove-8:before, .i-briefcase:before, .i-briefcase-2:before, .i-briefcase-3:before, .i-airplane:before, .i-airplane-2:before, .i-paper-plane:before, .i-car:before, .i-gas-pump:before, .i-bus:before, .i-truck:before, .i-bike:before, .i-road:before, .i-train:before, .i-ship:before, .i-boat:before, .i-cube:before, .i-cube-2:before, .i-cube-3:before, .i-cube4:before, .i-pyramid:before, .i-pyramid-2:before, .i-cylinder:before, .i-package:before, .i-puzzle:before, .i-puzzle-2:before, .i-puzzle-3:before, .i-puzzle-4:before, .i-glasses:before, .i-glasses-2:before, .i-glasses-3:before, .i-sun-glasses:before, .i-accessibility:before, .i-accessibility-2:before, .i-brain:before, .i-target:before, .i-target-2:before, .i-target-3:before, .i-gun:before, .i-gun-ban:before, .i-shield:before, .i-shield-2:before, .i-shield-3:before, .i-shield-4:before, .i-soccer:before, .i-football:before, .i-baseball:before, .i-basketball:before, .i-golf:before, .i-hockey:before, .i-racing:before, .i-eight-ball:before, .i-bowling-ball:before, .i-bowling:before, .i-bowling-2:before, .i-lightning:before, .i-power:before, .i-power-2:before, .i-switch:before, .i-power-cord:before, .i-cord:before, .i-socket:before, .i-clipboard:before, .i-clipboard-2:before, .i-signup:before, .i-clipboard-3:before, .i-clipboard-4:before, .i-list:before, .i-list-2:before, .i-list-3:before, .i-numbered-list:before, .i-list-4:before, .i-list-5:before, .i-playlist:before, .i-grid:before, .i-grid-2:before, .i-grid-3:before, .i-grid-4:before, .i-grid-5:before, .i-grid-6:before, .i-tree-3:before, .i-tree-4:before, .i-tree-5:before, .i-menu:before, .i-menu-2:before, .i-circle-small:before, .i-menu-3:before, .i-menu-4:before, .i-menu-5:before, .i-menu-6:before, .i-menu-7:before, .i-menu-8:before, .i-menu-9:before, .i-cloud:before, .i-cloud-2:before, .i-cloud-3:before, .i-cloud-download:before, .i-cloud-upload:before, .i-download-2:before, .i-upload-2:before, .i-download-3:before, .i-upload-3:before, .i-download-4:before, .i-upload-4:before, .i-download-5:before, .i-upload-5:before, .i-download-6:before, .i-upload-6:before, .i-download-7:before, .i-upload-7:before, .i-globe:before, .i-globe-2:before, .i-globe-3:before, .i-earth:before, .i-network:before, .i-link:before, .i-link-2:before, .i-link-3:before, .i-link2:before, .i-link-4:before, .i-link-5:before, .i-link-6:before, .i-anchor:before, .i-flag:before, .i-flag-2:before, .i-flag-3:before, .i-flag-4:before, .i-flag-5:before, .i-flag-6:before, .i-attachment:before, .i-attachment-2:before, .i-eye:before, .i-eye-blocked:before, .i-eye-2:before, .i-eye-3:before, .i-eye-blocked-2:before, .i-eye-4:before, .i-eye-5:before, .i-eye-6:before, .i-eye-7:before, .i-eye-8:before, .i-bookmark:before, .i-bookmark-2:before, .i-bookmarks:before, .i-bookmark-3:before, .i-spotlight:before, .i-starburst:before, .i-snowflake:before, .i-temperature:before, .i-temperature-2:before, .i-weather-lightning:before, .i-weather-rain:before, .i-weather-snow:before, .i-windy:before, .i-fan:before, .i-umbrella:before, .i-sun:before, .i-sun-2:before, .i-brightness-high:before, .i-brightness-medium:before, .i-brightness-low:before, .i-brightness-contrast:before, .i-contrast:before, .i-moon:before, .i-bed:before, .i-bed-2:before, .i-star:before, .i-star-2:before, .i-star-3:before, .i-star-4:before, .i-star-5:before, .i-star-6:before, .i-heart:before, .i-heart-2:before, .i-heart-3:before, .i-heart-4:before, .i-heart-broken:before, .i-heart-5:before, .i-heart-6:before, .i-heart-broken-2:before, .i-heart-7:before, .i-heart-8:before, .i-heart-broken-3:before, .i-lips:before, .i-lips-2:before, .i-thumbs-up:before, .i-thumbs-up-2:before, .i-thumbs-down:before, .i-thumbs-down-2:before, .i-thumbs-up-3:before, .i-thumbs-up-4:before, .i-thumbs-up-5:before, .i-thumbs-up-6:before, .i-people:before, .i-man:before, .i-male:before, .i-woman:before, .i-female:before, .i-peace:before, .i-yin-yang:before, .i-happy:before, .i-happy-2:before, .i-smiley:before, .i-smiley-2:before, .i-tongue:before, .i-tongue-2:before, .i-sad:before, .i-sad-2:before, .i-wink:before, .i-wink-2:before, .i-grin:before, .i-grin-2:before, .i-cool:before, .i-cool-2:before, .i-angry:before, .i-angry-2:before, .i-evil:before, .i-evil-2:before, .i-shocked:before, .i-shocked-2:before, .i-confused:before, .i-confused-2:before, .i-neutral:before, .i-neutral-2:before, .i-wondering:before, .i-wondering-2:before, .i-cursor:before, .i-cursor-2:before, .i-point-up:before, .i-point-right:before, .i-point-down:before, .i-point-left:before, .i-pointer:before, .i-hand:before, .i-stack-empty:before, .i-stack-plus:before, .i-stack-minus:before, .i-stack-star:before, .i-stack-picture:before, .i-stack-down:before, .i-stack-up:before, .i-stack-cancel:before, .i-stack-checkmark:before, .i-stack-list:before, .i-stack-clubs:before, .i-stack-spades:before, .i-stack-hearts:before, .i-stack-diamonds:before, .i-stack-user:before, .i-stack-4:before, .i-stack-music:before, .i-stack-play:before, .i-move:before, .i-resize:before, .i-resize-2:before, .i-warning:before, .i-warning-2:before, .i-notification:before, .i-notification-2:before, .i-question:before, .i-question-2:before, .i-question-3:before, .i-question-4:before, .i-question-5:before, .i-plus-circle:before, .i-plus-circle-2:before, .i-minus-circle:before, .i-minus-circle-2:before, .i-info:before, .i-info-2:before, .i-blocked:before, .i-cancel-circle:before, .i-cancel-circle-2:before, .i-checkmark-circle:before, .i-checkmark-circle-2:before, .i-cancel:before, .i-spam:before, .i-close:before, .i-close-2:before, .i-close-3:before, .i-close-4:before, .i-close-5:before, .i-checkmark:before, .i-checkmark-2:before, .i-checkmark-3:before, .i-checkmark-4:before, .i-spell-check:before, .i-minus:before, .i-plus:before, .i-minus-2:before, .i-plus-2:before, .i-enter:before, .i-exit:before, .i-enter-2:before, .i-exit-2:before, .i-enter-3:before, .i-exit-3:before, .i-exit-4:before, .i-play-3:before, .i-pause:before, .i-stop:before, .i-backward:before, .i-forward-2:before, .i-play-4:before, .i-pause-2:before, .i-stop-2:before, .i-backward-2:before, .i-forward-3:before, .i-first:before, .i-last:before, .i-previous:before, .i-next:before, .i-eject:before, .i-volume-high:before, .i-volume-medium:before, .i-volume-low:before, .i-volume-mute:before, .i-volume-mute-2:before, .i-volume-increase:before, .i-volume-decrease:before, .i-volume-high-2:before, .i-volume-medium-2:before, .i-volume-low-2:before, .i-volume-mute-3:before, .i-volume-mute-4:before, .i-volume-increase-2:before, .i-volume-decrease-2:before, .i-volume5:before, .i-volume4:before, .i-volume3:before, .i-volume2:before, .i-volume1:before, .i-volume0:before, .i-volume-mute-5:before, .i-volume-mute-6:before, .i-loop:before, .i-loop-2:before, .i-loop-3:before, .i-loop-4:before, .i-loop-5:before, .i-shuffle:before, .i-shuffle-2:before, .i-wave:before, .i-wave-2:before, .i-arrow-first:before, .i-arrow-right:before, .i-arrow-up:before, .i-arrow-right-2:before, .i-arrow-down:before, .i-arrow-left:before, .i-arrow-up-2:before, .i-arrow-right-3:before, .i-arrow-down-2:before, .i-arrow-left-2:before, .i-arrow-up-left:before, .i-arrow-up-3:before, .i-arrow-up-right:before, .i-arrow-right-4:before, .i-arrow-down-right:before, .i-arrow-down-3:before, .i-arrow-down-left:before, .i-arrow-left-3:before, .i-arrow-up-left-2:before, .i-arrow-up-4:before, .i-arrow-up-right-2:before, .i-arrow-right-5:before, .i-arrow-down-right-2:before, .i-arrow-down-4:before, .i-arrow-down-left-2:before, .i-arrow-left-4:before, .i-arrow-up-left-3:before, .i-arrow-up-5:before, .i-arrow-up-right-3:before, .i-arrow-right-6:before, .i-arrow-down-right-3:before, .i-arrow-down-5:before, .i-arrow-down-left-3:before, .i-arrow-left-5:before, .i-arrow-up-left-4:before, .i-arrow-up-6:before, .i-arrow-up-right-4:before, .i-arrow-right-7:before, .i-arrow-down-right-4:before, .i-arrow-down-6:before, .i-arrow-down-left-4:before, .i-arrow-left-6:before, .i-arrow:before, .i-arrow-2:before, .i-arrow-3:before, .i-arrow-4:before, .i-arrow-5:before, .i-arrow-6:before, .i-arrow-7:before, .i-arrow-8:before, .i-arrow-up-left-5:before, .i-arrow-square:before, .i-arrow-up-right-5:before, .i-arrow-right-8:before, .i-arrow-down-right-5:before, .i-arrow-down-7:before, .i-arrow-down-left-5:before, .i-arrow-left-7:before, .i-arrow-up-7:before, .i-arrow-right-9:before, .i-arrow-down-8:before, .i-arrow-left-8:before, .i-arrow-up-8:before, .i-arrow-right-10:before, .i-arrow-bottom:before, .i-arrow-left-9:before, .i-arrow-up-left-6:before, .i-arrow-up-9:before, .i-arrow-up-right-6:before, .i-arrow-right-11:before, .i-arrow-down-right-6:before, .i-arrow-down-9:before, .i-arrow-down-left-6:before, .i-arrow-left-10:before, .i-arrow-up-left-7:before, .i-arrow-up-10:before, .i-arrow-up-right-7:before, .i-arrow-right-12:before, .i-arrow-down-right-7:before, .i-arrow-down-10:before, .i-arrow-down-left-7:before, .i-arrow-left-11:before, .i-arrow-up-11:before, .i-arrow-right-13:before, .i-arrow-down-11:before, .i-arrow-left-12:before, .i-arrow-up-12:before, .i-arrow-right-14:before, .i-arrow-down-12:before, .i-arrow-left-13:before, .i-arrow-up-13:before, .i-arrow-right-15:before, .i-arrow-down-13:before, .i-arrow-left-14:before, .i-arrow-up-14:before, .i-arrow-right-16:before, .i-arrow-down-14:before, .i-arrow-left-15:before, .i-arrow-up-15:before, .i-arrow-right-17:before, .i-arrow-down-15:before, .i-arrow-left-16:before, .i-arrow-up-16:before, .i-arrow-right-18:before, .i-arrow-down-16:before, .i-arrow-left-17:before, .i-menu-10:before, .i-menu-11:before, .i-menu-close:before, .i-menu-close-2:before, .i-enter-4:before, .i-enter-5:before, .i-esc:before, .i-backspace:before, .i-backspace-2:before, .i-backspace-3:before, .i-tab:before, .i-transmission:before, .i-transmission-2:before, .i-sort:before, .i-sort-2:before, .i-key-keyboard:before, .i-key-A:before, .i-key-up:before, .i-key-right:before, .i-key-down:before, .i-key-left:before, .i-command:before, .i-checkbox-checked:before, .i-checkbox-unchecked:before, .i-square:before, .i-checkbox-partial:before, .i-checkbox:before, .i-checkbox-unchecked-2:before, .i-checkbox-partial-2:before, .i-checkbox-checked-2:before, .i-checkbox-unchecked-3:before, .i-checkbox-partial-3:before, .i-radio-checked:before, .i-radio-unchecked:before, .i-circle:before, .i-circle-2:before, .i-crop:before, .i-crop-2:before, .i-vector:before, .i-rulers:before, .i-scissors:before, .i-scissors-2:before, .i-scissors-3:before, .i-filter:before, .i-filter-2:before, .i-filter-3:before, .i-filter-4:before, .i-font:before, .i-font-size:before, .i-type:before, .i-text-height:before, .i-text-width:before, .i-height:before, .i-width:before, .i-bold:before, .i-underline:before, .i-italic:before, .i-strikethrough:before, .i-strikethrough-2:before, .i-font-size-2:before, .i-bold-2:before, .i-underline-2:before, .i-italic-2:before, .i-strikethrough-3:before, .i-omega:before, .i-sigma:before, .i-nbsp:before, .i-page-break:before, .i-page-break-2:before, .i-superscript:before, .i-subscript:before, .i-superscript-2:before, .i-subscript-2:before, .i-text-color:before, .i-highlight:before, .i-pagebreak:before, .i-clear-formatting:before, .i-table:before, .i-table-2:before, .i-insert-template:before, .i-pilcrow:before, .i-left-to-right:before, .i-right-to-left:before, .i-paragraph-left:before, .i-paragraph-center:before, .i-paragraph-right:before, .i-paragraph-justify:before, .i-paragraph-left-2:before, .i-paragraph-center-2:before, .i-paragraph-right-2:before, .i-paragraph-justify-2:before, .i-indent-increase:before, .i-indent-decrease:before, .i-paragraph-left-3:before, .i-paragraph-center-3:before, .i-paragraph-right-3:before, .i-paragraph-justify-3:before, .i-indent-increase-2:before, .i-indent-decrease-2:before, .i-share:before, .i-new-tab:before, .i-new-tab-2:before, .i-popout:before, .i-embed:before, .i-code:before, .i-console:before, .i-seven-segment-0:before, .i-seven-segment-1:before, .i-seven-segment-2:before, .i-seven-segment-3:before, .i-seven-segment-4:before, .i-seven-segment-5:before, .i-seven-segment-6:before, .i-seven-segment-7:before, .i-seven-segment-8:before, .i-seven-segment-9:before, .i-share-2:before, .i-share-3:before, .i-mail:before, .i-mail-2:before, .i-mail-3:before, .i-mail-4:before, .i-google:before, .i-google-plus:before, .i-google-plus-2:before, .i-google-plus-3:before, .i-google-plus-4:before, .i-google-drive:before, .i-facebook:before, .i-facebook-2:before, .i-facebook-3:before, .i-facebook-4:before, .i-instagram:before, .i-twitter:before, .i-twitter-2:before, .i-twitter-3:before, .i-feed-2:before, .i-feed-3:before, .i-feed-4:before, .i-youtube:before, .i-youtube-2:before, .i-vimeo:before, .i-vimeo2:before, .i-vimeo-2:before, .i-lanyrd:before, .i-flickr:before, .i-flickr-2:before, .i-flickr-3:before, .i-flickr-4:before, .i-picassa:before, .i-picassa-2:before, .i-dribbble:before, .i-dribbble-2:before, .i-dribbble-3:before, .i-forrst:before, .i-forrst-2:before, .i-deviantart:before, .i-deviantart-2:before, .i-steam:before, .i-steam-2:before, .i-github:before, .i-github-2:before, .i-github-3:before, .i-github-4:before, .i-github-5:before, .i-wordpress:before, .i-wordpress-2:before, .i-joomla:before, .i-blogger:before, .i-blogger-2:before, .i-tumblr:before, .i-tumblr-2:before, .i-yahoo:before, .i-tux:before, .i-apple:before, .i-finder:before, .i-android:before, .i-windows:before, .i-windows8:before, .i-soundcloud:before, .i-soundcloud-2:before, .i-skype:before, .i-reddit:before, .i-linkedin:before, .i-lastfm:before, .i-lastfm-2:before, .i-delicious:before, .i-stumbleupon:before, .i-stumbleupon-2:before, .i-stackoverflow:before, .i-pinterest:before, .i-pinterest-2:before, .i-xing:before, .i-xing-2:before, .i-flattr:before, .i-foursquare:before, .i-foursquare-2:before, .i-paypal:before, .i-paypal-2:before, .i-paypal-3:before, .i-yelp:before, .i-libreoffice:before, .i-file-pdf:before, .i-file-openoffice:before, .i-file-word:before, .i-file-excel:before, .i-file-zip:before, .i-file-powerpoint:before, .i-file-xml:before, .i-file-css:before, .i-html5:before, .i-html5-2:before, .i-css3:before, .i-chrome:before, .i-firefox:before, .i-IE:before, .i-opera:before, .i-safari:before, .i-IcoMoon:before
{
    font-family: 'icomoonregular';
    speak: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.i-home:before
{
    content: "\e000";
}

.i-home-2:before
{
    content: "\e001";
}

.i-home-3:before
{
    content: "\e002";
}

.i-home-4:before
{
    content: "\e003";
}

.i-home-5:before
{
    content: "\e004";
}

.i-home-6:before
{
    content: "\e005";
}

.i-home-7:before
{
    content: "\e006";
}

.i-home-8:before
{
    content: "\e007";
}

.i-home-9:before
{
    content: "\e008";
}

.i-home-10:before
{
    content: "\e009";
}

.i-home-11:before
{
    content: "\e00a";
}

.i-office:before
{
    content: "\e00b";
}

.i-newspaper:before
{
    content: "\e00c";
}

.i-pencil:before
{
    content: "\e00d";
}

.i-pencil-2:before
{
    content: "\e00e";
}

.i-pencil-3:before
{
    content: "\e00f";
}

.i-pencil-4:before
{
    content: "\e010";
}

.i-pencil-5:before
{
    content: "\e011";
}

.i-pencil-6:before
{
    content: "\e012";
}

.i-quill:before
{
    content: "\e013";
}

.i-quill-2:before
{
    content: "\e014";
}

.i-quill-3:before
{
    content: "\e015";
}

.i-pen:before
{
    content: "\e016";
}

.i-pen-2:before
{
    content: "\e017";
}

.i-pen-3:before
{
    content: "\e018";
}

.i-pen-4:before
{
    content: "\e019";
}

.i-pen-5:before
{
    content: "\e01a";
}

.i-marker:before
{
    content: "\e01b";
}

.i-home-12:before
{
    content: "\e01c";
}

.i-marker-2:before
{
    content: "\e01d";
}

.i-blog:before
{
    content: "\e01e";
}

.i-blog-2:before
{
    content: "\e01f";
}

.i-brush:before
{
    content: "\e020";
}

.i-palette:before
{
    content: "\e021";
}

.i-palette-2:before
{
    content: "\e022";
}

.i-eyedropper:before
{
    content: "\e023";
}

.i-eyedropper-2:before
{
    content: "\e024";
}

.i-droplet:before
{
    content: "\e025";
}

.i-droplet-2:before
{
    content: "\e026";
}

.i-droplet-3:before
{
    content: "\e027";
}

.i-droplet-4:before
{
    content: "\e028";
}

.i-paint-format:before
{
    content: "\e029";
}

.i-paint-format-2:before
{
    content: "\e02a";
}

.i-image:before
{
    content: "\e02b";
}

.i-image-2:before
{
    content: "\e02c";
}

.i-image-3:before
{
    content: "\e02d";
}

.i-images:before
{
    content: "\e02e";
}

.i-image-4:before
{
    content: "\e02f";
}

.i-image-5:before
{
    content: "\e030";
}

.i-image-6:before
{
    content: "\e031";
}

.i-images-2:before
{
    content: "\e032";
}

.i-image-7:before
{
    content: "\e033";
}

.i-camera:before
{
    content: "\e034";
}

.i-camera-2:before
{
    content: "\e035";
}

.i-camera-3:before
{
    content: "\e036";
}

.i-camera-4:before
{
    content: "\e037";
}

.i-music:before
{
    content: "\e038";
}

.i-music-2:before
{
    content: "\e039";
}

.i-music-3:before
{
    content: "\e03a";
}

.i-music-4:before
{
    content: "\e03b";
}

.i-music-5:before
{
    content: "\e03c";
}

.i-music-6:before
{
    content: "\e03d";
}

.i-piano:before
{
    content: "\e03e";
}

.i-guitar:before
{
    content: "\e03f";
}

.i-headphones:before
{
    content: "\e040";
}

.i-headphones-2:before
{
    content: "\e041";
}

.i-play:before
{
    content: "\e042";
}

.i-play-2:before
{
    content: "\e043";
}

.i-movie:before
{
    content: "\e044";
}

.i-movie-2:before
{
    content: "\e045";
}

.i-movie-3:before
{
    content: "\e046";
}

.i-film:before
{
    content: "\e047";
}

.i-film-2:before
{
    content: "\e048";
}

.i-film-3:before
{
    content: "\e049";
}

.i-film-4:before
{
    content: "\e04a";
}

.i-camera-5:before
{
    content: "\e04b";
}

.i-camera-6:before
{
    content: "\e04c";
}

.i-camera-7:before
{
    content: "\e04d";
}

.i-camera-8:before
{
    content: "\e04e";
}

.i-camera-9:before
{
    content: "\e04f";
}

.i-dice:before
{
    content: "\e050";
}

.i-gamepad:before
{
    content: "\e051";
}

.i-gamepad-2:before
{
    content: "\e052";
}

.i-gamepad-3:before
{
    content: "\e053";
}

.i-pacman:before
{
    content: "\e054";
}

.i-spades:before
{
    content: "\e055";
}

.i-clubs:before
{
    content: "\e056";
}

.i-diamonds:before
{
    content: "\e057";
}

.i-king:before
{
    content: "\e058";
}

.i-queen:before
{
    content: "\e059";
}

.i-rock:before
{
    content: "\e05a";
}

.i-bishop:before
{
    content: "\e05b";
}

.i-knight:before
{
    content: "\e05c";
}

.i-pawn:before
{
    content: "\e05d";
}

.i-chess:before
{
    content: "\e05e";
}

.i-bullhorn:before
{
    content: "\e05f";
}

.i-megaphone:before
{
    content: "\e060";
}

.i-new:before
{
    content: "\e061";
}

.i-connection:before
{
    content: "\e062";
}

.i-connection-2:before
{
    content: "\e063";
}

.i-podcast:before
{
    content: "\e064";
}

.i-radio:before
{
    content: "\e065";
}

.i-feed:before
{
    content: "\e066";
}

.i-connection-3:before
{
    content: "\e067";
}

.i-radio-2:before
{
    content: "\e068";
}

.i-podcast-2:before
{
    content: "\e069";
}

.i-podcast-3:before
{
    content: "\e06a";
}

.i-mic:before
{
    content: "\e06b";
}

.i-mic-2:before
{
    content: "\e06c";
}

.i-mic-3:before
{
    content: "\e06d";
}

.i-mic-4:before
{
    content: "\e06e";
}

.i-mic-5:before
{
    content: "\e06f";
}

.i-book:before
{
    content: "\e070";
}

.i-book-2:before
{
    content: "\e071";
}

.i-books:before
{
    content: "\e072";
}

.i-reading:before
{
    content: "\e073";
}

.i-library:before
{
    content: "\e074";
}

.i-library-2:before
{
    content: "\e075";
}

.i-graduation:before
{
    content: "\e076";
}

.i-file:before
{
    content: "\e077";
}

.i-profile:before
{
    content: "\e078";
}

.i-file-2:before
{
    content: "\e079";
}

.i-file-3:before
{
    content: "\e07a";
}

.i-file-4:before
{
    content: "\e07b";
}

.i-file-5:before
{
    content: "\e07c";
}

.i-file-6:before
{
    content: "\e07d";
}

.i-files:before
{
    content: "\e07e";
}

.i-file-plus:before
{
    content: "\e07f";
}

.i-file-minus:before
{
    content: "\e080";
}

.i-file-download:before
{
    content: "\e081";
}

.i-file-upload:before
{
    content: "\e082";
}

.i-file-check:before
{
    content: "\e083";
}

.i-file-remove:before
{
    content: "\e084";
}

.i-file-7:before
{
    content: "\e085";
}

.i-file-8:before
{
    content: "\e086";
}

.i-file-plus-2:before
{
    content: "\e087";
}

.i-file-minus-2:before
{
    content: "\e088";
}

.i-file-download-2:before
{
    content: "\e089";
}

.i-file-upload-2:before
{
    content: "\e08a";
}

.i-file-check-2:before
{
    content: "\e08b";
}

.i-file-remove-2:before
{
    content: "\e08c";
}

.i-file-9:before
{
    content: "\e08d";
}

.i-copy:before
{
    content: "\e08e";
}

.i-copy-2:before
{
    content: "\e08f";
}

.i-copy-3:before
{
    content: "\e090";
}

.i-copy-4:before
{
    content: "\e091";
}

.i-paste:before
{
    content: "\e092";
}

.i-paste-2:before
{
    content: "\e093";
}

.i-paste-3:before
{
    content: "\e094";
}

.i-stack:before
{
    content: "\e095";
}

.i-stack-2:before
{
    content: "\e096";
}

.i-stack-3:before
{
    content: "\e097";
}

.i-folder:before
{
    content: "\e098";
}

.i-folder-download:before
{
    content: "\e099";
}

.i-folder-upload:before
{
    content: "\e09a";
}

.i-folder-plus:before
{
    content: "\e09b";
}

.i-folder-plus-2:before
{
    content: "\e09c";
}

.i-folder-minus:before
{
    content: "\e09d";
}

.i-folder-minus-2:before
{
    content: "\e09e";
}

.i-folder8:before
{
    content: "\e09f";
}

.i-folder-remove:before
{
    content: "\e0a0";
}

.i-folder-2:before
{
    content: "\e0a1";
}

.i-folder-open:before
{
    content: "\e0a2";
}

.i-folder-3:before
{
    content: "\e0a3";
}

.i-folder-4:before
{
    content: "\e0a4";
}

.i-folder-plus-3:before
{
    content: "\e0a5";
}

.i-folder-minus-3:before
{
    content: "\e0a6";
}

.i-folder-plus-4:before
{
    content: "\e0a7";
}

.i-folder-remove-2:before
{
    content: "\e0a8";
}

.i-folder-download-2:before
{
    content: "\e0a9";
}

.i-folder-upload-2:before
{
    content: "\e0aa";
}

.i-folder-download-3:before
{
    content: "\e0ab";
}

.i-folder-upload-3:before
{
    content: "\e0ac";
}

.i-folder-5:before
{
    content: "\e0ad";
}

.i-folder-open-2:before
{
    content: "\e0ae";
}

.i-folder-6:before
{
    content: "\e0af";
}

.i-folder-open-3:before
{
    content: "\e0b0";
}

.i-certificate:before
{
    content: "\e0b1";
}

.i-cc:before
{
    content: "\e0b2";
}

.i-tag:before
{
    content: "\e0b3";
}

.i-tag-2:before
{
    content: "\e0b4";
}

.i-tag-3:before
{
    content: "\e0b5";
}

.i-tag-4:before
{
    content: "\e0b6";
}

.i-tag-5:before
{
    content: "\e0b7";
}

.i-tag-6:before
{
    content: "\e0b8";
}

.i-tag-7:before
{
    content: "\e0b9";
}

.i-tags:before
{
    content: "\e0ba";
}

.i-tags-2:before
{
    content: "\e0bb";
}

.i-tag-8:before
{
    content: "\e0bc";
}

.i-barcode:before
{
    content: "\e0bd";
}

.i-barcode-2:before
{
    content: "\e0be";
}

.i-qrcode:before
{
    content: "\e0bf";
}

.i-ticket:before
{
    content: "\e0c0";
}

.i-cart:before
{
    content: "\e0c1";
}

.i-cart-2:before
{
    content: "\e0c2";
}

.i-cart-3:before
{
    content: "\e0c3";
}

.i-cart-4:before
{
    content: "\e0c4";
}

.i-cart-5:before
{
    content: "\e0c5";
}

.i-cart-6:before
{
    content: "\e0c6";
}

.i-cart-7:before
{
    content: "\e0c7";
}

.i-cart-plus:before
{
    content: "\e0c8";
}

.i-cart-minus:before
{
    content: "\e0c9";
}

.i-cart-add:before
{
    content: "\e0ca";
}

.i-cart-remove:before
{
    content: "\e0cb";
}

.i-cart-checkout:before
{
    content: "\e0cc";
}

.i-cart-remove-2:before
{
    content: "\e0cd";
}

.i-basket:before
{
    content: "\e0ce";
}

.i-basket-2:before
{
    content: "\e0cf";
}

.i-bag:before
{
    content: "\e0d0";
}

.i-bag-2:before
{
    content: "\e0d1";
}

.i-bag-3:before
{
    content: "\e0d2";
}

.i-coin:before
{
    content: "\e0d3";
}

.i-coins:before
{
    content: "\e0d4";
}

.i-credit:before
{
    content: "\e0d5";
}

.i-credit-2:before
{
    content: "\e0d6";
}

.i-calculate:before
{
    content: "\e0d7";
}

.i-calculate-2:before
{
    content: "\e0d8";
}

.i-support:before
{
    content: "\e0d9";
}

.i-phone:before
{
    content: "\e0da";
}

.i-phone-2:before
{
    content: "\e0db";
}

.i-phone-3:before
{
    content: "\e0dc";
}

.i-phone-4:before
{
    content: "\e0dd";
}

.i-contact-add:before
{
    content: "\e0de";
}

.i-contact-remove:before
{
    content: "\e0df";
}

.i-contact-add-2:before
{
    content: "\e0e0";
}

.i-contact-remove-2:before
{
    content: "\e0e1";
}

.i-call-incoming:before
{
    content: "\e0e2";
}

.i-call-outgoing:before
{
    content: "\e0e3";
}

.i-phone-5:before
{
    content: "\e0e4";
}

.i-phone-6:before
{
    content: "\e0e5";
}

.i-phone-hang-up:before
{
    content: "\e0e6";
}

.i-phone-hang-up-2:before
{
    content: "\e0e7";
}

.i-address-book:before
{
    content: "\e0e8";
}

.i-address-book-2:before
{
    content: "\e0e9";
}

.i-notebook:before
{
    content: "\e0ea";
}

.i-envelop:before
{
    content: "\e0eb";
}

.i-envelop-2:before
{
    content: "\e0ec";
}

.i-mail-send:before
{
    content: "\e0ed";
}

.i-envelop-opened:before
{
    content: "\e0ee";
}

.i-envelop-3:before
{
    content: "\e0ef";
}

.i-pushpin:before
{
    content: "\e0f0";
}

.i-location:before
{
    content: "\e0f1";
}

.i-location-2:before
{
    content: "\e0f2";
}

.i-location-3:before
{
    content: "\e0f3";
}

.i-location-4:before
{
    content: "\e0f4";
}

.i-location-5:before
{
    content: "\e0f5";
}

.i-location-6:before
{
    content: "\e0f6";
}

.i-location-7:before
{
    content: "\e0f7";
}

.i-compass:before
{
    content: "\e0f8";
}

.i-compass-2:before
{
    content: "\e0f9";
}

.i-map:before
{
    content: "\e0fa";
}

.i-map-2:before
{
    content: "\e0fb";
}

.i-map-3:before
{
    content: "\e0fc";
}

.i-map-4:before
{
    content: "\e0fd";
}

.i-direction:before
{
    content: "\e0fe";
}

.i-history:before
{
    content: "\e0ff";
}

.i-history-2:before
{
    content: "\e100";
}

.i-clock:before
{
    content: "\e101";
}

.i-clock-2:before
{
    content: "\e102";
}

.i-clock-3:before
{
    content: "\e103";
}

.i-clock-4:before
{
    content: "\e104";
}

.i-watch:before
{
    content: "\e105";
}

.i-clock-5:before
{
    content: "\e106";
}

.i-clock-6:before
{
    content: "\e107";
}

.i-clock-7:before
{
    content: "\e108";
}

.i-alarm:before
{
    content: "\e109";
}

.i-alarm-2:before
{
    content: "\e10a";
}

.i-bell:before
{
    content: "\e10b";
}

.i-bell-2:before
{
    content: "\e10c";
}

.i-alarm-plus:before
{
    content: "\e10d";
}

.i-alarm-minus:before
{
    content: "\e10e";
}

.i-alarm-check:before
{
    content: "\e10f";
}

.i-alarm-cancel:before
{
    content: "\e110";
}

.i-stopwatch:before
{
    content: "\e111";
}

.i-calendar:before
{
    content: "\e112";
}

.i-calendar-2:before
{
    content: "\e113";
}

.i-calendar-3:before
{
    content: "\e114";
}

.i-calendar-4:before
{
    content: "\e115";
}

.i-calendar-5:before
{
    content: "\e116";
}

.i-print:before
{
    content: "\e117";
}

.i-print-2:before
{
    content: "\e118";
}

.i-print-3:before
{
    content: "\e119";
}

.i-mouse:before
{
    content: "\e11a";
}

.i-mouse-2:before
{
    content: "\e11b";
}

.i-mouse-3:before
{
    content: "\e11c";
}

.i-mouse-4:before
{
    content: "\e11d";
}

.i-keyboard:before
{
    content: "\e11e";
}

.i-keyboard-2:before
{
    content: "\e11f";
}

.i-screen:before
{
    content: "\e120";
}

.i-screen-2:before
{
    content: "\e121";
}

.i-screen-3:before
{
    content: "\e122";
}

.i-screen-4:before
{
    content: "\e123";
}

.i-laptop:before
{
    content: "\e124";
}

.i-mobile:before
{
    content: "\e125";
}

.i-mobile-2:before
{
    content: "\e126";
}

.i-tablet:before
{
    content: "\e127";
}

.i-mobile-3:before
{
    content: "\e128";
}

.i-tv:before
{
    content: "\e129";
}

.i-cabinet:before
{
    content: "\e12a";
}

.i-archive:before
{
    content: "\e12b";
}

.i-drawer:before
{
    content: "\e12c";
}

.i-drawer-2:before
{
    content: "\e12d";
}

.i-drawer-3:before
{
    content: "\e12e";
}

.i-box:before
{
    content: "\e12f";
}

.i-box-add:before
{
    content: "\e130";
}

.i-box-remove:before
{
    content: "\e131";
}

.i-download:before
{
    content: "\e132";
}

.i-upload:before
{
    content: "\e133";
}

.i-disk:before
{
    content: "\e134";
}

.i-cd:before
{
    content: "\e135";
}

.i-storage:before
{
    content: "\e136";
}

.i-storage-2:before
{
    content: "\e137";
}

.i-database:before
{
    content: "\e138";
}

.i-database-2:before
{
    content: "\e139";
}

.i-database-3:before
{
    content: "\e13a";
}

.i-undo:before
{
    content: "\e13b";
}

.i-redo:before
{
    content: "\e13c";
}

.i-rotate:before
{
    content: "\e13d";
}

.i-rotate-2:before
{
    content: "\e13e";
}

.i-flip:before
{
    content: "\e13f";
}

.i-flip-2:before
{
    content: "\e140";
}

.i-unite:before
{
    content: "\e141";
}

.i-subtract:before
{
    content: "\e142";
}

.i-interset:before
{
    content: "\e143";
}

.i-exclude:before
{
    content: "\e144";
}

.i-align-left:before
{
    content: "\e145";
}

.i-align-center-horizontal:before
{
    content: "\e146";
}

.i-align-right:before
{
    content: "\e147";
}

.i-align-top:before
{
    content: "\e148";
}

.i-align-center-vertical:before
{
    content: "\e149";
}

.i-align-bottom:before
{
    content: "\e14a";
}

.i-undo-2:before
{
    content: "\e14b";
}

.i-redo-2:before
{
    content: "\e14c";
}

.i-forward:before
{
    content: "\e14d";
}

.i-reply:before
{
    content: "\e14e";
}

.i-reply-2:before
{
    content: "\e14f";
}

.i-bubble:before
{
    content: "\e150";
}

.i-bubbles:before
{
    content: "\e151";
}

.i-bubbles-2:before
{
    content: "\e152";
}

.i-bubble-2:before
{
    content: "\e153";
}

.i-bubbles-3:before
{
    content: "\e154";
}

.i-bubbles-4:before
{
    content: "\e155";
}

.i-bubble-notification:before
{
    content: "\e156";
}

.i-bubbles-5:before
{
    content: "\e157";
}

.i-bubbles-6:before
{
    content: "\e158";
}

.i-bubble-3:before
{
    content: "\e159";
}

.i-bubble-dots:before
{
    content: "\e15a";
}

.i-bubble-4:before
{
    content: "\e15b";
}

.i-bubble-5:before
{
    content: "\e15c";
}

.i-bubble-dots-2:before
{
    content: "\e15d";
}

.i-bubble-6:before
{
    content: "\e15e";
}

.i-bubble-7:before
{
    content: "\e15f";
}

.i-bubble-8:before
{
    content: "\e160";
}

.i-bubbles-7:before
{
    content: "\e161";
}

.i-bubble-9:before
{
    content: "\e162";
}

.i-bubbles-8:before
{
    content: "\e163";
}

.i-bubble-10:before
{
    content: "\e164";
}

.i-bubble-dots-3:before
{
    content: "\e165";
}

.i-bubble-11:before
{
    content: "\e166";
}

.i-bubble-12:before
{
    content: "\e167";
}

.i-bubble-dots-4:before
{
    content: "\e168";
}

.i-bubble-13:before
{
    content: "\e169";
}

.i-bubbles-9:before
{
    content: "\e16a";
}

.i-bubbles-10:before
{
    content: "\e16b";
}

.i-bubble-blocked:before
{
    content: "\e16c";
}

.i-bubble-quote:before
{
    content: "\e16d";
}

.i-bubble-user:before
{
    content: "\e16e";
}

.i-bubble-check:before
{
    content: "\e16f";
}

.i-bubble-video-chat:before
{
    content: "\e170";
}

.i-bubble-link:before
{
    content: "\e171";
}

.i-bubble-locked:before
{
    content: "\e172";
}

.i-bubble-star:before
{
    content: "\e173";
}

.i-bubble-heart:before
{
    content: "\e174";
}

.i-bubble-paperclip:before
{
    content: "\e175";
}

.i-bubble-cancel:before
{
    content: "\e176";
}

.i-bubble-plus:before
{
    content: "\e177";
}

.i-bubble-minus:before
{
    content: "\e178";
}

.i-bubble-notification-2:before
{
    content: "\e179";
}

.i-bubble-trash:before
{
    content: "\e17a";
}

.i-bubble-left:before
{
    content: "\e17b";
}

.i-bubble-right:before
{
    content: "\e17c";
}

.i-bubble-up:before
{
    content: "\e17d";
}

.i-bubble-down:before
{
    content: "\e17e";
}

.i-bubble-first:before
{
    content: "\e17f";
}

.i-bubble-last:before
{
    content: "\e180";
}

.i-bubble-replu:before
{
    content: "\e181";
}

.i-bubble-forward:before
{
    content: "\e182";
}

.i-bubble-reply:before
{
    content: "\e183";
}

.i-bubble-forward-2:before
{
    content: "\e184";
}

.i-user:before
{
    content: "\e185";
}

.i-users:before
{
    content: "\e186";
}

.i-user-plus:before
{
    content: "\e187";
}

.i-user-plus-2:before
{
    content: "\e188";
}

.i-user-minus:before
{
    content: "\e189";
}

.i-user-minus-2:before
{
    content: "\e18a";
}

.i-user-cancel:before
{
    content: "\e18b";
}

.i-user-block:before
{
    content: "\e18c";
}

.i-users-2:before
{
    content: "\e18d";
}

.i-user-2:before
{
    content: "\e18e";
}

.i-users-3:before
{
    content: "\e18f";
}

.i-user-plus-3:before
{
    content: "\e190";
}

.i-user-minus-3:before
{
    content: "\e191";
}

.i-user-cancel-2:before
{
    content: "\e192";
}

.i-user-block-2:before
{
    content: "\e193";
}

.i-user-3:before
{
    content: "\e194";
}

.i-user-4:before
{
    content: "\e195";
}

.i-user-5:before
{
    content: "\e196";
}

.i-user-6:before
{
    content: "\e197";
}

.i-users-4:before
{
    content: "\e198";
}

.i-user-7:before
{
    content: "\e199";
}

.i-user-8:before
{
    content: "\e19a";
}

.i-users-5:before
{
    content: "\e19b";
}

.i-vcard:before
{
    content: "\e19c";
}

.i-tshirt:before
{
    content: "\e19d";
}

.i-hanger:before
{
    content: "\e19e";
}

.i-quotes-left:before
{
    content: "\e19f";
}

.i-quotes-right:before
{
    content: "\e1a0";
}

.i-quotes-right-2:before
{
    content: "\e1a1";
}

.i-quotes-right-3:before
{
    content: "\e1a2";
}

.i-busy:before
{
    content: "\e1a3";
}

.i-busy-2:before
{
    content: "\e1a4";
}

.i-busy-3:before
{
    content: "\e1a5";
}

.i-busy-4:before
{
    content: "\e1a6";
}

.i-spinner:before
{
    content: "\e1a7";
}

.i-spinner-2:before
{
    content: "\e1a8";
}

.i-spinner-3:before
{
    content: "\e1a9";
}

.i-spinner-4:before
{
    content: "\e1aa";
}

.i-spinner-5:before
{
    content: "\e1ab";
}

.i-spinner-6:before
{
    content: "\e1ac";
}

.i-spinner-7:before
{
    content: "\e1ad";
}

.i-spinner-8:before
{
    content: "\e1ae";
}

.i-spinner-9:before
{
    content: "\e1af";
}

.i-spinner-10:before
{
    content: "\e1b0";
}

.i-spinner-11:before
{
    content: "\e1b1";
}

.i-spinner-12:before
{
    content: "\e1b2";
}

.i-microscope:before
{
    content: "\e1b3";
}

.i-binoculars:before
{
    content: "\e1b4";
}

.i-binoculars-2:before
{
    content: "\e1b5";
}

.i-search:before
{
    content: "\e1b6";
}

.i-search-2:before
{
    content: "\e1b7";
}

.i-zoom-in:before
{
    content: "\e1b8";
}

.i-zoom-out:before
{
    content: "\e1b9";
}

.i-search-3:before
{
    content: "\e1ba";
}

.i-search-4:before
{
    content: "\e1bb";
}

.i-zoom-in-2:before
{
    content: "\e1bc";
}

.i-zoom-out-2:before
{
    content: "\e1bd";
}

.i-search-5:before
{
    content: "\e1be";
}

.i-expand:before
{
    content: "\e1bf";
}

.i-contract:before
{
    content: "\e1c0";
}

.i-scale-up:before
{
    content: "\e1c1";
}

.i-scale-down:before
{
    content: "\e1c2";
}

.i-expand-2:before
{
    content: "\e1c3";
}

.i-contract-2:before
{
    content: "\e1c4";
}

.i-scale-up-2:before
{
    content: "\e1c5";
}

.i-scale-down-2:before
{
    content: "\e1c6";
}

.i-fullscreen:before
{
    content: "\e1c7";
}

.i-expand-3:before
{
    content: "\e1c8";
}

.i-contract-3:before
{
    content: "\e1c9";
}

.i-key:before
{
    content: "\e1ca";
}

.i-key-2:before
{
    content: "\e1cb";
}

.i-key-3:before
{
    content: "\e1cc";
}

.i-key-4:before
{
    content: "\e1cd";
}

.i-key-5:before
{
    content: "\e1ce";
}

.i-keyhole:before
{
    content: "\e1cf";
}

.i-lock:before
{
    content: "\e1d0";
}

.i-lock-2:before
{
    content: "\e1d1";
}

.i-lock-3:before
{
    content: "\e1d2";
}

.i-lock-4:before
{
    content: "\e1d3";
}

.i-unlocked:before
{
    content: "\e1d4";
}

.i-lock-5:before
{
    content: "\e1d5";
}

.i-unlocked-2:before
{
    content: "\e1d6";
}

.i-wrench:before
{
    content: "\e1d7";
}

.i-wrench-2:before
{
    content: "\e1d8";
}

.i-wrench-3:before
{
    content: "\e1d9";
}

.i-wrench-4:before
{
    content: "\e1da";
}

.i-settings:before
{
    content: "\e1db";
}

.i-equalizer:before
{
    content: "\e1dc";
}

.i-equalizer-2:before
{
    content: "\e1dd";
}

.i-equalizer-3:before
{
    content: "\e1de";
}

.i-cog:before
{
    content: "\e1df";
}

.i-cogs:before
{
    content: "\e1e0";
}

.i-cog-2:before
{
    content: "\e1e1";
}

.i-cog-3:before
{
    content: "\e1e2";
}

.i-cog-4:before
{
    content: "\e1e3";
}

.i-cog-5:before
{
    content: "\e1e4";
}

.i-cog-6:before
{
    content: "\e1e5";
}

.i-cog-7:before
{
    content: "\e1e6";
}

.i-factory:before
{
    content: "\e1e7";
}

.i-hammer:before
{
    content: "\e1e8";
}

.i-tools:before
{
    content: "\e1e9";
}

.i-screwdriver:before
{
    content: "\e1ea";
}

.i-screwdriver-2:before
{
    content: "\e1eb";
}

.i-wand:before
{
    content: "\e1ec";
}

.i-wand-2:before
{
    content: "\e1ed";
}

.i-health:before
{
    content: "\e1ee";
}

.i-aid:before
{
    content: "\e1ef";
}

.i-patch:before
{
    content: "\e1f0";
}

.i-bug:before
{
    content: "\e1f1";
}

.i-bug-2:before
{
    content: "\e1f2";
}

.i-inject:before
{
    content: "\e1f3";
}

.i-inject-2:before
{
    content: "\e1f4";
}

.i-construction:before
{
    content: "\e1f5";
}

.i-cone:before
{
    content: "\e1f6";
}

.i-pie:before
{
    content: "\e1f7";
}

.i-pie-2:before
{
    content: "\e1f8";
}

.i-pie-3:before
{
    content: "\e1f9";
}

.i-pie-4:before
{
    content: "\e1fa";
}

.i-pie-5:before
{
    content: "\e1fb";
}

.i-pie-6:before
{
    content: "\e1fc";
}

.i-pie-7:before
{
    content: "\e1fd";
}

.i-stats:before
{
    content: "\e1fe";
}

.i-stats-2:before
{
    content: "\e1ff";
}

.i-stats-3:before
{
    content: "\e200";
}

.i-bars:before
{
    content: "\e201";
}

.i-bars-2:before
{
    content: "\e202";
}

.i-bars-3:before
{
    content: "\e203";
}

.i-bars-4:before
{
    content: "\e204";
}

.i-bars-5:before
{
    content: "\e205";
}

.i-bars-6:before
{
    content: "\e206";
}

.i-stats-up:before
{
    content: "\e207";
}

.i-stats-down:before
{
    content: "\e208";
}

.i-stairs-down:before
{
    content: "\e209";
}

.i-stairs-down-2:before
{
    content: "\e20a";
}

.i-chart:before
{
    content: "\e20b";
}

.i-stairs:before
{
    content: "\e20c";
}

.i-stairs-2:before
{
    content: "\e20d";
}

.i-ladder:before
{
    content: "\e20e";
}

.i-cake:before
{
    content: "\e20f";
}

.i-gift:before
{
    content: "\e210";
}

.i-gift-2:before
{
    content: "\e211";
}

.i-balloon:before
{
    content: "\e212";
}

.i-rating:before
{
    content: "\e213";
}

.i-rating-2:before
{
    content: "\e214";
}

.i-rating-3:before
{
    content: "\e215";
}

.i-podium:before
{
    content: "\e216";
}

.i-medal:before
{
    content: "\e217";
}

.i-medal-2:before
{
    content: "\e218";
}

.i-medal-3:before
{
    content: "\e219";
}

.i-medal-4:before
{
    content: "\e21a";
}

.i-medal-5:before
{
    content: "\e21b";
}

.i-crown:before
{
    content: "\e21c";
}

.i-trophy:before
{
    content: "\e21d";
}

.i-trophy-2:before
{
    content: "\e21e";
}

.i-trophy-star:before
{
    content: "\e21f";
}

.i-diamond:before
{
    content: "\e220";
}

.i-diamond-2:before
{
    content: "\e221";
}

.i-glass:before
{
    content: "\e222";
}

.i-glass-2:before
{
    content: "\e223";
}

.i-bottle:before
{
    content: "\e224";
}

.i-bottle-2:before
{
    content: "\e225";
}

.i-mug:before
{
    content: "\e226";
}

.i-food:before
{
    content: "\e227";
}

.i-food-2:before
{
    content: "\e228";
}

.i-hamburger:before
{
    content: "\e229";
}

.i-cup:before
{
    content: "\e22a";
}

.i-cup-2:before
{
    content: "\e22b";
}

.i-leaf:before
{
    content: "\e22c";
}

.i-leaf-2:before
{
    content: "\e22d";
}

.i-apple-fruit:before
{
    content: "\e22e";
}

.i-tree:before
{
    content: "\e22f";
}

.i-tree-2:before
{
    content: "\e230";
}

.i-paw:before
{
    content: "\e231";
}

.i-steps:before
{
    content: "\e232";
}

.i-flower:before
{
    content: "\e233";
}

.i-rocket:before
{
    content: "\e234";
}

.i-meter:before
{
    content: "\e235";
}

.i-meter2:before
{
    content: "\e236";
}

.i-meter-slow:before
{
    content: "\e237";
}

.i-meter-medium:before
{
    content: "\e238";
}

.i-meter-fast:before
{
    content: "\e239";
}

.i-dashboard:before
{
    content: "\e23a";
}

.i-hammer-2:before
{
    content: "\e23b";
}

.i-balance:before
{
    content: "\e23c";
}

.i-bomb:before
{
    content: "\e23d";
}

.i-fire:before
{
    content: "\e23e";
}

.i-fire-2:before
{
    content: "\e23f";
}

.i-lab:before
{
    content: "\e240";
}

.i-atom:before
{
    content: "\e241";
}

.i-atom-2:before
{
    content: "\e242";
}

.i-magnet:before
{
    content: "\e243";
}

.i-magnet-2:before
{
    content: "\e244";
}

.i-magnet-3:before
{
    content: "\e245";
}

.i-magnet-4:before
{
    content: "\e246";
}

.i-dumbbell:before
{
    content: "\e247";
}

.i-skull:before
{
    content: "\e248";
}

.i-skull-2:before
{
    content: "\e249";
}

.i-skull-3:before
{
    content: "\e24a";
}

.i-lamp:before
{
    content: "\e24b";
}

.i-lamp-2:before
{
    content: "\e24c";
}

.i-lamp-3:before
{
    content: "\e24d";
}

.i-lamp-4:before
{
    content: "\e24e";
}

.i-remove:before
{
    content: "\e24f";
}

.i-remove-2:before
{
    content: "\e250";
}

.i-remove-3:before
{
    content: "\e251";
}

.i-remove-4:before
{
    content: "\e252";
}

.i-remove-5:before
{
    content: "\e253";
}

.i-remove-6:before
{
    content: "\e254";
}

.i-remove-7:before
{
    content: "\e255";
}

.i-remove-8:before
{
    content: "\e256";
}

.i-briefcase:before
{
    content: "\e257";
}

.i-briefcase-2:before
{
    content: "\e258";
}

.i-briefcase-3:before
{
    content: "\e259";
}

.i-airplane:before
{
    content: "\e25a";
}

.i-airplane-2:before
{
    content: "\e25b";
}

.i-paper-plane:before
{
    content: "\e25c";
}

.i-car:before
{
    content: "\e25d";
}

.i-gas-pump:before
{
    content: "\e25e";
}

.i-bus:before
{
    content: "\e25f";
}

.i-truck:before
{
    content: "\e260";
}

.i-bike:before
{
    content: "\e261";
}

.i-road:before
{
    content: "\e262";
}

.i-train:before
{
    content: "\e263";
}

.i-ship:before
{
    content: "\e264";
}

.i-boat:before
{
    content: "\e265";
}

.i-cube:before
{
    content: "\e266";
}

.i-cube-2:before
{
    content: "\e267";
}

.i-cube-3:before
{
    content: "\e268";
}

.i-cube4:before
{
    content: "\e269";
}

.i-pyramid:before
{
    content: "\e26a";
}

.i-pyramid-2:before
{
    content: "\e26b";
}

.i-cylinder:before
{
    content: "\e26c";
}

.i-package:before
{
    content: "\e26d";
}

.i-puzzle:before
{
    content: "\e26e";
}

.i-puzzle-2:before
{
    content: "\e26f";
}

.i-puzzle-3:before
{
    content: "\e270";
}

.i-puzzle-4:before
{
    content: "\e271";
}

.i-glasses:before
{
    content: "\e272";
}

.i-glasses-2:before
{
    content: "\e273";
}

.i-glasses-3:before
{
    content: "\e274";
}

.i-sun-glasses:before
{
    content: "\e275";
}

.i-accessibility:before
{
    content: "\e276";
}

.i-accessibility-2:before
{
    content: "\e277";
}

.i-brain:before
{
    content: "\e278";
}

.i-target:before
{
    content: "\e279";
}

.i-target-2:before
{
    content: "\e27a";
}

.i-target-3:before
{
    content: "\e27b";
}

.i-gun:before
{
    content: "\e27c";
}

.i-gun-ban:before
{
    content: "\e27d";
}

.i-shield:before
{
    content: "\e27e";
}

.i-shield-2:before
{
    content: "\e27f";
}

.i-shield-3:before
{
    content: "\e280";
}

.i-shield-4:before
{
    content: "\e281";
}

.i-soccer:before
{
    content: "\e282";
}

.i-football:before
{
    content: "\e283";
}

.i-baseball:before
{
    content: "\e284";
}

.i-basketball:before
{
    content: "\e285";
}

.i-golf:before
{
    content: "\e286";
}

.i-hockey:before
{
    content: "\e287";
}

.i-racing:before
{
    content: "\e288";
}

.i-eight-ball:before
{
    content: "\e289";
}

.i-bowling-ball:before
{
    content: "\e28a";
}

.i-bowling:before
{
    content: "\e28b";
}

.i-bowling-2:before
{
    content: "\e28c";
}

.i-lightning:before
{
    content: "\e28d";
}

.i-power:before
{
    content: "\e28e";
}

.i-power-2:before
{
    content: "\e28f";
}

.i-switch:before
{
    content: "\e290";
}

.i-power-cord:before
{
    content: "\e291";
}

.i-cord:before
{
    content: "\e292";
}

.i-socket:before
{
    content: "\e293";
}

.i-clipboard:before
{
    content: "\e294";
}

.i-clipboard-2:before
{
    content: "\e295";
}

.i-signup:before
{
    content: "\e296";
}

.i-clipboard-3:before
{
    content: "\e297";
}

.i-clipboard-4:before
{
    content: "\e298";
}

.i-list:before
{
    content: "\e299";
}

.i-list-2:before
{
    content: "\e29a";
}

.i-list-3:before
{
    content: "\e29b";
}

.i-numbered-list:before
{
    content: "\e29c";
}

.i-list-4:before
{
    content: "\e29d";
}

.i-list-5:before
{
    content: "\e29e";
}

.i-playlist:before
{
    content: "\e29f";
}

.i-grid:before
{
    content: "\e2a0";
}

.i-grid-2:before
{
    content: "\e2a1";
}

.i-grid-3:before
{
    content: "\e2a2";
}

.i-grid-4:before
{
    content: "\e2a3";
}

.i-grid-5:before
{
    content: "\e2a4";
}

.i-grid-6:before
{
    content: "\e2a5";
}

.i-tree-3:before
{
    content: "\e2a6";
}

.i-tree-4:before
{
    content: "\e2a7";
}

.i-tree-5:before
{
    content: "\e2a8";
}

.i-menu:before
{
    content: "\e2a9";
}

.i-menu-2:before
{
    content: "\e2aa";
}

.i-circle-small:before
{
    content: "\e2ab";
}

.i-menu-3:before
{
    content: "\e2ac";
}

.i-menu-4:before
{
    content: "\e2ad";
}

.i-menu-5:before
{
    content: "\e2ae";
}

.i-menu-6:before
{
    content: "\e2af";
}

.i-menu-7:before
{
    content: "\e2b0";
}

.i-menu-8:before
{
    content: "\e2b1";
}

.i-menu-9:before
{
    content: "\e2b2";
}

.i-cloud:before
{
    content: "\e2b3";
}

.i-cloud-2:before
{
    content: "\e2b4";
}

.i-cloud-3:before
{
    content: "\e2b5";
}

.i-cloud-download:before
{
    content: "\e2b6";
}

.i-cloud-upload:before
{
    content: "\e2b7";
}

.i-download-2:before
{
    content: "\e2b8";
}

.i-upload-2:before
{
    content: "\e2b9";
}

.i-download-3:before
{
    content: "\e2ba";
}

.i-upload-3:before
{
    content: "\e2bb";
}

.i-download-4:before
{
    content: "\e2bc";
}

.i-upload-4:before
{
    content: "\e2bd";
}

.i-download-5:before
{
    content: "\e2be";
}

.i-upload-5:before
{
    content: "\e2bf";
}

.i-download-6:before
{
    content: "\e2c0";
}

.i-upload-6:before
{
    content: "\e2c1";
}

.i-download-7:before
{
    content: "\e2c2";
}

.i-upload-7:before
{
    content: "\e2c3";
}

.i-globe:before
{
    content: "\e2c4";
}

.i-globe-2:before
{
    content: "\e2c5";
}

.i-globe-3:before
{
    content: "\e2c6";
}

.i-earth:before
{
    content: "\e2c7";
}

.i-network:before
{
    content: "\e2c8";
}

.i-link:before
{
    content: "\e2c9";
}

.i-link-2:before
{
    content: "\e2ca";
}

.i-link-3:before
{
    content: "\e2cb";
}

.i-link2:before
{
    content: "\e2cc";
}

.i-link-4:before
{
    content: "\e2cd";
}

.i-link-5:before
{
    content: "\e2ce";
}

.i-link-6:before
{
    content: "\e2cf";
}

.i-anchor:before
{
    content: "\e2d0";
}

.i-flag:before
{
    content: "\e2d1";
}

.i-flag-2:before
{
    content: "\e2d2";
}

.i-flag-3:before
{
    content: "\e2d3";
}

.i-flag-4:before
{
    content: "\e2d4";
}

.i-flag-5:before
{
    content: "\e2d5";
}

.i-flag-6:before
{
    content: "\e2d6";
}

.i-attachment:before
{
    content: "\e2d7";
}

.i-attachment-2:before
{
    content: "\e2d8";
}

.i-eye:before
{
    content: "\e2d9";
}

.i-eye-blocked:before
{
    content: "\e2da";
}

.i-eye-2:before
{
    content: "\e2db";
}

.i-eye-3:before
{
    content: "\e2dc";
}

.i-eye-blocked-2:before
{
    content: "\e2dd";
}

.i-eye-4:before
{
    content: "\e2de";
}

.i-eye-5:before
{
    content: "\e2df";
}

.i-eye-6:before
{
    content: "\e2e0";
}

.i-eye-7:before
{
    content: "\e2e1";
}

.i-eye-8:before
{
    content: "\e2e2";
}

.i-bookmark:before
{
    content: "\e2e3";
}

.i-bookmark-2:before
{
    content: "\e2e4";
}

.i-bookmarks:before
{
    content: "\e2e5";
}

.i-bookmark-3:before
{
    content: "\e2e6";
}

.i-spotlight:before
{
    content: "\e2e7";
}

.i-starburst:before
{
    content: "\e2e8";
}

.i-snowflake:before
{
    content: "\e2e9";
}

.i-temperature:before
{
    content: "\e2ea";
}

.i-temperature-2:before
{
    content: "\e2eb";
}

.i-weather-lightning:before
{
    content: "\e2ec";
}

.i-weather-rain:before
{
    content: "\e2ed";
}

.i-weather-snow:before
{
    content: "\e2ee";
}

.i-windy:before
{
    content: "\e2ef";
}

.i-fan:before
{
    content: "\e2f0";
}

.i-umbrella:before
{
    content: "\e2f1";
}

.i-sun:before
{
    content: "\e2f2";
}

.i-sun-2:before
{
    content: "\e2f3";
}

.i-brightness-high:before
{
    content: "\e2f4";
}

.i-brightness-medium:before
{
    content: "\e2f5";
}

.i-brightness-low:before
{
    content: "\e2f6";
}

.i-brightness-contrast:before
{
    content: "\e2f7";
}

.i-contrast:before
{
    content: "\e2f8";
}

.i-moon:before
{
    content: "\e2f9";
}

.i-bed:before
{
    content: "\e2fa";
}

.i-bed-2:before
{
    content: "\e2fb";
}

.i-star:before
{
    content: "\e2fc";
}

.i-star-2:before
{
    content: "\e2fd";
}

.i-star-3:before
{
    content: "\e2fe";
}

.i-star-4:before
{
    content: "\e2ff";
}

.i-star-5:before
{
    content: "\e300";
}

.i-star-6:before
{
    content: "\e301";
}

.i-heart:before
{
    content: "\e302";
}

.i-heart-2:before
{
    content: "\e303";
}

.i-heart-3:before
{
    content: "\e304";
}

.i-heart-4:before
{
    content: "\e305";
}

.i-heart-broken:before
{
    content: "\e306";
}

.i-heart-5:before
{
    content: "\e307";
}

.i-heart-6:before
{
    content: "\e308";
}

.i-heart-broken-2:before
{
    content: "\e309";
}

.i-heart-7:before
{
    content: "\e30a";
}

.i-heart-8:before
{
    content: "\e30b";
}

.i-heart-broken-3:before
{
    content: "\e30c";
}

.i-lips:before
{
    content: "\e30d";
}

.i-lips-2:before
{
    content: "\e30e";
}

.i-thumbs-up:before
{
    content: "\e30f";
}

.i-thumbs-up-2:before
{
    content: "\e310";
}

.i-thumbs-down:before
{
    content: "\e311";
}

.i-thumbs-down-2:before
{
    content: "\e312";
}

.i-thumbs-up-3:before
{
    content: "\e313";
}

.i-thumbs-up-4:before
{
    content: "\e314";
}

.i-thumbs-up-5:before
{
    content: "\e315";
}

.i-thumbs-up-6:before
{
    content: "\e316";
}

.i-people:before
{
    content: "\e317";
}

.i-man:before
{
    content: "\e318";
}

.i-male:before
{
    content: "\e319";
}

.i-woman:before
{
    content: "\e31a";
}

.i-female:before
{
    content: "\e31b";
}

.i-peace:before
{
    content: "\e31c";
}

.i-yin-yang:before
{
    content: "\e31d";
}

.i-happy:before
{
    content: "\e31e";
}

.i-happy-2:before
{
    content: "\e31f";
}

.i-smiley:before
{
    content: "\e320";
}

.i-smiley-2:before
{
    content: "\e321";
}

.i-tongue:before
{
    content: "\e322";
}

.i-tongue-2:before
{
    content: "\e323";
}

.i-sad:before
{
    content: "\e324";
}

.i-sad-2:before
{
    content: "\e325";
}

.i-wink:before
{
    content: "\e326";
}

.i-wink-2:before
{
    content: "\e327";
}

.i-grin:before
{
    content: "\e328";
}

.i-grin-2:before
{
    content: "\e329";
}

.i-cool:before
{
    content: "\e32a";
}

.i-cool-2:before
{
    content: "\e32b";
}

.i-angry:before
{
    content: "\e32c";
}

.i-angry-2:before
{
    content: "\e32d";
}

.i-evil:before
{
    content: "\e32e";
}

.i-evil-2:before
{
    content: "\e32f";
}

.i-shocked:before
{
    content: "\e330";
}

.i-shocked-2:before
{
    content: "\e331";
}

.i-confused:before
{
    content: "\e332";
}

.i-confused-2:before
{
    content: "\e333";
}

.i-neutral:before
{
    content: "\e334";
}

.i-neutral-2:before
{
    content: "\e335";
}

.i-wondering:before
{
    content: "\e336";
}

.i-wondering-2:before
{
    content: "\e337";
}

.i-cursor:before
{
    content: "\e338";
}

.i-cursor-2:before
{
    content: "\e339";
}

.i-point-up:before
{
    content: "\e33a";
}

.i-point-right:before
{
    content: "\e33b";
}

.i-point-down:before
{
    content: "\e33c";
}

.i-point-left:before
{
    content: "\e33d";
}

.i-pointer:before
{
    content: "\e33e";
}

.i-hand:before
{
    content: "\e33f";
}

.i-stack-empty:before
{
    content: "\e340";
}

.i-stack-plus:before
{
    content: "\e341";
}

.i-stack-minus:before
{
    content: "\e342";
}

.i-stack-star:before
{
    content: "\e343";
}

.i-stack-picture:before
{
    content: "\e344";
}

.i-stack-down:before
{
    content: "\e345";
}

.i-stack-up:before
{
    content: "\e346";
}

.i-stack-cancel:before
{
    content: "\e347";
}

.i-stack-checkmark:before
{
    content: "\e348";
}

.i-stack-list:before
{
    content: "\e349";
}

.i-stack-clubs:before
{
    content: "\e34a";
}

.i-stack-spades:before
{
    content: "\e34b";
}

.i-stack-hearts:before
{
    content: "\e34c";
}

.i-stack-diamonds:before
{
    content: "\e34d";
}

.i-stack-user:before
{
    content: "\e34e";
}

.i-stack-4:before
{
    content: "\e34f";
}

.i-stack-music:before
{
    content: "\e350";
}

.i-stack-play:before
{
    content: "\e351";
}

.i-move:before
{
    content: "\e352";
}

.i-resize:before
{
    content: "\e353";
}

.i-resize-2:before
{
    content: "\e354";
}

.i-warning:before
{
    content: "\e355";
}

.i-warning-2:before
{
    content: "\e356";
}

.i-notification:before
{
    content: "\e357";
}

.i-notification-2:before
{
    content: "\e358";
}

.i-question:before
{
    content: "\e359";
}

.i-question-2:before
{
    content: "\e35a";
}

.i-question-3:before
{
    content: "\e35b";
}

.i-question-4:before
{
    content: "\e35c";
}

.i-question-5:before
{
    content: "\e35d";
}

.i-plus-circle:before
{
    content: "\e35e";
}

.i-plus-circle-2:before
{
    content: "\e35f";
}

.i-minus-circle:before
{
    content: "\e360";
}

.i-minus-circle-2:before
{
    content: "\e361";
}

.i-info:before
{
    content: "\e362";
}

.i-info-2:before
{
    content: "\e363";
}

.i-blocked:before
{
    content: "\e364";
}

.i-cancel-circle:before
{
    content: "\e365";
}

.i-cancel-circle-2:before
{
    content: "\e366";
}

.i-checkmark-circle:before
{
    content: "\e367";
}

.i-checkmark-circle-2:before
{
    content: "\e368";
}

.i-cancel:before
{
    content: "\e369";
}

.i-spam:before
{
    content: "\e36a";
}

.i-close:before
{
    content: "\e36b";
}

.i-close-2:before
{
    content: "\e36c";
}

.i-close-3:before
{
    content: "\e36d";
}

.i-close-4:before
{
    content: "\e36e";
}

.i-close-5:before
{
    content: "\e36f";
}

.i-checkmark:before
{
    content: "\e370";
}

.i-checkmark-2:before
{
    content: "\e371";
}

.i-checkmark-3:before
{
    content: "\e372";
}

.i-checkmark-4:before
{
    content: "\e373";
}

.i-spell-check:before
{
    content: "\e374";
}

.i-minus:before
{
    content: "\e375";
}

.i-plus:before
{
    content: "\e376";
}

.i-minus-2:before
{
    content: "\e377";
}

.i-plus-2:before
{
    content: "\e378";
}

.i-enter:before
{
    content: "\e379";
}

.i-exit:before
{
    content: "\e37a";
}

.i-enter-2:before
{
    content: "\e37b";
}

.i-exit-2:before
{
    content: "\e37c";
}

.i-enter-3:before
{
    content: "\e37d";
}

.i-exit-3:before
{
    content: "\e37e";
}

.i-exit-4:before
{
    content: "\e37f";
}

.i-play-3:before
{
    content: "\e380";
}

.i-pause:before
{
    content: "\e381";
}

.i-stop:before
{
    content: "\e382";
}

.i-backward:before
{
    content: "\e383";
}

.i-forward-2:before
{
    content: "\e384";
}

.i-play-4:before
{
    content: "\e385";
}

.i-pause-2:before
{
    content: "\e386";
}

.i-stop-2:before
{
    content: "\e387";
}

.i-backward-2:before
{
    content: "\e388";
}

.i-forward-3:before
{
    content: "\e389";
}

.i-first:before
{
    content: "\e38a";
}

.i-last:before
{
    content: "\e38b";
}

.i-previous:before
{
    content: "\e38c";
}

.i-next:before
{
    content: "\e38d";
}

.i-eject:before
{
    content: "\e38e";
}

.i-volume-high:before
{
    content: "\e38f";
}

.i-volume-medium:before
{
    content: "\e390";
}

.i-volume-low:before
{
    content: "\e391";
}

.i-volume-mute:before
{
    content: "\e392";
}

.i-volume-mute-2:before
{
    content: "\e393";
}

.i-volume-increase:before
{
    content: "\e394";
}

.i-volume-decrease:before
{
    content: "\e395";
}

.i-volume-high-2:before
{
    content: "\e396";
}

.i-volume-medium-2:before
{
    content: "\e397";
}

.i-volume-low-2:before
{
    content: "\e398";
}

.i-volume-mute-3:before
{
    content: "\e399";
}

.i-volume-mute-4:before
{
    content: "\e39a";
}

.i-volume-increase-2:before
{
    content: "\e39b";
}

.i-volume-decrease-2:before
{
    content: "\e39c";
}

.i-volume5:before
{
    content: "\e39d";
}

.i-volume4:before
{
    content: "\e39e";
}

.i-volume3:before
{
    content: "\e39f";
}

.i-volume2:before
{
    content: "\e3a0";
}

.i-volume1:before
{
    content: "\e3a1";
}

.i-volume0:before
{
    content: "\e3a2";
}

.i-volume-mute-5:before
{
    content: "\e3a3";
}

.i-volume-mute-6:before
{
    content: "\e3a4";
}

.i-loop:before
{
    content: "\e3a5";
}

.i-loop-2:before
{
    content: "\e3a6";
}

.i-loop-3:before
{
    content: "\e3a7";
}

.i-loop-4:before
{
    content: "\e3a8";
}

.i-loop-5:before
{
    content: "\e3a9";
}

.i-shuffle:before
{
    content: "\e3aa";
}

.i-shuffle-2:before
{
    content: "\e3ab";
}

.i-wave:before
{
    content: "\e3ac";
}

.i-wave-2:before
{
    content: "\e3ad";
}

.i-arrow-first:before
{
    content: "\e3ae";
}

.i-arrow-right:before
{
    content: "\e3af";
}

.i-arrow-up:before
{
    content: "\e3b0";
}

.i-arrow-right-2:before
{
    content: "\e3b1";
}

.i-arrow-down:before
{
    content: "\e3b2";
}

.i-arrow-left:before
{
    content: "\e3b3";
}

.i-arrow-up-2:before
{
    content: "\e3b4";
}

.i-arrow-right-3:before
{
    content: "\e3b5";
}

.i-arrow-down-2:before
{
    content: "\e3b6";
}

.i-arrow-left-2:before
{
    content: "\e3b7";
}

.i-arrow-up-left:before
{
    content: "\e3b8";
}

.i-arrow-up-3:before
{
    content: "\e3b9";
}

.i-arrow-up-right:before
{
    content: "\e3ba";
}

.i-arrow-right-4:before
{
    content: "\e3bb";
}

.i-arrow-down-right:before
{
    content: "\e3bc";
}

.i-arrow-down-3:before
{
    content: "\e3bd";
}

.i-arrow-down-left:before
{
    content: "\e3be";
}

.i-arrow-left-3:before
{
    content: "\e3bf";
}

.i-arrow-up-left-2:before
{
    content: "\e3c0";
}

.i-arrow-up-4:before
{
    content: "\e3c1";
}

.i-arrow-up-right-2:before
{
    content: "\e3c2";
}

.i-arrow-right-5:before
{
    content: "\e3c3";
}

.i-arrow-down-right-2:before
{
    content: "\e3c4";
}

.i-arrow-down-4:before
{
    content: "\e3c5";
}

.i-arrow-down-left-2:before
{
    content: "\e3c6";
}

.i-arrow-left-4:before
{
    content: "\e3c7";
}

.i-arrow-up-left-3:before
{
    content: "\e3c8";
}

.i-arrow-up-5:before
{
    content: "\e3c9";
}

.i-arrow-up-right-3:before
{
    content: "\e3ca";
}

.i-arrow-right-6:before
{
    content: "\e3cb";
}

.i-arrow-down-right-3:before
{
    content: "\e3cc";
}

.i-arrow-down-5:before
{
    content: "\e3cd";
}

.i-arrow-down-left-3:before
{
    content: "\e3ce";
}

.i-arrow-left-5:before
{
    content: "\e3cf";
}

.i-arrow-up-left-4:before
{
    content: "\e3d0";
}

.i-arrow-up-6:before
{
    content: "\e3d1";
}

.i-arrow-up-right-4:before
{
    content: "\e3d2";
}

.i-arrow-right-7:before
{
    content: "\e3d3";
}

.i-arrow-down-right-4:before
{
    content: "\e3d4";
}

.i-arrow-down-6:before
{
    content: "\e3d5";
}

.i-arrow-down-left-4:before
{
    content: "\e3d6";
}

.i-arrow-left-6:before
{
    content: "\e3d7";
}

.i-arrow:before
{
    content: "\e3d8";
}

.i-arrow-2:before
{
    content: "\e3d9";
}

.i-arrow-3:before
{
    content: "\e3da";
}

.i-arrow-4:before
{
    content: "\e3db";
}

.i-arrow-5:before
{
    content: "\e3dc";
}

.i-arrow-6:before
{
    content: "\e3dd";
}

.i-arrow-7:before
{
    content: "\e3de";
}

.i-arrow-8:before
{
    content: "\e3df";
}

.i-arrow-up-left-5:before
{
    content: "\e3e0";
}

.i-arrow-square:before
{
    content: "\e3e1";
}

.i-arrow-up-right-5:before
{
    content: "\e3e2";
}

.i-arrow-right-8:before
{
    content: "\e3e3";
}

.i-arrow-down-right-5:before
{
    content: "\e3e4";
}

.i-arrow-down-7:before
{
    content: "\e3e5";
}

.i-arrow-down-left-5:before
{
    content: "\e3e6";
}

.i-arrow-left-7:before
{
    content: "\e3e7";
}

.i-arrow-up-7:before
{
    content: "\e3e8";
}

.i-arrow-right-9:before
{
    content: "\e3e9";
}

.i-arrow-down-8:before
{
    content: "\e3ea";
}

.i-arrow-left-8:before
{
    content: "\e3eb";
}

.i-arrow-up-8:before
{
    content: "\e3ec";
}

.i-arrow-right-10:before
{
    content: "\e3ed";
}

.i-arrow-bottom:before
{
    content: "\e3ee";
}

.i-arrow-left-9:before
{
    content: "\e3ef";
}

.i-arrow-up-left-6:before
{
    content: "\e3f0";
}

.i-arrow-up-9:before
{
    content: "\e3f1";
}

.i-arrow-up-right-6:before
{
    content: "\e3f2";
}

.i-arrow-right-11:before
{
    content: "\e3f3";
}

.i-arrow-down-right-6:before
{
    content: "\e3f4";
}

.i-arrow-down-9:before
{
    content: "\e3f5";
}

.i-arrow-down-left-6:before
{
    content: "\e3f6";
}

.i-arrow-left-10:before
{
    content: "\e3f7";
}

.i-arrow-up-left-7:before
{
    content: "\e3f8";
}

.i-arrow-up-10:before
{
    content: "\e3f9";
}

.i-arrow-up-right-7:before
{
    content: "\e3fa";
}

.i-arrow-right-12:before
{
    content: "\e3fb";
}

.i-arrow-down-right-7:before
{
    content: "\e3fc";
}

.i-arrow-down-10:before
{
    content: "\e3fd";
}

.i-arrow-down-left-7:before
{
    content: "\e3fe";
}

.i-arrow-left-11:before
{
    content: "\e3ff";
}

.i-arrow-up-11:before
{
    content: "\e400";
}

.i-arrow-right-13:before
{
    content: "\e401";
}

.i-arrow-down-11:before
{
    content: "\e402";
}

.i-arrow-left-12:before
{
    content: "\e403";
}

.i-arrow-up-12:before
{
    content: "\e404";
}

.i-arrow-right-14:before
{
    content: "\e405";
}

.i-arrow-down-12:before
{
    content: "\e406";
}

.i-arrow-left-13:before
{
    content: "\e407";
}

.i-arrow-up-13:before
{
    content: "\e408";
}

.i-arrow-right-15:before
{
    content: "\e409";
}

.i-arrow-down-13:before
{
    content: "\e40a";
}

.i-arrow-left-14:before
{
    content: "\e40b";
}

.i-arrow-up-14:before
{
    content: "\e40c";
}

.i-arrow-right-16:before
{
    content: "\e40d";
}

.i-arrow-down-14:before
{
    content: "\e40e";
}

.i-arrow-left-15:before
{
    content: "\e40f";
}

.i-arrow-up-15:before
{
    content: "\e410";
}

.i-arrow-right-17:before
{
    content: "\e411";
}

.i-arrow-down-15:before
{
    content: "\e412";
}

.i-arrow-left-16:before
{
    content: "\e413";
}

.i-arrow-up-16:before
{
    content: "\e414";
}

.i-arrow-right-18:before
{
    content: "\e415";
}

.i-arrow-down-16:before
{
    content: "\e416";
}

.i-arrow-left-17:before
{
    content: "\e417";
}

.i-menu-10:before
{
    content: "\e418";
}

.i-menu-11:before
{
    content: "\e419";
}

.i-menu-close:before
{
    content: "\e41a";
}

.i-menu-close-2:before
{
    content: "\e41b";
}

.i-enter-4:before
{
    content: "\e41c";
}

.i-enter-5:before
{
    content: "\e41d";
}

.i-esc:before
{
    content: "\e41e";
}

.i-backspace:before
{
    content: "\e41f";
}

.i-backspace-2:before
{
    content: "\e420";
}

.i-backspace-3:before
{
    content: "\e421";
}

.i-tab:before
{
    content: "\e422";
}

.i-transmission:before
{
    content: "\e423";
}

.i-transmission-2:before
{
    content: "\e424";
}

.i-sort:before
{
    content: "\e425";
}

.i-sort-2:before
{
    content: "\e426";
}

.i-key-keyboard:before
{
    content: "\e427";
}

.i-key-A:before
{
    content: "\e428";
}

.i-key-up:before
{
    content: "\e429";
}

.i-key-right:before
{
    content: "\e42a";
}

.i-key-down:before
{
    content: "\e42b";
}

.i-key-left:before
{
    content: "\e42c";
}

.i-command:before
{
    content: "\e42d";
}

.i-checkbox-checked:before
{
    content: "\e42e";
}

.i-checkbox-unchecked:before
{
    content: "\e42f";
}

.i-square:before
{
    content: "\e430";
}

.i-checkbox-partial:before
{
    content: "\e431";
}

.i-checkbox:before
{
    content: "\e432";
}

.i-checkbox-unchecked-2:before
{
    content: "\e433";
}

.i-checkbox-partial-2:before
{
    content: "\e434";
}

.i-checkbox-checked-2:before
{
    content: "\e435";
}

.i-checkbox-unchecked-3:before
{
    content: "\e436";
}

.i-checkbox-partial-3:before
{
    content: "\e437";
}

.i-radio-checked:before
{
    content: "\e438";
}

.i-radio-unchecked:before
{
    content: "\e439";
}

.i-circle:before
{
    content: "\e43a";
}

.i-circle-2:before
{
    content: "\e43b";
}

.i-crop:before
{
    content: "\e43c";
}

.i-crop-2:before
{
    content: "\e43d";
}

.i-vector:before
{
    content: "\e43e";
}

.i-rulers:before
{
    content: "\e43f";
}

.i-scissors:before
{
    content: "\e440";
}

.i-scissors-2:before
{
    content: "\e441";
}

.i-scissors-3:before
{
    content: "\e442";
}

.i-filter:before
{
    content: "\e443";
}

.i-filter-2:before
{
    content: "\e444";
}

.i-filter-3:before
{
    content: "\e445";
}

.i-filter-4:before
{
    content: "\e446";
}

.i-font:before
{
    content: "\e447";
}

.i-font-size:before
{
    content: "\e448";
}

.i-type:before
{
    content: "\e449";
}

.i-text-height:before
{
    content: "\e44a";
}

.i-text-width:before
{
    content: "\e44b";
}

.i-height:before
{
    content: "\e44c";
}

.i-width:before
{
    content: "\e44d";
}

.i-bold:before
{
    content: "\e44e";
}

.i-underline:before
{
    content: "\e44f";
}

.i-italic:before
{
    content: "\e450";
}

.i-strikethrough:before
{
    content: "\e451";
}

.i-strikethrough-2:before
{
    content: "\e452";
}

.i-font-size-2:before
{
    content: "\e453";
}

.i-bold-2:before
{
    content: "\e454";
}

.i-underline-2:before
{
    content: "\e455";
}

.i-italic-2:before
{
    content: "\e456";
}

.i-strikethrough-3:before
{
    content: "\e457";
}

.i-omega:before
{
    content: "\e458";
}

.i-sigma:before
{
    content: "\e459";
}

.i-nbsp:before
{
    content: "\e45a";
}

.i-page-break:before
{
    content: "\e45b";
}

.i-page-break-2:before
{
    content: "\e45c";
}

.i-superscript:before
{
    content: "\e45d";
}

.i-subscript:before
{
    content: "\e45e";
}

.i-superscript-2:before
{
    content: "\e45f";
}

.i-subscript-2:before
{
    content: "\e460";
}

.i-text-color:before
{
    content: "\e461";
}

.i-highlight:before
{
    content: "\e462";
}

.i-pagebreak:before
{
    content: "\e463";
}

.i-clear-formatting:before
{
    content: "\e464";
}

.i-table:before
{
    content: "\e465";
}

.i-table-2:before
{
    content: "\e466";
}

.i-insert-template:before
{
    content: "\e467";
}

.i-pilcrow:before
{
    content: "\e468";
}

.i-left-to-right:before
{
    content: "\e469";
}

.i-right-to-left:before
{
    content: "\e46a";
}

.i-paragraph-left:before
{
    content: "\e46b";
}

.i-paragraph-center:before
{
    content: "\e46c";
}

.i-paragraph-right:before
{
    content: "\e46d";
}

.i-paragraph-justify:before
{
    content: "\e46e";
}

.i-paragraph-left-2:before
{
    content: "\e46f";
}

.i-paragraph-center-2:before
{
    content: "\e470";
}

.i-paragraph-right-2:before
{
    content: "\e471";
}

.i-paragraph-justify-2:before
{
    content: "\e472";
}

.i-indent-increase:before
{
    content: "\e473";
}

.i-indent-decrease:before
{
    content: "\e474";
}

.i-paragraph-left-3:before
{
    content: "\e475";
}

.i-paragraph-center-3:before
{
    content: "\e476";
}

.i-paragraph-right-3:before
{
    content: "\e477";
}

.i-paragraph-justify-3:before
{
    content: "\e478";
}

.i-indent-increase-2:before
{
    content: "\e479";
}

.i-indent-decrease-2:before
{
    content: "\e47a";
}

.i-share:before
{
    content: "\e47b";
}

.i-new-tab:before
{
    content: "\e47c";
}

.i-new-tab-2:before
{
    content: "\e47d";
}

.i-popout:before
{
    content: "\e47e";
}

.i-embed:before
{
    content: "\e47f";
}

.i-code:before
{
    content: "\e480";
}

.i-console:before
{
    content: "\e481";
}

.i-seven-segment-0:before
{
    content: "\e482";
}

.i-seven-segment-1:before
{
    content: "\e483";
}

.i-seven-segment-2:before
{
    content: "\e484";
}

.i-seven-segment-3:before
{
    content: "\e485";
}

.i-seven-segment-4:before
{
    content: "\e486";
}

.i-seven-segment-5:before
{
    content: "\e487";
}

.i-seven-segment-6:before
{
    content: "\e488";
}

.i-seven-segment-7:before
{
    content: "\e489";
}

.i-seven-segment-8:before
{
    content: "\e48a";
}

.i-seven-segment-9:before
{
    content: "\e48b";
}

.i-share-2:before
{
    content: "\e48c";
}

.i-share-3:before
{
    content: "\e48d";
}

.i-mail:before
{
    content: "\e48e";
}

.i-mail-2:before
{
    content: "\e48f";
}

.i-mail-3:before
{
    content: "\e490";
}

.i-mail-4:before
{
    content: "\e491";
}

.i-google:before
{
    content: "\e492";
}

.i-google-plus:before
{
    content: "\e493";
}

.i-google-plus-2:before
{
    content: "\e494";
}

.i-google-plus-3:before
{
    content: "\e495";
}

.i-google-plus-4:before
{
    content: "\e496";
}

.i-google-drive:before
{
    content: "\e497";
}

.i-facebook:before
{
    content: "\e498";
}

.i-facebook-2:before
{
    content: "\e499";
}

.i-facebook-3:before
{
    content: "\e49a";
}

.i-facebook-4:before
{
    content: "\e49b";
}

.i-instagram:before
{
    content: "\e49c";
}

.i-twitter:before
{
    content: "\e49d";
}

.i-twitter-2:before
{
    content: "\e49e";
}

.i-twitter-3:before
{
    content: "\e49f";
}

.i-feed-2:before
{
    content: "\e4a0";
}

.i-feed-3:before
{
    content: "\e4a1";
}

.i-feed-4:before
{
    content: "\e4a2";
}

.i-youtube:before
{
    content: "\e4a3";
}

.i-youtube-2:before
{
    content: "\e4a4";
}

.i-vimeo:before
{
    content: "\e4a5";
}

.i-vimeo2:before
{
    content: "\e4a6";
}

.i-vimeo-2:before
{
    content: "\e4a7";
}

.i-lanyrd:before
{
    content: "\e4a8";
}

.i-flickr:before
{
    content: "\e4a9";
}

.i-flickr-2:before
{
    content: "\e4aa";
}

.i-flickr-3:before
{
    content: "\e4ab";
}

.i-flickr-4:before
{
    content: "\e4ac";
}

.i-picassa:before
{
    content: "\e4ad";
}

.i-picassa-2:before
{
    content: "\e4ae";
}

.i-dribbble:before
{
    content: "\e4af";
}

.i-dribbble-2:before
{
    content: "\e4b0";
}

.i-dribbble-3:before
{
    content: "\e4b1";
}

.i-forrst:before
{
    content: "\e4b2";
}

.i-forrst-2:before
{
    content: "\e4b3";
}

.i-deviantart:before
{
    content: "\e4b4";
}

.i-deviantart-2:before
{
    content: "\e4b5";
}

.i-steam:before
{
    content: "\e4b6";
}

.i-steam-2:before
{
    content: "\e4b7";
}

.i-github:before
{
    content: "\e4b8";
}

.i-github-2:before
{
    content: "\e4b9";
}

.i-github-3:before
{
    content: "\e4ba";
}

.i-github-4:before
{
    content: "\e4bb";
}

.i-github-5:before
{
    content: "\e4bc";
}

.i-wordpress:before
{
    content: "\e4bd";
}

.i-wordpress-2:before
{
    content: "\e4be";
}

.i-joomla:before
{
    content: "\e4bf";
}

.i-blogger:before
{
    content: "\e4c0";
}

.i-blogger-2:before
{
    content: "\e4c1";
}

.i-tumblr:before
{
    content: "\e4c2";
}

.i-tumblr-2:before
{
    content: "\e4c3";
}

.i-yahoo:before
{
    content: "\e4c4";
}

.i-tux:before
{
    content: "\e4c5";
}

.i-apple:before
{
    content: "\e4c6";
}

.i-finder:before
{
    content: "\e4c7";
}

.i-android:before
{
    content: "\e4c8";
}

.i-windows:before
{
    content: "\e4c9";
}

.i-windows8:before
{
    content: "\e4ca";
}

.i-soundcloud:before
{
    content: "\e4cb";
}

.i-soundcloud-2:before
{
    content: "\e4cc";
}

.i-skype:before
{
    content: "\e4cd";
}

.i-reddit:before
{
    content: "\e4ce";
}

.i-linkedin:before
{
    content: "\e4cf";
}

.i-lastfm:before
{
    content: "\e4d0";
}

.i-lastfm-2:before
{
    content: "\e4d1";
}

.i-delicious:before
{
    content: "\e4d2";
}

.i-stumbleupon:before
{
    content: "\e4d3";
}

.i-stumbleupon-2:before
{
    content: "\e4d4";
}

.i-stackoverflow:before
{
    content: "\e4d5";
}

.i-pinterest:before
{
    content: "\e4d6";
}

.i-pinterest-2:before
{
    content: "\e4d7";
}

.i-xing:before
{
    content: "\e4d8";
}

.i-xing-2:before
{
    content: "\e4d9";
}

.i-flattr:before
{
    content: "\e4da";
}

.i-foursquare:before
{
    content: "\e4db";
}

.i-foursquare-2:before
{
    content: "\e4dc";
}

.i-paypal:before
{
    content: "\e4dd";
}

.i-paypal-2:before
{
    content: "\e4de";
}

.i-paypal-3:before
{
    content: "\e4df";
}

.i-yelp:before
{
    content: "\e4e0";
}

.i-libreoffice:before
{
    content: "\e4e1";
}

.i-file-pdf:before
{
    content: "\e4e2";
}

.i-file-openoffice:before
{
    content: "\e4e3";
}

.i-file-word:before
{
    content: "\e4e4";
}

.i-file-excel:before
{
    content: "\e4e5";
}

.i-file-zip:before
{
    content: "\e4e6";
}

.i-file-powerpoint:before
{
    content: "\e4e7";
}

.i-file-xml:before
{
    content: "\e4e8";
}

.i-file-css:before
{
    content: "\e4e9";
}

.i-html5:before
{
    content: "\e4ea";
}

.i-html5-2:before
{
    content: "\e4eb";
}

.i-css3:before
{
    content: "\e4ec";
}

.i-chrome:before
{
    content: "\e4ed";
}

.i-firefox:before
{
    content: "\e4ee";
}

.i-IE:before
{
    content: "\e4ef";
}

.i-opera:before
{
    content: "\e4f0";
}

.i-safari:before
{
    content: "\e4f1";
}

.i-IcoMoon:before
{
    content: "\e4f2";
}


/* Bootstrap icons */

[class^="icon-"],
[class*=" icon-"]
{
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../images/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
}

/* White icons with optional class, or on hover/focus/active states of certain elements */

.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:focus > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > li > a:focus > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:focus > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"],
.dropdown-submenu:focus > a > [class*=" icon-"]
{
    background-image: url("../images/glyphicons-halflings-white.png");
}

.icon-glass
{
    background-position: 0 0;
}

.icon-music
{
    background-position: -24px 0;
}

.icon-search
{
    background-position: -48px 0;
}

.icon-envelope
{
    background-position: -72px 0;
}

.icon-heart
{
    background-position: -96px 0;
}

.icon-star
{
    background-position: -120px 0;
}

.icon-star-empty
{
    background-position: -144px 0;
}

.icon-user
{
    background-position: -168px 0;
}

.icon-film
{
    background-position: -192px 0;
}

.icon-th-large
{
    background-position: -216px 0;
}

.icon-th
{
    background-position: -240px 0;
}

.icon-th-list
{
    background-position: -264px 0;
}

.icon-ok
{
    background-position: -288px 0;
}

.icon-remove
{
    background-position: -312px 0;
}

.icon-zoom-in
{
    background-position: -336px 0;
}

.icon-zoom-out
{
    background-position: -360px 0;
}

.icon-off
{
    background-position: -384px 0;
}

.icon-signal
{
    background-position: -408px 0;
}

.icon-cog
{
    background-position: -432px 0;
}

.icon-trash
{
    background-position: -456px 0;
}

.icon-home
{
    background-position: 0 -24px;
}

.icon-file
{
    background-position: -24px -24px;
}

.icon-time
{
    background-position: -48px -24px;
}

.icon-road
{
    background-position: -72px -24px;
}

.icon-download-alt
{
    background-position: -96px -24px;
}

.icon-download
{
    background-position: -120px -24px;
}

.icon-upload
{
    background-position: -144px -24px;
}

.icon-inbox
{
    background-position: -168px -24px;
}

.icon-play-circle
{
    background-position: -192px -24px;
}

.icon-repeat
{
    background-position: -216px -24px;
}

.icon-refresh
{
    background-position: -240px -24px;
}

.icon-list-alt
{
    background-position: -264px -24px;
}

.icon-lock
{
    background-position: -287px -24px;
}

.icon-flag
{
    background-position: -312px -24px;
}

.icon-headphones
{
    background-position: -336px -24px;
}

.icon-volume-off
{
    background-position: -360px -24px;
}

.icon-volume-down
{
    background-position: -384px -24px;
}

.icon-volume-up
{
    background-position: -408px -24px;
}

.icon-qrcode
{
    background-position: -432px -24px;
}

.icon-barcode
{
    background-position: -456px -24px;
}

.icon-tag
{
    background-position: 0 -48px;
}

.icon-tags
{
    background-position: -25px -48px;
}

.icon-book
{
    background-position: -48px -48px;
}

.icon-bookmark
{
    background-position: -72px -48px;
}

.icon-print
{
    background-position: -96px -48px;
}

.icon-camera
{
    background-position: -120px -48px;
}

.icon-font
{
    background-position: -144px -48px;
}

.icon-bold
{
    background-position: -167px -48px;
}

.icon-italic
{
    background-position: -192px -48px;
}

.icon-text-height
{
    background-position: -216px -48px;
}

.icon-text-width
{
    background-position: -240px -48px;
}

.icon-align-left
{
    background-position: -264px -48px;
}

.icon-align-center
{
    background-position: -288px -48px;
}

.icon-align-right
{
    background-position: -312px -48px;
}

.icon-align-justify
{
    background-position: -336px -48px;
}

.icon-list
{
    background-position: -360px -48px;
}

.icon-indent-left
{
    background-position: -384px -48px;
}

.icon-indent-right
{
    background-position: -408px -48px;
}

.icon-facetime-video
{
    background-position: -432px -48px;
}

.icon-picture
{
    background-position: -456px -48px;
}

.icon-pencil
{
    background-position: 0 -72px;
}

.icon-map-marker
{
    background-position: -24px -72px;
}

.icon-adjust
{
    background-position: -48px -72px;
}

.icon-tint
{
    background-position: -72px -72px;
}

.icon-edit
{
    background-position: -96px -72px;
}

.icon-share
{
    background-position: -120px -72px;
}

.icon-check
{
    background-position: -144px -72px;
}

.icon-move
{
    background-position: -168px -72px;
}

.icon-step-backward
{
    background-position: -192px -72px;
}

.icon-fast-backward
{
    background-position: -216px -72px;
}

.icon-backward
{
    background-position: -240px -72px;
}

.icon-play
{
    background-position: -264px -72px;
}

.icon-pause
{
    background-position: -288px -72px;
}

.icon-stop
{
    background-position: -312px -72px;
}

.icon-forward
{
    background-position: -336px -72px;
}

.icon-fast-forward
{
    background-position: -360px -72px;
}

.icon-step-forward
{
    background-position: -384px -72px;
}

.icon-eject
{
    background-position: -408px -72px;
}

.icon-chevron-left
{
    background-position: -432px -72px;
}

.icon-chevron-right
{
    background-position: -456px -72px;
}

.icon-plus-sign
{
    background-position: 0 -96px;
}

.icon-minus-sign
{
    background-position: -24px -96px;
}

.icon-remove-sign
{
    background-position: -48px -96px;
}

.icon-ok-sign
{
    background-position: -72px -96px;
}

.icon-question-sign
{
    background-position: -96px -96px;
}

.icon-info-sign
{
    background-position: -120px -96px;
}

.icon-screenshot
{
    background-position: -144px -96px;
}

.icon-remove-circle
{
    background-position: -168px -96px;
}

.icon-ok-circle
{
    background-position: -192px -96px;
}

.icon-ban-circle
{
    background-position: -216px -96px;
}

.icon-arrow-left
{
    background-position: -240px -96px;
}

.icon-arrow-right
{
    background-position: -264px -96px;
}

.icon-arrow-up
{
    background-position: -289px -96px;
}

.icon-arrow-down
{
    background-position: -312px -96px;
}

.icon-share-alt
{
    background-position: -336px -96px;
}

.icon-resize-full
{
    background-position: -360px -96px;
}

.icon-resize-small
{
    background-position: -384px -96px;
}

.icon-plus
{
    background-position: -408px -96px;
}

.icon-minus
{
    background-position: -433px -96px;
}

.icon-asterisk
{
    background-position: -456px -96px;
}

.icon-exclamation-sign
{
    background-position: 0 -120px;
}

.icon-gift
{
    background-position: -24px -120px;
}

.icon-leaf
{
    background-position: -48px -120px;
}

.icon-fire
{
    background-position: -72px -120px;
}

.icon-eye-open
{
    background-position: -96px -120px;
}

.icon-eye-close
{
    background-position: -120px -120px;
}

.icon-warning-sign
{
    background-position: -144px -120px;
}

.icon-plane
{
    background-position: -168px -120px;
}

.icon-calendar
{
    background-position: -192px -120px;
}

.icon-random
{
    width: 16px;
    background-position: -216px -120px;
}

.icon-comment
{
    background-position: -240px -120px;
}

.icon-magnet
{
    background-position: -264px -120px;
}

.icon-chevron-up
{
    background-position: -288px -120px;
}

.icon-chevron-down
{
    background-position: -313px -119px;
}

.icon-retweet
{
    background-position: -336px -120px;
}

.icon-shopping-cart
{
    background-position: -360px -120px;
}

.icon-folder-close
{
    width: 16px;
    background-position: -384px -120px;
}

.icon-folder-open
{
    width: 16px;
    background-position: -408px -120px;
}

.icon-resize-vertical
{
    background-position: -432px -119px;
}

.icon-resize-horizontal
{
    background-position: -456px -118px;
}

.icon-hdd
{
    background-position: 0 -144px;
}

.icon-bullhorn
{
    background-position: -24px -144px;
}

.icon-bell
{
    background-position: -48px -144px;
}

.icon-certificate
{
    background-position: -72px -144px;
}

.icon-thumbs-up
{
    background-position: -96px -144px;
}

.icon-thumbs-down
{
    background-position: -120px -144px;
}

.icon-hand-right
{
    background-position: -144px -144px;
}

.icon-hand-left
{
    background-position: -168px -144px;
}

.icon-hand-up
{
    background-position: -192px -144px;
}

.icon-hand-down
{
    background-position: -216px -144px;
}

.icon-circle-arrow-right
{
    background-position: -240px -144px;
}

.icon-circle-arrow-left
{
    background-position: -264px -144px;
}

.icon-circle-arrow-up
{
    background-position: -288px -144px;
}

.icon-circle-arrow-down
{
    background-position: -312px -144px;
}

.icon-globe
{
    background-position: -336px -144px;
}

.icon-wrench
{
    background-position: -360px -144px;
}

.icon-tasks
{
    background-position: -384px -144px;
}

.icon-filter
{
    background-position: -408px -144px;
}

.icon-briefcase
{
    background-position: -432px -144px;
}

.icon-fullscreen
{
    background-position: -456px -144px;
}
