﻿.divautosize
{
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
}
#loading
{
    height:461px;
    width:461px;    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-image:url('images/loading-blue.gif');
}
#wait
{
    height:350px;
    width:350px;    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-image:url('images/waiting.gif');
}
/* body css */
#bodycontent
{
    float: left;
    width: 1096px;
    border: 1px solid rgb(204, 204, 204);
    min-height:650px;
}
#divbody
{
    width: 1220px;
    margin: 0 auto;
    min-height:750px;
}
#sidemenucontent
{
    float: left;
    border-right: 20px solid transparent;
	border-bottom:1px solid rgb(204, 204, 204);
	border-left:1px solid rgb(204, 204, 204);
}
/* side menu css*/
div#sidemenu{
  height:100%
}
#sidemenu {
	width: 100px;
	float: left;
	height: 100%;
	background-color: rgb(250, 250, 250);
	min-height:450px;
}
.sidemenu-container img {
	border: none;
}
.sidemenu-container a {
    display: block;
    transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
   /* margin-bottom: 20px;*/
    width: 40px;
    height: 60px;
}
.sidemenu-container a:hover {
    width: 70px;
    height: 70px;
}
.sidemenu-container li {
	display: inline;
	list-style: none;
}
.sidemenu-container ul {
	left: -35px;
	position: relative;
}
.sidemenu-item img {
	border: none; 
	margin: 5px 10px 0px; 
	width: 100%; 
}
.sidemenu-item span {
	/*padding-left: 20px;
	position: relative;
	top: -25px;
	font-size: 12px;*/
}
.sidemenu-item div {
	text-align: center;
    width: 100px;
    position: relative;
    top: -35px;
}

/* webgrid css */
.webgrid td
{
    border: 1px solid #E8EEF4;
    background-color: White;
}
.colRowButton
{
    width: 70px;
    text-align: left;
}
.webgrid td
{
    border: 1px solid #E8EEF4;
    background-color: White;
}
.webgrid a
{
    color: #fff;
}

.webgrid-header td
{
    padding: 0px 5px;
    text-align: center;
    height: 20px;
}

.webgrid-header th
{
    /*background-color: #333333;*/
    margin-bottom: 2px;
}
.webgrid-header th a
{
    color:rgb(27, 112, 145);
}

.webgrid-footer td
{
    padding: 6px 5px;
    text-align: left;
    color: #000;
    background-color: #F9F9F9;
    height: 20px;
    border: 1px solid #dfdada;
}
.webgrid-footer td a
{
    padding: 6px 5px;
    text-align: left;
    color: #000;
    background-color: #F9F9F9;
    height: 20px;
}

.webgrid-alternating-row td
{
    height: 22px;
    background-color: #f9f9f9;
}

.webgrid-row-style
{
    height: 22px;
    border-bottom: 1px solid #E8EEF4;
}

.webgrid-selected-row
{
    font-weight: bold;
}
