﻿/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
/*body
{
    background-color: #D4E6F8;
    font-size: 75%;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue" , Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}*/
body
{
    font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 5px 50px 150px;
    font-size: 13px;
    text-align: center;
    background: #DDDDDD;
    background-image: url(images/header.jpg);
    background-repeat: repeat-x;
}

.container-fluid-full
{
    margin: 0 auto;
    position: relative;
    width: 1147px;
    overflow: hidden;
}

.navbar .caret
{
    border-top-color: #fff !important;
    border-bottom-color: #fff !important;
}

.caret
{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid #000;
    border-right: 4px solid transparent;
    border-bottom: 0 dotted;
    border-left: 4px solid transparent;
    content: "";
}

.navbar .nav > li > a
{
    font-size: 13px !important;
    color: #fff !important;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus
{
    color: #fff;
    background-color: #080808;
}

.dropdown-menu > li > a
{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
}

.dropdown-menu li > a
{
    color: #555;
    line-height: 23px !important;
}

#add-Item
{
    height: 40px;
}

.open > .dropdown-menu
{
    display: block;
}

.form-control
{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

#logo
{
    margin: 8px 0px 0px;
    float: left;
    padding: 0px;
}

#mainmenu
{
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    /*margin-bottom: 2px;*/
    width: 1164px;
    height: 50px;
}

#btnFuelAnalysis{
    float:right;
    display:block;
    margin-right:0px;
    clear:left;
}

#div_body
{
    margin-left: auto;
    margin-right: auto;
    width: 1164px;
    min-height: 550px;
}

#from_result
{
    display: inline-block;
}

.welcome
{
    font: normal 12px/18px sans-serif;
    display: inline-block;
    position: relative;
    padding: 10px 10px;
    background: #fff;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    top: -5px;
    -moz-border-radius: 15px;
    border-radius: 7px;
    text-align: left;
}


a:link
{
    color: black;
    text-decoration: none;
}

a:visited
{
    /*color: #505abc;*/
}

a:hover
{
    /*color: #1d60ff;*/
    text-decoration: none;
}

a:active
{
    /*color: #12eb87;*/
}

/*p, ul
{
    margin-bottom: 20px;
    line-height: 1.6em;
}*/

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2
{
    padding: 0 0 10px 0;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#header
{
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
    background-color: rgb(59, 89, 152);
}

#sidebar
{
    float: right;
    margin: 10px;
    border: dotted 5px red;
    padding: 10px;
    width: 180px;
}

#header h1
{
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
}

#main
{
    padding: 30px 30px 15px 30px;
    background-color: #fff;
    margin-bottom: 30px;
    _height: 1px; /* only IE6 applies CSS properties starting with an underscore */
}

#footer
{
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0;
    font-size: .9em;
}

/* TAB MENU   
----------------------------------------------------------*/
/*ul#menu
{
    border-bottom: 1px #5C87B2 solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li
{
    display: inline;
    list-style: none;
}

ul#menu li#greeting
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #034af3;
}

ul#menu li a:hover
{
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active
{
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a
{
    background-color: #fff;
    color: #000;
}*/

.clickable_list li
{
    padding: 0px;
    height: 48px;
    -moz-border-radius: 15px;
    border-radius: 7px;
}

    .clickable_list li a
    {
        display: block;
        width: 100%;
        height: 100%;
        padding: 15px;
    }

ul
{
    text-align: left;
    display: inline;
    margin-top: 0px;
    list-style: none;
    -webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.15);
}

    ul li
    {
        font: bold 12px/18px sans-serif;
        display: inline-block;
        margin-right: -4px;
        position: relative;
        padding: 15px 20px;
        background: c5c5c5;
        cursor: pointer;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
    }

    ul p
    {
        font: bold 12px/18px sans-serif;
        display: inline-block;
        margin-right: -4px;
        position: relative;
        background: #fff;
        cursor: pointer;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
    }

    ul li:hover
    {
        background: #19A1FC;
        color: #fff;
    }

    ul li ul
    {
        padding: 0;
        position: absolute;
        top: 48px;
        left: 0;
        width: 150px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        display: none;
        opacity: 0;
        visibility: hidden;
        -webkit-transiton: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        -ms-transition: opacity 0.2s;
        -o-transition: opacity 0.2s;
        -transition: opacity 0.2s;
    }

        ul li ul li
        {
            background: #c5c5c5;
            display: block;
            color: #fff;
            text-shadow: 0 -1px 0 #000;
        }

            ul li ul li:hover
            {
                /*background: #666;*/
            }

    ul li:hover ul
    {
        display: block;
        opacity: 1;
        visibility: visible;
        z-index: 1000;
    }

    .fullWidth { 
width: 100%; 
margin-left: auto; 
margin-right: auto; 
max-width: initial; 
}

table
{
    box-shadow: 0px 0px 0px #fff;
}

.td_red
{
    color: #FFF;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding-left: 10px;
    font-weight: normal;
    text-align: left;
    background-color: #666;
    font-size: 13px;
    vertical-align: middle;
}

.td1
{
    
    background-color: #FFF;
      
}







/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    border: 1px solid #ddd;
    /*padding: 0 1.4em 1.4em 1.4em;*/
    margin: 0 0 0 0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
/*fieldset img
{
    width: 40px;
    height: 20px;
}*/
form
{
    height: auto;
}


fieldset legend
{
    top: -5px;
    vertical-align: middle;
    position: relative;
}

textarea
{
    min-height: 75px;
}

    input:focus, textarea:focus
    {
        border: 1px solid #7ac0da;
    }

input[type="text"], input[type="password"], input[type="email"]
{
    width: 200px;
    padding: 5px;
    border: 1px solid #CCC;
}

select
{
    padding: 4px;
    border: 1px solid #CCC;
    width: 210px;
}


/* TABLE
----------------------------------------------------------*/

/*table
{
    border: solid 1px #e8eef4;
}

table td
{
    padding: 5px;
}

table th
{
    width: 700px;
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4; 

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color: Red;
}

#menucontainer
{
    margin-top: 40px;
}

div#title
{
    display: block;
    float: left;
    text-align: left;
}

#logindisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: White;
}

    #logindisplay a:link
    {
        color: white;
        text-decoration: underline;
    }

    #logindisplay a:visited
    {
        color: white;
        text-decoration: underline;
    }

    #logindisplay a:hover
    {
        color: white;
        text-decoration: none;
    }

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, .editor-label, .error-msg
{
    /* margin: 1em 0 0 0;*/
}

.validation-msg
{
    width: 200px;
}

.display-field, .editor-field
{
    margin: 0.5em 0 0 0;
}

label
{
    float: left;
    font: 14px/18px Arial, sans-serif;
    color: #333;
    padding: 16px 0 0 0;
}

input, textarea
{
    /*border: 1px solid #e2e2e2; 	background: #fff; 	color: #333; 	font-size: 1.2em; 	margin: 5px 0 6px 0; 	padding: 5px; 	width: 200px;*/
}

.text-box
{
    width: 30em;
}

    .text-box.multi-line
    {
        height: 6.5em;
    }

.tri-state
{
    width: 6em;
}

.button
{
    clear: both;
    display: inline-block;
    padding: 5px;
    margin-top: 10px;
    border: 1px;
    background: #5e5b54;
    color: #fff;
    font-weight: bold;
}

.buttonGreen
{
    clear: both;
    display: inline-block;
    padding: 5px;
    margin-top: 10px;
    border: 1px;
    background: Green;
    color: #fff;
    font-weight: bold;
}

    .buttonGreen a
    {
        color: #fff !important;
    }

.button a
{
    color: #fff !important;
}

.editor-fieldd
{
    /*width: 20px;	
	margin: 20px auto;*/
    position: relative;
}

input[type=checkbox]
{
    /*visibility: hidden;*/
}
/*.editor-fieldd label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	border-radius: 4px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}
*/
.editor-fieldd label:after
{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 4px;
    left: 4px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.editor-fieldd label:hover::after
{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.editor-fieldd input[type=checkbox]:checked + label:after
{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

div.time-picker
{
    position: absolute;
    height: 191px;
    width: 5.0em; /* needed for IE */
    overflow: auto;
    background: #fff;
    border: 1px solid #aaa;
    z-index: 1099;
    margin: 0;
}

div.time-picker-12hours
{
    width: 6em; /* needed for IE */
}

div.time-picker ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.time-picker li
{
    cursor: pointer;
    height: 10px;
    font: 12px/1 Helvetica, Arial, sans-serif;
    padding: 4px 3px;
}

    div.time-picker li.selected
    {
        background: #0063CE;
        color: #fff;
    }

.buttonDispatch
{
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    padding: 10px 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 17px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
}

    .buttonDispatch:hover
    {
        border-top-color: #4264cc;
        background: #4264cc;
        color: #ccc;
    }

    .buttonDispatch:active
    {
        border-top-color: #1b385c;
        background: #1b385c;
    }

.buttonBook
{
    border-top: 1px solid #0cc918;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#09f225), to(#65a9d7));
    background: -webkit-linear-gradient(top, #09f225, #65a9d7);
    background: -moz-linear-gradient(top, #09f225, #65a9d7);
    background: -ms-linear-gradient(top, #09f225, #65a9d7);
    background: -o-linear-gradient(top, #09f225, #65a9d7);
    padding: 10px 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 17px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
}

    .buttonBook:hover
    {
        border-top-color: #0de809;
        background: #0de809;
        color: #ccc;
    }

    .buttonBook:active
    {
        border-top-color: #1b385c;
        background: #1b385c;
    }

.add-driver
{
    float: left;
    background-image: url(images/driveradd.fw.png);
    background-repeat: no-repeat;
    height: 45px;
    width: 180px;
}

.add-DriverLicenceType
{
    float: left;
    background-image: url(images/driver_licenseadd.fw.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 450px;
}

.add-DriverStatus
{
    float: left;
    background-image: url(images/driver_statusadd.fw.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 250px;
}

.add-DriverVehicleAssign
{
    float: left;
    background-image: url(images/driver_assignmentadd.fw.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 450px;
}

.add-Insuarance
{
    float: left;
    background-image: url(images/insuranceadd.fw.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 225px;
}

.add-Maintainance
{
    float: left;
    background-image: url(images/add-maintainance.png);
    background-repeat: no-repeat;
    height: 55px;
    width: 305px;
}

.add-Organisation
{
    float: left;
    background-image: url(images/add-organisation.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 250px;
}
.add-OrganisationType
{
    float: left;
    background-image: url(images/addOrganisationType.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 250px;
}

.add-Group
{
    float: left;
    background-image: url(images/groupadd.fw.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 250px;
}

.add-SmsSettings
{
    float: left;
    background-image: url(images/add-sms-settings.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 250px;
}

.add-action
{
    float: left;
    background-image: url(images/add-action.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 250px;
}

.add-controller-action
{
    float: left;
    background-image: url(images/add-controller-action.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 280px;
}

.add-controller-action-client-type
{
    float: left;
    background-image: url(images/add-controller-action-client-type.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 320px;
}
.add-controller-action-role
{
    float: left;
    background-image: url(images/add-controller-action-role.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 300px;
}

.add-controller
{
    float: left;
    background-image: url(images/add-controller.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 250px;
}

.add-module
{
    float: left;
    background-image: url(images/add-module.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 250px;
}





.add-SmsFormat
{
    float: left;
    background-image: url(images/add-sms-format.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 250px;
}

.add-OrganisationType
{
    float: left;
    background-image: url(images/add-organisation-type.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 250px;
}

.add-Department {
    float: left;
    background-image: url(images/add-department.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 250px;
}


.add-Price
{
    float: left;
    background-image: url(images/add-price.png);
    background-repeat: no-repeat;
    height: 68px;
    width: 250px;
}

.add-Device
{
    float: left;
    background-image: url(images/deviceadd.fw.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 250px;
}

.add-OrganisationType{
    float: left;
    background-image: url(images/addOrganisationType.png);
    background-repeat: no-repeat;
    height: 60px;
    width: 250px;

}
.add-InsuaranceType
{
    float: left;
    background-image: url(images/insurance_typeadd.fw.png);
    background-repeat: no-repeat;
    height: 45px;
    width: 280px;
}

.add-VehicleInsuarance
{
    float: left;
    background-image: url(images/vehicle_insuranceadd.fw.png);
    background-repeat: no-repeat;
    height: 42px;
    width: 300px;
}

.add-Vehicle
{
    float: left;
    background-image: url(images/vehicleadd.fw.png);
    background-repeat: no-repeat;
    height: 40px;
    width: 185px;
}

.add-VehicleFuelManagement
{
    float: left;
    background-image: url(images/vehicle_fuel_managementadd_b.fw.png);
    background-repeat: no-repeat;
    height: 44px;
    width: 450px;
}

.add-VehicleLicenceType
{
    float: left;
    background-image: url(images/vehicle_licence_typeadd_b.fw.png);
    background-repeat: no-repeat;
    height: 49px;
    width: 450px;
}

.add-VehicleLicenceDetail
{
    float: left;
    background-image: url(images/vehicle_licence_detailadd_b.fw.png);
    background-repeat: no-repeat;
    height: 49px;
    width: 450px;
}

.add-Customer
{
    float: left;
    background-image: url(images/customeradd.fw.png);
    background-repeat: no-repeat;
    height: 43px;
    width: 450px;
}

.add-Staff
{
    float: left;
    background-image: url(images/staffadd.png);
    background-repeat: no-repeat;
    height: 43px;
    width: 450px;
}
.add-ClientType{
    float: left;
    background-image: url(images/clienttype_fw.png);
    background-repeat: no-repeat;
    height: 59px;
    width: 450px;
}

.add-CustomerType
{
    float: left;
    background-image: url(images/customer_typeadd.fw.png);
    background-repeat: no-repeat;
    height: 45px;
    width: 450px;
}
.add-AlertRecepient
{
    float: left;
    background-image: url(images/add_alert_recipient.fw.png);
    background-repeat: no-repeat;
    height: 45px;
    width: 450px;
}
.add-AlertType
{
    float: left;
    background-image: url(images/add_alert_type.fw.png);
    background-repeat: no-repeat;
    height: 45px;
    width: 450px;
}
.add-RecepientAlertType
{
    float: left;
    background-image: url(images/add_alert_recipient_type.fw.png);
    background-repeat: no-repeat;
    height: 45px;
    width: 450px;
}

.add-VehicleDispatch
{
    float: left;
    background-image: url(images/book_b.fw.png);
    background-repeat: no-repeat;
    height: 45px;
    width: 450px;
}

#add-Item
{
    height: 40px;
}

