﻿html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#wrapper {
   min-height:100%;
   position:relative;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top:45px;   /* Needed for fixed headers/menu */
    padding-bottom:60px;   /* Height of the footer */
}

footer {
   
   bottom:0;
   width:100%;
   height:45px;   /* Height of the footer */
   background:#202020;
   position:fixed;
   padding-bottom: 13px;

}