﻿@model DataAccess.SQL.Action
@{
    ViewBag.Title = "Create";
    Layout = null;
}
@using (Html.BeginForm())
{
    
    <div id="wait" style="display: none;">
    </div>
    <div class="divautosize">
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>Action</legend>
            <div class="editor-label">
                @Html.LabelFor(model => model.ActionName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ActionName)
                @Html.ValidationMessageFor(model => model.ActionName)
            </div>
        </fieldset>
        <br />
        <div style="bottom: 0px; position: relative; float: right;">
            @if (ViewBag.IsUpdate == true)
            { 

                <button type="submit" id="btnUpdate" name="Command" value="Update" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                    <span class="ui-button-text">Update</span></button>
            }
            else
            { 
                <button type="submit" id="btnSave" name="Command" value="Save" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                    <span class="ui-button-text">Save</span></button>
            }
            <button type="button" id="btncancel" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                <span class="ui-button-text">Cancel</span></button>
            &nbsp; &nbsp;
        </div>
    </div>
}
@*<div>
    @Html.ActionLink("Back to List", "ActionIndex")
</div>*@ 