﻿@model DataAccess.SQL.ControllerActionClientType
@{
    Layout = null;
}
<style>
    input[type="checkbox"] {
    }

    fieldset {
        border: 1px solid #ddd;
        padding: 0 1.4em 1.4em 1.4em;
        margin: 0 0 0 0;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
    }

    #from_resultsuccess {
        color: green;
        text-align: center;
    }
</style>
<script type="text/javascript">

    var ClientTypeControlllerActions = [];
    $(document).ready(function () {
        var dataControlllerActions = $.parseJSON($('#hdndata').val());
        create_ControlllerActions(dataControlllerActions);
        $('#DropClientTypeId').change(function () { filter_clienttype_controllerActions(); });

        $("#ControllerActionClientTypeForm").submit(function (e) {
            var formURL = $(this).attr("action");
            var ClientTypeId = $("#DropClientTypeId").val();

            var param = $.param({
                ClientTypeId: ClientTypeId,
                selectedControllerActions: $('#selectedControllerActions:checked').map(function (_, el) { return $(el).val() }).get().toString(),
                chkIsEnabled: $("#chkIsEnabled").val()
            })

            console.log(chkIsEnabled);
            console.log(formURL);
            console.log($("#selectedControllerActions").val());
            $.ajax(
            {
                url: formURL,
                type: "POST",
                data: param,
                success: function (data, textStatus, jqXHR) {
                    $('#from_resultsuccess').html(data.Message);
                    $("#dialog-edit").dialog('close');
                    location.reload();
                    //data: return data from server
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    //if fails
                }
            });
            e.preventDefault(); //STOP default action
        });
    });
    function create_ControlllerActions(vs) {
    console.log('dfdf');
    $.each(vs, function () {
        ClientTypeControlllerActions.push(this);
        });
    }
    function filter_clienttype_controllerActions() {
        $('.selected_controller').removeAttr('checked');
        var ClientType_Controller_filter = $('#DropClientTypeId').val();
        $.each(ClientTypeControlllerActions, function () {
            if (ClientType_Controller_filter == this.ClientTypeId) {
                $('.selected_controller[value=' + this.ControllerActionId + ']').attr('checked', true);
            }
        });
    }
</script>
@using (Html.BeginForm("CreateControllerActionClientType", "SystemAuthorization", FormMethod.Post, new { @id = "ControllerActionClientTypeForm" }))
{
    <div id="wait" style="display: none;">
    </div>
    <div class="divautosize">
        @Html.ValidationSummary(true)
        <div id="from_result">
        </div>
        @if (ViewBag.IsUpdate == true)
        {
            @Html.HiddenFor(model => model.ControllerActionId)
            @Html.HiddenFor(model => model.ControllerActionClientTypeId)
            @Html.Hidden("isEditing", true)
        }
         <fieldset>
            <legend>ControllerActionClientType</legend>
            <div>
                @*<div class="editor-label">
                        @Html.LabelFor(model => model.RoleId, "aspnet_Roles")
                    </div>*@

                @*<div class="editor-field">*@

                @* </div>*@
                <div id="ControllerActionRoleLeft" style="float: left; padding-right: 7px;">
                    Client Types
                    @Html.DropDownList("ClientTypeId", (SelectList)ViewBag.RoleId, "All", new { id = "DropClientTypeId" })
                    @Html.ValidationMessageFor(model => model.ClientTypeId)
                    IsEnabled
                    @Html.CheckBoxFor(model => model.IsEnabled, new { @checked = "checked", id = "chkIsEnabled" })
                    <fieldset>
                        <legend>Controller Actions</legend>
                        <div style="float: left;left: 3px;position: relative;">
                            <input type="checkbox" onclick="for(c in document.getElementsByName('selectedControllerActions')) document.getElementsByName('selectedControllerActions').item(c).checked = this.checked" /> Select All<br />
                        </div>
                        <div id="DivControllers">
                            <div class="editor-field">
                                <table style="text-align: left;">
         <tr>
          @{
            int accesscnt = 0;
            List<GFleetV3.Models.GFleetControllerActions> ControllersActions = ViewBag.GFleetControllerActions;
            foreach (var controlleractions in ControllersActions)
        {
            if (accesscnt++ % 3 == 0)
            {

           @: </tr><tr>
              }
           @: <td>
                            <input type="checkbox" class="selected_controller"
                                   name="selectedControllerActions"
                                   id="selectedControllerActions"
                                   value="@controlleractions.ControllerActionId" />
                                          @controlleractions.ControllerActionName
           @:</td>
             }
           @:</tr>
           }
                                    </table>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
         </fieldset>
            <br />
            <div style="bottom: 0px; position: relative; float: right;">
                @if (ViewBag.IsUpdate == true)
                {

                    <button type="submit" id="btnUpdate" name="Command" value="Update" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                        <span class="ui-button-text">Update</span>
                    </button>
                }
                else
                {
                    <button type="submit" id="btnSave" name="Command" value="Save" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                        <span class="ui-button-text">Save</span>
                    </button>
                }
                <button type="button" id="btncancel" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                    <span class="ui-button-text">Cancel</span>
                </button>
                &nbsp; &nbsp;
            </div>
        </div>
}
@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@ @*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@ 