﻿@model DataAccess.SQL.ControllerActionRole

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ControllerActionRole</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.aspnet_Roles.RoleName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.aspnet_Roles.RoleName)
    </div>

    <div class="display-label">
          @Html.LabelFor(model => model.ControllerAction.Controller.ControllerName, "ControllerName")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ControllerAction.Controller.ControllerName)
    </div>

    <div class="display-label">
          @Html.LabelFor(model => model.ControllerAction.Action.ActionName, "ActionName")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ControllerAction.Action.ActionName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsEnabled)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsEnabled)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ControllerActionRoleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
