﻿@model IEnumerable<DataAccess.SQL.ControllerAction>

@{
    Layout = null;
    ViewBag.Title = "Action";
}

@Scripts.Render("~/bundles/jquery")
@Styles.Render("~/Content/data-grid.css")
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/themes/base/minified/jquery-ui.min.css")
<script type="text/javascript">
    $(document).ready(function () {
        $("tr:odd").addClass("data_odd");
        $("tr:even").addClass("data_even");

        $("#CreateControllerAction").live("click", function (e) {
            // e.preventDefault(); use this or return false
            var url = $(this).attr('href');
            loadDialog(url, 'dialog-edit', 'Create Action');
            return false;
        });

        $(".editDialog").live("click", function (e) {
            // e.preventDefault(); use this or return false
            var url = $(this).attr('href');
            $("#dialog-edit").dialog({
                title: 'Edit Action',
                position: [300, 100],
                autoOpen: false,
                resizable: false,
                width: 'auto',
                autoResize: true,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                dialogClass: "fixed-dialog",
                open: function (event, ui) {
                    $(this).load(url);
                }
            });

            $("#dialog-edit").dialog('open');
            return false;
        });

        $(".confirmDialog").live("click", function (e) {
            // e.preventDefault(); use this or return false
            var url = $(this).attr('href');

            $("#dialog-confirm").dialog({
                autoOpen: false,
                resizable: false,
                height: 170,
                width: 350,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                        window.location = url;
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
            });
            $("#dialog-confirm").dialog('open');
            return false;
        });

        $(".viewDialog").live("click", function (e) {
            // e.preventDefault(); use this or return false
            var url = $(this).attr('href');
            $("#dialog-view").dialog({
                title: 'View Driver',
                position: [300, 100],
                autoOpen: false,
                resizable: false,
                width: 'auto',
                autoResize: true,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                dialogClass: "fixed-dialog",
                open: function (event, ui) {
                    $(this).load(url);
                },
                buttons: {
                    "Close": function () {
                        $(this).dialog('close');
                    }
                }
            });

            $("#dialog-view").dialog('open');
            return false;
        });

        $("#btncancel").live("click", function (e) {
            location.reload(true);
            //$("#dialog-edit").dialog('close');

        });
    });
</script>
<div id="mainmenu">
    @Html.Partial("_ControllerMenu")
</div>
<table width="961" border="0" align="center" cellpadding="0">
    <tr>
        <td width="747" class="td1" valign="top">
            @Html.ActionLink(" ", "GfleetControllerActionCreate", "SystemAuthorization", null, new { @id = "CreateControllerAction", @class = "add-controller-action" })
            <table class="qlabs_grid_container">
                <thead>
                    <tr class="header_row">
                        <th class="subheader_cell">
                            @Html.DisplayNameFor(model => model.Action.ActionName)
                        </th>
                        <th class="subheader_cell">
                            @Html.DisplayNameFor(model => model.Controller.ControllerName)
                        </th>
                        <th class="subheader_cell">
                        </th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tbody class="data_container">
                        <tr>
                            <td class="data_cell">
                                @Html.DisplayFor(modelItem => item.Action.ActionName)
                            </td>
                            <td class="data_cell">
                                @Html.DisplayFor(modelItem => item.Controller.ControllerName)
                            </td>
                            <td class="data_cell">
                                <label>@Html.ActionLink("Edit", "ActionEdit", new { id = item.ActionId }, new { @class = "editDialog"/*, data_dialog_id = "edit-Dialog"*/ })</label>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        </td>
    </tr>
</table>
<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete ?
    </p>
</div>
<div id="dialog-edit" style="width: auto; height: auto;">
</div>
<div id="dialog-view" style="display: none">
</div>

