﻿@model DataAccess.SQL.GFleetController

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>GFleetController</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ControllerName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ControllerName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Url)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Url)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Module.ModuleName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Module.ModuleName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Active)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Active)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Controller2.ControllerName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Controller2.ControllerName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ControllerImgPath)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ControllerImgPath)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "GfleetControllerEdit", new { id = Model.ControllerId }) |
    @Html.ActionLink("Back to List", "GfleetControllerIndex")
</p>
