﻿@model DataAccess.SQL.GFleetController

@{
    Layout = null;
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>GFleetController</legend>

        @Html.HiddenFor(model => model.ControllerId)

        <div class="editor-label">
            @Html.LabelFor(model => model.ControllerName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ControllerName)
            @Html.ValidationMessageFor(model => model.ControllerName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Url)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Url)
            @Html.ValidationMessageFor(model => model.Url)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ModuleId, "Module")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ModuleId", String.Empty)
            @Html.ValidationMessageFor(model => model.ModuleId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Active)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Active)
            @Html.ValidationMessageFor(model => model.Active)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ParentId, "Parent Controller")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ParentId", String.Empty)
            @Html.ValidationMessageFor(model => model.ParentId)
        </div>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.ParentId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ParentId)
            @Html.ValidationMessageFor(model => model.ParentId)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.ControllerImgPath)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ControllerImgPath)
            @Html.ValidationMessageFor(model => model.ControllerImgPath)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <p>
            <input type="submit" value="GfleetController Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "GfleetControllerIndex")
</div>