﻿@model DataAccess.SQL.Module

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Module</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ModuleName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModuleName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "ModuleEdit", new { id = Model.ModuleId }) |
    @Html.ActionLink("Back to List", "ModuleIndex")
</p>
