﻿@{
    var msg = "";
   
    if (Request.IsAuthenticated)
    {
        string[] roles = Roles.GetRolesForUser(@HttpContext.Current.User.Identity.Name).ToArray<string>();
        string _Fullnames;
        
       if (roles.Contains("End User"))
        {
            
            _Fullnames = Taksi.Service.Utility.getCustomerName(@HttpContext.Current.User.Identity.Name);
            msg = "Welcome " + _Fullnames;
            
        }
        else
        {
            _Fullnames = @HttpContext.Current.User.Identity.Name;
            msg = "Welcome " + _Fullnames;
          
           
        }

        
            
        }
    
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/ico" href="~/Content/images/favicon.ico">
    <link rel="stylesheet" href="~/css/metro-bootstrap.css">
    <link rel="stylesheet" href="~/css/metro-bootstrap-responsive.css">
    <link rel="stylesheet" type="text/css" href="~/Scripts/jqPlot/jquery.jqplot.min.css" />
    <link href="~/css/iconFont.min.css" rel="stylesheet" />
    <link href="~/Content/Prettify/prettify.css" rel="stylesheet">
    <link href="~/Content/DataTables-1.10.4/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
    <script src="~/Scripts/jquery-2.1.3.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/taksi.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.3.min.js"></script>
    <script src="~/Scripts/Prettify/prettify.js"></script>
    <script src="~/js/metro/metro-loader.js"></script>
    <script src="~/js/metro.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.4/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery.nicescroll.min.js"></script>


    @*@Scripts.Render("~/bundles/jquery")

        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/Pretty")
        @Styles.Render("~/Content/DataTables")

        @Scripts.Render("~/bundles/Prettify")
        @Scripts.Render("~/bundles/dataTables")
        @Scripts.Render("~/bundles/taksi")*@

    <title></title>
    <style>
        #body
        {
            margin-top: 5%;
        }
    </style>

    <script>
        (function ($) {
            $.fn.drags = function (opt) {

                opt = $.extend({ handle: "", cursor: "move" }, opt);

                if (opt.handle === "") {
                    var $el = this;
                } else {
                    var $el = this.find(opt.handle);
                }

                return $el.css('cursor', opt.cursor).on("mousedown", function (e) {
                    if (opt.handle === "") {
                        var $drag = $(this).addClass('draggable');
                    } else {
                        var $drag = $(this).addClass('active-handle').parent().addClass('draggable');
                    }
                    var z_idx = $drag.css('z-index'),
                        drg_h = $drag.outerHeight(),
                        drg_w = $drag.outerWidth(),
                        pos_y = $drag.offset().top + drg_h - e.pageY,
                        pos_x = $drag.offset().left + drg_w - e.pageX;
                    $drag.css('z-index', 1000).parents().on("mousemove", function (e) {
                        $('.draggable').offset({
                            top: e.pageY + pos_y - drg_h,
                            left: e.pageX + pos_x - drg_w
                        }).on("mouseup", function () {
                            $(this).removeClass('draggable').css('z-index', z_idx);
                        });
                    });
                    e.preventDefault(); // disable selection
                }).on("mouseup", function () {
                    if (opt.handle === "") {
                        $(this).removeClass('draggable');
                    } else {
                        $(this).removeClass('active-handle').parent().removeClass('draggable');
                    }
                });

            }
        })(jQuery);
        $(document).ready(function () {
            $("html").niceScroll({ cursorcolor: "#00F" });
        });
    </script>
</head>
<body class="metro nojQuery">
    <div class="container">
        <header class="bg-dark" data-load="header.html">
            <nav class="navigation-bar fixed-top">
                <nav class="navigation-bar-content  container">


                    <a href="/Dashboard" class="element">
                      


                        <span style="width:70%;margin-top:-5px;color:black!important; font-size:25px;font-weight: 900;">
                            @{
                                string _BradName;
                                _BradName=Taksi.Service.Utility.getClientBrandName();
                        }
                            @_BradName
                    </span>

                  
                </a>
                <a href="javascript:toggle_sidebar()" class="element" title="Menu"><span class="icon-list" /></a>
                <span class="element-divider"></span>
                <a href="javascript:load_notifications()" id="btnNots" class="element" title="Notifications"><span class="icon-earth"/></a>
                <span class="element-divider"></span>
                @*<a href="" class="element" title="Messages"><span class="icon-comments-2" /></a>*@
                <span class="element-divider"></span>
                @*<a class="element1 pull-menu" href="#" />*@
                <a class="element" href="@Url.Action("Index","Dashboard")">Dashboard</a>
                    @*<a class="element" href="@Html.Partial("create", "Dashboard")">Reports & Analysis</a>*@
                    <a class="element" href="@Url.Action("create", "ReportAnalysis")">Reports</a>
                <a class="element" href="@Url.Action("GetApprovalData", "Dashboard")">Approvals</a>
                <a class="element" href="~/Help/TaksiHelpManual.html" target="_blank">Help</a>

                <span class="element-divider place-right"></span>
                <button id="Btnusername" class="element image-button image-left place-right">
                    @msg
                    <img src="" />
                </button>
                <div id="DivSigOut" class="signout light" style="display:none">
                    <nav class="sidebar light">
                        <ul>
                            <li>
                                <a href="~/Help/TaksiHelpManual.html" target="_blank">Help</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ChangePassword","Account")" " target=" _blank">Change Password</a>
                            </li>
                            <li>
                                @Html.ActionLink("LogOff", "LogOff", "Account")
                            </li>
                        </ul>
                    </nav>
                </div>
                <script type="text/javascript">
                    $("#Btnusername").click(function (e) {
                        e.preventDefault();
                        toggle_tools(this);
                    });
                </script>
            </nav>
        </nav>

    </header>

        <div class="container">
            <div id="body">
                @Html.Partial("_SideBar")
                @Html.Partial("_Notifications")
                @RenderSection("featured", required: false)
                <section class="content-wrapper main-content clear-fix">
                    @RenderBody()
                </section>
            </div>
        </div>
        @* @RenderSection("scripts", required: false)*@
    </div>


    <script type="text/javascript" src="@Url.Content("~/Content/jsPanel/jquery.jspanel-1.11.0.min.js")"></script>

    <link href="@Url.Content("~/Content/jsPanel/jsPanel.css")" rel="stylesheet" type="text/css" />
</body>
</html>