﻿<link rel="stylesheet" href="~/css/jquery.datetimepicker.css" />
<script src="~/js/jquery.datetimepicker.js"></script>
@{ 
string[] roles = Roles.GetRolesForUser(@HttpContext.Current.User.Identity.Name).ToArray<string>();
}

<script type="text/javascript">
    (function () {
        $("#sidebar").drags();
    });
</script>

<div class="hidden" id="sidebar">
    <nav class="sidebar light">
        <ul>
            <li class="title">Options</li>
            <li class="active"><a href="@Url.Action("Index","Dashboard")"><i class="icon-home"></i>Dashboard</a></li>
            <li class="stick bg-red"><a href="#"><i class="icon-stats-2"></i>Reports & Analysis</a></li>
            <li class="stick bg-yellow">
                <a class="dropdown-toggle" href="#"><i class="icon-tree-view"></i>Bookings</a>
                <ul class="dropdown-menu" data-role="dropdown">
                    <li><a href="javascript:toggle_newbooking()">New Booking</a></li>
                    <li><a href="">Booking History</a></li>
                </ul>
            </li>
            @if (roles.Contains("Organisation Admin") ||roles.Contains("OrganisationDepartment Admin"))
                {
                <li class="stick bg-yellow">
                    <a class="dropdown-toggle" href="#"><i class="icon-user"></i>User Management</a>
                    <ul class="dropdown-menu" data-role="dropdown">
                <li><a href="@Url.Action("Index","Users")">Users</a></li>

            @if (roles.Contains("Organisation Admin"))
                {
                <li><a href="@Url.Action("Index","DepartmentAdmin")">Department Admin</a></li>
                }
                    </ul>
                </li>
                }
            @if (roles.Contains("Organisation Admin"))
                {
                <li class="stick bg-yellow">
                    <a  href="@Url.Action("Index","Department")"><i class="icon-database"></i>Departments</a>                    
                </li>
                }
            <li><a href="javascript:toggle_sidebar()"> <i class="icon-arrow-up-right"></i>hide Menu</a></li>
        </ul>
    </nav>
</div>
