@model GFleetV3.Models.PagedVehicleNumberModel
@{
    ViewBag.Title = "Taksi";

    if (false)
    {
    <script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>
    }
}
<table width="961" height="292" border="0" align="center" cellpadding="0">
    <tr>
        <td width="208" height="169" class="td1" valign="top">
            @Html.Partial("_sidebarmenu", GFleetV3.Models.SideMenu.getSubmenu(@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()))
        </td>
        <td width="747" class="td1" valign="top">
            @Html.Partial("_VehicleNumberGrid", Model)
        </td>
    </tr>
</table>