﻿@model DataAccess.SQL.InsuaranceType
@{  
    Layout = null;
    if (false)
    {
    <script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>
    }
}
@using (Html.BeginForm("CreateEditInsuaranceType", "InsuaranceType", FormMethod.Post))
{  
    <div id="wait" style="display: none;">
    </div>
    <div class="divautosize">
        @Html.ValidationSummary(true)
        <div id="from_result">
        </div>
        @if (ViewBag.IsUpdate == true)
        { 
            @Html.HiddenFor(model => model.InsuaranceTypeId)
            @Html.Hidden("isEditing", true)
        }
        <fieldset>
            <div id="InsuaranceTypeLeft" style="float: left; padding-right: 7px;">
                <div class="editor-label">
                    @Html.LabelFor(model => model.InsuaranceTypeName)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.InsuaranceTypeName)
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.InsuaranceTypeName)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Active)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Active)
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.Active)
                </div>
            </div>
            <div id="InsuaranceTypeRight" style="float: right;">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Description)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.Description, new { style = "width:200px;padding: 5px;border: 1px solid #CCC;" })
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>
        </fieldset>
        <br />
        <div style="bottom: 0px; position: absolute;">
            @if (ViewBag.IsUpdate == true)
            { 

                <button type="submit" id="btnUpdate" name="Command" value="Update" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                    <span class="ui-button-text">Update</span></button>
            }
            else
            { 
                <button type="submit" id="btnSave" name="Command" value="Save" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                    <span class="ui-button-text">Save</span></button>
            }
            <button type="button" id="btncancel" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                <span class="ui-button-text">Cancel</span></button>
            &nbsp; &nbsp;
        </div>
    </div>
}
<script type="text/javascript">
    $(function () {
        dialogStartUp();
    });
</script>
