﻿@model GFleetV3.Models.PagedInsuranceTypeModel
@{
    ViewBag.Title = "Taksi";

    if (false)
    {
    <script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>
    }
    
}
<script src="../../Scripts/GfleetScripts.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#CreateInsuaranceType").live("click", function (e) {
            // e.preventDefault(); use this or return false
            var url = $(this).attr('href');
            loadDialog(url, 'dialog-edit', 'Create InsuaranceType');
            return false;
        });

        $(".editDialog").live("click", function (e) {
            // e.preventDefault(); use this or return false
            var url = $(this).attr('href');
            loadDialog(url, 'dialog-edit', 'Edit InsuaranceType');
            return false;
        });

        $(".confirmDialog").live("click", function (e) {
            // e.preventDefault(); use this or return false
            var url = $(this).attr('href');

            $("#dialog-confirm").dialog({
                autoOpen: false,
                resizable: false,
                height: 170,
                width: 350,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                        window.location = url;
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
            });
            $("#dialog-confirm").dialog('open');
            return false;
        });

        $(".viewDialog").live("click", function (e) {
            // e.preventDefault(); use this or return false
            var url = $(this).attr('href');
            $("#dialog-view").dialog({
                title: 'View InsuaranceType',
                position: [300, 100],
                autoOpen: false,
                resizable: false,
                width: 'auto',
                autoResize: true,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                dialogClass: "fixed-dialog",
                open: function (event, ui) {
                    $(this).load(url);
                },
                buttons: {
                    "Close": function () {
                        $(this).dialog('close');
                    }
                }
            });

            $("#dialog-view").dialog('open');
            return false;
        });

        $("#btncancel").live("click", function (e) {
            location.reload(true);
            //$("#dialog-edit").dialog('close');

        });
    });
</script>
<table width="961" border="0" align="center" cellpadding="0">
    <tr>
        <td height="42" colspan="2" class="td1" align="right">
        </td>
    </tr>
    <tr>
        <td width="208" class="td1" valign="top">
            @*@Html.Partial("_sidebarmenu", GFleetV3.Models.SideMenu.getSubmenu("Insuarance"))*@
            @Html.Partial("_sidebarmenu", GFleetV3.Models.SideMenu.getSubmenu(@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()))
        </td>
        <td width="747" class="td1" valign="top">
            <div id="add-Item">
                @Html.ActionLink(" ", "Create", "InsuaranceType", null, new { @id = "CreateInsuaranceType", @class = "add-InsuaranceType" })
            </div>
            @Html.Partial("_InsuaranceTypeGrid", Model)
        </td>
    </tr>
</table>
<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete ?
    </p>
</div>
<div id="dialog-edit" style="width: auto; height: auto;">
</div>
<div id="dialog-view" style="display: none">
</div>
