@model DataAccess.SQL.OrganisationDepartment
@{
    ViewBag.Title = "User Management";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}
<style type="text/css">
    .metro .input-control.text input, .metro .input-control.password input, .metro .input-control.file input, .metro .input-control.email input, .metro .input-control.tel input, .metro .input-control.number input
    {
        border: 1px #d9d9d9 solid;
        width: 100%;
        height: 100%;
        padding: 5px;
        z-index: 1;
        /* -webkit-appearance: none; */
    }
</style>
@using (Html.BeginForm("createEditOrganisationDepartment", "Department", "", FormMethod.Post, new { @id = "DeparmentAdminForm", enctype = "multipart/form-data" }))
{
    <div id="wait" style="display: none;">
    </div>
<div class="divautosize panel">
    @Html.ValidationSummary(true)
        <div class="panel-header">
            @ViewData["heading"]
        </div>
    <div id="from_result">
    </div>
    @if (ViewBag.IsUpdate == true)
        {
            @Html.HiddenFor(model => model.OrganisationDeptId)
            @Html.Hidden("isEditing", true)
        }
            <fieldset>
                @*<legend>Personal Details</legend>*@
                <div id="DivPersonalDetailsLeft" style="float: left; padding-right: 7px;">
                    <div class="form_item">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.DepartmentName)
                        </div>
                        <div class="input-control text">
                            @Html.TextBoxFor(model => model.DepartmentName)
                            <button class="btn-clear"></button>
                        </div>
                        <div class="validation-msg">
                            @Html.ValidationMessageFor(model => model.DepartmentName)
                        </div>
                    </div>
                    <div class="form_item">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Active)
                        </div>
                        <div class="input-control text">
                            @Html.EditorFor(model => model.Active,  new {@id = "chkActive" })
                            <button class="btn-clear"></button>
                        </div>
                        <div class="validation-msg">
                            @Html.ValidationMessageFor(model => model.Active)
                        </div>
                    </div>
                </div>
            </fieldset>
    <br />
    <div>
        <a href="@Url.Action("Index", "Department")">&#171; Back to List</a>
    </div>
    <div id="SaveAccount" class="button-set">
        @if (ViewBag.IsUpdate == true)
                {

                    <button type="submit" id="btnUpdate" name="Command" value="Update" class="image-button bg-darkGreen fg-white image-left">
                        Update
                        <i class="icon-arrow-right-3 bg-green fg-white"></i>
                    </button>
        }
                else
                {
                    <button type="submit" id="btnSave" name="Command" value="Save" class="image-button bg-darkGreen fg-white image-left">
                        Save
                        <i class="icon-arrow-right-3 bg-green fg-white"></i>
                    </button>
        }
                <button type="button" id="btncancelpassenger" class="image-button bg-teal fg-white image-right">
                    Cancel
                    <i class="icon-cancel bg-green fg-white"></i>
                </button>
        &nbsp; &nbsp;
    </div>
</div>
}
<script type="text/javascript">
    $(function () {
        dialogStartUp();
    });
</script>
