@model  GFleetV3.Models.DetailedHistory
@{
    Layout = null;
    int cnt = 0;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <meta name="viewport" content="width=device-width" />
    <title>@Model.title</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/Reports/reports.css")
    <script type="text/javascript">
        $(document).ready(function () {
            $(".headerday").click(function (e) {
                var tablename = this.id.replace("header", "table");
                if ($('#' + tablename).css("display") == "none") {
                    $('#' + tablename).css("display", "table");
                } else {
                    $('#' + tablename).css("display", "none");
                }
            });

            $("#btnXLS").click(function (e) {
                post("xls");
            });
            $("#btnCSV").click(function (e) {
                post("csv");
            });
            $("#btnDOC").click(function (e) {
                post("DOC");
            });
            $("#btnXML").click(function (e) {
                post("xml");
            });
            $("#btnHTML").click(function (e) {
                post("html");
            });
            $("#btnPDF").click(function (e) {
                post("pdf");
            });

            $.urlParam = function (name) {
                var results = new RegExp('[\\?&]' + name + '=([^&#]*)', 'gi').exec(window.location.href);
                return results[1] || 0;
            }
        });



        function post(reportType) {
            var params = $.param({
                reportType: reportType,
                //data: 'asDgfsdrgsdfbgf'
                //data: $('#reportdata').html()
                type: $.urlParam('type'),
                startDate: $.urlParam('startDate'),
                endDate: $.urlParam('endDate'),
                regNo: $.urlParam('regNo')
            });
            window.open('export/?' + params);
        }

        function ajax_error(request, text, error) {
            console.log(request);
            console.log(text);
            console.log(error);
        }
    </script>
</head>
<body>
    <div class="btnsbar">
        <button id="btnExportToExcel" value="xls">
            To Excel</button>
        <button type="button" value="xls" id="btnXLS" class=" x-btn-text icon-pagewhiteexcel">
            XLS</button>
        <button type="button" value="csv" id="btnCSV" class=" x-btn-text icon-pageattach">
            CSV</button>
        <button type="button" value="doc" id="btnDOC" class=" x-btn-text icon-pagewhiteword">
            DOC</button>
        <button type="button" value="xml" id="btnXML" class=" x-btn-text icon-pagewhitecode">
            XML</button>
        <button type="button" value="html" id="btnHTML" class=" x-btn-text icon-pagewhiteh">
            HTML</button>
        <button type="button" value="pdf" id="btnPDF" class=" x-btn-text icon-pagewhiteacrobat">
            PDF</button>
    </div>
    <div id="header">
        <h1>
            &nbsp;</h1>
        <div id="time-and-date">
            @Model.time
        </div>
        <div id="description">
            
            @Model.title @Model.header 
        </div>
    </div>
    <div id="reportdata">
        @foreach (GFleetV3.Models.DetailedHistoryPayload payload in Model.data)
        {
            <div class="day" id="day@(payload.recNo.ToString())">
                <h2 class="headerday" id="header@(payload.recNo.ToString())">@payload.DayDate</h2>
                <table cellpadding="0" id="table@(payload.recNo.ToString())" class="tabledata">
                    <thead>
                        <tr>
                            <th>
                                Time
                            </th>
                            <th>
                                Event
                            </th>
                            <th>
                                Street
                            </th>
                            <th>
                                Town
                            </th>
                            <th>
                                Dir
                            </th>
                            <th>
                                Speed
                            </th>
                            <th>
                                Odometer
                            </th>
                            <th>
                                Driver
                            </th>
                            <th>
                                Reg
                            </th>
                            <th>
                                sat
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DataAccess.SQL.Report_History_V3_Result data in payload.Reports)
                        { 
                            <tr class=@(cnt++ % 2 == 0 ? "even" : "odd")>
                                <td class="cust-name">@data.time
                                </td>
                                <td>@data.EventName
                                </td>
                                <td>@data.street
                                </td>
                                <td>@data.town
                                </td>
                                <td>@data.Direction
                                </td>
                                <td>@data.Speed
                                </td>
                                <td>@data.distance
                                </td>
                                <td>@data.Driver
                                </td>
                                <td>@data.Reg
                                </td>
                                <td class="sat">
                                    <a href="http://maps.google.co.uk/?q=@data.Latitude,@data.Longitude&t=h&z=18" target="_blank">
                                        sat</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div> 
        }
    </div>
    <div id="message">
        @ViewBag.message
    </div>
</body>
</html>
