@*@model DataAccess.SQL.SystemUser*@
@model GFleetV3.Models.ClientStaffRegisterModel
@{
    Layout = null;
    if (false)
    {
    <script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>
    }
}
<style>
    form
    {
        height: auto;
    }
    legend
    {
        /*font-size: 18px;*/
        margin: 0px;
        padding: 10px 0px; /*color: #b0232a;*/
        font-weight: bold;
    }
    .prev, .next
    {
        background-color: #b0232a;
        padding: 5px 10px;
        color: #fff;
        text-decoration: none;
    }
    .prev:hover, .next:hover
    {
        background-color: #000;
        text-decoration: none;
    }
    .prev
    {
        float: left;
    }
    .next
    {
        float: right;
    }
    #steps
    {
        list-style: none;
        width: 100%;
        overflow: hidden;
        margin: 0px;
        padding: 0px;
    }
    #steps li
    {
        font-size: 24px;
        float: left;
        padding: 10px;
        color: #b0b1b3;
    }
    #steps li span
    {
        font-size: 11px;
        display: block;
    }
    #steps li.current
    {
        color: #000;
    }
</style>
<script type="text/javascript">
    $(function () {
        $("#dateOfBirth").datepicker({ dateFormat: 'yy-mm-dd' });
    });
    (function ($) {
        $.fn.formToWizard = function (options) {
            options = $.extend({
                submitButton: ""
            }, options);

            var element = this;

            var steps = $(element).find("fieldset");
            var count = steps.size();
            var submmitButtonName = "#" + options.submitButton;
            //            $(submmitButtonName).hide();

            // 2
            $(element).before("<ul id='steps'></ul>");

            steps.each(function (i) {
                $(this).wrap("<div id='step" + i + "'></div>");
                $('#step' + i).append("<p id='step" + i + "commands'></p>");
                //                $(this).wrap("<div id='step" + i + "'></div>");
                //                $(this).append("<p id='step" + i + "commands'></p>");

                // 2
                var name = $(this).find("legend").html();
                $("#steps").append("<li id='stepDesc" + i + "'>Step " + (i + 1) + "<span>" + name + "</span></li>");

                if (i == 0) {
                    createNextButton(i);
                    selectStep(i);
                }
                else if (i == count - 1) {
                    $("#step" + i).hide();
                    createPrevButton(i);
                }
                else {
                    $("#step" + i).hide();
                    createPrevButton(i);
                    createNextButton(i);
                }
            });

            function createPrevButton(i) {
                var stepName = "step" + i;
                $("#" + stepName + "commands").append("<a href='#' id='" + stepName + "Prev' class='prev'>< Back</a>");

                $("#" + stepName + "Prev").bind("click", function (e) {
                    $("#" + stepName).hide();
                    $("#step" + (i - 1)).show();
                    //                    $(submmitButtonName).hide();
                    selectStep(i - 1);
                });
            }

            function createNextButton(i) {
                var stepName = "step" + i;
                $("#" + stepName + "commands").append("<a href='#' id='" + stepName + "Next' class='next'>Next ></a>");

                $("#" + stepName + "Next").bind("click", function (e) {
                    $("#" + stepName).hide();
                    $("#step" + (i + 1)).show();
                    //                    if (i + 2 == count)
                    //                        $(submmitButtonName).show();
                    selectStep(i + 1);
                });
            }

            function selectStep(i) {
                $("#steps li").removeClass("current");
                $("#stepDesc" + i).addClass("current");
            }

        }
    })(jQuery);
    $(document).ready(function () {
        $("#ClientStaffForm").formToWizard({ submitButton: 'SaveAccount' })
    });
</script>
@using (Html.BeginForm("CreateEditClientStaff", "ClientStaff", FormMethod.Post, new { @id = "ClientStaffForm" }))
{  <div id="wait" style="display: none;">
    </div>
    <div class="divautosize">
        <div id="from_result">
        </div>
        @if (ViewBag.IsUpdate == true)
        { 
            @Html.HiddenFor(model => model.ClientStaffModel.PersonId)
            @Html.Hidden("isEditing", true)
        }
        <fieldset>
            <legend>Personal Details</legend>
           @* <div id="DivPersonalDetailsLeft" style="float: left; padding-right: 7px;">
                <div class="editor-label">
                    @Html.LabelFor(model => model.ClientStaffModel.FirstName)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ClientStaffModel.FirstName)
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.ClientStaffModel.FirstName)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.ClientStaffModel.LastName)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ClientStaffModel.LastName)
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.ClientStaffModel.LastName)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.ClientStaffModel.Email1)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ClientStaffModel.Email1)
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.ClientStaffModel.Email1)
                </div>
            </div>*@
            <div id="ClientRight2" style="float: right; padding-right: 7px;">
                <div class="editor-label">
                    @Html.LabelFor(model => model.RegisterStaffModel.Email)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.RegisterStaffModel.Email)
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.RegisterStaffModel.Email)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.RegisterStaffModel.Password)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(model => model.RegisterStaffModel.Password)
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.RegisterStaffModel.Password)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.RegisterStaffModel.ConfirmPassword)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(model => model.RegisterStaffModel.ConfirmPassword)
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.RegisterStaffModel.ConfirmPassword)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.RegisterStaffModel.UserRole)
                </div>
                <div class="editor-field">
                    @*@Html.DropDownListFor(model => model.RegisterStaffModel.UserRole, new SelectList(ViewBag.RoleName as SelectList, "Value", "Text"), "Please Select Role", new { id = "RoleName" })*@
                    @Html.DropDownListFor(m => m.RegisterStaffModel.UserRole.RoleName, new SelectList(ViewBag.RoleName, "Value", "Text"), "Please Select Role")
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.RegisterStaffModel.UserRole)
                </div>
            </div>
            @*<div id="DivPersonalDetailsRight" style="float: right; padding-right: 7px;">
                <div class="editor-label">
                    @Html.LabelFor(model => model.ClientStaffModel.IsMale)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ClientStaffModel.IsMale, "Gender")
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.ClientStaffModel.IsMale)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.ClientStaffModel.DOB)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.ClientStaffModel.DOB, "{0:d}", new { id = "dateOfBirth", placeholder = "Date Of Birth" })
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.ClientStaffModel.DOB)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.ClientStaffModel.Telephone1)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ClientStaffModel.Telephone1)
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.ClientStaffModel.Telephone1)
                </div>
            </div>*@
        </fieldset>
        <fieldset>
            <legend>Other Details</legend>
            @*<div id="DivOtherDetailsLeft" style="float: left; padding-right: 7px;">
                <div class="editor-label">
                    @Html.LabelFor(model => model.ClientStaffModel.Email2)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ClientStaffModel.Email2)
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.ClientStaffModel.Email2)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.ClientStaffModel.Telephone2)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.ClientStaffModel.Telephone2)
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.ClientStaffModel.Telephone2)
                </div>
            </div>
            <div id="DivOtherDetailsRight" style="float: right;">
                <div class="editor-label">
                    @Html.LabelFor(model => model.ClientStaffModel.FaxNumber)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.ClientStaffModel.FaxNumber)
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.ClientStaffModel.FaxNumber)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.ClientStaffModel.PostCode)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ClientStaffModel.PostCode)
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.ClientStaffModel.PostCode)
                </div>
            </div>*@
        </fieldset>
        <fieldset>
            <legend>Next Of Kin Details</legend>
          @*  <div id="NextOfKinLeft" style="float: left; padding-right: 7px;">
                <div class="editor-label">
                    @Html.LabelFor(model => model.ClientStaffModel.NextOfKinName1)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ClientStaffModel.NextOfKinName1)
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.ClientStaffModel.NextOfKinName1)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.ClientStaffModel.Association1)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ClientStaffModel.Association1)
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.ClientStaffModel.Association1)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.ClientStaffModel.NextOfKinEmail1)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.ClientStaffModel.NextOfKinEmail1)
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.ClientStaffModel.NextOfKinEmail1)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.ClientStaffModel.NextOfKinPhone1)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.ClientStaffModel.NextOfKinPhone1)
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.ClientStaffModel.NextOfKinPhone1)
                </div>
            </div>
            <div id="NextOfKinRight" style="float: right;">
                <div class="editor-label">
                    @Html.LabelFor(model => model.ClientStaffModel.NextOfKinName2)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ClientStaffModel.NextOfKinName2)
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.ClientStaffModel.NextOfKinName2)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.ClientStaffModel.Association2)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ClientStaffModel.Association2)
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.ClientStaffModel.Association2)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.ClientStaffModel.NextOfKinEmail2)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ClientStaffModel.NextOfKinEmail2)
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.ClientStaffModel.NextOfKinEmail2)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.ClientStaffModel.NextOfKinPhone2)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ClientStaffModel.NextOfKinPhone2)
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.ClientStaffModel.NextOfKinPhone2)
                </div>
            </div>*@
        </fieldset>
    </div>
    <br />
    <div id="SaveAccount">
        @if (ViewBag.IsUpdate == true)
        { 

            <button type="submit" id="btnUpdate" name="Command" value="Update" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                <span class="ui-button-text">Update</span></button>
        }
        else
        { 
            <button type="submit" id="btnSave" name="Command" value="Save" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                <span class="ui-button-text">Save</span></button>
        }
        <button type="button" id="btncancel" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
            <span class="ui-button-text">Cancel</span></button>
        &nbsp; &nbsp;
    </div>
}

<script type="text/javascript">
    $(function () {
        dialogStartUp(displayResult);
    });
    function displayResult(data) {
        console.log(data);
        data = data.Data;
        var table = document.getElementById("gridData");
        var rowCount = table.rows.length;
        var row = table.insertRow(rowCount);
        row.className = rowCount % 2 == 0 ? "data_even" : "data_odd";

        var names = row.insertCell(0);
        var email = row.insertCell(1);
        var telephone = row.insertCell(2);
        var postcode = row.insertCell(3);
        var gender = row.insertCell(4);
        var faxnumber = row.insertCell(5);
        var creditlimits = row.insertCell(6);
        var action = row.insertCell(7);

        names.innerHTML = data.FullNames; names.className = "data_cell";
        email.innerHTML = data.Email1; email.className = "data_cell";
        telephone.innerHTML = data.Telephone1; telephone.className = "data_cell";
        postcode.innerHTML = data.PostCode; postcode.className = "data_cell";
        gender.innerHTML = data.IsMale; gender.className = "data_cell";
        faxnumber.innerHTML = data.FaxNumber; faxnumber.className = "data_cell";
        creditlimits.innerHTML = data.CreditLimit; creditlimits.className = "data_cell";
        var element1 = document.createElement("label");
        var a = document.createElement('a');
        var linkText = document.createTextNode("Edit");
        a.appendChild(linkText);
        a.setAttribute("class", "editDialog");
        a.title = "Edit";
        a.href = "/ClientStaff/Edit/" + data.Id;
        element1.appendChild(a);
        action.appendChild(element1); action.className = "data_cell";
    }
</script>
