@model GFleetV3.Models.PagedClientStaffModel
@{
    Layout = null;
    WebGrid grid = new WebGrid(rowsPerPage: Model.PageSize);
    grid.Bind(Model.ClientStaff,
              autoSortAndPage: false,
              rowCount: Model.TotalRows
              );
    if (false)
    {
    <script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>
    }
}
@grid.GetHtml(
        htmlAttributes: new { id = "gridData" },
        fillEmptyRows: false,
        tableStyle: "qlabs_grid_container",//"webgrid",
        headerStyle: "header_row",//"webgrid-header",
        footerStyle: "webgrid-footer",
        alternatingRowStyle: "data_even",//"webgrid-alternating-row",
        selectedRowStyle: "webgrid-selected-row",
        rowStyle: "data_odd", //"webgrid-row-style",
        mode: WebGridPagerModes.All,
                firstText: "<< First",
                previousText: "< Prev",
                nextText: "Next >",
                lastText: "Last >>",
    columns: new[] {
        
        grid.Column("Email",style: "data_cell namewarap", 
                    header: "Username"),
        grid.Column("CreateDate",style: "data_cell", 
                    header: "CreateDate"),
        grid.Column("LastLoginDate",style: "data_cell", 
                    header: "Last Login Date"),
        grid.Column("",style: "data_cell", 
                    header: "Actions",
                    format: @<text>
                    @if (item.IsLockedOut)
                    {
                        <label>@Html.ActionLink("Unlock User", "UnLockUser", new { username = item.Email }, new { @class = "confirmDialog" })</label>
                        }
                    @if (item.IsApproved)       
                                   {
                        <label style="margin-right: 5px;">
                            @Html.ActionLink("Disapprove", "DisapproveUser", new { username = item.Email }, new { @class = "confirmDialog" })</label>
                        }
                        else{
                        <label style="margin-right: 5px;">
                        @Html.ActionLink("Approve", "ApproveUser", new { username = item.Email }, new { @class = "confirmDialog" })</label>
                        }
                        <label>@Html.ActionLink("Change Password", "ChangePassword", new { username = item.Email }, new { @class = "changePassDialog" })</label>
                        </text>
        )
})
<script type="text/javascript">
    InitGrid('gridData');
</script>
