﻿@{

    ViewBag.Title = "Taksi";

    if (false)
    {
        <script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>
        <script src="../../Scripts/dataTable/dataTables.js" type="text/javascript"></script>
        <script src="../../Scripts/dataTable/ZeroClipboard.js" type="text/javascript"></script>
        <script src="../../Scripts/dataTable/TableTools.js" type="text/javascript"></script>
        <link href="../../content/reports/TableTools.css" rel="Stylesheet" type="text/css" />
    }
}

@Scripts.Render("~/bundles/dash")
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/themes/base/minified/jquery-ui.min.css")

<link href="@Url.Content("~/Content/jsPanel/jsPanel.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    $(document).ready(function () {

        $("#StartDate").datepicker();
        $("#EndDate").datepicker();
        $('#StartDate').datepicker({ defaultDate: -7 }).datepicker('setDate', -7);
        $('#EndDate').datepicker().datepicker('setDate', new Date());
    });
</script>
<div id="dropDownListVehiclesReg" style="width: 1200px; margin: 0 auto;">

    <fieldset>
        <div id="from_result">
        </div>
        <div id="criteria" style="padding-left: 50px;">
            <div class="DivVehicles">
                <table id="TblVehicles" style="text-align: left;">
                    <tr>
    @{
                            int accessclientcnt = 0;
                            List<GFleetV3.Models.Vehicles> vehicles = ViewBag.Vehicles;
                            foreach (var vehicle in vehicles)
                            {
                                if (accessclientcnt++ % 6 == 0)
                                {
                                    @:  </tr> <tr>
                                     }
                                    @:<td>


                    <input type="checkbox"
                           name="selectedVehicles"
                           value="@vehicle.VehicleId" />
                    @vehicle.VehicleRegCode
                    @: </td>
               
                            }
                                    @:</tr>
                                
                        }

                    </table>
                </div>
                <div id="StartDateCriteria" style="float: left; padding-right: 10px;">
                    <div class="editor-field">
                        @Html.TextBox("StartDate", null, "{0:yyyy-MM-dd}", new { id = "StartDate", placeholder = "Start Date" })
                    </div>
                </div>
                <div id="EndDateCriteria" style="float: left; padding-right: 10px;">
                    <div id="divEndDate" style="float: left; padding-right: 10px;">
                        <div class="editor-field">
                            @Html.TextBox("EndDate", null, "{0:yyyy-MM-dd}", new { id = "EndDate", placeholder = "End Date" })
                        </div>
                    </div>
                    <div id="divsearch" style="float: right;">
                        <input type="submit" id="btn_generatefuelchart" name="search" value="Generate Chart ..." class="btn" />
                    </div>
                </div>
            </div>
        </fieldset>
        
    </div>
    <div id="wait" style="display: none;">
    </div>
    <div id="divdashboard" style="width: 1200px; margin: 0 auto;">
        <div id="containerVehicleFuelConsumptionAnalysis" style="width: 900px;  height: 500px; margin: 0 auto;"></div>
    </div>
    <script type="text/javascript">

        var graph_data;
        var output = get_output();

        function get_output() {
            var d = new Date();
            var month = d.getMonth() + 1;
            var day = d.getDate();
            return d.getFullYear() + '/' +
                (month < 10 ? '0' : '') + month + '/' +
                (day < 10 ? '0' : '') + day;
        }

        function ajax_error(request, text, error) {
            update_pending = false;
            // close_progress();
            // log('request: ' + request.responseText);
            log('text: ' + text);
            log('error: ' + error);
        }


        $(document).on("click", "#btn_generatefuelchart", function () {

            var StartDate = $('#StartDate').val();
            var EndDate = $('#EndDate').val();

            var VehicleIds = [];

            $("#TblVehicles input:checkbox:checked").map(function () {
                VehicleIds.push($(this).val());
            });
            var params = $.param({
                StartDate: StartDate,
                EndDate: EndDate,
                VehicleIds: VehicleIds
            });
            var check_all = $("button[type=button][clicked=true].check_all").length;
            if (validatemoredata(check_all != 0 ? false : true, StartDate, EndDate)) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("VehicleFuelAnalysisData", "VehicleFuelConsumptionAnalysis")',
                    data: params,
                    success: function (graphdata) {

                        graph_data = graphdata;

                        $.get('/VehicleFuelConsumptionAnalysis/VehicleFuelConsumptionAnalysis', function (data) {
                            $('#containerVehicleFuelConsumptionAnalysis').html(data);
                        });

                    },
                    beforeSend: function () {
                        showWaiting();
                        //location.reload(true);
                    },
                    complete: function () {
                        closeWaiting();
                        //location.reload(true);
                    }
                });
            }
        });
        function validatemoredata(check_all, StartDate, EndDate) {
            if (check_all == null) check_all = false;

            if (StartDate.length < 1) {
                $('#from_result').html("<span style='color: red;font-size: large;'>Kindly enter start date</span>");
                return false;
            }
            if (EndDate.length < 1) {
                $('#from_result').html("<span style='color: red;font-size: large;'>Kindly enter end date</span>");
                return false;
            }
            if ($('input[name="selectedVehicles"]:checked').val() == null) {
                $('#from_result').html("<span style='color: red;font-size: large;'>Kindly select Vehicle</span>");
                return false;
            }
            else {
                return true;
            }
        }
        function showWaiting() {
            $.blockUI({
                message: $('#wait')
            });
        }
        function closeWaiting() {
            $.unblockUI();
        }
        @*$.ajax({
            url: '@Url.Action("VehicleFuelAnalysisData", "VehicleFuelConsumptionAnalysis")',
            type: 'POST',
            dataType: 'json',
            error: function (request, text, error) {
                $.unblockUI();
                ajax_error(request, text, error);
            },
            success: function (graphdata) {

                graph_data = graphdata;

                $.get('/VehicleFuelConsumptionAnalysis/VehicleFuelConsumptionAnalysis', function (data) {
                    $('#containerVehicleFuelConsumptionAnalysis').html(data);
                });

            },
            beforeSend: function () {
                $('#content').block({ message: $('#wait') });
            },
            complete: function () {
                $('#content').unblock();
            }

        });*@
    </script>