﻿@{
    Layout = null;
    ViewBag.Title = "Home Page";
}
<!doctype html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en-gb" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Cloud based cab info system </title>

    <meta name="description" content="">
    <meta name="author" content="">

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- **Favicon** -->
    <link href="favicon.html" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/Home")
    <script type="text/javascript">
        function getQueryVariable() {
            var query = window.location.href;
            if (query.indexOf("local")) {
                var image = 'content/images/NewportAfrica.png';
                image = baseUrl() + image;
                document.getElementById('headerImg').src = image;
            }
        }
        function baseUrl() {
            var thisurl = document.location.href.toString();
            var hav = thisurl.substring(thisurl.indexOf("//") + 2, thisurl.length);
            var thisbase = hav.substring(0, hav.indexOf("/"));
            return thisurl.substring(0, thisurl.indexOf("//") + 2) + thisbase + '/';
        }
        //var product = getQueryVariable('local');
    </script>
    <!--[if IE 7]>
    <link rel="stylesheet" href="css/font-awesome-ie7.min.css">
    <![endif]-->

    <!-- **Google - Fonts** -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
</head>

<body>

    <!-- **Wrapper** -->
    <div class="wrapper">

        <!-- **Header** -->
        <header id="header">

            <div class="container">
                <!-- **Logo - End** -->
                <div id="logo">
                    <a href="@Url.Action("Index", "Home")">
                        <img id="headerImg" src="~/content/images/logo.png" onclick='getQueryVariable()' /></a>
                </div>

                <!-- **Navigation** -->
                <nav id="main-menu">
                    <ul>
                        <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "xxx" }) <span></span>
                        </li>
                        <li>@Html.ActionLink("Features", null, null, null, new { @class = "xxx" })  <span></span>
                        </li>

                        <li>@Html.ActionLink("Login", "LogOn", "Account", null, new { @class = "xxx" }) <span></span>

                        </li>

                        <li>@Html.ActionLink("Enquire", "Contact", "Home", null, new { @class = "xxx" }) <span></span>

                        </li>
                    </ul>
                </nav>
                <!-- **Navigation - End** -->
            </div>

        </header>
        <!-- **Header - End** -->

        <!-- **Main** -->
        <div id="main">
            <!-- **Slider Section** -->
            <section id="slider">

                <div id="layerslider-container-fw">
                    <div id="layerslider" style="width: 100%; height: 300px; margin: 0px auto;">

                        <div class="ls-layer" style="slidedirection: top; slidedelay: 7000; durationin: 1500; durationout: 1500; easingin: easeInOutQuint; easingout: easeInOutQuint; delayin: 0; delayout: 500; timeshift: 0; transition2d: all;">


                            <img alt="layer slider" src="~/Content/images/layerslider-gallery/ls-responsive-bg.jpg" class="ls-bg">
                            <img alt="layer slider" class="ls-s-1" src="~/Content/images/layerslider-gallery/template-img.png" style="position: absolute; top: 19px; left: 55px; slidedirection: left; durationin: 1500; durationout: 1500; easingin: easeInOutQuint; easingout: easeInOutQuint; delayin: 0; delayout: 0; showuntil: 0;">
                            <h2 class="ls-s-1" style="position: absolute; top: 30px; left: 585px; slidedirection: top; durationin: 2000; durationout: 1500; easingin: easeInOutQuint; easingout: easeInOutQuint; delayin: 0; delayout: 0; showuntil: 0;">Cloud based cab info system </h2>
                            <h4 class="ls-s-1" style="position: absolute; top: 85.00001525878906px; left: 585px; slidedirection: right; durationin: 2500; durationout: 1500; easingin: easeInOutQuint; easingout: easeInOutQuint; delayin: 0; delayout: 0; showuntil: 0;">With a Clean & Modern design </h4>
                            <p class="ls-s-1 text2" style="position: absolute; top: 140.00001525878906px; left: 585px; slidedirection: bottom; durationin: 3500; durationout: 1500; easingin: easeInOutQuint; easingout: easeInOutQuint; delayin: 0; delayout: 0; showuntil: 0;"><strong>Manage your taxis with ease. </strong></p>

                        </div>


                    </div>
                </div>
            </section>
            <!-- **Slider Section - End** -->

            <!-- **Container** -->
            <div class="container">

                <!-- **Primary Section** -->
                <section id="primary" class="content-full-width">


                    <div class="hr-invisible-small"></div>

                    <div class="column one-fourth">
                        <div class="ico-content type1">
                            <div class="icon">
                                <img src="/Content/images/icons/taxi.png">
                                </span>
                            </div>
                            <h5><a href="#" title="">Taksi </a></h5>
                            <p>Manage your taxis with ease </p>
                        </div>
                    </div>
                    <div class="column one-fourth">
                        <div class="ico-content type1">
                            <div class="icon">
                                <img src="/Content/images/icons/Truck.png">
                                </span>
                            </div>
                            <h5><a href="#" title="">G Haulier</a> </h5>

                        </div>
                    </div>
                    <div class="column one-fourth">
                        <div class="ico-content type1">
                            <div class="icon">
                                <img src="/Content/images/icons/motorbike.png">
                                </span>
                            </div>
                            <h5><a href="#" title="">G Errands</a> </h5>

                        </div>
                    </div>
                    <div class="column one-fourth last">
                        <div class="ico-content type1">
                            <div class="icon">
                                <img src="/Content/images/icons/car.png">
                            </div>
                            <h5><a href="#" title="">Personal Tracking </a></h5>

                        </div>
                    </div>

                    <div class="clear"></div>
                </section>
                <!-- **Primary Section** -->

            </div>
            <!-- **Container - End** -->
        </div>
        <!-- **Main - End** -->

        <!-- **Footer** -->
        <footer id="footer">
            <div class="container">
                <div class="column one-half">
                    <aside class="widget">
                        <p>
                            <b>Contact Info</b><br>
                            Geecko Group holdings Limited, Ground Flr, View Park Towers, Monrovia Street<br>
                            P.O. Box 836 00200 Nairobi, Kenya<br>
                            <span class="icon-phone"></span>Mobile : +254 738 853405<br>
                             <span class="icon-phone"></span>Work :  +254 20 2605363
                        </p>

                    </aside>
                </div>
                <div class="column one-fourth last2">
                    <aside class="widget">
                        <span class="icon-envelope-alt"></span>Email : <a href="mailto:info@geeckoltd.com">info@geeckoltd.com</a><br>
                        <span class="icon-globe"></span>Website : <a href="#" title="">www.gtrack.geeckoltd.com </a>
                        <br>
                        Copyright &copy; 2014 GTrack.
                    </aside>
                </div>

            </div>
        </footer>
        <!-- **Footer - End** -->

    </div>
    <!-- **Wrapper - End** -->


    <!-- **jQuery** -->
    @Scripts.Render("~/bundles/home")
    <script>
        jQuery(document).ready(function () {
            jQuery('#layerslider').layerSlider({
                skinsPath: 'layerslider-skins/',
                skin: 'fullwidthdark',
                thumbnailNavigation: 'hover',
                hoverPrevNext: false,
                responsive: false,
                responsiveUnder: 1120,
                sublayerContainer: 1060,
                width: '100%',
                height: '300px'
            });
        });
    </script>



</body>
</html>
