﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="keywords" content="footer, address, phone, icons" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Taksi</title>
    <!-- BOOTSTRAP CORE CSS -->
    <script src="~/Content/landing-page/js/noframework.waypoints.min.js"></script>
    <script src="~/Content/landing-page/js/jquery.waypoints.min.js"></script>
  
    <!-- footer CSS/includes -->

    <link href="~/Content/font/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/landing-page/css/footer-distributed-with-address-and-phones.css" rel="stylesheet" />

    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">

    <!-- footer CSS -->
    <link href="~/Content/landing-page/css/bootstrap.css" rel="stylesheet" />
    <!-- CUSTOM CSS -->
    <link href="~/Content/landing-page/css/animate.min.css" rel="stylesheet" />

    <link href="~/Content/landing-page/css/style.css" rel="stylesheet" />
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>

    <!-- scroll to top includes  -->

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <!-- logo slider includes -->
    <link href="~/Content/landing-page/logo-slider/css/demo.css" rel="stylesheet" />
    
    <script src="~/Content/landing-page/logo-slider/scripts/jquery.scrollbox.js"></script>
    <!-- DEMO JS -->
    <script src="~/Content/landing-page/js/jquery.bxslider.min.js"></script>
    @*<link href="~/Content/landing-page/css/demo.css" rel="stylesheet" />*@
    @*<link href="~/Content/landing-page/css/reset.css" rel="stylesheet" />*@

    <!-- scroll reveal-->
    <script src="~/Content/landing-page/js/scrollReveal.min.js"></script>
    <!-- AniCollection.css library -->
    <link rel="stylesheet" href="http://anijs.github.io/lib/anicollection/anicollection.css">
   
   

   
</head>
<body data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- DEMO JS -->
    <div id="fb-root"></div>
    <script>
(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
   


    <div class="navbar navbar-default navbar-fixed-top scroll-me" style="height: 65px!important;">
        <div class="container">
            <div class="navbar-header" id="nav-barheader1">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="~/Content/landing-page/img/logo-new-black.png" " style=" height:48px;" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right " style="padding:5px;">
                    <li><a href="#home-sec">HOME &nbsp;<i class="fa fa-home"></i></a></li>
                    <li><a href="#about-sec">MORE &nbsp;<i class="fa fa-plus"></i></a></li>
                    <li><a href="#description-sec">ABOUT</a></li>
                    
                    <li><a href="#contact-sec">GET APP &nbsp;<i class="fa fa-download"></i></a></li>
                    <li><a href="#footer-sec">CONTACT US &nbsp;<i class="fa fa-envelope-o"></i></a></li>
                    <li><a href="@Url.Action("LogOn", "Account")">LOGIN &nbsp;<i class="fa fa-unlock-alt"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- NAVBAR END  -->
    <!-- DIV FOR SCROLL TO TOP ICON  -->

    <div id="home-sec">
        <div class="overlay">
            <div class="container">
                <div class="col-md-8 col-md-offset-2 text-center scroll-me" style="padding-bottom:50px!important;">
                    
                    <h1 style="padding-top:200px;">

                        <a class="brand-heading" id="GFLEET" style="font-size: 100px;font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif; " >TAKSI </a>
                        @*<img style="padding-top:20px;" src="~/Content/landing-page/img/animated-taxi-image-0010.gif" alt="" />*@
                       
                    </h1>

                    <span id="makingbetter" style="font-family:'Roboto'; font-style:italic; font-weight:lighter; color:white;font-size: 25px;"><i class="icon-quote-left"></i>&nbsp;The Best All in One Booking & Dispatch Information System for Fleet Management   &nbsp;<i class="icon-quote-right"></i></span>
                       @*<img data-sr src="../../Content/landing-page/img/insideimage.png" alt="" />*@
                    <p class="home-p">
                    </p>

                    <br />

                    <a href="#description-sec" id="btn-LEARN-MORE" class="btn btn-primary btn-lg" data-anijs="if: mouseover, do: swing animated">LEARN MORE</a>
                    <a href="#contact-sec" id="btn-GET-STARTED" class="btn btn-primary btn-lg outline" data-anijs="if: mouseover, do: swing animated">GET STARTED</a>
                    <br />


                </div>
                <div class="transbox"></div>
                <div class="home-page-downbar">

                </div>


                @*<div class="container-fluid">
                        <div id="demo5" class="scroll-img">
                            <ul>
                                <li><a href="http://www.faceyourmanga.com/mangatar.php?id=234" target="_blank"><img src="~/Content/landing-page/logo-slider/img/normal_1295.png"></a></li>
                                <li><a href="http://www.faceyourmanga.com/mangatar.php?id=485" target="_blank"><img src="~/Content/landing-page/logo-slider/img/normal_1459.png"></a></li>
                                <li><a href="http://www.faceyourmanga.com/mangatar.php?id=511" target="_blank"><img src="~/Content/landing-page/logo-slider/img/normal_1590.png"></a></li>
                                <li><a href="http://www.faceyourmanga.com/mangatar.php?id=725" target="_blank"><img src="~/Content/landing-page/logo-slider/img/normal_1688.png"></a></li>
                                <li><a href="http://www.faceyourmanga.com/mangatar.php?id=840" target="_blank"><img src="~/Content/landing-page/logo-slider/img/normal_234.png"></a></li>
                                <li><a href="http://www.faceyourmanga.com/mangatar.php?id=934" target="_blank"><img src="~/Content/landing-page/logo-slider/img/normal_3206.png"></a></li>
                                <li><a href="http://www.faceyourmanga.com/mangatar.php?id=1295" target="_blank"><img src="~/Content/landing-page/logo-slider/img/normal_3810.png"></a></li>
                                <li><a href="http://www.faceyourmanga.com/mangatar.php?id=1459" target="_blank"><img src="~/Content/landing-page/logo-slider/img/normal_1459.png"></a></li>
                                <li><a href="http://www.faceyourmanga.com/mangatar.php?id=1590" target="_blank"><img src="~/Content/landing-page/logo-slider/img/normal_1590.png"></a></li>
                                <li><a href="http://www.faceyourmanga.com/mangatar.php?id=1688" target="_blank"><img src="~/Content/landing-page/logo-slider/img/normal_1688.png"></a></li>
                                <li><a href="http://www.faceyourmanga.com/mangatar.php?id=3206" target="_blank"><img src="~/Content/landing-page/logo-slider/img/normal_3206.png"></a></li>
                                <li><a href="http://www.faceyourmanga.com/mangatar.php?id=3810" target="_blank"><img src="~/Content/landing-page/logo-slider/img/normal_3810.png"></a></li>
                                <li><a href="http://www.faceyourmanga.com/mangatar.php?id=5176" target="_blank"><img src="~/Content/landing-page/logo-slider/img/normal_5176.png"></a></li>
                                <li><a href="http://www.faceyourmanga.com/mangatar.php?id=6861" target="_blank"><img src="~/Content/landing-page/logo-slider/img/normal_6861.png"></a></li>
                                <li><a href="http://www.faceyourmanga.com/mangatar.php?id=7004" target="_blank"><img src="~/Content/landing-page/logo-slider/img/normal_7004.png"></a></li>

                            </ul>
                        </div>
                        <div id="demo5-btn" class="text-center">
                            <button class="btn" id="demo5-backward"><i class="icon-chevron-left"></i> Backward</button>
                            <button class="btn" id="demo5-forward">Forward <i class="icon-chevron-right"></i></button>
                        </div>
                    </div>*@

                <!--Client testimonials  -->
               
                    <div id="wrapper">



                        @*<div class="container">

                            <!-- DEMO -->
                            <div class="testimonials-slider" style="
                background-color:rgba(0, 0, 0, 0.6) ;
                padding: 25px 0!important;
                position: absolute!important;
                bottom: 0!important;
                left: 0!important;
                width: 100%!important;
                height:100%!important">

                                <div class="slide">
                                    <div class="testimonials-carousel-thumbnail"><img width="120" alt="" src="images/team1.jpg"></div>
                                    <div class="testimonials-carousel-context" style="font-family:'Kalinga'!important;font-weight :normal!important; color:white!important;">
                                        <div class="testimonials-name" style="font-family:'Kalinga'!important;font-weight :100!important; color:white!important;">


                                            "Best dispatch software i ever used, simple and efficient"<br>
                                            <span>George Kamau</span>
                                        </div>
                                        <div class="testimonials-carousel-content"></div>
                                    </div>
                                </div>
                                <div class="slide" >
                                    <div class="testimonials-carousel-thumbnail"><img width="120" alt="" src="images/team3.jpg"></div>
                                    <div class="testimonials-carousel-context">
                                        <div class="testimonials-name" style="font-family:'Kalinga'!important;font-weight :normal!important; color:white!important;">

                                            "Best e-system for cab companies."<br>
                                            <span>John Oluoch </span>
                                        </div>
                                        <div class="testimonials-carousel-content">Has added a great deal to our service deliverly, thanks a bunch.</div>
                                    </div>
                                </div>
                                <div class="slide" >
                                    <div class="testimonials-carousel-thumbnail"><img width="120" alt="" src="images/team2.jpg"></div>
                                    <div class="testimonials-carousel-context">
                                        <div class="testimonials-name" style="font-family:'Kalinga'!important;font-weight :normal!important; color:white!important;">

                                            "Came in so handy, just when i needed it"<br>
                                            <span>Peter Wambua</span><span> ..Geecko taksi</span>
                                        </div>
                                        <div class="testimonials-carousel-content">Came in so handy, just when i needed it.</div>
                                    </div>
                                </div>

                                <div class="slide">
                                    <div class="testimonials-carousel-thumbnail"><img width="120" alt="" src="images/team3.jpg"></div>
                                    <div class="testimonials-carousel-context">
                                        <div class="testimonials-name" style="font-family:'Kalinga'!important;font-weight :normal!important; color:white!important;">

                                            "Has added a great deal to our service deliverly, thanks a bunch."<br>
                                            <span>Brian Otieno </span>
                                        </div>
                                        <div class="testimonials-carousel-content">Has added a great deal to our service deliverly, thanks a bunch.</div>
                                    </div>
                                </div>

                               

                            </div>

                            <!-- END DEMO -->
                            <div class="clearfix"></div>
                        </div>*@
                    </div>
             


                <!-- DEMO JS -->
                <script>
                    $('.testimonials-slider').bxSlider({
                        slideWidth: 900,
                        minSlides: 1,
                        maxSlides: 1,
                        slideMargin: 3,
                       
                        
                        auto: true,

                        autoControls: true
                    });
                </script>

            </div>
        </div>
    </div>


    <!--HOME SECTION END  -->
    <section id="about-sec">
        <div class="container">

            <div class="row text-center">


                <div class="col-md-4" id="col-4" data-anijs="if: scroll, on: window, do: bounceInLeft animated, before: scrollReveal, after: removeAnim">
                    <img src="../../Content/landing-page/img/secure.png" alt="" />
                    <br />
                    <h3> </h3>
                    <p style="font-family:'Kalinga' ;font-weight :normal; font-size:large">
                        Dispatch software solution for taxi,<br> limo and delivery services.
                        Built in the cloud, <br> anywhere anytime anyplace
                    </p>
                </div>
                <div class="col-md-4" id="col-4a" data-anijs="if: scroll, on: window, do: rotateIn animated, before: scrollReveal, after: removeAnim">
                    <img src="~/Content/landing-page/img/taxi-driver.jpg" alt="" class="img-circle" />
                    <br />
                    <h3>Driver Management </h3>

                    <p style="font-family:'Kalinga' ;font-weight :normal;">

                        Brilliant app to receive and manage bookings sent from your dispatching fleet. It’s fast, reliable and simple to use.
                    </p>
                    <p style="font-family:'Kalinga' ;font-weight :normal;">

                        You will be able to track all your drivers in the overview panel of our taxi management software.
                    </p>
                </div>
                <div class="col-md-4" id="col-4b" data-anijs="if: scroll, on: window, do: fadeInRightBig animated, before: scrollReveal, after: removeAnim">
                    <img src="../../Content/landing-page/img/effecient.png" alt="" />
                    <br />
                    <h3></h3>
                    <p style="font-family:'Kalinga' ;font-weight :normal;">
                        With Taksi fleet management system, you get to know the precise location of every vehicle in your fleet, for smarter dispatching decisions that lower costs and optimize fleet performance.
                    </p>
                </div>
            </div>
        </div>
        <!-- CONTAINER END  -->
    </section>
    <!--ABOUT SECTION END  -->
    <section id="description-sec" style="background-color:#2d2d42">
        <div class="container">
            @*<img src="../../Content/landing-page/img/Drawing%20(19).png" alt="" />*@

            <h4 class="text-left" style="font-family:'Kalinga(40px)';font-size:48px!important ; color:white"> <strong><i class="fa fa-th-large" ></i>&nbsp;Why you should choose us</strong></h4>

            <div class="row text-center">

                <div class="row">

                    <div data-anijs="if: scroll, on: window, do: bounceInLeft animated, before: scrollReveal, after: removeAnim" class="col-md-8" style="padding-left:70px; padding-right:120px; width:650px;">
                        <h4 class=" text-left" style="font-family: 'Roboto', sans-serif; font-size:25px!important ;color:white">
                            <strong><i class="fa fa-check-square-o"></i>&nbsp;Get time to relax while we work for you</strong>
                            <img src="../../Content/landing-page/img/taksi-on-desktop.png" style="width :600px; height:400px;" alt="" />
                        </h4>
                    </div>
                    <div data-anijs="if: scroll, on: window, do: bounceInLeft animated, before: scrollReveal, after: removeAnim" class="col-md-4" style="padding-left:60px; width:500px;">
                        <img src="../../Content/landing-page/img/relax.png" alt="" />
                        <p class="text-left" style="font-family: 'Roboto', sans-serif;font-weight :300; color:white; ">
                            <i class="fa fa-check-square-o"></i>&nbsp;
                            Relax as our Dispatch software solution manages your cab services.
                        </p>
                        <p class="text-left" style="font-family: 'Roboto', sans-serif ;font-weight :300; color:white; ">
                            <i class="fa fa-check-square-o"></i>&nbsp;

                            Built in the cloud, accesible anywhere anytime anyplace.
                        </p>
                    </div>
                </div>
                <div class="row-fluid" data-anijs="if: scroll, on: window, do: rollIn animated, before: scrollReveal, after: removeAnim; if: load, on: window, do: rubberBand animated; if: mouseover, do: rubberBand animated">
                    <img src="../../Content/landing-page/img/cars-on-road.png" alt="" style="padding-top: 70px; padding-bottom: 70px; " />
                </div>
                <div data-anijs="if: scroll, on: window, do: bounceInLeft animated, before: scrollReveal, after: removeAnim" class="row">
                    <div class="col-md-4">

                        <img src="../../Content/landing-page/img/grow-business.png" alt="" />
                    </div>
                    <div class="col-md-8" data-anijs="if: scroll, on:window, do: rollIn animated, before: scrollReveal, after: removeAnim" >
                        <h4 class=" text-left" style="font-family: 'Roboto', sans-serif; font-size:25px!important ;color:white">
                        <strong>Grow your business to greatest heights</strong></h4>
                        <p class="text-left" style="font-family: 'Roboto', sans-serif;font-weight :300; color:white;">
                            <i class="fa fa-check-square-o"></i>&nbsp;
                            We aim to grow your business, providing you and your customers a safe and comfortable travel experience.
                        </p>
                        <p class="text-left" style="font-family: 'Roboto', sans-serif ;font-weight :300; color:white;">
                            <i class="fa fa-check-square-o"></i>&nbsp;

                            We are the best favourable Dispatch software solution for taxi, limo and delivery services.
                            Built in the cloud, accesible anywhere anytime anyplace
                        </p>
                        <p class="text-left" style="font-family: 'Roboto', sans-serif ;font-weight :300; color:white;">
                            <i class="fa fa-check-square-o"></i>&nbsp;


                            Built in the cloud, accesible anywhere anytime anyplace
                        </p>
                    </div>
                </div>
                </div>
            <!-- ROW END  -->
        </div>
      
        <!-- CONTAINER END  -->
    </section>
    <!--DESCRIPTION SECTION END  -->
    @*<div class="containerMobile">
        <div class="jumbotron text-center">
            <div class="row">
                <!-- Slideshow Left -->
                <div class="slideshowcontainer">
                    <div class="phone">
                        <div class="col-md-6">
                            <div class="fadein">
                                <img src="http://www.iphonewallpaperhi.com/wp-content/uploads/20130921/ios7-gradient-dots-iphone-hd-wallpaper-iphonewallpaperhi.com-426-320x480.jpg">
                                <img src="http://www.iphonewallpaperhi.com/wp-content/uploads/20121031/gradient-iphone-hd-wallpaper-iphonewallpaperhi.com-502-320x480.jpg">
                                <img src="http://www.iphonewallpaperhi.com/wp-content/uploads/20130920/ios7-orange-dots-iphone-hd-wallpaper-iphonewallpaperhi.com-776-320x480.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Description Right -->
                <div class="col-md-6">
                    <h1>√oots</h1>

                    <p>This is some shit about the game.</p>
                </div>
            </div>
        </div>
    </div>*@
   
    <section id="contact-sec">
     
        <div class="row">
            
            <div  class="col-md-4" >

                @*<img src="~/Content/landing-page/img/iphone-taksi-screen.png" alt="" />*@
                
                    <div class="jumbotron text-center">
                        <div class="row" style="height:100px!important">

                            <!-- Slideshow Left -->
                            <div class="col-md-6">
                                <div class="fadein">
                                    <img src="../../Content/landing-page/img/mobile-slide-login[1].png" alt="" />
                                    <img src="../../Content/landing-page/img/mobile-slide-book[1].png" alt="" />
                                    <img src="../../Content/landing-page/img/mobile-slide-pick_me[1].png" alt="" />
                                    <img src="../../Content/landing-page/img/mobile-slide-drop_me[1].png" alt="" />
                                    <img src="../../Content/landing-page/img/mobile-slide-loading[1].png" alt="" />

                                    <img src="../../Content/landing-page/img/mobile-slide-options[1].png" alt="" />
                                   
                                    <img src="../../Content/landing-page/img/mobile-slide-start[1].png" alt="" />
                                </div>
                                <div class="phone">
                                    <img src="http://www.smoothsand.com/gradeply/images/mockup%20galaxy%20nexus.png">
                                </div>
                            </div>

                            <!-- Description Right -->
                            
                        </div>
                    </div>
                
            </div>
            <div class="col-md-8" style=" padding-top:200px; padding-left:100px;padding-right:250px;">
                <h4 class="text-left" style="font-family:'Kalinga(40px)';font-size:48px!important ; color:white"> <strong>Its time to try us</strong></h4>
                <p class="text-left" style="font-family:'Kalinga' ;font-size:19px!important ;font-weight :100; color:white;"><i class="fa fa-hand-o-right"></i>&nbsp;
                    The Fastest & Safest Taxi Booking App
                </p>
                <p class="text-left" style="font-family:'Kalinga' ;font-size:19px!important ;font-weight :100; color:white;"><i class="fa fa-hand-o-right"></i>&nbsp;
                    Get Taksi app on your mobile phone, download at no costs
                </p>
                <p class="text-left" style="font-family:'Kalinga' ;font-size:19px!important ;font-weight :100; color:white;"><i class="fa fa-hand-o-right"></i>&nbsp;

                    Use Taksi app to get a taxi wherever you are, whenever you want,
                    for a Safer and Worry-free ride.
                </p>
                <p class="text-left" style="font-family:'Kalinga' ;font-size:19px!important ;font-weight :300; color:white;"><i class="fa fa-hand-o-right"></i>&nbsp;
                    All it takes is two taps on your iPhone, Android or Windows Phone.
                </p>

                <a href="https://play.google.com/store/apps/details?id=com.geeckoltd.apps.taksiandroid" target="_blank">
                    <img src="/Content/images/google_play_icon.png" style="width: 200px;top: 0;float: right;">
                </a>

            </div>



        </div>
       

        <div class="wrapper">
            <div class="container">
                <!-- **Logo - End** -->
                <!-- **Logo - End** -->
                <!-- **Navigation** -->
                <!-- **Navigation - End** -->
            </div>
            <div id="main">
                <!-- **Breadcrumb** -->
                <section class="breadcrumb-section">
                    <div class="container">


                    </div>
                </section>
                <!-- **Breadcrumb** -->
                <!-- **Container** --data-anijs="if: scroll, on:window, do: flipInY animated, before: scrollReveal, after: removeAnim">
                <!-- **Container - End**data-anijs="if: scroll, on: window, do: fadeInUp animated, before: scrollReveal" -->
            </div>
            <!-- **Main - End** -->

        </div>
    </section>
    <section id="footer-sec" style="padding-top: 10px!important;" data-anijs="if: scroll, on:window, do: flipInY animated, before: scrollReveal, after: removeAnim">
        <footer class="footer-distributed">

            <div class="footer-left">
                <h3>
                    <span>
                        <img src="../../Content/landing-page/img/geecko-logo.png" alt="" />

                    </span>

                </h3>

                @*<p class="footer-links">

                        <a href="#">Contact</a> .
                        <a href="#home-sec">Home</a> .
                        <a href="#about-sec">More</a> .
                        <a href="#description-sec">About</a> .
                        <a href="@Url.Action("LogOn", "Account")">Login</a> .
                        <a href="#contact-sec">Contact</a>
                    </p>*@
                <div class="fb-page" data-href="https://www.facebook.com/geeckoltd" data-width="400" data-height="150" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/geeckoltd"><a href="https://www.facebook.com/geeckoltd">Geecko Group Holdings Limited</a></blockquote></div></div>
            </div>
            <div class="footer-center">
                <div>
                    <i class="fa fa-map-marker"></i>
                    <p><span>Ground Flr, View Park Towers, Monrovia Street</span> Nairobi, Kenya</p>
                </div>
                <div>
                    <i class="fa fa-phone"></i>
                    <p>Mobile : +254 738 853405</p>
                </div>
                <div>
                    <i class="fa fa-phone"></i>
                    <p>Work : +254 20 2605363</p>
                </div>
                <div>
                    <i class="fa fa-envelope"></i>
                    <p><a href="mailto:info@geeckoltd.com">info@geeckoltd.com</a></p>
                </div>
                <div>

                    <p class="footer-company-name">Geecko Group holdings Limited &copy; 2015</p>
                </div>

            </div>
            <div class="footer-right">
                <p class="footer-company-about">
                    <span>About the company</span>
                    We specializing in software engineering. Software solutions we have developed include SMS  leads generation for SMEs, Politxt for politicians among others.
                </p>
                <div class="footer-icons">
                    @*<img title="Twitter" src="[image URL for Twitter icon]" alt="Twitter" width="35" height="35" />*@
                    <a href="https://www.facebook.com/geeckoltd"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>

                    <a href="#"><i class="fa fa-github"></i></a>

                </div>
            </div>

        </footer>
    </section>

        <!--CONTACT SECTION END  -->
        <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
        <!-- CORE JQUERY  SCRIPTS -->

        <script src="~/Content/landing-page/js/jquery-1.11.1.js"></script>

        <!-- BOOTSTRAP SCRIPTS  -->

        <script src="~/Content/landing-page/js/bootstrap.js"></script>
        <!-- SCROLLING SCRIPTS PLUGIN  -->

        <script src="~/Content/landing-page/js/jquery.easing.min.js"></script>
        <!-- CUSTOM SCRIPTS   -->

        <script src="~/Content/landing-page/logo-slider/scripts/jquery.scrollbox.js"></script>
        <script src="~/Content/landing-page/js/jquery.waypoints.js"></script>

        <script src="~/Content/landing-page/js/custom.js"></script>

        <!-- Testimonials css -->
    <script src="http://anijs.github.io/lib/anijs/anijs-min.js"></script> 
    <script src="http://anijs.github.io/lib/anijs/helpers/dom/anijs-helper-dom-min.js"></script>
    <script src="http://anijs.github.io/lib/anijs/helpers/scrollreveal/anijs-helper-scrollreveal-min.js"></script>


        <style>
            .bx-wrapper .testimonials-thumbnail {
                margin: 0px 0px 15px;
            }

            .bx-wrapper .testimonials-title {
                text-align: center;
                margin: 25px 15px 3px;
                font-size: 24px;
                line-height: 1;
            }

            .bx-wrapper .testimonials-carousel-thumbnail {
                max-width: 35%;
                float: left;
                margin-right: 20px;
            }

                .bx-wrapper .testimonials-carousel-thumbnail img {
                    display: block;
                    margin-right: 20px;
                    width: 100px;
                }

            .bx-clone {
                display: none !important;
            }


            .bx-wrapper .testimonials-carousel-context {
                overflow: hidden;
            }

            .bx-wrapper .testimonials-name {
                font-size: 18px;
                margin-bottom: 15px;
                color: #000000;
                font-weight: 400;
            }

            .bx-wrapper span {
                font-size: 11px;
                margin-left: 10px;
                color: #aaa;
                font-family: Georgia, Arial, Helvetica, sans-serif;
                font-style: italic;
            }

            .bx-wrapper {
                position: relative;
                margin: 30px auto;
                padding: 0;
                width: 100%;
                *zoom: 1;
            }

                .bx-wrapper .slide {
                    padding: 0;
                    margin: 0;
                    display: block;
                }

                .bx-wrapper .bx-viewport {
                    padding: 10px;
                    margin-left: 0;
                    z-index: 1;
                    width: 100%;
                }

                .bx-wrapper .bx-pager,
                .bx-wrapper .bx-controls-auto {
                    position: absolute;
                    display: none;
                    bottom: -30px;
                    width: 100%;
                }

                .bx-wrapper .bx-loading {
                    min-height: 50px;
                    background: url(images/bx_loader.gif) center center no-repeat #fff;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 2000;
                }

                .bx-wrapper .bx-pager {
                    text-align: center;
                    font-size: .85em;
                    font-weight: bold;
                    color: #666;
                    padding-top: 20px;
                }

                    .bx-wrapper .bx-pager .bx-pager-item,
                    .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
                        display: inline-block;
                        *zoom: 1;
                        *display: inline;
                    }

                    .bx-wrapper .bx-pager.bx-default-pager a {
                        background: #666;
                        text-indent: -9999px;
                        display: block;
                        width: 10px;
                        height: 10px;
                        margin: 0 5px;
                        outline: 0;
                        -moz-border-radius: 5px;
                        -webkit-border-radius: 5px;
                        border-radius: 5px;
                    }

                        .bx-wrapper .bx-pager.bx-default-pager a:hover,
                        .bx-wrapper .bx-pager.bx-default-pager a.active {
                            background: #000;
                        }

                .bx-wrapper .bx-next {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 30px;
                    border-left: 1px solid #ddd;
                    height: 30px;
                    cursor: pointer;
                    background: url(/Content/landing-page/img/caousel-next.png) no-repeat 0 0;
                }

                .bx-wrapper .bx-prev {
                    position: absolute;
                    top: 0px;
                    right: 30px;
                    border-right: 1px solid #ddd;
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                    background: url(/Content/landing-page/img/caousel-prev.png) no-repeat 0 0;
                }

                .bx-wrapper .bx-controls-direction a {
                    position: relative !important;
                    top: 0;
                    margin-top: 0;
                    margin-right: 0px;
                    outline: 0;
                    width: 30px;
                    height: 30px;
                    text-indent: -9999px;
                    z-index: 9999;

                }
                	

.jumbotron { 
	height: 600px!important; 
    padding-left:100px!important;
}




.fadein { 
	position:absolute!important; 
	width:500px!important; 
	height:332px!important; 
    top: 36px!important; 
    left: 36px!important;
}

.fadein img { 
	position:absolute!important; 
	left:0!important; 
	top:0!important;
}

        </style>
        <!-- End testimonials css -->

        <script type="text/javascript">


            $(document).ready(function () {

                $('#GFLEET').addClass('animated bounceInLeft');
                $('#btn-LEARN-MORE').addClass('animated slideInDown');
                $('#btn-GET-STARTED').addClass('animated slideInDown');
                $('#makingbetter').addClass('animated bounceInLeft');
               

  

              
             
               
                $(function () {

                    $(document).on('scroll', function () {

                        if ($(window).scrollTop() > 100) {
                            $('.scroll-top-wrapper').addClass('show');
                        } else {
                            $('.scroll-top-wrapper').removeClass('show');
                        }
                    });
                });
                $(function () {

                    $(document).on('scroll', function () {

                        if ($(window).scrollTop() > 100) {
                            $('.scroll-top-wrapper').addClass('show');
                        } else {
                            $('.scroll-top-wrapper').removeClass('show');
                        }
                    });

                    $('.scroll-top-wrapper').on('click', scrollToTop);
                });

                function scrollToTop() {
                    verticalOffset = typeof (verticalOffset) != 'undefined' ? verticalOffset : 0;
                    element = $('body');
                    offset = element.offset();
                    offsetTop = offset.top;
                    $('html, body').animate({ scrollTop: offsetTop }, 500, 'linear');
                }
                // hide our element on page load

             

         
              
            });
            //ScrollReveaL fUNCTIONS
            (function($) {

                'use strict';

                window.sr = new scrollReveal({
                    mobile: true,
                    reset: true
                });
            })();
            //  mobile slideshow function  
            $(function () {
                $('.fadein img:gt(0)').hide();
                $('.fadein').offset({
                    top: $('.phone').offset().top + 28,
                    left: $('.phone').offset().left + 21
                });
                setInterval(function () {
                    $('.fadein :first-child').fadeOut()
                       .next('img').fadeIn()
                       .end().appendTo('.fadein');
                },
                  4000);
            });
            //END OF MOBILE SLIDESHOW
            $('body').prepend('<a href="#" class="back-to-top">Back to Top</a>');

            var amountScrolled = 300;

            $(window).scroll(function () {
                if ($(window).scrollTop() > amountScrolled) {
                    $('a.back-to-top').fadeIn('slow');
                } else {
                    $('a.back-to-top').fadeOut('slow');
                }
            });

            $('a.back-to-top, a.simple-back-to-top').click(function () {
                $('body').animate({
                    scrollTop: 0
                }, 'fast');
                return false;
            });



        </script>
        <!-- scroll to top includes  -->
</body>

</html>