﻿@model GFleetV3.Models.PagedVehicleModel
@{
    Layout = null;
    WebGrid grid = new WebGrid(rowsPerPage: Model.PageSize, ajaxUpdateContainerId: "divgrid");
    grid.Bind(Model.Vehicle,
              autoSortAndPage: false,
              rowCount: Model.TotalRows
              );

    if (false)
    {
    <script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>
    }
}
@Scripts.Render("~/bundles/datatable")
<link href="~/Content/Reports/TableTools.css" rel="stylesheet" />
<script type="text/javascript">

    var the_dataTable;
    $(document).ready(function () {
        loadDataTable();
    });

    function loadDataTable() {
        //if (vehicles.length > 0) {
        if (the_dataTable == null) {
            the_dataTable = $('#gridData').DataTable({
                "oTableTools": {
                    "sSwfPath": "../Scripts/dataTable/copy_csv_xls_pdf.swf",
                    "aButtons": [
                        {
                            "sExtends": "copy",
                            "mColumns": [0, 1, 2, 3, 4, 5]
                        },
                        {
                            "sExtends": "csv",
                            "mColumns": [0, 1, 2, 3, 4, 5]
                        },
                        {
                            "sExtends": "pdf",
                            "mColumns": [0, 1, 2, 3, 4, 5]
                        },
                        {
                            "sExtends": "print",
                            "mColumns": [0, 1, 2, 3, 4, 5]
                        },
                    ]
                },
                "scrollCollapse": true,
                "paging": false,
                "ordering": true,
                "order": [[1, "desc"]],
                "info": false,
                "ScrollY": "350px",
                "bPaginate": false,
                //"sDom": 'Tlfrtip'
                "sDom": '<"top_left"l><"top_right"Tf>'
            });
        }
    }
</script>
<style>
        div.DTTT_container
        {
            top: 10px;
            margin-left: 5px;
        }

        .dataTables_filter
        {   
          bottom: 5px;
          float: right;
          position: relative;
        }
        input,search
        {
          height:24px;
        }
    </style>
<div id="divgrid" @*style="top: 205px;position: absolute;width: 747px;"*@>
    @grid.GetHtml(
         htmlAttributes: new { id = "gridData" },
            fillEmptyRows: false,
            tableStyle: "qlabs_grid_container",//"webgrid",
            headerStyle: "header_row",//"webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "data_even",//"webgrid-alternating-row",
            selectedRowStyle: "webgrid-selected-row",
            rowStyle: "data_odd", //"webgrid-row-style",
            mode: WebGridPagerModes.All,
                    firstText: "<< First",
                    previousText: "< Prev",
                    nextText: "Next >",
                    lastText: "Last >>",
        columns: new[] { 
        //grid.Column(columnName: "VehicleId",style: "data_cell",header:null),
        
        grid.Column("VehicleRegCode",style: "data_cell", 
                    header: "Registration"
                    @*canSort: false,
                    format: @<text>
@Html.ActionLink((string)item.Make, "View", new { id = item.VehicleId }, new { @class = "viewDialog" })</text>*@
                    ),
        grid.Column("Make",style: "data_cell",
                    header: "Make"),
        grid.Column("Model",style: "data_cell",
                    header: "Model"),
        grid.Column("Year",style: "data_cell", 
                    header: "Year"),
        grid.Column("ChasisNo",style: "data_cell", 
                    header: "Chasis No"),
    grid.Column("EngineNo",style: "data_cell", 
                    header: "Engine No"),
        grid.Column("",style: "data_cell", 
                    header: "Actions",
                    format: @<text>
    <label>@Html.ActionLink("Edit", "Edit", new { id = item.VehicleId }, new { @class = "editDialog"}/*, data_dialog_id = "edit-Dialog" */)</label>
    @*|
@Html.ActionLink("Delete", "Delete", new { id = item.VehicleId }/*, new { @class = "confirmDialog" }*/)*@
    </text>
        )
})
</div>

<script type="text/javascript">
    InitGrid('gridData');
</script>
@*
<script type="text/javascript">
    function updateGrid() {
        var url=document.URL;
        @Html.Raw(HttpUtility.HtmlDecode(grid.GetContainerUpdateScript(grid.ge).ToString()))
    }
    var tabledata = [];

    $('#gridVehicle tr:has(td)').map(function (i, v) {
        var $td = $('td', this);
        tabledata.push($td);
    })

    var table = [];
    var $tbody = $('#gridVehicle > tbody');
    $tbody.empty();

    $.each(tabledata, function () {
        table.push(new gridData(this, $tbody));
    });

    function gridData(values, $tbody) {
        this.update = function (new_values) {
            console.log('3');
            for (var v in new_values) {
                this[v] = new_values[v];
            }

            this.update_row();
        };

        this.update_row = function () {
            console.log('4');
            var self = this;

            var row = { tds: this };

            this.row.html(make_tds(row.tds))
                .unbind('click')
                .unbind('dblclick');
            //                .click(function () { self.select(); })
            //                .dblclick(function () { self.move_to(street_zoom); });
            //.disableTextSelect();
        }

        this.select = function () {
            console.log('3');
            $tbody.find('tr').removeClass('sel').find('td').removeClass('sel');
            this.row.addClass('sel').find('td').addClass('sel');
            selected_gridData = this;
        };

        function make_tds(vals) {
            var result = '';
            $.each(vals, function () {
                result += this.outerHTML;
            });
            return result;
        }

        console.log('1');
        this.row = $('<tr />').appendTo($tbody);
        console.log('2');
        this.update(values);
        console.log('6');
    }
</script>*@