﻿@model GFleetV3.Models.MapModel
@{
    //Layout = null;
    if (false)
    {
    <script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>
    }
}
<style type="text/css">
    #mapcanvas, #map_canvas {
        height: 250px;
        width:400px;        
    }
    #mapcanvas img{
    max-width:none;
    }
    
    @*.ui-dialog .ui-dialog-content {
        position: absolute !important;
        left: -10000px !important;
        display:block !important;
    }*@
    @*@media print {
      
      html, body {
        height: auto;
      }

      #mapcanvas, #map_canvas {
        height: 650px;
      }
    }
    #panel {
      position: absolute;
      top: 5px;
      left: 50%;
      margin-left: -180px;
      z-index: 5;
      background-color: #fff;
      padding: 5px;
      border: 1px solid #999;
    }*@

</style>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script type="text/javascript">
    var mapcanvaspoly, mapmapcanvas;
    var mapcanvasdirectionsDisplay;
    var mapcanvasdirectionsService;
    var mapcanvasstepDisplay;
    var mapcanvasmarkerArray = [];
    var mapcanvasmarkers = [];
    var mapcanvaspath = new google.maps.MVCArray;

    function mapcanvasinitialize() {
        // Instantiate a directions service.
        mapcanvasdirectionsService = new google.maps.DirectionsService();

        // Create a map and center it on Manhattan.
        var manhattan = new google.maps.LatLng(-1, 37.2);
        var mapOptions = {
            zoom: 8,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            center: manhattan
        }
        mapmapcanvas= new google.maps.Map($('#mapcanvas')[0], mapOptions);

        // Create a renderer for directions and bind it to the map.
        var rendererOptions = {
            map: mapmapcanvas
        }
        mapcanvasdirectionsDisplay = new google.maps.DirectionsRenderer(rendererOptions)

        // Instantiate an info window to hold step text.
        mapcanvasstepDisplay = new google.maps.InfoWindow();

        //        mapcanvaspoly = new google.maps.mapcanvaspolygon({
        //            strokeWeight: 3,
        //            fillColor: '#5555FF'
        //        });
        //        mapcanvaspoly.setMap(map);
        //        mapcanvaspoly.setmapcanvaspaths(new google.maps.MVCArray([mapcanvaspath]));

        google.maps.event.addListener(mapmapcanvas, 'click', mapcanvasaddPoint);
        google.maps.event.trigger(mapmapcanvas, 'resize'); 
    }

    function mapcanvasclearmapArray() {
        // First, remove any existing mapcanvasmarkers from the map.
        for (var i = 0; i < mapcanvasmarkerArray.length; i++) {
            mapcanvasmarkerArray[i].setMap(null);
        }
        // Now, clear the array itself.
        mapcanvasmarkerArray = [];
    }

    function mapcanvascalcRoute(start, end) {
        mapcanvasclearmapArray();
        // Retrieve the start and end locations and create
        // a DirectionsRequest using WALKING directions.

                var start = new google.maps.LatLng( @(Model.StartAddress.Longitude) ,@( Model.StartAddress.Latitude))
                var end = new google.maps.LatLng(@(Model.EndAddress.Longitude) , @(Model.EndAddress.Latitude))

        var request = {
            origin: start,
            destination: end,
            travelMode: google.maps.TravelMode.DRIVING
        };

        // Route the directions and pass the response to a
        // function to create mapcanvasmarkers for each step.
        mapcanvasdirectionsService.route(request, function (response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                var warnings = document.getElementById('mapcanvaswarnings_panel');
                warnings.innerHTML = '<b>' + response.routes[0].warnings + '</b>';
                mapcanvasdirectionsDisplay.setDirections(response);
                mapcanvasshowSteps(response);
            }
        });
    }

    function mapcanvasshowSteps(directionResult) {
        // For each step, place a marker, and add the text to the marker's
        // info window. Also attach the marker to an array so we
        // can keep track of it and remove it when calculating new
        // routes.
        var myRoute = directionResult.routes[0].legs[0];

        for (var i = 0; i < myRoute.steps.length; i++) {
            var marker = new google.maps.Marker({
                position: myRoute.steps[i].start_point,
                map: mapmapcanvas
            });
            mapcanvasattachInstructionText(marker, myRoute.steps[i].instructions);
            mapcanvasmarkerArray[i] = marker;
        }

        mapcanvasshowroutedetails(myRoute);
    }

    function mapcanvasattachInstructionText(marker, text) {
        google.maps.event.addListener(marker, 'click', function () {
            // Open an info window when the marker is clicked on,
            // containing the text of the step.
            mapcanvasstepDisplay.setContent(text);
            mapcanvasstepDisplay.open(mapmapcanvas, marker);
        });
    }

    function mapcanvasshowroutedetails(route) {
//        var details = 'From: ' + route.start_address + '<br/> ';
//        details += 'To: ' + route.end_address + '<br/> ';
//        details += 'Distance: ' + route.distance.text + '<br/> ';
//        details += 'Average duration: ' + route.duration.text + '<br/> ';

//        $('#mapcanvasroute_details').html(details);

    }

    function mapcanvasaddPoint(event) {
        mapcanvasclearmapArray();
        if (mapcanvaspath.length > 1) {
            mapcanvaspath.removeAt(1);
            mapcanvasmarkers.pop().setMap(null);
        }
        mapcanvaspath.insertAt(mapcanvaspath.length, event.latLng);

        var marker = new google.maps.Marker({
            position: event.latLng,
            map: mapmapcanvas,
            draggable: true,
            visible:true,
            title: mapcanvaspath.length > 1 ? "End" : "Start"
        });
        mapcanvasmarkers.push(marker);

        google.maps.event.addListener(marker, 'click', function () {
            marker.setMap(null);
            for (var i = 0, I = mapcanvasmarkers.length; i < I && mapcanvasmarkers[i] != marker; ++i);
            mapcanvasmarkers.splice(i, 1);
            mapcanvaspath.removeAt(i);
        }
        );

        google.maps.event.addListener(marker, 'dragend', function () {
            for (var i = 0, I = mapcanvasmarkers.length; i < I && mapcanvasmarkers[i] != marker; ++i);
            mapcanvaspath.setAt(i, marker.getPosition());
            if (mapcanvaspath.length > 1) {
                mapcanvascalcRoute(mapcanvaspath.getAt(0), mapcanvaspath.getAt(1));
            }
        }
        );

        if (mapcanvaspath.length > 1) {
            mapcanvascalcRoute(mapcanvaspath.getAt(0), mapcanvaspath.getAt(1));
        }
        console.log(marker);
    }

    $(function () {
        mapcanvasinitialize();
    });
</script>
<div style="width: auto; height: auto;">
    <div id="mapcanvas">
    </div>
    <div id="mapcanvasroute_details" style="width: 350px; height: 50px; text-align: center;
        z-index: 1; position: relative; bottom: 50px; display: none;">
    </div>
    <div id="mapcanvaswarnings_panel" style="width: 350px; height: 50px; text-align: center;
        z-index: 1; position: relative; bottom: 50px; display: none;">
    </div>
</div>
