<div class="notification-holder hidden" id="nots">
    <div class="arrow-up">

    </div>
    <div class="panel">
        <div class="panel-header">Notifications</div>
        <div class="panel-content"></div>
    </div>
</div>
