﻿@model List<DataAccess.SQL.vw_ControllerView>
@{
    ViewBag.Title = null;

    if (false)
    {
    <script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>
    }
}
@{
    
    if (Model != null)
    {
    <table>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a class="" href="@item.Url">
                        <img src="~/Content/images/@item.ControllerImgPath" alt="@item.ControllerName" width="197" height="111"/>@*<div>*@
                    </a>
                </td>
            </tr>
        }
    </table>
    }
}
