@{ 
string[] roles = Roles.GetRolesForUser(@HttpContext.Current.User.Identity.Name).ToArray<string>();
}

<div class="hidden" id="sidebar">
    <nav class="sidebar light">
        <ul>
            <li class="title">Options</li>
            <li class="active"><a href="@Url.Action("Index","Maintainance")"><i class="icon-home"></i>Dashboard</a></li>
            <li class="stick bg-red"><a href="#"><i class="icon-stats-2"></i>Reports & Analysis</a></li>
            @if (roles.Contains("Organisation Admin") ||roles.Contains("Lease Admin") )
                {
                <li class="stick bg-yellow">
                    <a class="dropdown-toggle" href="#"><i class="icon-user"></i>User Management</a>
                    <ul class="dropdown-menu" data-role="dropdown">
                <li><a href="@Url.Action("Index","Dealer")">Users</a></li>

            @if (roles.Contains("Lease Admin"))
                {
                <li><a href="@Url.Action("Index","Dealer")">Dealer</a></li>
                }
                    </ul>
                </li>
                }
                <li class="stick bg-yellow">
                    <a  href="@Url.Action("Index","MaintainanceComponent")"><i class="icon-database"></i>Spare Parts</a>                    
                </li>
            <li><a href="javascript:toggle_sidebar()"> <i class="icon-arrow-up-right"></i>hide Menu</a></li>
        </ul>
    </nav>
</div>
<script>
    $(function () {
        $("#sidebar").drags();
    });
</script>