﻿@{ 
    var viewBagMessage = ViewBag.Message;
            //var tempDataMessage = TempData["Message"] as string; //need typcasting 
}
<html>
<head>
    <title>Internal Server Error (500)</title>
    <style type="text/css">
        .error_page
        {
            width: 600px;
            padding: 50px;
            margin: auto;
        }
    </style>
</head>
<body>
    <!-- This file lives in public/unauthorized.html -->
    <div class="error_page">
        <img alt="Kidmondo_face_sad" src="http://kidmondo.com/wp-content/themes/kidmondo2/images/kidmondo_face_sad.gif">
        <h1>
            We're sorry...</h1>
        <p>@viewBagMessage
            @*You are not authorized to view this page.*@</p>
        <p>
            @Html.ActionLink("Return to the homepage", "", "Live"); @*<a href="http://gfleet.geeckoltd.com">Return to the homepage</a>*@</p>
    </div>
</body>
</html>
