@model GFleetV3.Models.BackUpData
@{  
    //Layout = null;
    if (false)
    {
    <script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>
    }
}
<style>
    .target {
        width: 200px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: px;
        border: 1px solid #ccc;
    }

    input[type="text"], input[type="password"], input[type="email"] {
        width: 260px;
        padding: 5px;
        border: 1px solid #CCC;
    }
</style>
@Scripts.Render("~/bundles/time")
<script type="text/javascript">
    $(document).ready(function () {
        $("#TxtstartDate").datepicker();
        $("#TxtendDate").datepicker();
        $('#TxtstartTime').val('00:00');
        $('#TxtendTime').val('23:59');
        $("#TxtstartTime").timePicker();
        $("#TxtendTime").timePicker();

        $.validator.unobtrusive.parse($('form'));

        //callback handler for form submit
        $("#ajaxform").submit(function (e) {
            if ($(this).valid()) {
                var postData = $(this).serializeArray();
                var formURL = $(this).attr("action");
                $.ajax(
                {
                    url: formURL,
                    type: "POST",
                    data: postData,
                    success: function (data, textStatus, jqXHR) {
                        //data: return data from server
                        //$('#from_result').html('<span>' + data + '</span>');
                        $('#from_result').html(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        //if fails     
                        $('#from_result').html("<span>An error occurred while trying to access the server, Kindly retry again.</br>" +
                            "If problem persists, kindly check your network and contact support@geeckoltd.com</span>");
                    },
                    beforeSend: function () {
                        showWaiting();
                    },
                    complete: function () {
                        closeWaiting();
                        $("#TxtstartDate").val(null);
                        $("#TxtendDate").val(null);
                        $('#TxtstartTime').val('00:00');
                        $('#TxtendTime').val('23:59');
                    }
                });
            }
            e.preventDefault(); //STOP default action
            //e.unbind(); //unbind. to stop multiple form submit.
        });
    });

    //Submit  the FORM
</script>
@using (Html.BeginForm("createBackUp", "BackUp", FormMethod.Post, new { id = "ajaxform" }))
{
    <div id="wait" style="display: none;">
    </div>
@*<div class="container-fluid-full">
        <!-- start: Content -->
        <div id="content" class="span10">*@
    <div id="from_result">
    </div>
    <fieldset>
        <legend></legend>
        <div id="criteria">
            <div id="StartDateCriteria" style="float: left; padding-right: 10px;">
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.startDate, new { id = "TxtstartDate", placeholder = "Start Date", Class = "target" })
                    @Html.TextBoxFor(model => model.startTime, "{0:t}", new { id = "TxtstartTime", placeholder = "Time", style = "width: 93px;  -webkit-border-radius: 8px;  -moz-border-radius: 8px;  border-radius: px;  padding: 5px;  border: 1px solid #ccc;" })
                </div>
            </div>
            <div id="EndDateCriteria" style="float: left; padding-right: 10px;">
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.endDate, new { id = "TxtendDate", placeholder = "End Date", Class = "target" })
                    @Html.TextBoxFor(model => model.endTime, "{0:t}", new { id = "TxtendTime", placeholder = "Time", style = "width: 93px;  -webkit-border-radius: 8px;  -moz-border-radius: 8px;  border-radius: px;  padding: 5px;  border: 1px solid #ccc;" })
                </div>
            </div>
            <div id="submitBtn" style="float: left">
                <input type="button" id="backupbtn" name="Command" onclick='$("#ajaxform").submit();' value="Back Up ..." class="btn" />
            </div>
        </div>
    </fieldset>

    <div id="divgrid">
        @Html.Partial("_Backupgrid", Model.BackUpGridData)
    </div>
@*</div>
    </div>*@
    <!--/#content.span10-->
    <div class="modal hide fade" id="myModal">
    </div>
    <div class="clearfix">
    </div>
}
@*<script type="text/javascript">
    $(function () {
        dialogStartUp(null);
    });
</script>*@
