@model DataAccess.SQL.MaintainanceComponent
@{
    Layout = null;
    if (false)
    {
        <script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>
    }
}
<style type="text/css">
    .window
    {
        overflow: hidden;
        min-height: 200px;
        position: fixed;
        z-index: 1050;
        top: 6px;
        left: 50.5px;
        width: 240px;
        height: 364px;
    }
</style>
@using (Html.BeginForm("createEditMaintananceComponent", "MaintainanceComponent", "", FormMethod.Post, new { @id = "MaintananceComponentForm", enctype = "multipart/form-data" }))
{
    <div id="wait" style="display: none;">
    </div>
<div class="divautosizes panell">
    @Html.ValidationSummary(true)
        <div class="panel-header">
            @ViewData["heading"]
        </div>
    <div id="from_result">
    </div>
    @if (ViewBag.IsUpdate == true)
        {
            @Html.HiddenFor(model => model.MaintainanceComponentId)
            @Html.Hidden("isEditing", true)
        }
            <fieldset>
                @*<legend>Personal Details</legend>*@
                <div id="DivPersonalDetailsLeft" style="float: left; padding-right: 7px;">
                    <div class="form_item">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.ComponentName)
                        </div>
                        <div class="input-control text">
                            @Html.TextBoxFor(model => model.ComponentName)
                        </div>
                        <div class="validation-msg">
                            @Html.ValidationMessageFor(model => model.ComponentName)
                        </div>
                    </div>
                    <div class="form_item">
                        <div class="form_item">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.ComponentNumber)
                        </div>
                        <div class="input-control text">
                            @Html.EditorFor(model => model.ComponentNumber)
                        </div>
                        <div class="validation-msg">
                            @Html.ValidationMessageFor(model => model.ComponentNumber)
                        </div>
                    </div>
                    </div>
                </div>
            </fieldset>
    <br />
    <div id="SaveAccount" class="button-set">
        @if (ViewBag.IsUpdate == true)
                {

                    <button type="submit" id="btnUpdate" name="Command" value="Update" class="image-button bg-darkGreen fg-white image-left">
                        Update
                        <i class="icon-arrow-right-3 bg-green fg-white"></i>
                    </button>
        }
                else
                {
                    <button type="submit" id="btnSave" name="Command" value="Save" class="image-button bg-darkGreen fg-white image-left">
                        Save
                        <i class="icon-arrow-right-3 bg-green fg-white"></i>
                    </button>
        }
                <button type="button" id="btncancelpassenger" class="image-button bg-teal fg-white image-right">
                    Cancel
                    <i class="icon-cancel bg-green fg-white"></i>
                </button>
        &nbsp; &nbsp;
    </div>
</div>
}
<script type="text/javascript">
    $(function () {
        dialogStartUp();
    });
</script>
