﻿@{
    ViewBag.Title = "Taksi";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GFleet Live Page</title>
    <style type="text/css">
        #directions {
            width: 275px;
            padding: 5px;
            position: absolute;
            bottom: 30px;
            height: 200px;
            background-color: rgb(255, 255, 255);
            overflow-y: scroll;
            overflow-x: hidden;
            font-family: Verdana, Arial, sans serif;
            font-size: 11px;
        }

        #warnings {
            display: none;
            position: absolute;
            left: 230px;
            right: 230px;
            top: 0;
            height: 2.4em;
            border: 1px solid rgb(0, 0, 0);
            border-top: 0;
            background: rgb(153, 51, 34);
            font-size: 14px;
        }

        #recovery_cntrl {
            z-index: 0;
            position: absolute;
            right: 10px;
            top: 30px;
        }

        #location_det {
            /*font-family: Times New Roman;
            font-weight: normal;
            display: block;
            bottom: 40px;
            right: 20px;
            position: absolute;
            background: rgb(255, 255, 255);
            white-space: nowrap;*/
        }

        #carpos_info li {
            left: 0px;
            text-indent: 0px;
        }

        #alarms-wrap {
            display: none;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgb(0, 0, 0);
            background: rgba(0, 0, 0, 0.8);
            -ms-filter: alpha(opacity=50);
            filter: alpha(opacity=50);
            z-index: 101;
        }

        #warnings-close {
            position: absolute;
            top: 4px;
            right: 24px;
            width: 16px;
            height: 16px;
            background: url(content/images/ui-icons_222222_256x240.png) -80px -128px;
        }

        #warnings-list {
            height: 2.4em;
        }

        .alarms ul {
            overflow: auto;
        }

        #alarms {
            position: relative;
            margin: 50px auto 0;
            width: 400px;
            height: 300px;
            border: 2px solid rgb(0, 0, 0);
            background: rgb(85, 85, 85);
            border-radius: 6px;
        }

        #alarms-close {
            position: absolute;
            top: 4px;
            right: 6px;
            width: 16px;
            height: 16px;
            background: url(content/images/ui-icons_222222_256x240.png) -80px -128px;
        }

        #alarms h1 {
            color: rgb(0, 0, 0);
            padding: 1px 0 2px;
            border-bottom: 1px solid rgb(0, 0, 0);
            background: url("content/images/btn.bmp") repeat-x;
            font-size: 20px;
            text-align: center;
            border-radius: 6px;
        }

        #alarms ul {
            height: 265px;
        }

        .alarms li {
            margin: 2px 4px;
            color: rgb(255, 255, 255);
            list-style-type: none;
        }

        #off-screen {
            position: absolute;
            left: 10000px;
        }

        .ui-tooltip {
            padding: 8px;
            position: absolute;
            z-index: 9999;
            max-width: 300px;
            -webkit-box-shadow: 0 0 5px rgb(170, 170, 170);
            box-shadow: 0 0 5px rgb(170, 170, 170);
        }

        #vehicle-selection {
            position: absolute;
            display: block;
            bottom: 0px;
            height: 27px;
            padding: 1px 0 0 2px;
            background: rgb(255, 255, 255);
            border: 1px solid rgb(136, 136, 136);
            border-bottom: none;
            font-size: 65%;
        }

        #recover {
            width: 100px;
            text-align: center;
        }

        #lost {
            width: 100px;
            text-align: center;
        }

        .button-rc {
            width: 5em;
            height: 25px;
            float: right;
            margin: .1em;
            padding: 0 .2em;
            background: url("../../Content/images/btn.bmp") repeat;
            border: 1px solid rgb(102, 102, 102);
            font-size: 100%;
            text-align: center;
            line-height: 1.8;
            cursor: pointer;
            top: -20px;
            position: relative;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
        }

        .recover {
            width: 70px;
        }
    </style>
    <script src="//maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=drawing&amp;key=AIzaSyDEraSXsfbkYBnkCukdi5qTKRDoIaz4WUg"
        type="text/javascript"></script>
    @Styles.Render("~/Content/live")
    @Styles.Render("~/bundles/jquery")
    <script src="~/Scripts/code.js" type="text/javascript"></script>
    <script src="~/Scripts/oms.min.js"></script>
    @Scripts.Render("~/bundles/time")
    @Scripts.Render("~/bundles/markerlabel")
    <script type="text/javascript">
        var tab_id = '510121556458515';
        var show_lga = false;
        var show_street = true;
        var detail_max_period = 31;
        var travel_max_period = 31;
        var stop_max_period = 31;
        var imagePath;
        var alertSpeedLimit = 80;
        var soundpath;
        var code = 6;
        var gridtableheight = 98;
        var isBooking = 0;

        var directionsDisplay;
        var directionsService = new google.maps.DirectionsService();

        var recover;
        var lost;

        String.format = function () {
            var s = arguments[0];
            for (var i = 0; i < arguments.length - 1; i++) {
                var reg = new RegExp("\\{" + i + "\\}", "gm");
                s = s.replace(reg, arguments[i + 1]);
            }

            return s;
        }

        //function docReady(url, speed) {
        function docReady() {
            imagePath = "content/images/carsymb/";
            soundpath = "content/sound/alert.wav";
            //alertSpeedLimit = speed;
            //first_load();
        }

        function first_load() {
            $("#recovery_cntrl").css("visibility", "hidden");
            var params = $.param({
                recover: recover,
                lost: lost
            });
            postplain(
                '@Url.Action("getGridData", "Recover")',
                'Retrieving Data ...',
                params,
                function (data) {
                    if (data != null) {
                        vehicles = [];
                        initial_load(data);

                        $.each(vehicles, function (i, v) {
                            if (v.VehicleId == lost) {
                                $("#recovery_cntrl").css("visibility", "visible");
                                $('#recovery_stop').click(function () {
                                    confirmEngineChange(v.stopEngine(), "Are you sure you want to switch off " + v.reg);
                                });
                                $('#recovery_start').click(function () {
                                    confirmEngineChange(v.startEngine(), "Are you sure you want to switch on " + v.reg);
                                });
                                return false;
                            }
                        });
                        directionsDisplay = new google.maps.DirectionsRenderer();
                        directionsDisplay.setMap(map);
                        directionsDisplay.setPanel(document.getElementById('directions'));

                        calcRoute();
                    }
                }
            );
        }

        function load_lost(recoverid) {
            var params = $.param({
                recover: recoverid
            });
            postplain(
                '@Url.Action("getLostData", "Recover")',
                'Retrieving Lost vehicle data ...',
                params,
                function (data) {
                    if (data != null) {
                        var $select = $('#lost');
                        var vSelect = '';
                        vSelect += String.format('<option selected>{0}</option>', 'Select Vehicle');
                        $.each(data, function (i, v) {
                            vSelect += String.format('<option value=\'{0}\'>{1}</option>', v.VehicleId, v.VehicleRegCode);
                        });
                        $select.html(vSelect);
                    }
                }
            );
        }

        function update_vehicles() {
            if (update_pending && vehicles.length < 2) {
                return;
            }

            if (isNumber(recover) && isNumber(lost)) {

                update_pending = true;
                set_status('Checking for new data');

                var highest = vehicles[0].timestamp;
                $.each(vehicles, function () {
                    highest = highest == null ? this.timestamp : this.timestamp > highest && this.timestamp != null ? this.timestamp : highest;
                });
                //highest = '2013-06-18 16:44:03'
                var params = $.param({
                    highest: highest,
                    recover: recover,
                    lost: lost
                });

                $.ajax({
                    url: '@Url.Action("getLatestData", "Recover")',
                    type: 'POST',
                    dataType: 'json',
                    data: params,
                    error: ajax_error,
                    success: function (data) {
                        update_pending = false;
                        var regs = [];

                        $.each(data, function () {
                            regs.push(this.Reg);

                            var new_data = this;
                            $.each(vehicles, function () {
                                if (this.VehicleId == new_data.VehicleDetailId) {
                                    this.update(new_data);
                                    if (new_data.VehicleDetailId == parseInt(lost)) {
                                        var val = String.format('Event: {0} </br> Time: {1} </br> Latitude: {2} </br> Longitude: {3} <hr>',
                                                    new_data.Event, new_data.timestamp, new_data.Latitude, new_data.Longitude);
                                        $('<li />').html(val).appendTo($('#carpos_info'));
                                        var wtf = $('#location_det');
                                        var height = wtf[0].scrollHeight;
                                        wtf.scrollTop(height);
                                    }
                                }
                            });
                        });
                        set_status(data.length > 0 ? ('New data for: ' + regs.join(', ')) : 'No new data');
                        update_pending = false;
                        if (data.length > 0) {
                            zoom_to_all();

                            document.getElementById('directions').innerText = "";
                            calcRoute();
                        }
                    }
                });
            }
        }

        function calcRoute() {
            var wp = new Array(2);
            $.each(vehicles, function (i, v) {
                if (v.VehicleId == recover) {
                    wp[0] = latLng(this.Latitude, this.Longitude);
                } else {
                    wp[1] = latLng(this.Latitude, this.Longitude);
                }
            });
            var request = {
                origin: wp[0],
                destination: wp[1],
                travelMode: google.maps.TravelMode.DRIVING
            };
            directionsService.route(request, function (response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(response);
                }
            });
        }

        function isNumber(n) {
            return !isNaN(parseFloat(n)) && isFinite(n);
        }

        function addListeners() {
            document.getElementById('dragger').addEventListener('mousedown', mouseDown, false);
            window.addEventListener('mouseup', mouseUp, false);

        }

        function mouseUp() {
            window.removeEventListener('mousemove', divMove, true);
        }

        function mouseDown(e) {
            window.addEventListener('mousemove', divMove, true);
        }

        function divMove(e) {
            var div = document.getElementById('location');
            div.style.position = 'absolute';
            div.style.top = e.clientY + 'px';
            div.style.left = e.clientX + 'px';
        }

        function confirmEngineChange(callback, message) {
            $(document).ready(function () {
                $("#dialog-confirm").dialog({
                    autoOpen: false,
                    resizable: false,
                    height: 170,
                    width: 350,
                    show: { effect: 'drop', direction: "up" },
                    modal: true,
                    draggable: true,
                    buttons: {
                        "OK": function () {
                            $(this).dialog("close");
                            if (callback != null && typeof callback === 'function') {
                                callback();
                            }
                            $("#messageTab").val('');
                        },
                        "Cancel": function () {
                            $(this).dialog("close");
                        }
                    }
                });
                $("#messageTab").val(message);
                $("#dialog-confirm").dialog('open');
            })
        }

        $(document).ready(function () {

            $('.button, th, h1').disableTextSelect();
            $('#logout').click(function () { logout(); });
            $('#zoom-all-btn').click(function () { zoom_to_all(); });
            $('#street-btn').click(function () { zoom_street(); });
            $('#town-btn').click(function () { zoom_town(); });
            $('#zoom-in-btn').click(function () { map.setZoom(map.getZoom() + 1); });
            $('#zoom-out-btn').click(function () { map.setZoom(map.getZoom() - 1); });
            $('#locate-btn').click(function () { selected_vehicle.locate(); });
            $('#send-position').click(function () { sendSMS(); });

            $('#recover').change(function () {
                var recoverid = $('#recover').val();
                if (recoverid != null) {
                    $('#lost')
                        .find('option')
                        .remove()
                        .end();
                    load_lost(recoverid);
                }
            });

            $('#trace-btn').click(function () {
                recover = $('#recover').val();
                lost = $('#lost').val();
                if (isNumber(recover) && isNumber(lost)) {
                    first_load(recover, lost);
                }
            });

            $.datepicker.setDefaults({
                maxDate: new Date(),
                dateFormat: 'dd - mm - yy'
            });

            report_initialise();
            routes_initialise();
            //            pointsInitialise();
            //            zones.initialise();
            alarms.initialise();

            // Workaround: Chrome 22 displayed the calendar at login at the top left.
            $('#ui-datepicker-div').css('position', 'absolute').css('left', '-9999px').hide();

            update_interval = 10000;

            setInterval('update_vehicles()', update_interval);

            docReady();
        });
    </script>
</head>
<body>
    <div id="page">
        <div id="header">
            <div id="logo">
                <a href="@Url.Action("Index", "Dashboard")">
                    <img alt="" src="../../content/images/logo.png" /></a>
            </div>
            <div id="buttons">
                <div id="zoom-all-btn" class="button" title="">
                    Zoom All
                </div>
                <div id="street-btn" class="button" title="">
                    Street
                </div>
                <div id="town-btn" class="button" title="">
                    Town
                </div>
                <div id="zoom-in-btn" class="button" title="">
                    Zoom In
                </div>
                <div id="zoom-out-btn" class="button" title="">
                    Zoom Out
                </div>
                <div id="locate-btn" class="button" title="">
                    Locate
                </div>
                <div id="DivMore" class="buttonMore" title="">
                </div>
                <div id="" title="">
                </div>
            </div>
            <div id="status">
            </div>
            <div id="welcomeUser">
                <ul>
                    @Html.Partial("_LoggedInLive")
                    @Html.Partial("_LogOnPartial")
                </ul>
            </div>
        </div>
        <!-- header -->
        <div id="main">
            @*<div id="tree" class="aciTree aciTree0">
            </div>*@
            <div id="mapPart">
                <div id="map">
                </div>
            </div>
            <!-- alarms -->
            <div id="warnings" class="alarms">
                <div id="warnings-close">
                </div>
                <ul id="warnings-list">
                </ul>
            </div>
            <!-- alarms -->
            <div id="alarms-wrap" class="alarms">
                <div id="alarms">
                    <div id="alarms-close">
                    </div>
                    <h1>Attention</h1>
                    <ul id="alarms-list">
                    </ul>
                </div>
            </div>
            <!-- reports -->
            <div id="reports" class="sidewindow">
                <h1>Reports</h1>
                <a class="close"></a>
                <div class="line">
                    <div class="label">
                        Type
                    </div>
                    <form>
                        <select id="report-type">
                            <option value="detail">Detail</option>
                            <option value="travel">Travel</option>
                            <option value="stop">Stop</option>
                        </select>
                    </form>
                </div>
                <div class="line">
                    <div class="label">
                        Format
                    </div>
                    <form>
                        <select id="report-format">
                            <option value="html">HTML</option>
                            <option value="pdf">PDF</option>
                        </select>
                    </form>
                </div>
                <div class="line">
                    <div class="label">
                        From
                    </div>
                    <input id="report-from" type="text" />
                </div>
                <div class="line">
                    <div class="label">
                        To
                    </div>
                    <input id="report-to" type="text" />
                </div>
                <div id="report-create" class="button">
                    Create
                </div>
            </div>
            <!-- routes -->
            <div id="routes" class="sidewindow">
                <h1>Route Replay</h1>
                <a class="close"></a>
                <div class="line">
                    <div class="label">
                        From
                    </div>
                    <input id="routes-from" type="text" />
                </div>
                <div class="line">
                    <div class="label">
                        To
                    </div>
                    <input id="routes-to" type="text" />
                </div>
                <div id="routes-retrieve" class="button">
                    Retrieve Routes
                </div>
                <div id="routes-tree">
                </div>
            </div>
            <! -- vehicle-selection -->
            <div id="vehicle-selection">
                <b>Recovery Vehicle:</b> @*<select id="recover">
                </select>*@
                @Html.DropDownList("recover", new SelectList(ViewBag.vehicle, "Value", "Text"), "Select Vehicle", new { id = "recover" })
                <b>Lost Vehicle:</b>
                <select id="lost">
                </select>
                <div id="trace-btn" class="button-rc" title="">
                    Trace
                </div>
            </div>
            <!-- Recovery Location Details -->
            <div id="location" class="sidewindow">
                <h1 id="dragger">Lost Vehicle Location Details</h1>
                <a class="close"></a>
                <div id="location_det" style="height: 232px; overflow-y: scroll; overflow-x: hidden; width: 230px;">
                    <ul id="carpos_info">
                    </ul>
                </div>
            </div>
            <!-- Control Recovery Vehicle -->
            <div id="recovery_cntrl" style="visibility: hidden">
                <div id="recovery_stop" class="button" style="width: 70px">
                    Switch OFF
                </div>
                <div id="recovery_start" class="button" style="width: 70px">
                    Switch On
                </div>
            </div>
            <!-- warning panel -->
            <div id="directions">
            </div>
            <!-- pop up dialog box -->
            <div id="dialog-confirm" style="display: none">
                <p id="messageTab">
                </p>
            </div>
        </div>
        <!-- body main -->
        <div id="footer">
            <div id="grid">
                <table id="vehicles" class="grid vehicles" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="group">Group
                            </th>
                            <th class="code" style="width: 50px;">Code
                            </th>
                            <th class="reg">Reg.
                            </th>
                            <th class="driver">Driver
                            </th>
                            <th class="street">Street
                            </th>
                            <th class="town">Town
                            </th>
                            <th class="odometer" style="width: 80px;">Odometer
                            </th>
                            <th class="speed">Speed
                            </th>
                            <th class="dir">Dir.
                            </th>
                            <th class="date">Date
                            </th>
                            <th class="time">Time
                            </th>
                            <th class="SatellitesUsed" style="width: 30px;">SU
                            </th>
                            <th class="event" style="width: 120px;">Event
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div>
                </div>
                <!--permanent scrollbar-->
            </div>
            <!-- grid -->
        </div>
        <!-- footer -->
        <div id="off-screen">
        </div>
    </div>
    <!-- page -->
</body>
</html>
