@*@Model GFleetV3.Models.MessageParamObject*@
@{
    Layout = null;
    WebGrid grid = new WebGrid(rowsPerPage: 1000);
    grid.Bind(Model);
    if (false)
    {
    <script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>
    }
}
@(new HtmlString(
grid.GetHtml(
            htmlAttributes: new { id = "gridData" },
                fillEmptyRows: false,
                tableStyle: "qlabs_grid_container",//"webgrid",
                headerStyle: "header_row",//"webgrid-header",
                footerStyle: "webgrid-footer",
                alternatingRowStyle: "data_even",//"webgrid-alternating-row",
                selectedRowStyle: "webgrid-selected-row",
                rowStyle: "data_odd", //"webgrid-row-style",
                    mode: WebGridPagerModes.All,
                            firstText: "<< First",
                            previousText: "< Prev",
                            nextText: "Next >",
                            lastText: "Last >>",
    columns: new[] {
        grid.Column(header: "[replacethis]", format: @<text><input id="ContactId" name="ContactId" 
      type="checkbox" class="class_all @item.ContactType" value="@item.PhoneNumber" /></text>),
        grid.Column("Company",style: "data_cell", 
                    header: "Company"),
        grid.Column("FullNames",style: "data_cell", 
                    header: "Names"),
        grid.Column("PhoneNumber",style: "data_cell", 
                    header: "Phone"),
        grid.Column("ContactType",style: "data_cell",
                    header: "Contact Type")
}).ToHtmlString().Replace("[replacethis]", "<b><input id='AllContacts' class='class_all contacttypeall' name='contactAll' type='checkbox'/></b>")))
<script type="text/javascript">
    InitGrid('gridData');
    $(document).ready(function () {
        //callback handler for form submit
    });

   @* @(new HtmlString(
        grid.GetHtml(
        tableStyle: "grid",
        headerStyle: "header",
        rowStyle: "row",
        footerStyle: "footer",
        alternatingRowStyle: "altRow",
        columns: grid.Columns(
                     grid.Column("Name", "[replacethis]"),
                     grid.Column("Surname", "Surname"),
                     grid.Column("Email", "Sender Email"),
                     grid.Column("Id", "", format: (item) => item.GetSelectLink("Select"), canSort: false))
).ToHtmlString().Replace("[replacethis]", "<b>Name</b>")
)

*@</script>
