@model IEnumerable<GFleetV3.Models.BackUpGridData>
@{
   Layout = null;
    WebGrid grid = new WebGrid(rowsPerPage:100);
    grid.Bind(Model,
        autoSortAndPage: false,
        rowCount:100
              );
    if (false)
    {
    <script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>
    }
}
@grid.GetHtml(
            htmlAttributes: new { id = "gridData" },
                fillEmptyRows: false,
                tableStyle: "qlabs_grid_container",//"webgrid",
                headerStyle: "header_row",//"webgrid-header",
                footerStyle: "webgrid-footer",
                alternatingRowStyle: "data_even",//"webgrid-alternating-row",
                selectedRowStyle: "webgrid-selected-row",
                rowStyle: "data_odd", //"webgrid-row-style",
                mode: WebGridPagerModes.All,
                        firstText: "<< First",
                        previousText: "< Prev",
                        nextText: "Next >",
                        lastText: "Last >>",
    columns: new[] {
        
        grid.Column("FileName",style: "data_cell", 
                    header: "File Name"),
        grid.Column("FileDate",style: "data_cell", 
                    header: "File Date"),
        grid.Column("FileSize",style: "data_cell", 
                    header: "File Size"),
        grid.Column("",style: "data_cell", 
                    header: "Actions",
                    format: @<text>
<label>@Html.ActionLink("Download", "downloadBackupFile", new { FileName = item.FileName }, new { @class = "editDialog"})</label>
</text>)
})
<script type="text/javascript">
    InitGrid('gridData');
</script>