﻿@model GFleetV3.Models.PagedClientModel
@{
    Layout = null;
    WebGrid grid = new WebGrid(rowsPerPage: Model.PageSize);
    grid.Bind(Model.Client,
              autoSortAndPage: false,
              rowCount: Model.TotalRows
              );
    if (false)
    {
    <script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>
    }
}
@grid.GetHtml(
        htmlAttributes: new { id = "gridData" },
        fillEmptyRows: false,
        tableStyle: "qlabs_grid_container",//"webgrid",
        headerStyle: "header_row",//"webgrid-header",
        footerStyle: "webgrid-footer",
        alternatingRowStyle: "data_even",//"webgrid-alternating-row",
        selectedRowStyle: "webgrid-selected-row",
        rowStyle: "data_odd", //"webgrid-row-style",
        mode: WebGridPagerModes.All,
                firstText: "<< First",
                previousText: "< Prev",
                nextText: "Next >",
                lastText: "Last >>",
    columns: new[] {
        
        grid.Column("ClientName",style: "data_cell namewarap", 
                    header: "ClientName"),
        grid.Column("ClientAddress",style: "data_cell", 
                    header: "Address"),
        grid.Column("ClientTelephone",style: "data_cell", 
                    header: "Telephone"),
        grid.Column("ClientEmail",style: "data_cell", 
                    header: "Email"),
        grid.Column("ClientPhysicalAddress",style: "data_cell", 
                    header: "Physical Address"),
        grid.Column("ContactPerson",style: "data_cell", 
                    header: "Contact Person"),
        grid.Column("",style: "data_cell", 
                    header: "Actions",
                    format: @<text>
<label>@Html.ActionLink("Edit", "Edit", new { id = item.ClientId }, new { @class = "editDialog"})</label>
</text>
        )
})
<script type="text/javascript">
    InitGrid('gridData');
</script>


