﻿@model GFleetV3.Models.PagedClientStaffModel
@{
    ViewBag.Title = "Taksi";
    if (false)
    {
    <script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>
    }
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#dialog-changepass').css('height');
        $('div#dialog-changepass').css("height", null);
        $('div#dialog-changepass').removeAttr("height");
        $("#CreateClientStaff").live("click", function (e) {
            // e.preventDefault(); use this or return false
            var url = $(this).attr('href');
            loadDialog(url, 'dialog-edit', 'Create ClientStaff');
            return false;
        });

        $(".editDialog").live("click", function (e) {
            // e.preventDefault(); use this or return false
            var url = $(this).attr('href');
            $("#dialog-edit").dialog({
                title: 'Edit ClientStaff',
                position: [300, 100],
                autoOpen: false,
                resizable: false,
                width: 'auto',
                autoResize: true,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                dialogClass: "fixed-dialog",
                open: function (event, ui) {
                    $(this).load(url);
                }
            });

            $("#dialog-edit").dialog('open');
            return false;
        });

        $(".confirmDialog").live("click", function (e) {
            // e.preventDefault(); use this or return false
            var url = $(this).attr('href');
            if (url.indexOf("Disapprove") > -1) {
                $('#actionmsg').text("Do you want to Disapprove user?");
            }
            else if (url.indexOf("unlock") > -1) {
                $('#actionmsg').text("Do you want to unlock user?");
            }
            else {
                $('#actionmsg').text("Do you want to approve user?");
            }
            $("#dialog-confirm").dialog({
                autoOpen: false,
                resizable: false,
                height: 170,
                width: 350,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                        $.ajax({
                            type: "POST",
                            url: url,
                            success: function () {
                                location.reload(true);
                            }
                        });
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
            });
            $("#dialog-confirm").dialog('open');
            return false;
        });
        $(".changePassDialog").live("click", function (e) {
            // e.preventDefault(); use this or return false
            var url = $(this).attr('href');
            unescape(url);
            parseQueryString = function () {

                var str = unescape(url);
                var objURL = {};

                str.replace(
    	        new RegExp("([^?=&]+)(=([^&]*))?", "g"),
    	        function ($0, $1, $2, $3) {
    	            objURL[$1] = $3;
    	        }
            );
                return objURL;
            };
            var params = parseQueryString();
            var username = params["username"];
            $("#HdnUsername").val(username);
            $("#dialog-changepass").dialog({
                autoOpen: false,
                resizable: false,
                height: 170,
                width: 350,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true
            });
            $("#dialog-changepass").dialog('open');
            $('#dialog-changepass').css('height', '');
            return false;
        });

        $(".viewDialog").live("click", function (e) {
            // e.preventDefault(); use this or return false
            var url = $(this).attr('href');
            $("#dialog-view").dialog({
                title: 'View ClientStaff',
                position: [300, 100],
                autoOpen: false,
                resizable: false,
                width: 'auto',
                autoResize: true,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                dialogClass: "fixed-dialog",
                open: function (event, ui) {
                    $(this).load(url);
                },
                buttons: {
                    "Close": function () {
                        $(this).dialog('close');
                    }
                }
            });

            $("#dialog-view").dialog('open');
            return false;
        });

        $("#btncancel").live("click", function (e) {
            //location.reload(true);
            $("#dialog-edit").dialog('close');

        });
        $("#btncancelpass").live("click", function (e) {
            //location.reload(true);
            $("#dialog-changepass").dialog('close');

        });

        //        $("#btnSave").live("click", function (e) {
        //            //location.reload(true);
        //            $("#ChangePassForm").submit();
        //            return false;
        //        });

        $("#ChangePassForm").submit(function (e) {
            var postData = $(this).serializeArray();
            var formURL = $(this).attr("action");
            $.ajax(
            {
                url: formURL,
                type: "POST",
                data: postData,
                success: function (data, textStatus, jqXHR) {
                    $("#dialog-changepass").dialog('close');
                    $('#from_resultsuccess').html(data.Message);
                    clearControls();
                    //data: return data from server
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    //if fails      
                }
            });
            e.preventDefault(); //STOP default action
        });
    });
    function clearControls() {
        $("#HdnUsername").val('');
        $("#TxtPassword").val('');
        $("#TxtConPassword").val('');
     }
</script>
<style>
    #from_resultsuccess
    {
        color: green;
        text-align: center
    }
</style>
<table width="961" border="0" align="center" cellpadding="0">
    <tr>
        <td height="42" colspan="2" class="td1" align="right">
            <div id="from_resultsuccess">
            </div>
        </td>
    </tr>
    <tr>
        @*<td width="208" class="td1" valign="top">
            @Html.Partial("_sidebarmenu", GFleetV3.Models.SideMenu.getSubmenu(@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()))
        </td>*@
        <td width="955" class="td1" valign="top">
            <div id="add-Item">
                @Html.ActionLink(" ", "Create", "ClientStaff", null, new { @id = "CreateClientStaff", @class = "add-Staff" })
            </div>
            @Html.Partial("_ClientStaffGrid", Model)
        </td>
    </tr>
</table>
<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;">
            <div id="actionmsg">
            </div>
        </span>
    </p>
</div>
<div id="dialog-changepass" class="divautosize" style="display: none; height: 170px;
    min-height: 170px;">
    @using (Html.BeginForm("ChangePassword", "ClientStaff", FormMethod.Post, new { @id = "ChangePassForm" }))
    { 
        @Html.HiddenFor(model => model.ClientRegStaffModel.RegisterStaffModel.Email, new { id = "HdnUsername" })
        <div class="editor-label">
            @Html.LabelFor(model => model.ClientRegStaffModel.RegisterStaffModel.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.ClientRegStaffModel.RegisterStaffModel.Password,new { id = "TxtPassword" })
        </div>
        <div class="validation-msg">
            @Html.ValidationMessageFor(model => model.ClientRegStaffModel.RegisterStaffModel.Password)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ClientRegStaffModel.RegisterStaffModel.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.ClientRegStaffModel.RegisterStaffModel.ConfirmPassword,new { id = "TxtConPassword" })
        </div>
        <div class="validation-msg">
            @Html.ValidationMessageFor(model => model.ClientRegStaffModel.RegisterStaffModel.ConfirmPassword)
        </div>
        <br />
        <div style="bottom: 0px; position: relative; float: right;">
            <button type="submit" id="btnSave" name="Command" value="Save" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                <span class="ui-button-text">Save</span></button>
            <button type="button" id="btncancelpass" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                <span class="ui-button-text">Cancel</span></button>
            &nbsp; &nbsp;
        </div>
    }
</div>
<div id="dialog-edit" style="width: auto; height: auto;">
</div>
<div id="dialog-view" style="display: none">
</div>
