@charset "utf-8";
/* CSS Document */

/*----*****---- << Shortcodes >> ----*****----*/
	
	/*----*****---- << Buttons >> ----*****----*/
	
	.button { line-height:normal; display:inline-block !important; *display:inline; zoom:1; margin:10px 0px 0px; color:#ffffff; cursor:pointer; font-weight:bold; text-transform:uppercase; }
	.button:hover { opacity:0.8; filter:alpha(opacity=80); color:#ffffff; }
	
	.button.small { font-size:14px; padding:11px 20px; background:url(images/btn-small-gradient.png) top repeat-x; }
	.button.medium { font-size:16px; padding:16px 20px; background:url(images/btn-medium-gradient.png) top repeat-x; }
	.button.large { font-size:18px; padding:21px 45px; font-size:16px; background:url(images/btn-large-gradient.png) top repeat-x; }
	.button.xlarge { font-size:20px; padding:26px 35px; font-size:18px; background:url(images/btn-large-gradient.png) top repeat-x; }
	
	.button.green { background-color:#7aa127; }
	
	.button.orange { background-color:#f39d12; }
	.button.blue { background-color:#3498db; }
	.button.pink { background-color:#e67fb9; }
	.button.red { background-color:#e74d3c; }
	.button.purple { background-color:#9c59b6; }
	.button.ocean { background-color:#1abc9c; }
	.button.black { background-color:#333334; }
	
	.button:hover { background-color:#000000; }
	.button.black:hover { background-color:#333334; }
	
	input.button, input[type="submit"], input[type="button"] { overflow: visible; /* remove padding from left/right */ width:auto !important; }
	
	/*----*****---- << Lists >> ----*****----*/
	
	ul.fancy-list { list-style-type:none; list-style-position:outside; }
	ul.fancy-list li { display:block; position:relative; padding-left:20px; line-height:normal; }
	ul.fancy-list li ul { padding-left:0px; }
	
	ul.fancy-list.arrow li { padding-left:15px; }
	
	ul.fancy-list li:before { font-family:FontAwesome; font-style:normal; color:#333334; font-weight:normal; text-decoration:inherit; font-size:14px; position:absolute; top:1px; left:0px; }
	
	ul.fancy-list.arrow li:before { content:"\f105";  }
	ul.fancy-list.rounded-arrow li:before { content:"\f0a9";  }
	ul.fancy-list.double-arrow li:before { content:"\f101";  }	
	ul.fancy-list.heart li:before { content:"\f004"; font-size:12px; }
	ul.fancy-list.trash li:before { content:"\f014";  }
	ul.fancy-list.star li:before { content:"\f005";  }
	ul.fancy-list.tick li:before { content:"\f00c";  }
	ul.fancy-list.rounded-tick li:before { content:"\f058";  }
	ul.fancy-list.cross li:before { content:"\f00d";  }
	ul.fancy-list.rounded-cross li:before { content:"\f057";  }
	ul.fancy-list.rounded-question li:before { content:"\f059";  }
	ul.fancy-list.rounded-info li:before { content:"\f05a";  }
	ul.fancy-list.delete li:before { content:"\f05e";  }
	ul.fancy-list.warning li:before { content:"\f071";  }
	ul.fancy-list.comment li:before { content:"\f075";  }
	ul.fancy-list.edit li:before { content:"\f044";  }
	ul.fancy-list.share li:before { content:"\f064";  }
	ul.fancy-list.plus li:before { content:"\f067";  }
	ul.fancy-list.rounded-plus li:before { content:"\f055";  }
	ul.fancy-list.minus li:before { content:"\f068";  }	
	ul.fancy-list.rounded-minus li:before { content:"\f056";  }	
	ul.fancy-list.asterisk li:before { content:"\f069";  }
	ul.fancy-list.cart li:before { content:"\f07a";  }
	ul.fancy-list.folder li:before { content:"\f07b";  }
	ul.fancy-list.folder-open li:before { content:"\f07c";  }
	ul.fancy-list.desktop li:before { content:"\f108";  }
	ul.fancy-list.tablet li:before { content:"\f10a";  }
	ul.fancy-list.mobile li:before { content:"\f10b";  }
	ul.fancy-list.reply li:before { content:"\f112";  }
	ul.fancy-list.quote li:before { content:"\f10d";  }
	ul.fancy-list.mail li:before { content:"\f0e0";  }
	ul.fancy-list.external-link li:before { content:"\f08e";  }	
	ul.fancy-list.adjust li:before { content:"\f042";  }
	ul.fancy-list.pencil li:before { content:"\f040";  }
	ul.fancy-list.print li:before { content:"\f02f";  }
	ul.fancy-list.tag li:before { content:"\f02b";  }	
	ul.fancy-list.thumbs-up li:before { content:"\f088";  }
	ul.fancy-list.thumbs-down li:before { content:"\f087";  }
	ul.fancy-list.time li:before { content:"\f017";  }
	ul.fancy-list.globe li:before { content:"\f0ac";  }	
	ul.fancy-list.pushpin li:before { content:"\f08d";  }
	ul.fancy-list.map-marker li:before { content:"\f041";  }
	ul.fancy-list.link li:before { content:"\f0c1";  }
	ul.fancy-list.paper-clip li:before { content:"\f0c6";  }	
	ul.fancy-list.download li:before { content:"\f019";  }
	ul.fancy-list.key li:before { content:"\f084";  }
	ul.fancy-list.search li:before { content:"\f002";  }
	ul.fancy-list.rss li:before { content:"\f09e";  }	
	ul.fancy-list.twitter li:before { content:"\f099";  }
	ul.fancy-list.facebook li:before { content:"\f09a";  }
	ul.fancy-list.linkedin li:before { content:"\f0e1";  }
	ul.fancy-list.google-plus li:before { content:"\f0d5";  }
	
	ul.fancy-list.check li:before { content:"\f046";  }
	ul.fancy-list.hand li:before { content:"\f0a4";  }
	ul.fancy-list.cog li:before { content:"\f013";  }
	ul.fancy-list.play li:before { content:"\f01d";  }
	
	ol.fancy-list li span { color:#333334; }

	ol.decimal { list-style-type:decimal; }
	ol.decimal-leading-zero { list-style-type:decimal-leading-zero; }
	ol.lower-alpha { list-style-type:lower-alpha; }
	ol.lower-roman { list-style-type:lower-roman; }
	ol.upper-alpha { list-style-type:upper-alpha; }
	ol.upper-roman { list-style-type:upper-roman; }
	
	ol.fancy-list.blue li { color:#2b6375; }
	ol.fancy-list.yellow li { color:#ffc956; }
	ol.fancy-list.pink li { color:#c34258; }
	ol.fancy-list.green li { color:#61a760; }
	ol.fancy-list.violet li { color:#343b67; }
	ol.fancy-list.mustard li { color:#a38036; }
	ol.fancy-list.turquoise li { color:#42c2a2; }	
	ol.fancy-list.olive-green li { color:#C9C94F; }
	ol.fancy-list.orange li { color:#FB7A1A; }
	ol.fancy-list.purple li { color:#BC3099; }
	ol.fancy-list.red li { color:#D11B1B; }
	ol.fancy-list.deepblue li { color:#092334; }
	ol.fancy-list.teal li { color:#008899; }	
	ol.fancy-list.mauve li { color:#625B56; }
	ol.fancy-list.steelblue li { color:#788794; }
	ol.fancy-list.coffee li { color:#372E25; }
	ol.fancy-list.coral li { color:#FF7F50; }
	ol.fancy-list.crimson li { color:#DC143C; }
	ol.fancy-list.hotpink li { color:#FF69B4; }
	ol.fancy-list.aqua li { color:#00DDDD; }
	
	/*----*****---- << Blockquote >> ----*****----*/
	
	blockquote { border-bottom:3px solid #d9d9d9; background:#ededed; display:block; padding:25px 25px 25px 50px; margin:0px; position:relative; }
	blockquote q { font-style:normal; font-size:14px; line-height:24px; }
	blockquote cite { font-size:12px; }
	blockquote:before { content:"\f10d"; font-family:FontAwesome; font-style:normal; color:#797979; font-weight:normal; text-decoration:inherit; font-size:20px; position:absolute; top:25px; left:20px; }
	blockquote:after { content:''; border-bottom:1px solid #ffffff; bottom:0px; left:0px; position:absolute; width:100%; }
	
	/*----*****---- << Toggle & Accordion >> ----*****----*/
	
	.toggle-frame-set { float:left; width:100%; margin:0px; padding:0px; }
	.toggle-frame h5.toggle-accordion, .toggle-frame h5.toggle { clear:both; margin:0px 0px 1px; background:#ededed; }
	.toggle-frame h5.toggle-accordion a, .toggle-frame h5.toggle a { color:#333334; display:block; padding:12px 15px 15px 37px; }
	.toggle-frame h5.toggle-accordion.active a, .toggle-frame h5.toggle.active a, .toggle-frame h5.toggle-accordion.active a:hover { color:#ffffff !important; }
	.toggle-content { clear:both; padding:20px 0px 20px; display:none; }
	
	h5.toggle, h5.toggle-accordion { font-size:16px; clear:both; position:relative; padding-left:22px; color:#333334; -webkit-transition:all 300ms linear; -moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear; transition:all 300ms linear; }
	h5.toggle:before, h5.toggle-accordion:before { font-family:FontAwesome; font-style:normal; font-weight:normal; text-decoration:inherit; font-size:18px; position:absolute; top:2px; left:0px; content:"\f055"; }
	h5.toggle.active:before, h5.toggle-accordion.active:before { content:"\f056"; }
	.toggle-frame h5.toggle-accordion.active a, .toggle-frame h5.toggle.active a, .toggle-frame h5.toggle-accordion.active:before, .toggle-frame h5.toggle.active:before, .toggle-frame h5.toggle-accordion.active:hover, .toggle-frame h5.toggle.active:hover { color:#ffffff; }
	
	.toggle-frame h5.toggle-accordion:before, .toggle-frame h5.toggle:before { top:13px; left:15px; }
	
	.toggle-frame h5.toggle, .toggle-frame h5.toggle-accordion { padding:0px; }	
		
	.faq h5.toggle-accordion { padding:0px 0px 0px 42px; margin-bottom:13px; line-height:35px; }	
	.faq h5.toggle-accordion:before { font-family:'Lato', sans-serif; content:'?'; background:#333334; width:27px; height:27px; text-align:center; line-height:27px; color:#ffffff; border:3px solid #d9d9d9; border-radius:27px; }
	.faq h5.toggle-accordion.active:before { content:'?'; }
	.faq .toggle-content { padding:0px 0px 10px; margin-left:42px; }
	
	/*----*****---- << Horizontal Tabs >> ----*****----*/
	
	.tabs-container { float:left; width:100%; margin:0px 0px 20px; padding:0px; clear:both; }
	ul.tabs-frame { float:left; margin:0px 0px 0px 2%; padding:0px; width:98%; }
	ul.tabs-frame li { float:left; display:inline; margin:0px 10px 0px 0px; padding:0px; }
	ul.tabs-frame li a { border:1px solid #d9d9d9; border-top:3px solid #d9d9d9; border-bottom:0px; float:left; margin:0px; padding:0px 20px; background:#ededed; text-align:center; font-size:14px; font-weight:bold; color:#333334; line-height:40px; }
	ul.tabs-frame li a.current { background:#ffffff; color:#333334; border-bottom:0px; position:relative; z-index:1; }
	
	.tabs-frame-content { background:#ffffff; border:1px solid #d9d9d9; float:left; clear:both; width:90%; margin:-1px 0px 0px; padding:25px 5% 15px; }	
	
	/*----*****---- << Vertical Tabs >> ----*****----*/
	
	.tabs-vertical-container { float:left; width:100%; margin:0px 0px 20px; padding:0px; clear:both; }
	ul.tabs-vertical-frame { float:left; width:31%; margin:0px; padding:0px 13px 0px 0px; }
	ul.tabs-vertical-frame li { float:left; display:block; margin:0px 0px 10px; padding:0px; width:100%; position:relative; }
	ul.tabs-vertical-frame li a { display:block; border:1px solid #d9d9d9; margin:0px; padding:14px 20px; background:#ededed; font-size:14x; font-weight:bold; color:#333334; }
	ul.tabs-vertical-frame li a.current { background:#ffffff; }
	
	ul.tabs-vertical-frame li.current a span { position:absolute; right:-6px; top:16px; background:url(images/vertical-tabs-active.png) no-repeat; width:7px; height:12px;  }
	
	.tabs-vertical-frame-content { background:#ffffff; border:1px solid #d9d9d9; float:left; width:58%; margin:-1px 0px 0px; padding:20px 4% 20px; }		
	.tabs-vertical-frame-content h4 { text-transform:none; }
	
	/*----*****---- << Pricing Table >> ----*****----*/
	
	.pricing-table { width:100%; margin:30px 0px 20px; padding:0px; float:left; }
	.pr-tb-col { position:relative; border:5px solid #f0f0f0; background:#fafafa; width:100%; margin:0px; padding:0px; text-align:center; -webkit-transition:-webkit-box-shadow 0.2s ease-out; -moz-transition:-moz-box-shadow 0.2s ease-out; 	-o-transition:-o-box-shadow 0.2s ease-out; transition:box-shadow 0.2s ease-out; }
	
	.tb-title h5 { padding:20px; font-weight:bold; font-size:20px; line-height:normal; text-transform:uppercase; margin-bottom:0px; }
	
	.tb-header .price { background:#666667; margin:0px -5px; padding:20px 20px 20px 20px; display:block; font-size:48px; font-weight:bold; color:#ffffff; }
	.tb-header .price span { font-size:18px; }
	
	.tb-content { border-top:5px solid #f0f0f0; list-style-type:none; margin:0px; }
	.tb-content li { background:#f7f7f7; font-size:14px; color:#757575; border-top:1px solid #dfdfdf; border-bottom:1px solid #ffffff; padding:18px 10px; }
		
	.pr-tb-col .buy-now { border-top:5px solid #f0f0f0; padding:20px; margin:0px; }
	.pr-tb-col .buy-now .button { margin:0px; background-color:#333334; color:#ffffff; }
	
	.pr-tb-col, .tb-header .price, .tb-title h5, .pr-tb-col .buy-now { -webkit-transition:all 300ms linear; -moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear; transition:all 300ms linear; }
	
	.pr-tb-col.selected, .pr-tb-col:hover { z-index:10; box-shadow:0px 0px 15px rgba(0, 0, 0, 0.25); -moz-box-shadow:0px 0px 15px rgba(0, 0, 0, 0.25); -webkit-box-shadow:0px 0px 15px rgba(0, 0, 0, 0.25); margin-top:-25px; }
	.pr-tb-col:hover { z-index:100; }
	
	.pr-tb-col.selected .tb-title h5, .pr-tb-col:hover .tb-title h5, .pr-tb-col.selected .buy-now, .pr-tb-col:hover .buy-now { padding:25px 20px; }	
	.pr-tb-col.selected .tb-header .price, .pr-tb-col:hover .tb-header .price { padding:35px 20px; }
	.pr-tb-col.selected { border-color:#9bb95d; }
	.pr-tb-col.selected .tb-header .price { background:#9bb95d; }
	
	.pricing-table.no-space .column { margin-right:0px; }
	.pricing-table.no-space .one-fourth { width:25%; } 	
	.pricing-table.no-space .one-third { width:33.3%; }	
	.pricing-table.no-space .one-half { width:50%; }
	.pricing-table.no-space .one-fifth { width:20%; }
	.pricing-table.no-space .one-sixth { width:16.6%; }
	
	.pricing-table.no-space .three-fourth { width:75%; }
	.pricing-table.no-space .two-third { width:66.6%; }
	.pricing-table.no-space .four-fifth { width:80%; }
	.pricing-table.no-space .three-fifth { width:60%; }
	.pricing-table.no-space .two-fifth { width:40%; }
	.pricing-table.no-space .two-sixth { width:33.2%; }
	.pricing-table.no-space .three-sixth { width:49.8%; }
	.pricing-table.no-space .four-sixth { width:66.4%; }
	.pricing-table.no-space .five-sixth { width:83%; }	

	/*----*****---- << Progress Bar >> ----*****----*/
		
	.progress { height:42px; margin-bottom:10px; clear:both; display:block; }
	.progress .bar { position:relative; }
	.progress .bar-text { font-size:14px; position:absolute; top:0; left:0; line-height:42px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box; padding:0px 20px; color:#fff; font-weight:bold; width:100%; text-align:left; display:none; }
	.progress .bar-text > span { float:right; display:block; }
	
	@-webkit-keyframes progress-bar-stripes {
	  from {
		background-position: 40px 0;
	  }
	  to {
		background-position: 0 0;
	  }
	}
	@-moz-keyframes progress-bar-stripes {
	  from {
		background-position: 40px 0;
	  }
	  to {
		background-position: 0 0;
	  }
	}
	@-ms-keyframes progress-bar-stripes {
	  from {
		background-position: 40px 0;
	  }
	  to {
		background-position: 0 0;
	  }
	}
	@-o-keyframes progress-bar-stripes {
	  from {
		background-position: 0 0;
	  }
	  to {
		background-position: 40px 0;
	  }
	}
	@keyframes progress-bar-stripes {
	  from {
		background-position: 40px 0;
	  }
	  to {
		background-position: 0 0;
	  }
	}
	.progress {
	  overflow: hidden;
	  height:42px;
	  background-color: #ededed;
	}
	.progress .bar {
	  width: 0%;
	  height: 100%;
	  color: #ffffff;
	  float: left;
	  font-size: 12px;
	  text-align: center;
	  background-color: #0e90d2;
	  background-repeat: repeat-x;
	  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  -webkit-transition: width 0.6s ease;
	  -moz-transition: width 0.6s ease;
	  -o-transition: width 0.6s ease;
	  transition: width 0.6s ease;
	}
	.progress .bar + .bar {
	  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.15), inset 0 -1px 0 rgba(0,0,0,.15);
	  -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.15), inset 0 -1px 0 rgba(0,0,0,.15);
	  box-shadow: inset 1px 0 0 rgba(0,0,0,.15), inset 0 -1px 0 rgba(0,0,0,.15);
	}
	.progress-striped .bar {
	  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
	  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	  -webkit-background-size: 40px 40px;
	  -moz-background-size: 40px 40px;
	  -o-background-size: 40px 40px;
	  background-size: 40px 40px;
	}
	.progress.active .bar {
	  -webkit-animation: progress-bar-stripes 2s linear infinite;
	  -moz-animation: progress-bar-stripes 2s linear infinite;
	  -ms-animation: progress-bar-stripes 2s linear infinite;
	  -o-animation: progress-bar-stripes 2s linear infinite;
	  animation: progress-bar-stripes 2s linear infinite;
	}

