@model  GFleetV3.Models.DetailedHistory
@{
    Layout = null;
    int cnt = 0;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <meta name="viewport" content="width=device-width" />
    <title>@Model.title</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/datatable")
    @Styles.Render("~/Content/Reports/reports.css")
    <link href="~/Content/Reports/TableTools.css" rel="stylesheet" />
    <script type="text/javascript">
        var the_dataTable;
        var the_dataTables;
        $(document).ready(function () {
            $(".headerday").click(function (e) {
                var tablename = this.id.replace("header", "table");
                if ($('#' + tablename).css("display") == "none") {
                    $('#' + tablename).css("display", "table");
                } else {
                    $('#' + tablename).css("display", "none");
                }
            });

            $("#btnXLS").click(function (e) {
                post("xls");
            });
            $("#btnCSV").click(function (e) {
                post("csv");
            });
            $("#btnDOC").click(function (e) {
                post("DOC");
            });
            $("#btnXML").click(function (e) {
                post("xml");
            });
            $("#btnHTML").click(function (e) {
                post("html");
            });
            $("#btnPDF").click(function (e) {
                post("pdf");
            });
            $.urlParam = function (name) {
                var results = new RegExp('[\\?&]' + name + '=([^&#]*)', 'gi').exec(window.location.href);
                return results[1] || 0;
            }


            //loadDataTable();
        });

        function exportMyTable(oConfig, myDataTable, childRows) {
            var i, iLen, j, jLen, k;
            var aRow, aData = [], sLoopData = '', arr;
            var dt = myDataTable.s.dt, tr, child;
            var regex = "/(?:/g";
            var aColumnsInc = myDataTable._fnColumnTargets(oConfig.mColumns);
            var header = []; // if child row header is different that parent row header

            /*
            * Header
            */
            if (oConfig.bHeader) {
                for (i = 0, iLen = dt.aoColumns.length ; i < iLen ; i++) {
                    if (aColumnsInc[i]) {
                        sLoopData = dt.aoColumns[i].sTitle.replace(/\n/g, " ").replace(/<.*?>/g, "").replace(/^\s+|\s+$/g, "");
                        sLoopData = myDataTable._fnHtmlDecode(sLoopData);

                        header.push(myDataTable._fnBoundData(sLoopData, oConfig.sFieldBoundary, regex));
                    }
                }
            }

            /*
            * Body
            */
            var aDataIndex;

            if (DataTable.Api) {
                // 1.10+ style
                aDataIndex = new DataTable.Api(dt)
                    .rows(oConfig.oSelectorOpts)
                    .indexes()
                    .flatten()
                    .toArray();
            }
            else {
                // 1.9- style
                aDataIndex = dt.oInstance
                    .$('tr', oConfig.oSelectorOpts)
                    .map(function (id, row) {
                        return dt.oInstance.fnGetPosition(row);
                    })
                    .get();
            }
            var currentProduct = '';
            for (j = 0, jLen = aDataIndex.length ; j < jLen ; j++) {
                aData.push(header.join(oConfig.sFieldSeperator)); // push title row for each header row
                tr = dt.aoData[aDataIndex[j]].nTr;
                aRow = [];

                /* Columns */
                for (i = 0, iLen = dt.aoColumns.length ; i < iLen ; i++) {
                    if (aColumnsInc[i]) {
                        /* Convert to strings (with small optimisation) */
                        var mTypeData = dt.oApi._fnGetCellData(dt, aDataIndex[j], i, 'display');
                        if (oConfig.fnCellRender) {
                            sLoopData = oConfig.fnCellRender(mTypeData, i, tr, aDataIndex[j]) + "";
                        }
                        else if (typeof mTypeData == "string") {
                            /* Strip newlines, replace img tags with alt attr. and finally strip html... */
                            sLoopData = mTypeData.replace(/\n/g, " ");
                            sLoopData = sLoopData.replace(/<img.*?\s+alt\s*=\s*(?:"([^"]+)"|'([^']+)'|([^\s>]+)).*?>/gi, '$1$2$3');
                            sLoopData = sLoopData.replace(/<.*?>/g, "");
                        }
                        else {
                            sLoopData = mTypeData + "";
                        }

                        /* Trim and clean the data */
                        sLoopData = sLoopData.replace(/^\s+/, '').replace(/\s+$/, '');
                        sLoopData = myDataTable._fnHtmlDecode(sLoopData);
                        // get the current product from it's column to later get corresponding child data
                        if (i == 1) {
                            currentProduct = sLoopData;
                        }

                        /* Bound it and add it to the total data */
                        aRow.push(myDataTable._fnBoundData(sLoopData, oConfig.sFieldBoundary, regex));
                    }
                }

                aData.push(aRow.join(oConfig.sFieldSeperator));

                /* Get all details rows */
                if (childRows != null) {
                    // push child title/header row
                    aRow = [];
                    aRow.push("Header 1");
                    aRow.push("Header 2");
                    aRow.push("Header 3");
                    aData.push(aRow.join(oConfig.sFieldSeperator));

                    k = 0;
                    // loop through all child data and push only that which corresponds with the current product
                    while (k < childRows.value.length) {
                        if (childRows.value[k].VARIABLE1 === currentProduct) {
                            aRow = [];
                            aRow.push(childRows.value[k].VARIABLE2);
                            aRow.push(childRows.value[k].VARIABLE3);
                            aRow.push(childRows.value[k].VARIABLE4);
                            aData.push(aRow.join(oConfig.sFieldSeperator));
                            k++;
                        }
                        else {
                            k++;
                        }
                    }
                }
            }

            /*
            * Footer
            */
            if (oConfig.bFooter && dt.nTFoot !== null) {
                aRow = [];

                for (i = 0, iLen = dt.aoColumns.length ; i < iLen ; i++) {
                    if (aColumnsInc[i] && dt.aoColumns[i].nTf !== null) {
                        sLoopData = dt.aoColumns[i].nTf.innerHTML.replace(/\n/g, " ").replace(/<.*?>/g, "");
                        sLoopData = myDataTable._fnHtmlDecode(sLoopData);

                        aRow.push(myDataTable._fnBoundData(sLoopData, oConfig.sFieldBoundary, regex));
                    }
                }

                aData.push(aRow.join(oConfig.sFieldSeperator));
            }

            var _sLastData = aData.join(myDataTable._fnNewline(oConfig));
            return _sLastData;
        }

        function loadDataTable() {
            //if (vehicles.length > 0) {
            if (the_dataTable == null) {
                the_dataTable = $('#tblDetailed').DataTable({
                    "oTableTools": {
                        "sSwfPath": "../../Scripts/dataTable/copy_csv_xls_pdf.swf",
                        "aButtons": [
                            {
                                "sExtends": "copy"
                                //,"mColumns": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                            },
                            {
                                "sExtends": "csv"
                                //, "mColumns": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                                ,"fnClick": function ( nButton, oConfig, oFlash ) {
                                    //alert('Mouse click');
                                    this.fnSetText(oFlash, exportMyTable(oConfig, this, childRows));
                                    //this.fnSetText(oFlash, this.fnGetTableData(oConfig));
                                    //console.log(oConfig);
                                }
                            },
                            {
                                "sExtends": "pdf"
                                //, "mColumns": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                            },
                            {
                                "sExtends": "print"
                                //, "mColumns": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                            },
 
                        ]
                    },
                    "scrollCollapse": true,
                    "paging": false,
                    "ordering": true,
                    "order": [[0, "desc"]],
                    "info": false,
                    "ScrollY": "350px",
                    "bPaginate": false,
                    //"sDom": 'Tlfrtip'
                   
                    "sDom": '<"top_left"l><"top_right"Tf>'
                });

                the_dataTables = $('.tabledata').DataTable({
                    "scrollCollapse": true,
                    "paging": false,
                    "ordering": true,
                    "order": [[1, "desc"]],
                    "info": false,
                    "ScrollY": "350px",
                    "bPaginate": false,
                    "bFilter": false,
                    "bInfo": false
                    //,"sDom": 'Tlfrtip'
                    //,"sDom": '<"top_left"l><"top_right"Tf>'
                });
            }
        }

        function post(reportType) {
            var params = $.param({
                reportType: reportType,
                //data: 'asDgfsdrgsdfbgf'
                //data: $('#reportdata').html()
                type: $.urlParam('type'),
                startDate: $.urlParam('startDate'),
                endDate: $.urlParam('endDate'),
                regNo: $.urlParam('regNo')
            });
            window.open('export/?' + params);
        }

        function ajax_error(request, text, error) {
            console.log(request);
            console.log(text);
            console.log(error);
        }
    </script>

    <style>
        .subelement
        {
            display: none;
            width: 129px;
            height: 1.2em;
            padding-left: 10px;
            overflow: hidden;
            font-weight: normal;
            cursor: pointer;
        }

        .route_hover
        {
            background: #ddf;
        }

        .notclosed
        {
            background: #FF6600;
        }

        .header
        {
            text-align: center;
        }

        .day h2
        {
            margin-top: .5em;
            padding: .5em;
            background: #87CEEB;
            border: 1px solid #000;
            color: #fff;
        }

        div.DTTT_container
        {
            margin-top: 5px;
            margin-left: 5px;
        }

        .dataTables_filter
        {
            margin-top: 5px;
            float: right;
            position: relative;
        }
    </style>
</head>
<body>
    <div class="btnsbar">
        <button id="btnExportToExcel" value="xls">
            To Excel</button>
        <button type="button" value="xls" id="btnXLS" class=" x-btn-text icon-pagewhiteexcel">
            XLS</button>
        <button type="button" value="csv" id="btnCSV" class=" x-btn-text icon-pageattach">
            CSV</button>
        <button type="button" value="doc" id="btnDOC" class=" x-btn-text icon-pagewhiteword">
            DOC</button>
        <button type="button" value="xml" id="btnXML" class=" x-btn-text icon-pagewhitecode">
            XML</button>
        <button type="button" value="html" id="btnHTML" class=" x-btn-text icon-pagewhiteh">
            HTML</button>
        <button type="button" value="pdf" id="btnPDF" class=" x-btn-text icon-pagewhiteacrobat">
            PDF</button>
    </div>
    <div id="header">
        <h1>
            &nbsp;</h1>
        <div id="time-and-date">
            @Model.time
        </div>
        <div id="description">
            
            @Model.title @Model.header 
        </div>
    </div>
    <div id="reportdata">
    <table id="tblDetailed" style="width:100%;">
        <thead>
            <tr>
                <th>
                    
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @foreach (GFleetV3.Models.DetailedHistoryPayload payload in Model.data)
                        {
                            <div class="day" id="day@(payload.recNo.ToString())">
                                <h2 class="headerday" id="header@(payload.recNo.ToString())">@payload.DayDate</h2>
                                <table cellpadding="0" id="table@(payload.recNo.ToString())" class="tabledata">
                                    <thead>
                                        <tr>
                                            <th>
                                                Time
                                            </th>
                                            <th>
                                                Event
                                            </th>
                                            <th>
                                                Street
                                            </th>
                                            <th>
                                                Town
                                            </th>
                                            <th>
                                                Dir
                                            </th>
                                            <th>
                                                Speed
                                            </th>
                                            <th>
                                                Odometer
                                            </th>
                                            <th>
                                                Driver
                                            </th>
                                            <th>
                                                Reg
                                            </th>
                                            <th>
                                                sat
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (DataAccess.SQL.Report_History_V3_Result data in payload.Reports)
                                        { 
                                            <tr class=@(cnt++ % 2 == 0 ? "even" : "odd")>
                                                <td class="cust-name">@data.time
                                                </td>
                                                <td>@data.EventName
                                                </td>
                                                <td>@data.street
                                                </td>
                                                <td>@data.town
                                                </td>
                                                <td>@data.Direction
                                                </td>
                                                <td>@data.Speed
                                                </td>
                                                <td>@data.distance
                                                </td>
                                                <td>@data.Driver
                                                </td>
                                                <td>@data.Reg
                                                </td>
                                                <td class="sat">
                                                    <a href="http://maps.google.co.uk/?q=@data.Latitude,@data.Longitude&t=h&z=18" target="_blank">
                                                        sat</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div> 
                        }
                </td>
            </tr>
        </tbody>
    </table>
        
    </div>
    <div id="message">
        @ViewBag.message
    </div>
</body>
</html>
