@model GFleetV3.Models.JourneyReport
@{
    Layout = null;
    int cnt = 0;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <meta name="viewport" content="width=device-width" />
    <title>@Model.title</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/Reports/reports.css")
    <script type="text/javascript">
        $(document).ready(function () {
            $(".headerday").click(function (e) {
                var tablename = this.id.replace("header", "table");
                if ($('#' + tablename).css("display") == "none") {
                    $('#' + tablename).css("display", "table");
                } else {
                    $('#' + tablename).css("display", "none");
                }
            });

            $("#btnXLS").click(function (e) {
                post("xls");
            });
            $("#btnCSV").click(function (e) {
                post("csv");
            });
            $("#btnDOC").click(function (e) {
                post("DOC");
            });
            $("#btnXML").click(function (e) {
                post("xml");
            });
            $("#btnHTML").click(function (e) {
                post("html");
            });
            $("#btnPDF").click(function (e) {
                post("pdf");
            });

            $.urlParam = function (name) {
                var results = new RegExp('[\\?&]' + name + '=([^&#]*)', 'gi').exec(window.location.href);
                return results[1] || 0;
            }
        });



        function post(reportType) {
            var params = $.param({
                reportType: reportType,
                //data: 'asDgfsdrgsdfbgf'
                //data: $('#reportdata').html()
                type: $.urlParam('type'),
                startDate: $.urlParam('startDate'),
                endDate: $.urlParam('endDate'),
                regNo: $.urlParam('regNo')
            });
            window.open('export/?' + params);
        }

        function ajax_error(request, text, error) {
            console.log(request);
            console.log(text);
            console.log(error);
        }
    </script>
</head>
<body>
    <div class="btnsbar">
        <button id="btnExportToExcel" value="xls">
            To Excel</button>
        <button type="button" value="xls" id="btnXLS" class=" x-btn-text icon-pagewhiteexcel">
            XLS</button>
        <button type="button" value="csv" id="btnCSV" class=" x-btn-text icon-pageattach">
            CSV</button>
        <button type="button" value="doc" id="btnDOC" class=" x-btn-text icon-pagewhiteword">
            DOC</button>
        <button type="button" value="xml" id="btnXML" class=" x-btn-text icon-pagewhitecode">
            XML</button>
        <button type="button" value="html" id="btnHTML" class=" x-btn-text icon-pagewhiteh">
            HTML</button>
        <button type="button" value="pdf" id="btnPDF" class=" x-btn-text icon-pagewhiteacrobat">
            PDF</button>
    </div>
    <div id="header">
        <h1>
            &nbsp;</h1>
        <div id="time-and-date">
            @Model.time
        </div>
        <div id="description">
            @Model.title @Model.header
        </div>
    </div>
    <div id="reportdata">
        @foreach (GFleetV3.Models.JourneyPayload payload in Model.data)
        {
            <div class="day" id="day@(payload.recNo.ToString())">
                <h2 class="headerday" id="header@(payload.recNo.ToString())">@payload.DayDate</h2>
                <table cellpadding="0" id="table@(payload.recNo.ToString())" class="tabledata">
                    <thead>
                        <tr>
                            <th>
                                Event
                            </th>
                            <th>
                                Street
                            </th>
                            <th>
                                Town
                            </th>
                            <th>
                                Distance
                            </th>
                            <th>
                                Odometer
                            </th>
                            <th>
                                TimeElapsed
                            </th>
                            <th>
                                Details
                            </th>
                            <th>
                                Map
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DataAccess.SQL.Report_JourneyReport_V2_Result data in payload.JourneyReports)
                        { 
                            <tr class=@(cnt++ % 2 == 0 ? "even" : "odd")>
                                <td>@data.sEvent<br />@data.eEvent
                                </td>
                                <td>@data.sStreet<br />@data.eStreet
                                </td>
                                <td>
                                    @data.sTown<br />@data.eTown
                                </td>
                                <td>@data.Distance
                                </td>
                                <td>@data.sOdometer<br />@data.eOdometer
                                </td>
                                <td>@data.TimeElapsed
                                </td>
                                <td>@data.Reg@*<br />@data.Phone*@
                                </td>
                                <td>
                                    <a href="http://maps.google.co.uk/?q=@data.sLatitude,@data.sLongitude&t=h&z=18" target="_blank">
                                        map</a><br />
                                    <a href="http://maps.google.co.uk/?q=@data.eLatitude,@data.eLongitude&t=h&z=18" target="_blank">
                                        map</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <table>
                    <tr class="footer-row">
                        <td colspan="3">
                            Daily Summary
                        </td>
                        <td colspan="1">
                            Journey count @payload.journeyCount
                        </td>
                        <td colspan="1">@payload.Distance (Kms)
                        </td>
                        <td colspan="1">@payload.ElapsedTime
                        </td>
                        <td colspan="2">@payload.AveSpeed.ToString("F2") Km/h (average)
                        </td>
                    </tr>
                </table>
            </div> 
        }
        <table style="width: 100%;">
            <tr style="background-color: rgb(31, 221, 247); font-size: 20px; font-weight: bold;">
                <td colspan="3">
                    Total Summary
                </td>
                <td colspan="1">
                    Journey count @Model.TotaljourneyCount
                </td>
                <td colspan="1">
                    Total Distance @Model.TotalDistance (Kms)
                </td>
                <td colspan="2">
                    Total Time @Model.TotalElapsedTime
                </td>
            </tr>
        </table>
    </div>
    <div id="message">
        @ViewBag.message
    </div>
</body>
</html>


