﻿@model GFleetV3.Models.PagedDeviceModel
@{
    Layout = null;
    WebGrid grid = new WebGrid(rowsPerPage: Model.PageSize);
    grid.Bind(Model.Device,
              autoSortAndPage: false,
              rowCount: Model.TotalRows
              );
    if (false)
    {
    <script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>
    }
}
@grid.GetHtml(
                htmlAttributes: new { id = "gridData" },
                fillEmptyRows: false,
                tableStyle: "qlabs_grid_container",//"webgrid",
                headerStyle: "header_row",//"webgrid-header",
                footerStyle: "webgrid-footer",
                alternatingRowStyle: "data_even",//"webgrid-alternating-row",
                selectedRowStyle: "webgrid-selected-row",
                rowStyle: "data_odd", //"webgrid-row-style",
                mode: WebGridPagerModes.All,
                    firstText: "<< First",
                    previousText: "< Prev",
                    nextText: "Next >",
                    lastText: "Last >>",
    columns: new[] {
        
        grid.Column("DeviceModel.DeviceMake",style: "data_cell", 
                    header: "Device Model"),        
        grid.Column("SerialNo",style: "data_cell", 
                    header: "SerialNo"),
        grid.Column("PhoneNo",style: "data_cell",
                    header: "PhoneNo"),
        grid.Column("",style: "data_cell", 
                    header: "Actions",
                    format: @<text>
<label>@Html.ActionLink("Edit", "Edit", new { id = item.DeviceId }, new { @class = "editDialog"})</label>
</text>
        )
})
<script type="text/javascript">
    InitGrid('gridData');
</script>


