﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
    //Layout = "~/Views/Shared/_mainLayout.cshtml";
}
}

<div class="container">
    <header id="header" class="codrops-header">
        <span class="message">This mobile version does not have the slideshow switch</span>
        <button class="slider-switch">Switch view</button>
    </header>
    <div id="overlay" class="overlay">
        <div class="info">
            <h2>Demo interactions</h2>
            <span class="info-drag">Drag Sliders</span>
            <span class="info-keys">Use Arrows</span>
            <span class="info-switch">Switch view</span>
            <button>Got it!</button>
        </div>
    </div>
    <div id="slideshow" class="dragslider">
        <section class="img-dragger img-dragger-large dragdealer">
            <div class="handle">
                <div class="slide" data-content="content-1" align="center">
                    <div class="img-wrap"><img src="img/1.jpg" alt="img1" /></div>
                    <div class="menu_holder">
                        <table class="my_nav">
                            <tr>
                                <td class="nav_child"><img src="@Url.Content("~/Content/images/logo-new-white.png")"><span class="border_line"></span></td>
                                <td class="nav_child">
                                    @Html.Partial("mainMenu")
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="ribbon" align="center">
                    </div>
                    <button class="content-switch black">Read more</button>
                </div>
                <div class="slide" data-content="content-2">
                    <div class="img-wrap"><img src="img/2.jpg" alt="img2" /></div>
                    <h2>Round Table <span>King Arthur's creative team techniques</span></h2>
                    <button class="content-switch">Read more</button>
                </div>
               
            </div>
        </section>
        <section class="pages">
            <div class="content" data-content="content-1">
                <h2>Lorem Waldy <span>Distilling design and other interesting methods</span></h2>
                <p>It was not child's play tackling those horses. Some of the kind-hearted station folk in the backblocks had sent down some wild warrigals of the West; bucking brumbies that beat the band; old outlaws off the grass that the station hands could never master. But Colonel Cox ("Fighting Charlie" we called him) had in his command some of the crack rough-riders of Australia. And it was a joy to see these men tackle the outlaws. There were Crouch of Wagga, McDonald of Barrington, Whiteley of Wellington, Bullock of Melbourne, Sievewright of Gunnedah, Kennedy of Gloucester, Rex Moffatt of Goulburn, Harry Heath of Moree, and a score of others. Nearly every man in the regiment could sit a buck, or puff nonchalantly at his pipe while his mount pigrooted merrily. So when the wild horses were led forth there were hundreds volunteering for the honour of riding the rebels. One after another the horses were saddled up, and while the regiment cheered itself hoarse, there was enacted again and again the old-time struggle for mastery. There were plunging and reefing and rooting and sidling and rearing and bucking, as the panting chargers swung this way and that in vain endeavour to dislodge the riders. But the bush boys stuck to the saddles as the Old Man of the Sea stuck to Sindbad the Sailor, and one after another the bucking brumbies were broken and led away.</p>
                <p>But even a plague of locusts does not last for ever—and Egypt does. Egypt the wonderful! Egypt the kaleidoscopic! No, gentle reader, do not waste your sympathies on us. It was tiresome work, marching, training—training for the front, which for months never seemed to get any nearer, and some of "the boys"—those of them who were "spoiling for a fight," as the saying is—used at times to kick over the traces and paint the town vermilion; but there are compensations in Egypt for all who would seek them. What did it matter that we had no hot cross buns for Easter, no hard-boiled eggs, no ling, no salmon? We had omelettes and quail on toast, and chicken and curry and strawberries (no cream) and oranges and custard and jelly and Turkish coffee and Nile fish and pancakes and fritters and iced butter and beautiful jam and marmalade—and cigars. So we managed to get "a snack," you see. And I know that I, for one, had no desire just then to swap places with any man in Australia.</p>
                <p>It was night when we got back to camp. Oh, those Egyptian nights! The winter cold has gone, and spring is in the air. The nights are fine and fair, clear and cloudless, with the moon pure silver. The reflections in the Nile are just wonderful. The huge date palms stand out sharply from a star-spangled sky that somehow has a tint of green in its blue. One thinks of the Arabian Nights. The very street scenes make one think of them. Motors glide up and down the streets with rich Syrians, Greeks, Egyptians, Italians, Frenchmen and Englishmen, going to the Continental, or to Shepheard's, or to private entertainments. It is a gorgeous splash of colour. They had no motor-cars that I remember in those old Arabian Nights, but the magic of the thing and the colour of it all were surely much the same. And the roads of Egypt—how beautiful they are!—clean and smooth as a billiard table. Are there any finer roads in the whole world than the Mena road and that to Heliopolis? Fifty miles an hour is easy. I sometimes shudder now when I recall the races that we used to have along those roads at night, crying "Egre! Egre!"—Faster! Faster!</p>
                <p class="related">
                    You might also like <a href="http://tympanus.net/Development/ArticleIntroEffects/">Inspiration for Article Intro Effects</a>
                </p>
            </div>
            <div class="content" data-content="content-2">
                <h2>Round Table <span>King Arthur's creative team techniques</span></h2>
                <p>Passing by the rugged Socotra, we soon sighted the mountainous southern coast of Arabia, and by midday on January 20 we were focussing our binoculars on the picturesque gate of the Indian Ocean, Aden. Curious it is how Britain has secured all the great strategical points of the world—Gibraltar, Suez, Aden, Singapore, Thursday Island, the Cape of Good Hope, and the rest. And one has only to see Aden, with its rocky peaks piercing the skyline, to realize how strong it is, and how futile would be any effort to capture it. For all the defences of Aden seem to be hewn out of solid granite.</p>
                <p>No sooner had we got anchored in the harbour than the Suevic was surrounded by swarms of boats, in which were crowded Asiatics of all descriptions yelling like demons in wild anxiety to sell their wares. Then the colliers came alongside and proceeded to coal. Scores of thin, undersized, but wiry Arabs did the work, and as they loaded the bunkers they kept up a perpetual yelling and singing, and the weird cacophony lasted all through the night.</p>
                <p>Aden is a curious mixture of the Orient and the Occident. In the streets silent Arabs stalk along with camels, and Europeans buzz around in automobiles. One section of the port belongs to the Asiatics; the other is all Western. Arab dhows float across the harbour and steam tugs scurry hither and yon. One section of the town has thatched roofs; the other is all galvanized iron. And one of the natives sang us "Songs of Araby." They yelled harshly for baksheesh all the while. Clad in their own coloured loin cloths, or in discarded khaki tunics from the Force, they were a motley tatterdemalion crowd. Here East and West met—but did not mingle.</p>
                <p class="related">
                    You might also like <a href="http://tympanus.net/Development/ArticleIntroEffects/">Inspiration for Article Intro Effects</a>
                </p>
            </div>
        </section>
    </div>

    @Html.Partial("Login");
</div>
<script src="@Url.Content("~/js/dragdealer.js")"></script>
<script src="@Url.Content("~/js/classie.js")"></script>
<script src="@Url.Content("~/js/dragslideshow.js")"></script>
<script>
    (function () {

        var overlay = document.getElementById('overlay'),
            overlayClose = overlay.querySelector('button'),
            header = document.getElementById('header')
        switchBtnn = header.querySelector('button.slider-switch'),
        toggleBtnn = function () {
            if (slideshow.isFullscreen) {
                classie.add(switchBtnn, 'view-maxi');
            }
            else {
                classie.remove(switchBtnn, 'view-maxi');
            }
        },
        toggleCtrls = function () {
            if (!slideshow.isContent) {
                classie.add(header, 'hide');
            }
        },
        toggleCompleteCtrls = function () {
            if (!slideshow.isContent) {
                classie.remove(header, 'hide');
            }
        },
        slideshow = new DragSlideshow(document.getElementById('slideshow'), {
            // toggle between fullscreen and minimized slideshow
            onToggle: toggleBtnn,
            // toggle the main image and the content view
            onToggleContent: toggleCtrls,
            // toggle the main image and the content view (triggered after the animation ends)
            onToggleContentComplete: toggleCompleteCtrls
        }),
        toggleSlideshow = function () {
            slideshow.toggle();
            toggleBtnn();
        },
        closeOverlay = function () {
            classie.add(overlay, 'hide');
        };

        // toggle between fullscreen and small slideshow
        switchBtnn.addEventListener('click', toggleSlideshow);
        // close overlay
        overlayClose.addEventListener('click', closeOverlay);
        //set menubar width
        var content_width = $('.menu_holder').width();
        var container_width = $('.container').width();
        var padding = ((container_width - content_width) / 2) - 10;
        $('.menu_holder').css('margin-left', padding + 'px');
        //======================================================

    }());

</script>