﻿@using CaptchaMvc.HtmlHelpers
@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Taxi</title>

    @*<link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="assets/css/ui-lightness/jquery-ui-1.10.3.custom.min.css" />
        <link rel="stylesheet" href="assets/css/template.css" />
        <script src="assets/js/jquery-1.10.2.js"></script>
        <script src="assets/js/jquery-ui-1.10.4.custom.min.js"></script>
        <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/layout.js"></script>*@

    <link rel="stylesheet" href="@Url.Content("~/plugins/bootstrap/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/plugins/bootstrap/css/bootstrap-theme.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/ui-lightness/jquery-ui-1.10.3.custom.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/template.css")" />
    <script src="@Url.Content("~/Scripts/jquery-2.1.3.js")"></script>
    <script src="@Url.Content("~/js/jquery-ui-1.10.4.custom.min.js")"></script>
    <script src="@Url.Content("~/plugins/bootstrap/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/js/layout.js")"></script>


</head>

<body>

    <div class="container-fluid">

        <div class="top_wrapper">
            <div class="logo">
                <a href="">
                    <img src="~/Content/images/logo-new-white.png" />
                </a>
            </div>
            <ul class="menu">
                <li><a href="#home"><div>Home</div></a></li>
                <li><a href="#aboutus"><div>About Us</div></a></li>
                <li><a href="#contact"><div>Contact</div></a></li>
            </ul>
        </div>

        <div class="content_wrapper">
            <div class="page" id="home">

                <h2>Welcome home</h2>

                <div class="mapholder">
                    <iframe id="mapcanvas" width="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=10&center=-1.2921%2C36.8219&key=AIzaSyCJ7a7CAZl0_qvRPD919T5puc-7BmIBmLk"></iframe>
                </div>
                <div id="loginpanel">
                    <h3>Log In</h3>
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { name = "form", id = "login_form" }))
                    {
                        <div class="form-group">
                            <input type="text" name="Username" id="uname" class="form-control" placeholder="Email/ Phone number" />
                        </div>

                        <div class="form-group">
                            <input type="password" id="Password" name="Password" class="form-control" placeholder="Password" />
                        </div>
                        <div id="div_errormsg">

                        </div>
                        @*<div id="captcha_holder">
                            @{
                            var captcha = Html.Captcha("Refresh", "Enter Text", 6, "Is Required Field", false);
                            }
                            @captcha
                            @Html.ValidationMessage(captcha.BuildInfo.InputElementId)
                        </div>*@
                        <div>
                            <input type="checkbox" id="Remember" name="Remember" value="false" class="checkbox-inline" /><label for="Remember">&nbsp;Remember me</label>
                            <input type="hidden" value="val" />
                        </div>
                        <script>
                            $('#Remember').change(function () {
                                cb = $(this);
                                cb.val(cb.prop('checked').toString());
                            });
                        </script>
                        <div>
                            <input type="submit" name="loginbtn" value="Log In" class="btn btn-success" /> @*| <a href="">Sign Up</a>*@ | <a href="">Forgot Password?</a>
                        </div>

                    }
                </div>

            </div>

            <div class="page" id="aboutus">
                <div class="p_content">
                    <div align="center">
                        <img  src="~/img/about-2.gif" class="about-image"/>
                    </div>
                    <div class="hr hr-short hr-center  avia-builder-el-20  el_after_av_textblock  el_before_av_textblock "><span class="hr-inner "><span class="hr-inner-style"></span></span></div>
                    <p>
                        <strong>Taksi</strong> is a cab hailing and management information system with deference. We bring a branded cab to you where you need it when you need it.
                    </p>
                    <p>
                        With some of the biggest brands in Kenya cab companies subscribed to us we ensure secure, convenient and top level transfer.
                        Worry about booking lets worry about your safe and timely transfer.
                    </p>
                </div>
            </div>

            <div class="page" id="contact">

                <div id="contact" class="page7 section  contact">
                    <div class="container">
                        <div class="row">
                            <div class="sixteen columns">
                                <div class="title">
                                    <h3>Contact</h3>
                                    <div class="subtitle">
                                        <p>We'd really love to <span class="highlight">hear from you</span> so why not drop us an email and <span class="highlight">we'll get back</span> to you as soon as we can.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="sixteen columns">
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="sixteen columns">
                                <div id="contact-form">
                                    <form action="#" method="post" class="contactForm form" id="contact-form">
                                        <div id="contact-input">
                                            <input type="text" name="contactName" class="required" id="contactName" value="Name" />
                                            <input type="text" name="contactEmail" class="required" id="contactEmail" value="E-mail" />
                                            <input type="text" name="contactSubject" class="required" id="contactSubject" value="Subject" />
                                        </div>

                                        <div id="contact-textarea">
                                            <textarea class="required" name="contactMessage" id="contactMessage" rows="" cols="">Message</textarea>
                                        </div>

                                        <div id="contact-submit">
                                            <input type="hidden" name="submitted" id="submitted" value="true" />
                                            <input type="submit" value="Send" class="comment-submit button submit" id="submitform" />
                                            <span id="msg"></span>
                                        </div>
                                    </form>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="footer_wrapper">
            Footer
        </div>

    </div>
    <script>
        $('input[name="loginbtn"]').click(function (event) {
            event.preventDefault();
            check_empty();
        });
        function check_empty() {
            if ($('#Username').val() == "" || $('#Password').val() == "") {
                alert("Fill All Fields !");
                return false;
            } else {
                var form = $('#login_form');
                var params = $.param({
                    Username: $("#uname").val(),
                    Password: $("#pass").val(),
                    Remember: true,
                    returnUrl: 'val'
                });
                $.ajax({
                    url: form.attr('action'),
                    type: 'POST',
                    data: form.serialize(),//params,
                    success: function (data) {
                        if (data.ok) {
                            window.location.href = data.newurl;
                        }
                        else {
                            $('#div_errormsg').html(data.message);
                        }
                        console.log(data);
                    }
                });
                return true;
            }
        }
    </script>
</body>
</html>
