﻿@{
   @* Layout = "~/Views/Shared/_mainLayout.cshtml";*@
}
<style>
    .centered-padding{
    width: 90%;
    left:5%;
    text-align: left;
    padding-left: 5px;
}
h3.centered-padding{
    padding-top: 5px
}
</style>
<div>
    <h4 class="centered-padding">Taksi PRIVACY POLICY</h4>
    <p class="centered-padding">
        Protecting your privacy information is our priority. This privacy policy (“Policy”) describes how Taksi, INC (“Taksi” “we” or “us”) and its related companies (“Company”) collect, use and share personal information of consumer users of this website, taksi.co.ke (the “Site”). This Policy also applies to any of our other websites that post this Policy. This Policy does not apply to websites that post different statements.
    </p>
    <h4 class="centered-padding">WHAT IS PERSONAL INFORMATION</h4>
    <p class="centered-padding">
        As used herein, the term "personal information" generally means information that specifically identifies an individual (such as user's name, address, telephone number, email address, credit card or other account number) or that is associated with an identifiable person (such as demographic information or information about a person's activities when such information is linked to personally identifying information). However, personal information does not include, and this policy does not cover, any publicly available information and public records about professionals, including without limitation information obtained from licensing authorities, associations, accrediting bodies, courts, law enforcement agencies, and websites that are available to the public. Personal information also does not include "aggregate" information, which is data we collect about the use of the Site or categories of Site users, from which any personal information has been removed. We collect aggregate data for a number of purposes, including to help us understand trends and user needs so that we can better consider new publications, products and services, and tailor existing publications, products and services to user desires. This policy in no way limits or restricts our collection of aggregate information.
    </p>
    <h4 class="centered-padding">WHAT PERSONAL INFORMATION DO WE COLLECT?</h4>
    <p class="centered-padding">
        Personal information may be collected from you in a number of ways when you visit Taksi or use the various services and activities available on our Site. At several places on our Site, we may collect certain information you voluntarily provide to us which may contain personal information. For example, if you register for the Site, send us an email, contact or recommend a professional, or submit client ratings, we may collect your name, address, phone number, email address, and other personal, professional, demographic and business information that you provide. If you are a legal professional and create or update your profile ("Profile"), we may also collect your credit card information, photographs and professional and business information about you, your practice or specialty areas and your educational background. In addition, from time to time we may collect demographic, contact or other personal or demographic information you provide in connection with your participation in surveys, promotional offers, forums and other interactive areas of the Site.
    </p>
    <p class="centered-padding">
        When you visit our Site, some information is also automatically collected through the use of log files, such as your computer's Internet Protocol (IP) address, your computer's operating system, the browser type, the address of a referring web site and your activity on the Site. We use this information for purposes such as analyzing trends, administering the Site, improving customer service, diagnosing problems with our servers, tracking user movement, and gathering broad demographic information for aggregate use.
    </p>
    <p class="centered-padding">
        Taksi may use "cookies" to help you personalize your online experience. A cookie is a text file that is placed on your hard disk by a web page server. Cookies cannot be used to run programs or deliver viruses to your computer. Cookies are uniquely assigned to you, and can only be read by a web server in the domain that issued the cookie to you.
    </p>
    <p class="centered-padding">
        One of the primary purposes of cookies is to provide a convenience feature to save you time. The purpose of a cookie is to tell the Web server that you have returned to a specific page. For example, if you register with Taksi, a cookie helps Taksi to recall your specific information on subsequent visits. This simplifies the process of recording your personal information, such as billing addresses, login information, and so on. When you return to the same Taksi page, the information you previously provided can be retrieved, so you can easily use the Taksi features that you customized.
    </p>
    <p class="centered-padding">
        You have the ability to accept or decline cookies. Most Web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. If you choose to decline cookies, you may not be able to fully experience the interactive features of Taksi.
    </p>
    <h4 class="centered-padding">USE OF YOUR PERSONAL INFORMATION</h4>
    <p class="centered-padding">
        In general, we use personal information we collect from you through the Site to facilitate your use of the Site, to process your requests or transactions, to provide you with information, products and services you request, to administer and assist us with the operation of the Site and of our business, and for the purpose for which the information was provided. For example, we may use the information we collect:
    </p>
    <p class="centered-padding">
        • to send a welcome email following registration to all registered patrons to contact you about our use of the Site, such as for administrative purposes or to provide you with customer service; • if you are a legal professional, to verify your identity when attempting to create your Profile • to respond to your emails, submissions, comments, requests or complaints; • to respond to your emails, submissions, comments, requests or complaints • to request feedback and to enable us to analyze, develop, customize and improve the Site and our information and services; and • for the specific purpose for which the information was provided
    </p>
    <p class="centered-padding">
        We do not sell, share, or rent any personal information we collect from you through the Site in ways different from what is disclosed in this Policy, although we may provide aggregate information or other nonpersonal information to third parties without your authorization. We may share your personal information with third parties if you have indicated to us that you wish to receive information from such parties or if you otherwise give us your consent to do so, including if we notify you on the Site that the information you provide will be shared in a particular manner and you provide such information. In the event that we engage or partner with third party vendors, consultants or other service providers in connection with the operation of the Site and our business ("Service Providers"), we may share personal information with such Service Providers who need access to such information to carry out their work for us. For example, we may use credit card processing or verification service companies to verify credit card information. In addition, we may offer various features through a third party service provider. For example, mapping services are provided by Google Maps. When you use these services, you are providing information directly to the provider of these services, and the provision of such information is subject to such party's own privacy policy. We are not responsible for the actions of Service Providers or other third parties or for any information you provide to these parties directly, and we encourage you to become familiar with their practices before disclosing information directly to such third parties with which you come into contact.
    </p>
    <p class="centered-padding">
        You should also note that personal information that you post to public areas of the Site, may become publicly available. For example, information you post in your Profile or in client ratings, peer endorsements, forums, blogs or any other interactive areas, or other information that is provided for the purpose of being shared may be made publicly available and can potentially be viewed by anyone. Your posting to such public areas of the Site constitutes your consent to share such information publicly.
    </p>
    <p class="centered-padding">
        Taksi will disclose your personal information, without notice, only if required to do so by law or in the good faith belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process served on Taksi or the site; (b) protect and defend the rights or property of Taksi; and, (c) act under exigent circumstances to protect the personal safety of users of Taksi, or the public.
    </p>
    <h4 class="centered-padding">Security of your Personal Information</h4>
    <p class="centered-padding">
        You are responsible for safeguarding and preventing unauthorized access to the user information and password that you use to access the Taksi website. You agree not to disclose your password to any third party and you are responsible for any activity using your account, whether or not you authorized that activity. You must immediately notify Taksi of any unauthorized use of your account.
    </p>
    <p class="centered-padding">
        Taksi endeavors to secure your personal information from unauthorized access, use or disclosure by putting into place physical, electronic and managerial procedures to safeguard the information we collect through this Site. For example, when we collect credit card information, we use a secure server with Secure Socket Layer (SSL) encryption software and store such credit card information using encryption methods designed to prevent unauthorized access. Additionally, your account information is accessible online only through the use of a password.
    </p>
    <h4 class="centered-padding">Children Under Thirteen</h4>
    <p class="centered-padding">
        Taksi does not knowingly collect personally identifiable information from children under the age of thirteen. If you are under the age of thirteen, you must ask your parent or guardian for permission to use this website.
    </p>
    <h4 class="centered-padding">Changes to this Statement</h4>
    <p class="centered-padding">
        Taksi will occasionally update this Statement of Privacy to reflect company and customer feedback. Taksi encourages you to periodically review this Statement to be informed of how Taksi is protecting your information.
    </p>
    <h4 class="centered-padding">Contact Information</h4>
    <p class="centered-padding">
        If you have any questions or comments about this Policy or the practices relating to this Site, or you wish to verify, correct or delete any personal information we have collected, please contact us at hello@Taksi.com, and we will endeavor to respond to your inquiry or to correct, update or remove the personal information you have provided us as you indicate to the extent possible. You can correct certain information by logging into your account and changing the information, and you may also delete certain information by closing your account. In addition, lawyers may change certain information contained in their Profile by editing the information contained therein. However, please note that in certain circumstances, we may not, or may not be able to, remove or change certain information, even in the event an account is closed. For example, we may retain certain information, such as credit card information, for a certain period of time, and we also may retain and continue to display any information you provided in connection with a lawyer Profile or a blog. In lieu of email, you may also contact us by mail at the following address:
    </p>
    <p class="centered-padding">
        Taksi, Geecko Group Holdings Ltd.</br>
        support@geeckoltd.com,</br>
        View Park Towers,</br>
        Mezzanine Floor,</br>
        Nairobi, </br>
        Kenya</br></br>

        Attn: Privacy Policy
    </p>
</div>
