@model IEnumerable<DataAccess.SQL.vw_DepartmentAdmin>
@{
    ViewBag.Title = "User Management";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}
<script type="text/javascript">
    function senddata(url, item) {
        $(item).css('cursor', 'wait');
        var msg = '';
        if (url.indexOf("Delete") > 0) {
            var msg = '<span>Are You Sure You want to delete this User?</span>';

        }
        else {
            msg = '<span>Are You Sure You want to Reset this Users Password ?</span>';
        }
        $('#delete-dialog').html(msg);
        var mydialog = $('#delete-dialog').dialog({
            modal: true,
            position: 'center',
            draggable: false,
            buttons: {
                "OK": function () {
                    //var url = $(elem).attr('link');
                    $.get(url, function (response) {
                        if (response.Status) {
                            mydialog.dialog("close");
                            mydialog.dialog("destroy");
                            show_notification(response.Message, 'success');
                        }
                        else {
                            $(this).dialog("close");
                            show_notification(response.Message, 'error');
                        }
                    }
                    ).done(function () {
                        $(this).dialog("close");
                        $(item).css('cursor', 'pointer');
                    });
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });
    }

</script>
<button class="image-button primary" onclick="window.location='@Url.Action("CreateEditUser")'">
    New User
    <img src="~/img/User.png" class="bg-cyan">
</button>

<div class="panel">
    <div class="panel-header">
        Users
    </div>
    <div class="panel-content">
        <table id="grid" class="striped hovered">
            <thead>
                <tr>
                    <th>Full names</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartmentAdmin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telephone1)
                    </td>
                    <td>
                        <div class="controls">
                                <span>@Html.ActionLink("Reset Password","DoResetPassword",new {Username=item.UserName},new {@class="reset",@id="reset"+item.UserId})
                                    <script>
                                        $('#@Html.Raw("reset"+item.UserId)').click(function (e) {
                                            e.preventDefault();
                                            var url = $(this).attr('href');
                                            senddata(url, this);
                                        });
                                    </script>
                                </span>|
                                <span>@Html.ActionLink("Delete","DeleteUser",new {PersonId=item.PersonId,Username=item.UserName},new {@class="reset",@id="Delete"+item.PersonId})
                                    <script>
                                        $('#@Html.Raw("Delete"+item.PersonId)').click(function (e) {
                                            e.preventDefault();
                                            var url = $(this).attr('href');
                                            senddata(url, this);
                                        });
                                    </script>
                                </span>
                               @* <span class="changes" onclick="_delete(this)" link="@Url.Action("Delete","Contacts", new { id = item.PersonId })">Delete</span>*@
                        </div>

                    </td>
                </tr>
            }
        </table>
        <script>
            $('#grid').dataTable();
        </script>
    </div>

</div>
<div id="delete-dialog" style="display:none">
    <span>Are You Sure You want to delete this Record?</span>
</div>
