@model List<DataAccess.SQL.vw_DispatchReport>
@{
    Layout = null;
    int cnt = 0;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <meta name="viewport" content="width=device-width" />
    <title>Dispatch Report</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/datatable")
    @Styles.Render("~/Content/Reports/reports.css")
    <link href="~/Content/Reports/TableTools.css" rel="stylesheet" />
    <script type="text/javascript">
        var the_dataTable;
        $(document).ready(function () {

            function div() { return $(document.createElement('div')); }
            var smstodisplay = 'sms';
            var $element = div().addClass('element');
            $("trrr").not(':first').hover(
              function () {
                  div().addClass('subelement')
                  .hide()
                  .html('SSSS')
                  .attr('title', smstodisplay)
                  .appendTo($element)
                  .hover(function () { $(this).addClass('route_hover'); },
                         function () { $(this).removeClass('route_hover'); })
              },

              function () {
                  $(this).css("background", "");
              }
            );

            $("#btnXLS").click(function (e) {
                post("xls");
            });
            $("#btnCSV").click(function (e) {
                post("csv");
            });
            $("#btnDOC").click(function (e) {
                post("DOC");
            });
            $("#btnXML").click(function (e) {
                post("xml");
            });
            $("#btnHTML").click(function (e) {
                post("html");
            });
            $("#btnPDF").click(function (e) {
                post("pdf");
            });

            $.urlParam = function (name) {
                var results = new RegExp('[\\?&]' + name + '=([^&#]*)', 'gi').exec(window.location.href);
                return results[1] || 0;
            }

            loadDataTable();
        });

        function loadDataTable() {
            //if (vehicles.length > 0) {
            if (the_dataTable == null) {
                the_dataTable = $('#tblworksheetrpt').DataTable({
                    "oTableTools": {
                        "sSwfPath": "../../Scripts/dataTable/copy_csv_xls_pdf.swf",
                        "aButtons": [
                            {
                                "sExtends": "copy",
                                "mColumns": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                            },
                            {
                                "sExtends": "csv",
                                "mColumns": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                            },
                            {
                                "sExtends": "pdf",
                                "mColumns": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                            },
                            {
                                "sExtends": "print",
                                "mColumns": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                            },
                        ]
                    },
                    "scrollCollapse": true,
                    "paging": false,
                    "ordering": true,
                    "order": [[1, "desc"]],
                    "info": false,
                    "ScrollY": "350px",
                    "bPaginate": false,
                    //"sDom": 'Tlfrtip'
                    "sDom": '<"top_left"l><"top_right"Tf>'
                });
            }
        }


        function post(reportType) {
            var params = $.param({
                reportType: reportType,
                StartDate: $.urlParam('StartDate'),
                //StartTime: $.urlParam('StartTime'),
                EndDate: $.urlParam('EndDate'),
                //EndTime: $.urlParam('EndTime'),
                IsDispactchedChk: $.urlParam('IsDispactchedChk'),
                IsNotDispactchedChk: $.urlParam('IsNotDispactchedChk'),
                OrganisationId: $.urlParam('OrganisationId'),
                CustomerId: $.urlParam('CustomerId'),
                VehicleId: $.urlParam('VehicleId'),
                SmsStatusId: $.urlParam('SmsStatusId')
            });
            window.open('../export/?' + params);
        }



        function ajax_error(request, text, error) {
            console.log(request);
            console.log(text);
            console.log(error);
        }
    </script>
    <style>
        .subelement
        {
            display: none;
            width: 129px;
            height: 1.2em;
            padding-left: 10px;
            overflow: hidden;
            font-weight: normal;
            cursor: pointer;
        }

        .route_hover
        {
            background: #ddf;
        }
        .notclosed
        {
            background: #FF6600;
        }
        .header
        {
            text-align:center;
        }
        .day h2 {
          margin-top: .5em;
          padding: .5em;
          background: #87CEEB;
          border: 1px solid #000;
          color: #fff;
        }

        div.DTTT_container
        {
            margin-top: 5px;
            margin-left: 5px;
        }

        .dataTables_filter
        {   
            margin-top: 5px;
            float: right;
            position: relative;
        }
    </style>
</head>
<body>
    <div id="popup">
        <div id="header1">
            <h1>&nbsp;</h1>
            <div id="time-and-date">
                @*@Model.time*@
            </div>
            <div id="description">
                @*@Model.title @Model.header*@
            </div>
        </div>
        <div id="reportdata">
            <div class="day" id="">
                <h2 class="header" id="h">Worksheet Report</h2>
                <table cellpadding="0" id="tblworksheetrpt" class="tabledata">
                    <thead>
                        <tr>
                            <th>Ref No.
                            </th>
                            <th>Customer
                            </th>
                            <th>Organization
                            </th>
                            <th>Vehicle
                            </th>
                            <th>Date
                            </th>
                            <th>From
                            </th>
                            <th>To
                            </th>
                            <th>Driver
                            </th>
                            <th>Start Mileage
                            </th>
                            <th>End Mileage
                            </th>
                             <th>Amount
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        { 
                            <tr class="@((cnt++ % 2 == 0 ? "even" : "odd") + (@item.Amount==null ||@item.StartMileage==null||@item.EndMileage==null ? " notclosed":"") )" title="@item.CustomerSMS">
                                <td>@item.DispatchId
                                </td>
                                <td>@item.CustomerName
                                </td>
                                <td>@item.OrganisationName
                                </td>
                                <td>@item.VehicleRegCode
                                </td>
                                <td>@item.PickUpDateTime
                                </td>
                                <td>@item.PickUpPointName
                                </td>
                                <td>@item.DropOffPointName
                                </td>
                                <td>@item.DriverName
                                </td>
                                <td>@item.StartMileage
                                </td>
                                <td>@item.EndMileage
                                </td>
                                 <td>@item.Amount
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    //$('#tblworksheetrpt').dataTable();
</script>