﻿@model DataAccess.SQL.VehicleInsuarance
@{  
    Layout = null;
    if (false)
    {
    <script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>
    }
}
<script type="text/javascript">
    $(function () {
        $("#enddate").datepicker();
        $("#startdate").datepicker();
    });
</script>
@using (Html.BeginForm("CreateEditVehicleInsuarance", "VehicleInsuarance", FormMethod.Post))
{  
    <div id="wait" style="display: none;">
    </div>
    <div class="divautosize" style="width: 490px;height:350px;">
        @Html.ValidationSummary(true)
        <div id="from_result">
        </div>
        @if (ViewBag.IsUpdate == true)
        { 
            @Html.HiddenFor(model => model.VehicleInsuaranceId)
            @Html.Hidden("isEditing", true)
        }
        <fieldset>
            <div id="NextOfKinLeft" style="float: left; padding-right: 7px;">
                <div class="editor-label">
                    @Html.LabelFor(model => model.VehicleId)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.VehicleId, new SelectList(ViewBag.Vehicle, "Value", "Text"), "Please Select Vehicle", new { style = "width:210px;padding: 5px;border: 1px solid #CCC;" })
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.VehicleId)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.InsuaranceId)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.InsuaranceId, new SelectList(ViewBag.Insuarance, "Value", "Text"),"Please Select Insuarance", new { style = "width:210px;padding: 5px;border: 1px solid #CCC;" })
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.InsuaranceId)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.StartDate)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.StartDate, "{0:d}", new { id = "startdate", placeholder = "Renewal Date" })
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.StartDate)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.InsuaranceCost)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.InsuaranceCost)
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.InsuaranceCost)
                </div>
            </div>
            <div id="NextOfKinRight" style="float: right;">
                <div class="editor-label">
                    @Html.LabelFor(model => model.InsuaranceTypeId)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.InsuaranceTypeId, new SelectList(ViewBag.InsuaranceType, "Value", "Text"), "Please Select Insuarance Type", new { style = "width:210px;padding: 5px;border: 1px solid #CCC;" })
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.InsuaranceTypeId)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.PolicyNo)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.PolicyNo)
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.PolicyNo)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.EndDate)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.EndDate, "{0:d}", new { id = "enddate", placeholder = "Expiry Date" })
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.EndDate)
                </div>
            </div>
        </fieldset>
       <br />
        <br />
        <div style="bottom: 0px; position: absolute;">
            @if (ViewBag.IsUpdate == true)
            { 

                <button type="submit" id="btnUpdate" name="Command" value="Update" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                    <span class="ui-button-text">Update</span></button>
            }
            else
            { 
                <button type="submit" id="btnSave" name="Command" value="Save" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                    <span class="ui-button-text">Save</span></button>
            }
            <button type="button" id="btncancel" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                <span class="ui-button-text">Cancel</span></button>
            &nbsp; &nbsp;
        </div>
    </div>
}
<script type="text/javascript">
    $(function () {
        dialogStartUp();
    });
</script>
