﻿@model GFleetV3.Models.PagedVehicleInsuaranceModel
@{
    Layout = null;
    WebGrid grid = new WebGrid(rowsPerPage: Model.PageSize);
    grid.Bind(Model.VehicleInsuarance,
              autoSortAndPage: false,
              rowCount: Model.TotalRows
              );
    if (false)
    {
    <script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>
    }
}
<script type="text/javascript">
</script>
@grid.GetHtml(
htmlAttributes: new { id = "gridData" },
        fillEmptyRows: false,
        tableStyle: "qlabs_grid_container",//"webgrid",
        headerStyle: "header_row",//"webgrid-header",
        footerStyle: "webgrid-footer",
        alternatingRowStyle: "data_even",//"webgrid-alternating-row",
        selectedRowStyle: "webgrid-selected-row",
        rowStyle: "data_odd", //"webgrid-row-style",
        mode: WebGridPagerModes.All,
                firstText: "<< First",
                previousText: "< Prev",
                nextText: "Next >",
                lastText: "Last >>",
    columns: new[] {        
        grid.Column("VehicleRegCode",style: "data_cell", 
                    header: "Vehicle"),
        grid.Column("Insuarance.InsuaranceName",style: "data_cell",
                    header: "Insuarance"),
        grid.Column("InsuaranceType.InsuaranceTypeName",style: "data_cell",
                    header: "Insuarance Type"),
        grid.Column("InsuaranceCost",style: "data_cell", 
                    header: "Cost",format: (item) => string.Format("{0:#,##0.00;(#,##0.00);0.00}",item.InsuaranceCost)),
        grid.Column("PolicyNo",style: "data_cell", 
                    header: "Policy No."),
        grid.Column("StartDate",style: "data_cell", 
                    header: "Renewal Date",format: (item) => string.Format("{0:dd-MMM-yyyy}",item.StartDate)),
        grid.Column("EndDate",style: "data_cell", 
                    header: "Expiry Date",format: (item) => string.Format("{0:dd-MMM-yyyy}",item.EndDate)),
        grid.Column("",style: "data_cell", 
                    header: "Actions",
                    format: @<text>
<label>@Html.ActionLink("Edit", "Edit", new { id = item.VehicleInsuaranceId }, new { id = "editLink", @class = "editDialog"/*, data_dialog_id = "edit-Dialog"*/ })</label>
@*|
@Html.ActionLink("Delete", "Delete", new { id = item.VehicleInsuaranceId }, new { @class = "confirmDialog" })*@
</text>
        )
})
<script type="text/javascript">
    InitGrid('gridData');
</script>
