﻿@*@model DataAccess.SQL.Driver*@
@model GFleetV3.Models.DriverRegisterModel
@{
    Layout = null;
    if (false)
    {
    <script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>
    }
}
<style>
    form
    {
        height: auto;
    }

    legend
    {
        font-size: 18px;
        margin: 0px;
        /*padding: 10px 0px;*/
        color: #b0232a;
        font-weight: bold;
    }
    /*label
    {
        display: block;
        margin: 15px 0 5px;
    }*/
    .prev, .next
    {
        background-color: #b0232a;
        padding: 5px 10px;
        color: #fff;
        text-decoration: none;
    }

        .prev:hover, .next:hover
        {
            background-color: #000;
            text-decoration: none;
        }

    .prev
    {
        float: left;
    }

    .next
    {
        float: right;
    }

    #steps
    {
        list-style: none;
        width: 100%;
        overflow: hidden;
        margin: 0px;
        padding: 0px;
    }

        #steps li
        {
            font-size: 24px;
            float: left;
            padding: 10px;
            color: #b0b1b3;
        }

            #steps li span
            {
                font-size: 11px;
                display: block;
            }

            #steps li.current
            {
                color: #000;
            }
</style>
<script type="text/javascript">
    $(function () {
        $("#dateOfBirth").datepicker({ dateFormat: 'yy-mm-dd' });
        $("#licenceDate").datepicker({ dateFormat: 'yy-mm-dd' });

        $("#TxtTelephone1").keyup(function () {
            $("#TxtUsename").val(this.value);
        });
        $("#TxtUsename").keyup(function () {
            $("#TxtTelephone1").val(this.value);
        });
    });
    (function ($) {
        $.fn.formToWizard = function (options) {
            options = $.extend({
                submitButton: ""
            }, options);

            var element = this;

            var steps = $(element).find("fieldset");
            var count = steps.size();
            var submmitButtonName = "#" + options.submitButton;
            $(element).before("<ul id='steps'></ul>");

            steps.each(function (i) {
                $(this).wrap("<div id='step" + i + "'></div>");
                $('#step' + i).append("<p id='step" + i + "commands'></p>");

                var name = $(this).find("legend").html();
                $("#steps").append("<li id='stepDesc" + i + "'>Step " + (i + 1) + "<span>" + name + "</span></li>");

                if (i == 0) {
                    createNextButton(i);
                    selectStep(i);
                }
                else if (i == count - 1) {
                    $("#step" + i).hide();
                    createPrevButton(i);
                }
                else {
                    $("#step" + i).hide();
                    createPrevButton(i);
                    createNextButton(i);
                }
            });

            function createPrevButton(i) {
                var stepName = "step" + i;
                $("#" + stepName + "commands").append("<a href='#' id='" + stepName + "Prev' class='prev'>< Back</a>");

                $("#" + stepName + "Prev").bind("click", function (e) {
                    $("#" + stepName).hide();
                    $("#step" + (i - 1)).show();
                    //$(submmitButtonName).hide();
                    selectStep(i - 1);
                });
            }

            function createNextButton(i) {
                var stepName = "step" + i;
                $("#" + stepName + "commands").append("<a href='#' id='" + stepName + "Next' class='next'>Next ></a>");

                $("#" + stepName + "Next").bind("click", function (e) {
                    $("#" + stepName).hide();
                    $("#step" + (i + 1)).show();
                    //                    if (i + 2 == count)
                    //                        $(submmitButtonName).show();
                    selectStep(i + 1);
                });
            }

            function selectStep(i) {
                $("#steps li").removeClass("current");
                $("#stepDesc" + i).addClass("current");
            }

        }
    })(jQuery);
    $(document).ready(function () {
        $("#DriverForm").formToWizard({ submitButton: 'SaveAccount' })
    });
</script>
@using (Html.BeginForm("CreateEditDriver", "Driver", FormMethod.Post, new { @id = "DriverForm" }))
{  <div id="wait" style="display: none;">
    </div>
    <div class="divautosize">
        <div id="from_result">
        </div>
        @if (ViewBag.IsUpdate == true || ViewBag.IsAcUpdate == true)
        { 
            @Html.HiddenFor(model => model.DriverModel.UserId)
            @Html.Hidden("isEditing", true)
        }
        <fieldset>
            <legend>Personal Details</legend>
            <div id="DivPersonalDetailsLeft" style="float: left; padding-right: 7px;">
                <div class="editor-label">
                    @Html.LabelFor(model => model.DriverModel.FirstName)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.DriverModel.FirstName, new { id = "TxtFirstName"})
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.DriverModel.FirstName)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.DriverModel.LastName)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.DriverModel.LastName, new { id = "TxtLastName"})
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.DriverModel.LastName)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.DriverModel.Telephone1)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.DriverModel.Telephone1, new {@placeholder="e.g. +254700000000",@id="TxtTelephone1"})
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.DriverModel.Telephone1)
                </div>
                <div class="editor-label">
                    Send Sms:
                    <input type="checkbox" name="ChksendSms" id="ChkSms" />
                </div>
                <div class="editor-label">
                    Send Email:
                    <input type="checkbox" name="ChksendEmail" id="ChkEmail" />
                </div>
                <div class="editor-field">
                </div>
            </div>
            <div id="DivPersonalDetailsRight" style="float: right;">
                @if (ViewBag.IsUpdate == false)
                    {
                        <div>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.RegisterDriverUserModel.Username)
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.RegisterDriverUserModel.Username, new {@placeholder="e.g. +254700000000",@id="TxtUsename"})
                            </div>
                            <div class="validation-msg">
                                @Html.ValidationMessageFor(model => model.RegisterDriverUserModel.Username)
                            </div>
                        </div>
                }
                <div class="editor-label">
                    @Html.LabelFor(model => model.DriverModel.IsMale)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.DriverModel.IsMale, "Gender","TxtGender")
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.DriverModel.IsMale)
                </div>               
                <div class="editor-label">
                    @Html.LabelFor(model => model.DriverModel.IDNumber)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.DriverModel.IDNumber, new {id = "TxtIDNumber"})
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.DriverModel.IDNumber)
                </div>
            </div>
            <div id="DivPersonalDetailsRight2" style="float: right; padding-right: 7px;">
                <div class="editor-label">
                    @Html.LabelFor(model => model.DriverModel.DriverStatusId)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.DriverModel.DriverStatusId, new SelectList(ViewBag.DriverStatus, "Value", "Text"), "Please Select Driver Status")
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.DriverModel.DriverStatusId)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.DriverModel.DriverNo)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.DriverModel.DriverNo, new {id = "TxtDriverRFID"})
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.DriverModel.DriverNo)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.DriverModel.LicenceDate)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.DriverModel.LicenceDate, "{0:d}", new { id = "licenceDate", placeholder = "Licence Date" })
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.DriverModel.LicenceDate)
                </div>

            </div>
        </fieldset>
        <fieldset>
            <legend>Other Details</legend>
            <div id="DivOtherDetailsLeft" style="float: left; padding-right: 7px;">
                <div class="editor-label">
                    @Html.LabelFor(model => model.DriverModel.DOB)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.DriverModel.DOB, "{0:d}", new { id = "dateOfBirth", placeholder = "Date Of Birth" })
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.DriverModel.DOB)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.DriverModel.DriverRFID)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.DriverModel.DriverRFID, new { id = "TxtDriverRFID"})
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.DriverModel.DriverRFID)
                </div>
                 <div class="editor-label">
                    @Html.LabelFor(model => model.DriverModel.CofCNo)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.DriverModel.CofCNo, new {id = "TxtCofCNo"})
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.DriverModel.CofCNo)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.DriverModel.Telephone2)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.DriverModel.Telephone2, new {id = "TxtTelephone2"})
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.DriverModel.Telephone2)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.DriverModel.Email1)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.DriverModel.Email1, new {id = "TxtEmail1"})
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.DriverModel.Email1)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.DriverModel.Email2)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.DriverModel.Email2, new {id = "TxtEmail2"})
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.DriverModel.Email2)
                </div>
                
            </div>
            <div id="DivOtherDetailsRight" style="float: right;">
            <div class="editor-field">                    
                        <table style="text-align: left;">
                            <tr>
                                @{
        int accesscnt = 0;
        List<GFleetV3.Models.LicenceTypes> LicenceTypes = ViewBag.LicenceTypes;
        foreach (var LicenceType in LicenceTypes)
        {
            if (accesscnt++ % 1 == 0)
            {                                      
                                                      
                            @:  </tr> <tr>  
                                        }
                                        @: <td>                                                                
                                            <input type="checkbox" 
                                                   name="selectedLicenceTypes" 
                                                   value="@LicenceType.LicenceTypeId" 
                                                   @(Html.Raw(LicenceType.Assigned ? "checked=\"checked\"" : "")) /> 
                                                      @LicenceType.DriverLicenceType
                                        @:</td>                                  
                                    }
                                    @: </tr>
                                }
                        </table>
                    </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Next Of Kin Details</legend>
            <div id="NextOfKinLeft" style="float: left; padding-right: 7px;">
                <div class="editor-label">
                    @Html.LabelFor(model => model.DriverModel.NextOfKinName1)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.DriverModel.NextOfKinName1, new {id = "TxtNextOfKinName1"})
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.DriverModel.NextOfKinName1)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.DriverModel.Association1)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.DriverModel.Association1, new {id = "TxtAssociation1"})
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.DriverModel.Association1)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.DriverModel.NextOfKinPhone1)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.DriverModel.NextOfKinPhone1,new {id = "TxtNextOfKinPhone1"})
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.DriverModel.NextOfKinPhone1)
                </div>
            </div>
            <div id="NextOfKinRight" style="float: right;">                
                <div class="editor-label">
                    @Html.LabelFor(model => model.DriverModel.NextOfKinEmail1)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.DriverModel.NextOfKinEmail1,new {id = "TxtNextOfKinEmail1"})
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.DriverModel.NextOfKinEmail1)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.DriverModel.NextOfKinEmail2)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.DriverModel.NextOfKinEmail2,new {id = "TxtNextOfKinEmail2"})
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.DriverModel.NextOfKinEmail2)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.DriverModel.SpecialConditions)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.DriverModel.SpecialConditions,new {id = "TxtSpecialConditions"})
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.DriverModel.SpecialConditions)
                </div>
            </div>
            <div id="NextOfKinRight2" style="float: right;">
                <div class="editor-label">
                    @Html.LabelFor(model => model.DriverModel.NextOfKinName2)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.DriverModel.NextOfKinName2, new {id = "TxtNextOfKinName2"})
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.DriverModel.NextOfKinName2)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.DriverModel.Association2)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.DriverModel.Association2, new {id = "TxtAssociation2"})
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.DriverModel.Association2)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.DriverModel.NextOfKinPhone2)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.DriverModel.NextOfKinPhone2, new {id = "TxtNextOfKinPhone2"})
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.DriverModel.NextOfKinPhone2)
                </div>
            </div>
        </fieldset>
    </div>
    <br />
    <div id="SaveAccount">
        @if (ViewBag.IsUpdate == true)
        { 

            <button type="submit" id="btnUpdate" name="Command" value="Update" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                <span class="ui-button-text">Update</span></button>
        }
        else
        { 
            <button type="submit" id="btnSave" name="Command" value="Save" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                <span class="ui-button-text">Save</span></button>
        }
        <button type="button" id="btncancel" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
            <span class="ui-button-text">Cancel</span></button>
        &nbsp; &nbsp;
    </div>
}
<script type="text/javascript">
    $(function () {
        //dialogStartUpDriver()
        dialogStartUp();
    })

    function dialogStartUpDriver(callback) {
        $.validator.unobtrusive.parse($('form'));
        $('form').submit(function () {
            event.preventDefault();
            var val = $("button[type=submit][clicked=true]").val();
            if ($(this).valid()) {
                var frm = $(this);


                var fd = new FormData();
                var file_data = $('input[type="file"]')[0].files; // for multiple files

                //for (var i = 0; i < file_data.length; i++) {
                //    fd.append("file_" + i, file_data[i]);
                //}

                if (file_data.length > 0) {
                    fd.append("CustomerDirUrl", file_data[0]);
                }

                var other_data = frm.serializeArray();
                $.each(other_data, function (key, input) {
                    fd.append(input.name, input.value);
                });

                fd.append('Command', val);

                //console.log(fd);

                $('#from_result').html('');
                $.ajax({
                    url: $(this).attr('action'),
                    data: fd,// $(this).serialize() + '&Command=' + val,
                    contentType: false,
                    processData: false,
                    type: 'POST',
                    success: function (responseText, textStatus, XMLHttpRequest) {
                        closeLoading();
                        closeWaiting();
                        console.log(responseText);


                        if (responseText.Status == null) {
                            console.log(1);
                            $('#from_result').html(responseText);
                            return;
                        }
                        if (responseText.Status) {
                            console.log(1);
                            $('#from_result').html(responseText.Message);
                            frm[0].reset();
                            return;
                        }
                        if (!responseText.Status) {
                            $('#from_result').html(responseText.Message);
                            frm[0].reset();
                            return;
                        }
                        else if (responseText.Status && responseText.IsUpdate) {
                            $('#from_result').html(responseText.Message);
                            location.reload(true);
                            return;
                        }
                        else if (responseText.Status && !responseText.IsUpdate) {
                            frm[0].reset();
                            //$('#from_result').html(responseText.Message);
                            $("#JsPanelCustomer").hide();
                            $("#hdnCustomerId").val(responseText.Data.PersonId);
                            $("#targetPhone").val(responseText.Data.Telephone1);
                            $("#targetCustomerId").val(responseText.Data.FullNames);
                            $("#targetEmail").val(responseText.Data.Email1);
                            $("#targetOrganisation").val(responseText.Data.Organisation)

                            if (callback != null && typeof callback === 'function') {
                                callback(responseText);
                            }
                            $.validator.unobtrusive.parse($('form'));
                        }
                        else {
                            console.log(responseText); console.log(textStatus); console.log(XMLHttpRequest);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        console.log(XMLHttpRequest);
                        console.log(textStatus);
                        console.log(errorThrown);
                        $('#from_result').html("An error occurred while trying to access the server, Kindly retry again.</br>" +
                            "If problem persists, kindly check your network and contact support@geeckoltd.com");
                    },
                    beforeSend: function () {
                        showWaiting();
                        //location.reload(true);
                    },
                    complete: function () {
                        closeWaiting();
                        //location.reload(true);
                    }
                });
            }
            return false;
        });

        function displayResult(data) {
            console.log(data);
            data = data.Data;
            var table = document.getElementById("gridData");
            var rowCount = table.rows.length;
            var row = table.insertRow(rowCount);
            row.className = rowCount % 2 == 0 ? "data_even" : "data_odd";

            var names = row.insertCell(0);
            var email = row.insertcell(1);
            var telephone = row.insertCell(2);
            var Idnumber = row.insertCell(3);
            var cofcno = row.insertCell(4);
            var driverstatus = row.insertCell(5);
            var licencedate = row.insertCell(6);
            var action = row.insertCell(7);

            names.innerHTML = data.FullNames; names.className = "data_cell";
            email.innerHTML = data.Email1; email.className = "data_cell";
            telephone.innerHTML = data.Telephones; telephone.className = "data_cell";
            Idnumber.innerHTML = data.IDNumber; Idnumber.className = "data_cell";
            cofcno.innerHTML = data.COfCNo; cofcno.className = "data_cell";
            driverstatus.innerHTML = data.DriverStatusName; driverstatus.className = "data_cell";
            licencedate.innerHTML = data.LicenceDate; licencedate.className = "data_cell";
            var element1 = document.createElement("label");
            var a = document.createElement('a');
            var linkText = document.createTextNode("Edit");
            a.appendChild(linkText);
            a.setAttribute("class", "editDialog");
            a.title = "Edit";
            a.href = "/Driver/Edit/" + data.Id;
            element1.appendChild(a);
            action.appendChild(element1); action.className = "data_cell";
        }
    }

    function loadDriverData(data) {
        $('#hdnDispatchId').val(data.UserId);
        $('#TxtFirstName').val(data.FirstName);
        $('#TxtIDNumber').val(data.IDNumber);
        $('#TxtEmail1').val(data.Email1);
        $('#TxtTelephone1').val(data.Telephone1);
        $('#TxtEmail2').val(data.Email2);
        $('#TxtTelephone2').val(data.Telephone2);
        $('#TxtDriverRFID').val(data.DriverRFID);
        $('#TxtDriverNo').val(data.DriverNo);
        $('#TxtPostCode').val(data.PostCode);
        $('#TxtFaxNumber').val(data.FaxNumber);
        $('#TxtDOB').val(data.DOB);
        $('#TxtNextOfKinName1').val(data.NextOfKinName1);
        $('#TxtNextOfKinName2').val(data.NextOfKinName2);
        $('#TxtNextOfKinPhone1').val(data.NextOfKinPhone1);
        $('#TxtNextOfKinPhone2').val(data.NextOfKinPhone2);
        $('#TxtAssociation1').val(data.Association1);
        $('#TxtAssociation2').val(data.Association2);
        $('#TxtNextOfKinEmail1').val(data.NextOfKinEmail1);
        $('#TxtNextOfKinEmail2').val(data.NextOfKinEmail2);
        $('#TxtActive').val(data.Active)

        //$("input[name='selectedPaymentMode'][value='" + data.PaymentModeId + "']").prop('checked', true);

        //$.each(data.DispatchExtras, function (i, val) {
        //    $("input[name='selectedExtras'][value='" + val + "']").prop('checked', true);
        //});

    }

</script>
