﻿@model GFleetV3.Models.PagedDriverModel
@{
    ViewBag.Title = "Taksi";
    if (false)
    {
    <script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>
    }
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#CreateDriver").live("click", function (e) {
            // e.preventDefault(); use this or return false
            var url = $(this).attr('href');
            loadDialog(url, 'dialog-edit', 'Create Driver');
            return false;
        });

        $(".editDialog").live("click", function (e) {
            // e.preventDefault(); use this or return false
            var url = $(this).attr('href');
                //var url = "/Driver/Edit";
                //     var urlparams = $(this).attr('href');
                //     var params = $.param({
                //         UserId: "2812f4b7-b304-4407-b79a-333c5837ea1a"
            //         });
            //$.ajax(
            // {
            //     url: url,
            //     type: "POST",
            //     data: params,
            //     success: function (data, textStatus, jqXHR) {
            //         //console.log(data);
            //         loadDriverData(data.Data);
            //     },
            //     error: function (jqXHR, textStatus, errorThrown) {
            //         //if fails     
            //         console.log(jqXHR);
            //         console.log(textStatus);
            //         console.log(errorThrown);
            //     },
            //     beforeSend: function () {
            //         showWaiting();
            //     },
            //     complete: function () {
            //         closeWaiting();
            //     }
            // });

            $("#dialog-edit").dialog({
                title: 'Edit Driver',
                //height: 170,
                //width: 350,
                position: [300, 100],
                autoOpen: false,
                resizable: true,
                width: 'auto',
                autoResize: false,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                dialogClass: "fixed-dialog",
                open: function (event, ui) {
                    $(this).load(url);
                }
            });

            $("#dialog-edit").dialog('open');
            return false;
        });

        $(".confirmDialog").live("click", function (e) {
            // e.preventDefault(); use this or return false
            var url = $(this).attr('href');
            var dataobj = $(this);
            $("#dialog-confirm").dialog({
                autoOpen: false,
                resizable: false,
                height: 170,
                width: 350,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                        $.ajax({
                            type: "POST",
                            url: url,
                            success: function (data) {
                                location.reload(true);
                            }
                        });
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
            });
            $("#dialog-confirm").dialog('open');
            return false;
        });

        $(".restDialog").live("click", function (e) {
            // e.preventDefault(); use this or return false
            var url = $(this).attr('href');

            $("#dialog-reset").dialog({
                autoOpen: false,
                resizable: false,
                height: 170,
                width: 350,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                buttons: {
                    "OK": function () {
                        $(this).unbind('click');
                        $(this).dialog("close");
                        $.ajax({
                            type: "POST",
                            url: url,
                            success: function (responseText) {
                                //$(this).notify(responseText.Message, 'success');
                                $.jnotify(responseText.Message, 'success', { timeout: 0 });
                                $(this).bind('click');
                            }
                        });
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
            });
            $("#dialog-reset").dialog('open');
            return false;
        });
        $(".viewDialog").live("click", function (e) {
            // e.preventDefault(); use this or return false
            var url = $(this).attr('href');
            $("#dialog-view").dialog({
                title: 'View Driver',
                position: [300, 100],
                autoOpen: false,
                resizable: false,
                width: 'auto',
                autoResize: true,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
               
                dialogClass: "fixed-dialog",
                open: function (event, ui) {
                    $(this).load(url);
                },
                buttons: {
                    "Close": function () {
                        $(this).dialog('close');
                    }
                }
            });

            $("#dialog-view").dialog('open');
            return false;
        });

        $("#btncancel").live("click", function (e) {
            location.reload(true);
            $("#dialog-edit").dialog('close');

        });
    });
</script>
<link href="~/Content/tree/jquery.jnotify.css" rel="stylesheet" />
<table width="961" border="0" align="center" cellpadding="0">
    <tr>
        <td height="42" colspan="2" class="td1" align="right">
        </td>
    </tr>
    <tr>
        <td width="208" height="292" class="td1" valign="top">
            @Html.Partial("_sidebarmenu", GFleetV3.Models.SideMenu.getSubmenu(@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()))
        </td>
        <td width="747" class="td1" valign="top">
            @Html.ActionLink(" ", "Create", "Driver", null, new { @id = "CreateDriver", @class = "add-driver" })
            @Html.Partial("_DriverGrid",Model)
        </td>
    </tr>
</table>
<div id="wait" style="display: none;">
    </div>
<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete ?
    </p>
</div>
<div id="dialog-reset" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Do you want to reset the password?
    </p>
</div>
<div id="dialog-edit" style="width: auto; height: auto;">
</div>
<div id="dialog-view" style="display: none">
</div>
