﻿@model Nullable<System.DateTime>
@if (Model.HasValue)
{
    @Html.TextBox("", Model.Value, "{0:yyyy-MM-dd}")
}
else
{
    @Html.TextBox("", "", "{0:yyyy-MM-dd}")
}
@{
    string name = ViewData.TemplateInfo.HtmlFieldPrefix;
    string id = name.Replace(".", "_");
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#@id").datepicker
            ({
                dateFormat: 'dd/mm/yy',
                showStatus: true,
                showWeeks: true,
                highlightWeek: true,
                numberOfMonths: 1,
                showAnim: "scale",
                showOptions: {
                    origin: ["top", "left"]
                }
            });
    });
</script>
