﻿@model DataAccess.SQL.Insuarance
@{  
    Layout = null;
    if (false)
    {
    <script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>
    }
}
@using (Html.BeginForm("CreateEditInsuarance", "Insuarance", FormMethod.Post))
{  
    <div id="wait" style="display: none;">
    </div>
    <div class="divautosize">
        @Html.ValidationSummary(true)
        <div id="from_result">
        </div>
        @if (ViewBag.IsUpdate == true)
        { 
            @Html.HiddenFor(model => model.InsuaranceId)
            @Html.Hidden("isEditing", true)
        }
        <fieldset>
            <div id="InsuaranceLeft" style="float: left; padding-right: 7px;">
                <div class="editor-label">
                    @Html.LabelFor(model => model.InsuaranceName)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.InsuaranceName)
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.InsuaranceName)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Address)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Address)
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.Address)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Telephone)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Telephone)
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.Telephone)
                </div>
            </div>
            <div id="InsuaranceRight" style="float: right;">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Email)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Email)
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.ContactPerson)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ContactPerson)
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.ContactPerson)
                </div>
            </div>
        </fieldset>
        <br />
        <div style="bottom: 0px; position: absolute;">
            @if (ViewBag.IsUpdate == true)
            { 

                <button type="submit" id="btnUpdate" name="Command" value="Update" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                    <span class="ui-button-text">Update</span></button>
            }
            else
            { 
                <button type="submit" id="btnSave" name="Command" value="Save" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                    <span class="ui-button-text">Save</span></button>
            }
            <button type="button" id="btncancel" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                <span class="ui-button-text">Cancel</span></button>
            &nbsp; &nbsp;
        </div>
    </div>
}
<script type="text/javascript">
    $(function () {
        dialogStartUp(displayResult);
    });
    function displayResult(data) {
        console.log(data);
        data = data.Data;
        var table = document.getElementById("gridData");
        var rowCount = table.rows.length;
        var row = table.insertRow(rowCount);
        row.className = rowCount % 2 == 0 ? "data_even" : "data_odd";

        var insuarancename = row.insertCell(0);
        var contactperson = row.insertCell(1);
        var email = row.insertCell(2);
        var telephone = row.insertCell(3);
        var address = row.insertCell(4);
        var action = row.insertCell(5);

        insuarancename.innerHTML = data.InsuaranceName; insuarancename.className = "data_cell";
        contactperson.innerHTML = data.ContactPerson; contactperson.className = "data_cell";
        email.innerHTML = data.Email; email.className = "data_cell";
        telephone.innerHTML = data.Telephone; telephone.className = "data_cell";
        address.innerHTML = data.Address; address.className = "data_cell";
        var element1 = document.createElement("label");
        var a = document.createElement('a');
        var linkText = document.createTextNode("Edit");
        a.appendChild(linkText);
        a.setAttribute("class", "editDialog");
        a.title = "Edit";
        a.href = "/Insuarance/Edit/" + data.Id;
        element1.appendChild(a);
        action.appendChild(element1); action.className = "data_cell";
    }
</script>
