@model GFleetV3.Models.PagedMaintainanceModel
    @{
        Layout = null;
        WebGrid grid = new WebGrid(rowsPerPage: 100);
        grid.Bind(Model.Maintainance,
                  autoSortAndPage: false,
                  rowCount: 100
                  );
        if (false)
        {
            <script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>
        }
    }
    @grid.GetHtml(
                htmlAttributes: new { id = "gridData" },
                fillEmptyRows: false,
                tableStyle: "qlabs_grid_container",//"webgrid",
                headerStyle: "header_row",//"webgrid-header",
                footerStyle: "webgrid-footer",
                alternatingRowStyle: "data_even",//"webgrid-alternating-row",
                selectedRowStyle: "webgrid-selected-row",
                rowStyle: "data_odd", //"webgrid-row-style",
                mode: WebGridPagerModes.All,
                    firstText: "<< First",
                    previousText: "< Prev",
                    nextText: "Next >",
                    lastText: "Last >>",
    columns: new[] {

        
        
       
       
        grid.Column("Description",style: "data_cell",
                    header: "Description"),
        grid.Column("DriverName",style: "data_cell",
                    header: "Driver Name"),
        grid.Column("DriverTelephone",style: "data_cell",
                    header: "Driver Telephone"),
        grid.Column("VehicleStation",style: "data_cell",
                    header: "Vehicle Station"),             
        grid.Column("",style: "data_cell",
                    header: "Actions",                                
                    format: @<text>
                        <label>@Html.ActionLink("Edit", "Edit", new { id = item.MaintainanceId }, new { @class = "editDialog" })</label>
                    </text>
        )
})
    <script type="text/javascript">
        InitGrid('gridData');
    </script>


