/* Reset */
html, body, table, tbody, thead, tr, th, td, div, a, h1, h2, form, label, input, select {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    vertical-align: baseline;
}

:focus {
    outline: 0;
}

html, body {
    background: #fff;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.1;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

/* Site */
#page, #header, #main, #footer, #status {
    position: absolute;
    left: 0;
    right: 0;
}

#page {
    top: 0;
    bottom: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#header {
    top: 0;
    height: 55px;
    background: url("../Content/images/header.bmp") repeat;
    border-bottom: 1px solid #000;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 1264px;
}

#main {
    top: 56px;
    bottom: 98px;
    background: #444;
    width: 100%;
}

#main_old {
    top: 56px;
}

#points {
    bottom: 30px;
    left: 45px;
}

#points-tree {
    width: 160px;
    height: 200px;
    margin-left: 5px;
    overflow: auto;
    font-size: 80%;
    text-align: left;
}

#points-details {
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    border-top: 1px solid rgb(170, 170, 170);
}

    #points-details .line {
        text-align: left;
        margin-top: .4em;
        width: 220px;
    }

#points .line, #zones .line {
    margin-top: .5em;
    font-size: 90%;
    text-align: right;
}

#zones-details .line {
    text-align: left;
    margin-top: .4em;
    width: 220px;
}
/* Custom Points / Polyzones */
#points .line, #zones .line {
    margin-top: .5em;
    font-size: 90%;
    text-align: right;
}

#points .button, #zones .button {
    height: 16px;
}

#points-save, #zones-save, #zone-creator-finish {
    color: #070;
}

#points-del, #zones-del {
    color: #800;
}

/* Custom Points */
#points {
    bottom: 30px;
    left: 45px;
}

#points-tree {
    width: 160px;
    height: 200px;
    margin-left: 5px;
    overflow: auto;
    font-size: 80%;
    text-align: left;
}

    #points-tree .element {
        width: 144px;
        overflow: hidden;
    }

    #points-tree .header {
        width: 144px;
        overflow: hidden;
        margin: 3px 0 2px 0;
        font-weight: bold;
        cursor: pointer;
    }

    #points-tree .subelement {
        width: 129px;
        height: 1.2em;
        padding-left: 10px;
        overflow: hidden;
        font-weight: normal;
        cursor: pointer;
    }

#points-details {
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    border-top: 1px solid #aaa;
}

#points .button {
    width: 5.25em;
}

#points-name, #points-group, #points-lat, #points-lon, #points-radius, #points-email-enter, #points-email-exit {
    width: 7.5em;
}

#points-alert-enter, #points-alert-exit, #points-all-users {
    width: 2em;
}

/* Polyzones */
#zones-group {
    width: 160px;
    height: 60px;
    margin-left: 5px;
    overflow: auto;
    font-size: 80%;
    text-align: left;
}

#zones {
    bottom: 30px;
    left: 45px;
    height: 521px;
    z-index: 1000;
    width: 224px;
}

#zones-list {
    width: 160px;
    height: 80px;
    margin-left: 5px;
    overflow: auto;
    font-size: 80%;
    text-align: left;
}

    #zones-list div {
        width: 139px;
        padding: 1px 3px;
        overflow: hidden;
        cursor: pointer;
    }

#zones-details {
    /*position: absolute;*/
    bottom: 5px;
    left: 1px;
    right: 5px;
    border-top: 1px solid #aaa;
}

#zones .button {
    width: 8.25em;
}

#zones-name {
    width: 9.0em;
}

#zones-type-enter, #zones-type-exit {
    width: 97px;
}

#zones-email-enter, #zones-email-exit {
    width: 85px;
}

/* Polyzone creator */
#zone-creator {
    left: 45px;
    width: 185px;
}

    #zone-creator p {
        line-height: 1.25;
    }

#zone-creator-finish {
    margin-left: 60px;
    height: 17px;
}

#footer {
    bottom: 0;
    height: 98px;
}

/* General */
input, select {
    border: 1px solid #888;
    color: #333;
}

input {
    padding: 1px 5px;
}

.selected {
    background: #fca;
}

/* Side window */
.sidewindow {
    position: absolute;
    left: 45px;
    top: 5px;
    width: 220px;
    padding: 4px;
    background: #fff;
    border: 1px solid #000;
    font-size: 80%;
    display: none;
}

    .sidewindow h1 {
        background: #aac url(../Content/images/ui-bg_glass_75_aaaacc_1x400.png) 50% 50% repeat-x;
        border: 1px solid #aaa;
        margin-bottom: 1em;
        padding: .4em 0;
        color: #222;
        font-weight: bold;
        text-align: center;
    }

    .sidewindow .close {
        position: absolute;
        top: 9px;
        right: 8px;
        width: 16px;
        height: 16px;
        background: url(../Content/images/ui-icons_222222_256x240.png) -80px -128px;
    }

        .sidewindow .close:hover {
            top: 8px;
            right: 7px;
            background: #dadada url(../Content/images/ui-icons_454545_256x240.png) -80px -128px;
            border: 1px solid #aaa;
            cursor: pointer;
        }

    .sidewindow .line {
        text-align: left;
        margin-top: .4em;
        width: 300px;
    }

    .sidewindow .label {
        width: 55px;
        height: 18px;
        float: left;
        padding: 2px 0 0 0;
    }

/* Header */
#logo {
    position: relative;
    top: 0;
    float: left;
    height: 55px;
    background: url("../Content/images/logo1.png");
}

    #logo a:hover {
        background: #fff;
    }

#status {
    top: 43px;
    height: 10px;
    /*color: #;*/
    font-size: 70%;
}

#buttons {
    position: relative;
    width: 810px;
    top: 12px;
    height: 30px;
    float: left;
}

#locate-btn {
    color: #080;
}

#logout {
    position: absolute;
    right: 5px;
    top: 3px;
    color: #000;
    font-size: 75%;
    text-decoration: none;
    cursor: pointer;
}

/* Buttons */
.button {
    width: 5em;
    height: 25px;
    float: left;
    margin: .1em;
    padding: 0 .2em;
    background: url("../Content/images/btn.bmp") repeat;
    border: 1px solid #666;
    font-size: 80%;
    text-align: center;
    line-height: 1.8;
    cursor: pointer;
}

.buttonMore {
    width: 2em;
    height: 25px;
    float: left;
    margin: .1em;
    padding: 0 .2em;
    font-size: 80%;
    text-align: center;
    line-height: 1.8;
    cursor: pointer;
}

.button:active {
    background: url("../Content/images/btn_down.bmp") repeat;
    line-height: 2.0;
}

/* Map */
#map {
    /*     float: right; */
    position: relative;
    width: 100%;
    height: 100%;
    background: #eee;
    overflow: hidden;
}

.maplabel {
    padding: 0 2px 2px;
    border: 1px solid #000;
    background: #ff0;
}
/* mapPart */
#mapPart {
    /*     float: right;*/
    position: relative;
    height: 100%;
    background: #eee;
    overflow: hidden;
}
/* Tree */
#tree {
    /**/
    float: left;
    position: relative; /*width: 225px;*/
    height: 100%;
    background: #eee;
    overflow-x: hidden;
    overflow-y: scroll;
}
/* pnlLiveTrack */
.pnlLiveTrack {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #eee;
    overflow: hidden;
}

/* Reports */
#reports {
    height: 170px;
    width: 220px;
}

#report-type, #report-format {
    width: 110px;
}

#report-from, #report-to {
    width: 100px;
    text-align: center;
}

.reporthrsmin {
    width: 33px;
    text-align: center;
    margin-right: 3px;
    margin-left: 3px;
}

#report-create {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 105%;
}

/* Routes */
#routes-from, #routes-to {
    width: 100px;
    text-align: center;
}

#distrpt-from, #distrpt-to {
    width: 100px;
    text-align: center;
}

#routes-retrieve {
    width: 8em;
    margin: .5em 0 .5em 7.9em;
    font-size: 105%;
}

#generate-distrpt {
    margin-left: 200px;
    font-size: 105%;
}

#routes-tree {
    width: 219px;
    height: 200px;
    margin-left: 5px;
    overflow: auto;
    font-size: 80%;
    text-align: left;
}

#monitor-vehicles {
    width: 219px;
    height: 200px;
    margin-left: 5px;
    overflow: auto;
    font-size: 80%;
    text-align: left;
}

#routes-tree .element {
    width: 144px;
    overflow: hidden;
}

#routes-tree .header {
    width: 144px;
    overflow: hidden;
    margin: 3px 0 2px 0;
    font-weight: bold;
    cursor: pointer;
}

#routes-tree .subelement {
    display: none;
    width: 129px;
    height: 1.2em;
    padding-left: 10px;
    overflow: hidden;
    font-weight: normal;
    cursor: pointer;
}

.route_hover {
    background: #ddf;
}

.route_selected {
    background: #fca;
}

/* Group filter */
#group-selection {
    position: absolute;
    z-index:1;
    /*display: none;*/ /* left: 227px;*/
    bottom: 0;
    width: 325px;
    height: 18px;
    padding: 1px 0 0 2px;
    background: #fff;
    border: 1px solid #888;
    border-bottom: none;
    font-size: 65%;
    z-index: 30;
}

#group-filter {
    width: 100px;
    text-align: center;
}

/* Footer */
#grid {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.vehicles {
    width: 100%;
    font-size: 70%;
    table-layout: fixed;
}

.reg {
    width: 75px;
}

.driver {
    width: 80px;
}

.group, .event {
    width: 60px;
}

.street, .town {
    width: 150px;
}

.lga, .state {
    width: 100px;
}

.country, .speed {
    width: 50px;
}

.dir {
    width: 40px;
}

.date {
    width: 55px;
}

.time {
    width: 50px;
}

td.street, td.town, td.city {
    text-align: left;
}

.discon {
    color: #800;
}
.vehicleengage {
    color: #008000;
}
/* Tables */
.grid tr {
    cursor: pointer;
}

.grid th, .grid td {
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.grid thead tr th {
    height: 14px;
    background: url("../Content/images/th.bmp") repeat;
    border: 1px solid #444;
    border-right: 1px solid #888;
    border-left: none;
    font-weight: bold;
    text-align: center;
}

.grid td {
    height: 14px;
    padding: 1px 1px 0 1px;
    border-right: 1px solid #bbb;
    background-image: none;
}

.odd {
    background: #eef;
}

.even {
    background: #fff;
}

.grid th.asc {
    background: url("../Content/images/th_asc.png") no-repeat right;
}

.grid th.desc {
    background: url("../Content/images/th_desc.png") no-repeat right;
}

.grid tr.sel {
    background: #60a0ec;
}

.grid td.sel {
    border-right: 1px solid #3264b4;
}

/* Non-standard */
input, .button, .sidewindow, .sidewindow h1, .sidewindow .close {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

/* Google Maps marker */
div.markerTooltip, div.markerDetail {
    margin: 0;
    padding: 2px 4px;
    border: 1px solid black;
    color: black;
    background-color: yellow;
    font-size: 70%;
    white-space: nowrap;
}

/* jScrollPane */
.jScrollPaneContainer {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.jScrollPaneTrack {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: url(../Content/images/track.gif) repeat-y;
    cursor: pointer;
}

.jScrollPaneDrag {
    position: absolute;
    overflow: hidden;
    background: url(../Content/images/drag_middle.gif) repeat-y;
    cursor: pointer;
}

.jScrollPaneDragTop {
    position: absolute;
    left: 0;
    top: 0;
    height: 6px;
    overflow: hidden;
    background: url(../Content/images/drag_top.gif) no-repeat;
}

.jScrollPaneDragBottom {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 7px;
    overflow: hidden;
    background: url(../Content/images/drag_bottom.gif) no-repeat;
}

a.jScrollArrowUp {
    position: absolute;
    right: 0;
    top: 0;
    height: 24px;
    z-index: 1;
    display: block;
    overflow: hidden;
    background: url(../Content/images/up.png) no-repeat 0 -30px;
    text-indent: -2000px;
}

a.jScrollArrowDown {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 24px;
    z-index: 1;
    display: block;
    overflow: hidden;
    background: url(../Content/images/down.png) no-repeat 0 -30px;
    text-indent: -2000px;
}

a.jScrollArrowDown {
    height: 24px;
    background: url(../Content/images/down.png) no-repeat 0 -30px;
}

a.jScrollArrowUp:hover {
    background-position: 0 0;
}

a.jScrollArrowDown:hover {
    background-position: 0 0;
}

/*
 jQuery UI Copyright (c) 2009 AUTHORS.txt (http://jqueryui.com/about)
 Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses. */
.ui-helper-hidden {
    display: none;
}

.ui-helper-hidden-accessible {
    position: absolute;
    left: -99999999px;
}

.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}

.ui-helper-clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.ui-helper-clearfix {
    display: inline-block;
}

* html .ui-helper-clearfix {
    height: 1%;
}

.ui-helper-clearfix {
    display: block;
}

.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter: Alpha(Opacity=0);
}

.ui-state-disabled {
    cursor: default !important;
}

.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}

.ui-widget-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ui-widget {
    font-family: Arial,verdana,sans-serif;
    font-size: 1em;
}

    .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
        font-family: Arial,verdana,sans-serif;
        font-size: 1em;
    }

.ui-widget-content {
    border: 1px solid #aaaaaa;
    background: #ffffff url(../Content/images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
    color: #222222;
}

    .ui-widget-content a {
        color: #222222;
    }

.ui-widget-header {
    border: 1px solid #aaaaaa;
    background: #aaaacc url(../Content/images/ui-bg_glass_75_aaaacc_1x400.png) 50% 50% repeat-x;
    color: #222222;
    font-weight: bold;
}

    .ui-widget-header a {
        color: #222222;
    }

.ui-state-default, .ui-widget-content .ui-state-default {
    border: 1px solid #d3d3d3;
    background: #e6e6e6 url(../Content/images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #555555;
    outline: none;
}

    .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
        color: #555555;
        text-decoration: none;
        outline: none;
    }

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus {
    border: 1px solid #999999;
    background: #dadada url(../Content/images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #212121;
    outline: none;
}

    .ui-state-hover a, .ui-state-hover a:hover {
        color: #212121;
        text-decoration: none;
        outline: none;
    }

.ui-state-active, .ui-widget-content .ui-state-active {
    border: 1px solid #aaaaaa;
    background: #ffffff url(../Content/images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #212121;
    outline: none;
}

    .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
        color: #212121;
        outline: none;
        text-decoration: none;
    }

.ui-state-highlight, .ui-widget-content .ui-state-highlight {
    border: 1px solid #fcefa1;
    background: #fbf9ee url(../Content/images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;
    color: #363636;
}

    .ui-state-highlight a, .ui-widget-content .ui-state-highlight a {
        color: #363636;
    }

.ui-state-error, .ui-widget-content .ui-state-error {
    border: 1px solid #cd0a0a;
    background: #fef1ec url(../Content/images/ui-bg_inset-soft_95_fef1ec_1x100.png) 50% bottom repeat-x;
    color: #cd0a0a;
}

    .ui-state-error a, .ui-widget-content .ui-state-error a {
        color: #cd0a0a;
    }

.ui-state-error-text, .ui-widget-content .ui-state-error-text {
    color: #cd0a0a;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none;
}

.ui-priority-primary, .ui-widget-content .ui-priority-primary {
    font-weight: bold;
}

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary {
    opacity: .7;
    filter: Alpha(Opacity=70);
    font-weight: normal;
}

.ui-icon {
    width: 16px;
    height: 16px;
    background-image: url(../Content/images/ui-icons_222222_256x240.png);
}

.ui-widget-content .ui-icon {
    background-image: url(../Content/images/ui-icons_222222_256x240.png);
}

.ui-widget-header .ui-icon {
    background-image: url(../Content/images/ui-icons_222222_256x240.png);
}

.ui-state-default .ui-icon {
    background-image: url(../Content/images/ui-icons_888888_256x240.png);
}

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
    background-image: url(../Content/images/ui-icons_454545_256x240.png);
}

.ui-state-active .ui-icon {
    background-image: url(../Content/images/ui-icons_454545_256x240.png);
}

.ui-state-highlight .ui-icon {
    background-image: url(../Content/images/ui-icons_2e83ff_256x240.png);
}

.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
    background-image: url(../Content/images/ui-icons_cd0a0a_256x240.png);
}

.ui-icon-close {
    background-position: -80px -128px;
}

.ui-icon-circle-triangle-e {
    background-position: -48px -192px;
}

.ui-icon-circle-triangle-s {
    background-position: -64px -192px;
}

.ui-icon-circle-triangle-w {
    background-position: -80px -192px;
}

.ui-icon-circle-triangle-n {
    background-position: -96px -192px;
}

.ui-corner-tl {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
}

.ui-corner-tr {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
}

.ui-corner-bl {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

.ui-corner-br {
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

.ui-corner-top {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
}

.ui-corner-bottom {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

.ui-corner-right {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

.ui-corner-left {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

.ui-corner-all {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.ui-widget-overlay {
    background: #aaaaaa url(../Content/images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
    opacity: .30;
    filter: Alpha(Opacity=30);
}

.ui-widget-shadow {
    margin: -8px 0 0 -8px;
    padding: 8px;
    background: #aaaaaa url(../Content/images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
    opacity: .30;
    filter: Alpha(Opacity=30);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.ui-accordion .ui-accordion-header {
    cursor: pointer;
    position: relative;
    margin-top: 1px;
    zoom: 1;
}

.ui-accordion .ui-accordion-li-fix {
    display: inline;
}

.ui-accordion .ui-accordion-header-active {
    border-bottom: 0 !important;
}

.ui-accordion .ui-accordion-header a {
    display: block;
    font-size: 1em;
    padding: .5em .5em .5em 2.2em;
}

.ui-accordion .ui-accordion-header .ui-icon {
    position: absolute;
    left: .5em;
    top: 50%;
    margin-top: -8px;
}

.ui-accordion .ui-accordion-content {
    padding: 1em 2.2em;
    border-top: 0;
    margin-top: -2px;
    position: relative;
    top: 1px;
    margin-bottom: 2px;
    overflow: auto;
    display: none;
}

.ui-accordion .ui-accordion-content-active {
    display: block;
}

.ui-datepicker {
    width: 17em;
    padding: .2em .2em 0;
    overflow: hidden;
    z-index: 1000;
}

    .ui-datepicker .ui-datepicker-header {
        position: relative;
        padding: .2em 0;
    }

    .ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
        position: absolute;
        top: 2px;
        width: 1.8em;
        height: 1.8em;
    }

    .ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
        top: 1px;
    }

    .ui-datepicker .ui-datepicker-prev {
        left: 2px;
    }

    .ui-datepicker .ui-datepicker-next {
        right: 2px;
    }

    .ui-datepicker .ui-datepicker-prev-hover {
        left: 1px;
    }

    .ui-datepicker .ui-datepicker-next-hover {
        right: 1px;
    }

    .ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -8px;
        top: 50%;
        margin-top: -8px;
    }

    .ui-datepicker .ui-datepicker-title {
        margin: 0 2.3em;
        line-height: 1.8em;
        text-align: center;
    }

        .ui-datepicker .ui-datepicker-title select {
            float: left;
            font-size: 1em;
            margin: 1px 0;
        }

    .ui-datepicker select.ui-datepicker-month-year {
        width: 100%;
    }

    .ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
        width: 49%;
    }

    .ui-datepicker .ui-datepicker-title select.ui-datepicker-year {
        float: right;
    }

    .ui-datepicker table {
        width: 100%;
        font-size: .9em;
        border-collapse: collapse;
        margin: 0 0 .4em;
    }

    .ui-datepicker th {
        padding: .7em .3em;
        text-align: center;
        font-weight: bold;
        border: 0;
    }

    .ui-datepicker td {
        border: 0;
        padding: 1px;
    }

        .ui-datepicker td span, .ui-datepicker td a {
            display: block;
            padding: .2em;
            text-align: right;
            text-decoration: none;
        }

    .ui-datepicker .ui-datepicker-buttonpane {
        background-image: none;
        margin: .7em 0 0 0;
        padding: 0 .2em;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
    }

        .ui-datepicker .ui-datepicker-buttonpane button {
            float: right;
            margin: .5em .2em .4em;
            cursor: pointer;
            padding: .2em .6em .3em .6em;
            width: auto;
            overflow: visible;
        }

            .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
                float: left;
            }

    .ui-datepicker.ui-datepicker-multi {
        width: auto;
    }

.ui-datepicker-multi .ui-datepicker-group {
    float: left;
}

    .ui-datepicker-multi .ui-datepicker-group table {
        width: 95%;
        margin: 0 auto .4em;
    }

.ui-datepicker-multi-2 .ui-datepicker-group {
    width: 50%;
}

.ui-datepicker-multi-3 .ui-datepicker-group {
    width: 33.3%;
}

.ui-datepicker-multi-4 .ui-datepicker-group {
    width: 25%;
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {
    border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-buttonpane {
    clear: left;
}

.ui-datepicker-row-break {
    clear: both;
    width: 100%;
}

.ui-datepicker-rtl {
    direction: rtl;
}

    .ui-datepicker-rtl .ui-datepicker-prev {
        right: 2px;
        left: auto;
    }

    .ui-datepicker-rtl .ui-datepicker-next {
        left: 2px;
        right: auto;
    }

    .ui-datepicker-rtl .ui-datepicker-prev:hover {
        right: 1px;
        left: auto;
    }

    .ui-datepicker-rtl .ui-datepicker-next:hover {
        left: 1px;
        right: auto;
    }

    .ui-datepicker-rtl .ui-datepicker-buttonpane {
        clear: right;
    }

        .ui-datepicker-rtl .ui-datepicker-buttonpane button {
            float: left;
        }

            .ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {
                float: right;
            }

    .ui-datepicker-rtl .ui-datepicker-group {
        float: right;
    }

    .ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
        border-right-width: 0;
        border-left-width: 1px;
    }

    .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
        border-right-width: 0;
        border-left-width: 1px;
    }

.ui-datepicker-cover {
    display: none;
    display: /**/ block;
    position: absolute;
    z-index: -1;
    filter: mask();
    top: -4px;
    left: -4px;
    width: 200px;
    height: 200px;
}

.ui-dialog {
    position: relative;
    padding: .2em;
    width: 300px;
}

    .ui-dialog .ui-dialog-titlebar {
        padding: .5em .3em .3em 1em;
        position: relative;
    }

    .ui-dialog .ui-dialog-title {
        float: left;
        margin: .1em 0 .2em;
    }

    .ui-dialog .ui-dialog-titlebar-close {
        position: absolute;
        right: .3em;
        top: 50%;
        width: 19px;
        margin: -10px 0 0 0;
        padding: 1px;
        height: 18px;
    }

        .ui-dialog .ui-dialog-titlebar-close span {
            display: block;
            margin: 1px;
        }

        .ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus {
            padding: 0;
        }

    .ui-dialog .ui-dialog-content {
        border: 0;
        padding: .5em 1em;
        background: none;
        overflow: auto;
        zoom: 1;
    }

    .ui-dialog .ui-dialog-buttonpane {
        text-align: left;
        border-width: 1px 0 0 0;
        background-image: none;
        margin: .5em 0 0 0;
        padding: .3em 1em .5em .4em;
    }

        .ui-dialog .ui-dialog-buttonpane button {
            float: right;
            margin: .5em .4em .5em 0;
            cursor: pointer;
            padding: .2em .6em .3em .6em;
            line-height: 1.4em;
            width: auto;
            overflow: visible;
        }

    .ui-dialog .ui-resizable-se {
        width: 14px;
        height: 14px;
        right: 3px;
        bottom: 3px;
    }

.ui-draggable .ui-dialog-titlebar {
    cursor: move;
}

.ui-progressbar {
    height: 2em;
    text-align: left;
}

    .ui-progressbar .ui-progressbar-value {
        margin: -1px;
        height: 100%;
    }

.ui-resizable {
    position: relative;
}

.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    z-index: 99999;
    display: block;
}

.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle {
    display: none;
}

.ui-resizable-n {
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0px;
}

.ui-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0px;
}

.ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0px;
    height: 100%;
}

.ui-resizable-w {
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0px;
    height: 100%;
}

.ui-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px;
}

.ui-resizable-sw {
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    bottom: -5px;
}

.ui-resizable-nw {
    cursor: nw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    top: -5px;
}

.ui-resizable-ne {
    cursor: ne-resize;
    width: 9px;
    height: 9px;
    right: -5px;
    top: -5px;
}

.ui-slider {
    position: relative;
    text-align: left;
}

    .ui-slider .ui-slider-handle {
        position: absolute;
        z-index: 2;
        width: 1.2em;
        height: 1.2em;
        cursor: default;
    }

    .ui-slider .ui-slider-range {
        position: absolute;
        z-index: 1;
        font-size: .7em;
        display: block;
        border: 0;
    }

.ui-slider-horizontal {
    height: .8em;
}

    .ui-slider-horizontal .ui-slider-handle {
        top: -.3em;
        margin-left: -.6em;
    }

    .ui-slider-horizontal .ui-slider-range {
        top: 0;
        height: 100%;
    }

    .ui-slider-horizontal .ui-slider-range-min {
        left: 0;
    }

    .ui-slider-horizontal .ui-slider-range-max {
        right: 0;
    }

.ui-slider-vertical {
    width: .8em;
    height: 100px;
}

    .ui-slider-vertical .ui-slider-handle {
        left: -.3em;
        margin-left: 0;
        margin-bottom: -.6em;
    }

    .ui-slider-vertical .ui-slider-range {
        left: 0;
        width: 100%;
    }

    .ui-slider-vertical .ui-slider-range-min {
        bottom: 0;
    }

    .ui-slider-vertical .ui-slider-range-max {
        top: 0;
    }

.ui-tabs {
    padding: .2em;
    zoom: 1;
}

    .ui-tabs .ui-tabs-nav {
        list-style: none;
        position: relative;
        padding: .2em .2em 0;
    }

        .ui-tabs .ui-tabs-nav li {
            position: relative;
            float: left;
            border-bottom-width: 0 !important;
            margin: 0 .2em -1px 0;
            padding: 0;
        }

            .ui-tabs .ui-tabs-nav li a {
                float: left;
                text-decoration: none;
                padding: .5em 1em;
            }

            .ui-tabs .ui-tabs-nav li.ui-tabs-selected {
                padding-bottom: 1px;
                border-bottom-width: 0;
            }

                .ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
                    cursor: text;
                }

            .ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
                cursor: pointer;
            }

    .ui-tabs .ui-tabs-panel {
        padding: 1em 1.4em;
        display: block;
        border-width: 0;
        background: none;
    }

    .ui-tabs .ui-tabs-hide {
        display: none !important;
    }

.add24 {
    background-image: url(../Content/images/add24.gif) !important;
}

#DivMore {
}

#send-position {
    float: right;
}

#classic_infowindow {
    /*font-family: Times New Roman;     font-weight: normal;*/
    font-family: Times New Roman;
    font-weight: normal;
    display: block;
    bottom: 40px;
    right: 20px;
    position: absolute;
    background: rgb(255, 255, 255);
}

#divEnterNo {
    margin-top: 16px;
}

#carpos_info {
    /*text-indent: 105px;*/
    list-style-type: none;
}

    #carpos_info li {
        left: 0px;
        text-indent: 0px;
    }

.logofflive {
    font: bold 12px/18px sans-serif;
    text-decoration: none;
}

a:hover {
    background: #19a1fc;
    color: #fff;
}

.welcome {
    font: normal 12px/18px sans-serif;
}

#welcomeUser {
    width: auto;
    float: left;
}

div.time-picker {
    position: absolute;
    height: 191px;
    width: 3.5em; /* needed for IE */
    overflow: auto;
    background: #fff;
    border: 1px solid #aaa;
    z-index: 1099;
    margin: 0;
}

div.time-picker-12hours {
    width: 6em; /* needed for IE */
}

div.time-picker ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.time-picker li {
    cursor: pointer;
    height: 10px;
    font: 12px/1 Helvetica, Arial, sans-serif;
    padding: 4px 3px;
}

    div.time-picker li.selected {
        background: #0063CE;
        color: #fff;
    }
