﻿<script type="text/javascript" src="~/Scripts/DispatchGrid_Live.js"></script>

<style type="text/css">
    .fixed-grid
    {
        bottom: 0;
        width: 100%;
    }

    .tablelayout
    {
        table-layout: fixed;
        font-size: x-small;
    }

    .absorbing-column
    {
        width: 20%;
    }

    .absorbinggrid-column
    {
        width: 6%;
    }
</style>
<div class="grid-place">
    <div id="grid" class="dataTables_wrapper" role="grid">
        <table id="vehicles"  class="table striped hovered dataTable mDataTable tablelayout" cellspacing="0">
            <thead>
                <tr class="mbg1">
                    <th class="DispatchId absorbinggrid-column">Ref
                    </th>
                    <th class="PickUpDateTime">Pick Time
                    </th>
                    <th class="PickUpPoint">Pick Up
                    </th>
                    <th class="DropOffPoint">Drop Off
                    </th>
                    <th class="PassengerNames">Passenger
                    </th>
                    <th class="PassengerOrganisation">Organisation
                    </th>
                    <th class="PassengerTelephone">Phone
                    </th>
                    <th class="NoOfPassengers absorbinggrid-column">Pax
                    </th>
                    <th class="Driver">Driver
                    </th>
                    <th class="VehicleDispatched">Vehicle
                    </th>
                    <th class="DateModified">Booked Date
                    </th>
                    <th class="Actions absorbing-column" style="width: 98px!important;">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div>
        </div>
        <!--permanent scrollbar-->
    </div>
</div>

<script>
    //var markersArray = [];
    //var nearvehicles=[];

    function show_map_download(CustomerId) {
        var path = "@Url.Action("GetCustomerMap", "Customer")" + "/?CustId=";
        $('#DivCustMap').attr('href', path + CustomerId);
        $("#DivCustMap").show();
    }


    function hide_map_download() {
        $("#DivCustMap").hide();
    }

    function loadBookData(data) {

        if (data.CustomerDirUrl != null) {
            show_map_download(data.CustomerId);
        }

        $('#hdnDispatchId').val(data.DispatchId);
        $('#PickUpPointName').val(data.PickUpPointName);
        $('#hdnFrom').val(data.From);
        $('#hdnTo').val(data.To);
        var coordinates = data.From;
        if (coordinates != null) {
            var coord = coordinates.replace(",", " ");
        }
        var params = $.param({
            coordinates: coord
        });

        $.ajax({
            url: '@Url.Action("getNearVehicleData", "VehicleDispatch")',
            type: 'POST',
            dataType: 'json',
            data: params,
            error: 'error',
            success: function (data) {
                if (data != null) {
                    clearMarkers();
                    $.each(data, function () {
                        vehicles.push(new vehicle(this));
                    });
                }
            }
        });
        $('#DropOffPointName').val(data.DropOffPointName);
        $('#pickupdate').val(data.PickUpDate);
        $('#pickuptime').val(data.PickUpTime);
        $('#MoreDetails').val(data.MoreDetails);
        $('#BookingBy').val(data.BookingRequestedBy);
        $('#NoOfPassengers').val(data.NoOfPassengers);

        $("input[name='selectedPaymentMode'][value='" + data.PaymentModeId + "']").prop('checked', true);

        $.each(data.DispatchExtras, function (i, val) {
            $("input[name='selectedExtras'][value='" + val + "']").prop('checked', true);
        });

        $.each(data.DispatchAccessibilities, function (i, val) {
            $("input[name='selectedAccessibility'][value='" + val + "']").prop('checked', true);
        });

        $('#BookersPhone').val(data.BookersPhone);
        $('#SpecialInstructions').val(data.SpecialInstructions);
        $('#hdnCustomerId').val(data.CustomerId);
        $('#targetCustomerId').val(data.PassengersName);

        //$(".disable_4dispatch").attr('disabled', 'disabled');
        $(".disable_4dispatch").attr("readonly", "readonly");

        $('#targetOrganisation').val(data.OrganisationName);
        $('#targetPhone').val(data.Telephone1);
        $('#targetEmail').val(data.Email1);
        $('#SpecialInstructions').val(data.SpecialInstructions);
        $('#from_result').html(null);

        $("#btnDispatch").show();
        $("#btnSave").hide();
        $("#btnBookDispatch").hide();

        $('#cmbVehicle').val(data.VehicleId);
        $('#cmbDriver').val(data.DriverUserId);

        if (data.To != null && data.From != null) {
            docMap.calcRoute(data.To, data.From);
            $('#DropOffPointName').css('color', 'green');
            $('#PickUpPointName').css('color', 'green');
        } else {
            var point = (data.From == null) ? data.To : data.From;
            if (point != null) {
                docMap.drawPoint(point);
            }
        }

        $('#TxtAmount').val(data.Amount);
    }


    //function nearvehicle(values, $map) {
    //    var attr = values;

    //    this.update = function (new_values) {

    //        for (var v in new_values) {
    //            this[v] = new_values[v];
    //        }

    //        this.update_icon();
    //    };

    //    this.update_icon = function () {
    //        this.marker
    //        var self = this;
    //        if (this.marker !== null) {
    //            this.marker.setMap(null);
    //        }

    //        this.marker = getMarkerIcon(this);
    //        this.marker.attr = attr;

    //        oms.addMarker(this.marker);
    //        markersArray.push(this.marker);
    //        this.marker = this.marker;
    //    }

    //    function getMarkerIcon(sVehicle) {
    //        var icon_name = imagePath + sVehicle.ImageUrl;

    //        return createMarker(icon_name, sVehicle.Latitude, sVehicle.Longitude, sVehicle.VehicleRegCode, 32);
    //    }
    //    this.marker = null;
    //    this.update(values);
    //}

    function loadEditBookData(data) {

        $('#hdnDispatchId').val(data.DispatchId);
        $('#PickUpPointName').val(data.PickUpPointName);
        $('#hdnFrom').val(data.From);
        $('#DropOffPointName').val(data.DropOffPointName);
        $('#hdnTo').val(data.To);
        $('#pickupdate').val(data.PickUpDate);
        $('#pickuptime').val(data.PickUpTime);
        $('#MoreDetails').val(data.MoreDetails);
        $('#NoOfPassengers').val(data.NoOfPassengers);
        $('#BookingBy').val(data.BookingRequestedBy);

        $("input[name='selectedPaymentMode'][value='" + data.PaymentModeId + "']").prop('checked', true);

        $.each(data.DispatchExtras, function (i, val) {
            $("input[name='selectedExtras'][value='" + val + "']").prop('checked', true);
        });

        $.each(data.DispatchAccessibilities, function (i, val) {
            $("input[name='selectedAccessibility'][value='" + val + "']").prop('checked', true);
        });

        $('#BookersPhone').val(data.BookersPhone);
        $('#SpecialInstructions').val(data.SpecialInstructions);
        $('#hdnCustomerId').val(data.CustomerId);
        $('#targetCustomerId').val(data.PassengersName);

        //$(".disable_4dispatch").attr('disabled', 'disabled');
        $(".disable_4dispatch").attr("readonly", "readonly");

        $('#targetOrganisation').val(data.OrganisationName);
        $('#targetPhone').val(data.Telephone1);
        $('#targetEmail').val(data.Email1);
        $('#SpecialInstructions').val(data.SpecialInstructions);
        $('#from_result').html(null);

        $("#btnBookEdit").show();
        $("#btnDispatch").hide();
        $("#btnSave").hide();



        $('#cmbVehicle').val(data.VehicleId);
        $('#cmbDriver').val(data.DriverUserId);

        if (data.To != null && data.From != null) {
            docMap.calcRoute(data.To, data.From);
            $('#DropOffPointName').css('color', 'green');
            $('#PickUpPointName').css('color', 'green');
        } else {
            var point = (data.From == null) ? data.To : data.From;
            if (point != null) {
                docMap.drawPoint(point);
            }
        }

        $('#TxtAmount').val(data.Amount);
    }

    function loadEditDispatchBookData(data) {

        $('#hdnDispatchId').val(data.DispatchId);
        $('#PickUpPointName').val(data.PickUpPointName);
        $('#hdnFrom').val(data.From);
        $('#DropOffPointName').val(data.DropOffPointName);
        $('#hdnTo').val(data.To);
        $('#pickupdate').val(data.PickUpDate);
        $('#pickuptime').val(data.PickUpTime);
        $('#MoreDetails').val(data.MoreDetails);
        $('#BookingBy').val(data.BookingRequestedBy);

        $("input[name='selectedPaymentMode'][value='" + data.PaymentModeId + "']").prop('checked', true);

        $.each(data.DispatchExtras, function (i, val) {
            $("input[name='selectedExtras'][value='" + val + "']").prop('checked', true);
        });

        $.each(data.DispatchAccessibilities, function (i, val) {
            $("input[name='selectedAccessibility'][value='" + val + "']").prop('checked', true);
        });

        $('#BookersPhone').val(data.BookersPhone);
        $('#SpecialInstructions').val(data.SpecialInstructions);
        $('#hdnCustomerId').val(data.CustomerId);
        $('#targetCustomerId').val(data.PassengersName);

        //$(".disable_4dispatch").attr('disabled', 'disabled');
        $(".disable_4dispatch").attr("readonly", "readonly");

        $('#targetOrganisation').val(data.OrganisationName);
        $('#targetPhone').val(data.Telephone1);
        $('#targetEmail').val(data.Email1);
        $('#SpecialInstructions').val(data.SpecialInstructions);
        $('#from_result').html(null);

        $("#btnBookEdit").show();
        $("#btnDispatch").hide();
        $("#btnBookDispatch").hide();
        $("#btnSave").hide();



        $('#cmbVehicle').val(data.VehicleId);
        $('#cmbDriver').val(data.DriverUserId);

        if (data.To != null && data.From != null) {
            docMap.calcRoute(data.To, data.From);
            $('#DropOffPointName').css('color', 'green');
            $('#PickUpPointName').css('color', 'green');        
            
        } else {
            var point = (data.From == null) ? data.To : data.From;
            if (point != null) {
                docMap.drawPoint(point);
            }
        }

        $('#TxtAmount').val(data.Amount);
    }

    function loadDispatchData(data) {

        $('#hdnDispatchId').val(data.DispatchId);

        $('#cmbVehicles').val(data.VehicleId);
        $('#cmbDrivers').val(data.DriverUserId);
    }
</script>

