﻿@model GFleetV3.Models.PagedVehicleDispatchModel
@{
    Layout = null;
    WebGrid grid = new WebGrid(rowsPerPage: 10000);
    grid.Bind(Model.VehicleDispatch == null ? new List<DataAccess.SQL.Dispatch>() : Model.VehicleDispatch,
              autoSortAndPage: false,
              rowCount: Model.TotalRows
              );
    if (false)
    {
    <script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>
    }
}
<style>

    .UserName
    {
        width:10px;
        overflow:hidden;
        text-overflow:ellipsis;
    }
</style>
@grid.GetHtml(
            htmlAttributes: new { id = "gridData" },
                fillEmptyRows: false,
                tableStyle: "qlabs_grid_container",//"webgrid",
                headerStyle: "header_row",//"webgrid-header",
                footerStyle: "webgrid-footer",
                alternatingRowStyle: "data_even",//"webgrid-alternating-row",
                selectedRowStyle: "webgrid-selected-row",
                rowStyle: "data_odd", //"webgrid-row-style",
                    mode: WebGridPagerModes.All,
                            firstText: "<< First",
                            previousText: "< Prev",
                            nextText: "Next >",
                            lastText: "Last >>",
    columns: new[] {
        
        grid.Column("PickUpDateTime",style: "data_cell",format: (item) =>  String.Format("{0:ddd dd, hh:mm:tt}", item.PickUpDateTime),
                    header: "Time"),
        grid.Column("PickUpPointName",style: "data_cell", 
                    header: "Pick Up"),
        grid.Column("DropOffPointName",style: "data_cell", 
                    header: "Drop Off"),
        grid.Column("PassengerNames",style: "data_cell",
                    header: "Passenger"),
        grid.Column("Person.Organisation.OrganisationName",style: "data_cell", 
                    header: "Organisation"),
        grid.Column("Person.Telephone1",style: "data_cell", 
                    header: "Phone"),
        grid.Column("aspnet_Users.UserName",style: "UserName",
                    header: "Booked By"),
        grid.Column("DateModified",style: "data_cell",
                    header: "Booked Date"),
        grid.Column("",style: "data_cell", 
                    header: "Actions",
                    format: @<text>
@if (item.DispatchedBy == null)       
                                   {
<label>@Html.ActionLink("Dispatch", "Edit", new { id =  item.DispatchId }, new { @class = "editDialog"})</label>
}
@if (item.DispatchedBy != null)       
                                   {
    <label style="margin-right: 5px;">
        @Html.ActionLink("P.O.B", "UpdatePOB", new { idno = item.DispatchId }, new { @class = "confirmDialog" })</label>
                        }
</text>
        )
})
<script type="text/javascript">
    InitGrid('gridData');
    $(document).ready(function () {
        //callback handler for form submit
        $(".editDialog").click(function (e) {
            //var postData = $(this).serializeArray();
            var formURL = $(this).attr("href");
            $.ajax(
            {
                url: formURL,
                type: "POST",
                success: function (data, textStatus, jqXHR) {
                    //console.log(data);
                    loadBookData(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    //if fails     
                    console.log(jqXHR);
                    console.log(textStatus);
                    console.log(errorThrown);
                },
                beforeSend: function () {
                    showWaiting();
                },
                complete: function () {
                    closeWaiting();
                }
            });
            e.preventDefault(); //STOP default action
            //e.unbind(); //unbind. to stop multiple form submit.
        });
    });

    function loadBookData(data) {

        $('#hdnDispatchId').val(data.DispatchId);
        $('#PickUpPointName').val(data.PickUpPointName);
        $('#hdnFrom').val(data.From);
        $('#DropOffPointName').val(data.DropOffPointName);
        $('#hdnTo').val(data.To);
        $('#pickupdate').val(data.PickUpDate);
        $('#pickuptime').val(data.PickUpTime);
        $('#MoreDetails').val(data.MoreDetails);
        $('#NoOfPassengers').val(data.NoOfPassengers);
        $('#BookingBy').val(data.BookingRequestedBy);

        $("input[name='selectedPaymentMode'][value='" + data.PaymentModeId + "']").prop('checked', true);

        $.each(data.DispatchExtras, function (i, val) {
            $("input[name='selectedExtras'][value='" + val + "']").prop('checked', true);
        });

        $.each(data.DispatchAccessibilities, function (i, val) {
            $("input[name='selectedAccessibility'][value='" + val + "']").prop('checked', true);
        });

        $('#BookersPhone').val(data.BookersPhone);
        $('#SpecialInstructions').val(data.SpecialInstructions);
        $('#hdnCustomerId').val(data.CustomerId);
        $('#targetCustomerId').val(data.PassengersName);

        //$(".disable_4dispatch").attr('disabled', 'disabled');
        $(".disable_4dispatch").attr("readonly", "readonly");

        $('#targetOrganisation').val(data.OrganisationName);
        $('#targetPhone').val(data.Telephone1);
        $('#targetEmail').val(data.Email1);
        $('#SpecialInstructions').val(data.SpecialInstructions);
        $('#from_result').html(null);

        $("#btnDispatch").show();
        $("#btnSave").hide();
        $("#btnBookDispatch").hide();

        $('#cmbVehicle').val(data.VehicleId);
        $('#cmbDriver').val(data.DriverUserId);

        if (data.To != null && data.From != null) {
            docMap.calcRoute(data.To, data.From);
        } else {
            var point = (data.From == null) ? data.To : data.From;
            if (point != null) {
                docMap.drawPoint(point);
            }
        }

        $('#TxtAmount').val(data.Amount);
    }

</script>
