@model GFleetV3.Models.DispatchBookModel
@{  
    //Layout = null;
    if (false)
    {
    <script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>
}
    ViewBag.Title = "Book/Dispatch ...";
    string[] roles = Roles.GetRolesForUser(@HttpContext.Current.User.Identity.Name).ToArray<string>();
}

@*@Styles.Render("~/Content/live")*@
<link href="~/Content/Reports/TableTools.css" rel="stylesheet" />
@Scripts.Render("~/bundles/datatable")
<style type="text/css">
    .targetcontrolsholder
    {
        float: left;
    }

    #content
    {
        background: #ffffff;
        filter: none;
        min-height: 100%;
        position: relative;
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        /* float: none; */
        -moz-border-radius: 15px;
        border-radius: 7px;
        overflow: hidden;
        width: 970px;
        left: 97px;
    }

    .lable_payment
    {
        position: relative;
        padding: 0 0 0 0;
        float: right;
    }

    .td_payment
    {
        width: 200px;
    }

    .targetUL
    {
        width: inherit;
        border: 1px solid silver;
        margin-top: 2px;
        list-style: inherit;
        z-index: 100;
        position: absolute;
        background-color: rgb(255, 255, 255);
        max-height: 300px;
        overflow-y: auto;
        min-height: 100px;
        min-width: 180px;
        left: 10px;
        overflow-x: hidden;
    }

        .targetUL li
        {
            margin-left: -30px;
            border-bottom: 1px solid silver;
            padding-left: 5px;
            padding-top: 8px;
            cursor: pointer;
            z-index: 100;
            background-color: rgb(255, 255, 255);
            width: 100%;
            display: block;
        }

    .target
    {
        width: 160px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: px;
        border: 1px solid #ccc;
    }

    input[type="text"], input[type="password"], input[type="email"]
    {
        width: 223px;
        padding: 5px;
        border: 1px solid #CCC;
    }

    .checkboxClass
    {
        padding-bottom: 20px;
        padding-top: 10px;
        text-align: left;
    }

    input[type="checkbox"]
    {
        width: 13px;
        height: 13px;
        padding: 0;
        margin: 0;
        vertical-align: bottom;
        *overflow: hidden;
    }

    .targetcontrols
    {
        float: left;
        padding-right: 7px;
        position: relative;
    }

    .checkboxtext
    {
        /* Checkbox text */
        font-size: 110%;
        display: inline;
    }

    .pac-container
    {
        background-color: #FFF;
        z-index: 20;
        position: fixed;
        display: inline-block;
        float: left;
    }

    .modal
    {
        z-index: 20;
    }

    .modal-backdrop
    {
        z-index: 10;
    }

    .dispatchdetailsclass
    {
        float: left;
        width: 550px;
        top: 10px;
        position: relative;
    }

        .dispatchdetailsclass legend
        {
            top: inherit;
            text-align: left;
        }

    .accesibilityclass
    {
        padding-right: 49px;
    }

    #dispatchtable td
    {
        padding-bottom: 8px;
        padding-top: 8px;
    }

    .mapdetailsclass
    {
        top: 10px;
        position: relative;
        width: 400px;
        float: right;
    }

        .mapdetailsclass legend
        {
            top: inherit;
            text-align: left;
        }

    .map_canvasclass
    {
        width: 378px;
        height: 173px;
    }

    #divgrid
    {
        position: relative;
        top: 15px;
        float: left;
        width: 100%;
    }

    #div_btndispatch
    {
        position: relative;
        top: 10px;
    }

    .maplabel
    {
        padding: 0 2px 2px;
        border: 1px solid #000;
        background: #ff0;
    }

    .buttonClassaddnew
    {
        padding: 5px;
        border-radius: 3px;
        width: 120px;
        float: left;
        border-top: 1px solid #96d1f8;
        background: #65a9d7;
        background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
        background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
        color: white;
        font-weight: bolder;
        cursor: pointer;
    }

    .buttonClass
    {
        padding: 5px;
        border-radius: 3px;
        width: 120px;
        float: right;
        border-top: 1px solid #96d1f8;
        background: #65a9d7;
        background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
        background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
        color: white;
        font-weight: bolder;
        cursor: pointer;
    }

    .buttonCustMap
    {
        float: left;
        top: 7px;
        left: 40px;
        position: relative;
        color: white !important;
    }

    #report-from, #report-to
    {
        width: 100px;
        text-align: center;
    }

    .reporthrsmin
    {
        width: 33px;
        text-align: center;
        margin-right: 3px;
        margin-left: 3px;
    }

    .sidewindow .label
    {
        width: 55px;
        height: 18px;
        float: left;
        padding: 2px 0 0 0;
    }

    #ui-datepicker-div
    {
        z-index: 2000!important;
    }

    #ChkCustomer
    {
        margin-right: 25px;
    }

    textarea
    {
        resize: none;
    }

    .dataTables_filter
    {
        float: right;
        position: relative;
    }

    select
    {
        padding: 4px;
        border: 1px solid #CCC;
    }

    #gridData_previous, #gridData_next
    {
        padding: 2px 5px;
        border: 1px solid #000;
        border-radius: 4px;
        margin-left: 10px;
        margin-top: 10px;
    }

    .dataTables_info
    {
        margin: 10px;
    }
</style>


<script src="//maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=drawing&amp;key=AIzaSyDEraSXsfbkYBnkCukdi5qTKRDoIaz4WUg"
    type="text/javascript"></script>

    <script src="~/Scripts/oms.min.js"></script>

<script type="text/javascript">
    String.prototype.format = String.prototype.f = function() {
        var s = this,
            i = arguments.length;

        while (i--) {
            s = s.replace(new RegExp('\\{' + i + '\\}', 'gm'), arguments[i]);
        }
        return s;
    };

    var docMap;
    var imagePath = '../Content/Images/carsymb/';
    var gm = google.maps;
    var map = null;
    var vehicles = [];
    var custControls = {
        Email: "targetEmail",
        Telephone: "targetPhone",
        PersonId: "hdnCustomerId",
        Name: "targetCustomerId",
        Organisation: "targetOrganisation"
    };
    
   
    
    $(document).ready(function () {
        var currentTime = new Date()
        $("#pickupdate").datepicker();
        $("#pickuptime").timePicker();
        $('#pickupdate').datepicker().datepicker('setDate', new Date());
        $('#addnewClientRpt-btn').click(function () {  load_Customer_content("@Url.Action("Create", "Customer")","create"); });
       
        $('#dispatchreports-btn').click(function () {  load_content("@Url.Action("Create", "DispatchReport")","create"); });
        $('#bookingdata-btn').click(function () {  load_content("@Url.Action("Create", "BookingData")","create"); });
        
        $('#ChkDriver').attr('checked', true);
        $('#ChkCustomer').attr('checked', true); 

        $("#cmbVehicle").val(@ViewBag.Vid);

        function getParameterByName(name) {
 
            var match = RegExp('[?&]' + name + '=([^&]*)')
                            .exec(window.location.search);
 
            return match ?
                decodeURIComponent(match[1].replace(/\+/g, ' '))
                : null;
 
        }

        $("#cmbVehicle").searchable({            
            //maxListSize: 100,                       // if list size are less than maxListSize, show them all        
            //maxMultiMatch: 50,                      // how many matching entries should be displayed
            //exactMatch: false,                      // Exact matching on search
            wildcards: true,                        // Support for wildcard characters (*, ?)
            ignoreCase: true,                       // Ignore case sensitivity
            //latency: 200,                           // how many millis to wait until starting search
            warnMultiMatch: 'top {0} matches ...',  // string to append to a list of entries cut short by maxMultiMatch
            warnNoMatch: 'no matches ...',          // string to show in the list when no entries match
            zIndex: 'auto'                          // zIndex for elements generated by this plugin        
        });

        $("#cmbDriver").searchable({            
            //maxListSize: 100,                       // if list size are less than maxListSize, show them all        
            //maxMultiMatch: 50,                      // how many matching entries should be displayed
            //exactMatch: false,                      // Exact matching on search
            wildcards: true,                        // Support for wildcard characters (*, ?)
            ignoreCase: true,                       // Ignore case sensitivity
            //latency: 200,                           // how many millis to wait until starting search
            warnMultiMatch: 'top {0} matches ...',  // string to append to a list of entries cut short by maxMultiMatch
            warnNoMatch: 'no matches ...',          // string to show in the list when no entries match
            zIndex: 'auto'                          // zIndex for elements generated by this plugin        
        });
        
        //We have used keyup event to track the user enter value in the textbox.
        $("#targetCustomerId").on('input propertychange paste',function () {
            $("#hdnCustomerId").val(null);
            hide_map_download();
            //Fetching the textbox value.
            var query = $(this).val();
            //Calling GetItems method.
            getItems(query, this.id, "CustomerNameData", "AutoComplete", "targetULCustomerId", "targetDivCustomerId",
                    "hdnCustomerId", "name", custControls);
        });

        $("#targetEmail").on('input propertychange paste',function () {
            $("#hdnCustomerId").val(null);
            //Fetching the textbox value.
            var query = $(this).val();
            //Calling GetItems method.
            getItems(query, this.id, "CustomerNameData", "AutoComplete", "targetULEmail", "targetDivEmail",
                    "hdnCustomerId", "email", custControls);
        });

        $("#targetPhone").on('input propertychange paste',function () {
            $("#hdnCustomerId").val(null);
            //Fetching the textbox value.
            var query = $(this).val();
            //Calling GetItems method.
            getItems(query, this.id, "CustomerNameData", "AutoComplete", "targetULPhone", "targetDivPhone",
                    "hdnCustomerId", "Phone", custControls);
        });
        $("#targetOrganisation").on('input propertychange paste',function () {
            $("#hdnCustomerId").val(null);
            //Fetching the textbox value.
            var query = $(this).val();
            //Calling GetItems method.
            getItems(query, this.id, "CustomerNameData", "AutoComplete", "targetULOrganisation", "targetDivOrganisation",
                    "hdnCustomerId", "Organisation", custControls);
        });
 
        $(".disable_4dispatch").on('focusout',function () {
            setTimeout(function(){
                console.log('here');
                $("#targetULOrganisation, #targetULPhone, #targetULEmail, #targetULCustomerId").find("li").remove();
                $("#targetULOrganisation, #targetULPhone, #targetULEmail, #targetULCustomerId").remove();
            }, 2000);
        });


        $("#actionPointsAddVia").live("click", function (e) {
            $("#map_modal").dialog({
                show: false,
                open: function (event, ui) {
                    //                    console.log('open');
                    //                    var popMap = new mapobject("map_canvas_pop")
                    //                    .initialize();
                }
            });
            //            $("#map_modal").dialog('open');
            return false;
        });
        
        $("#cmbVehicle").change(function () {
            var query = $(this).val();
            var BookDate= $("#pickupdate").val();
            var BookTime= $("#pickuptime").val();

            var BookDateTime='{0} {1}'.f(BookDate,BookTime);
            console.log(BookDateTime)
            if (query.length > 0 & BookDate.length>0 & BookTime.length>0) {
                $.ajax({
                    url: '../AutoComplete/DriverVehicleInfo',
                    data: { "vehicleId": query,"Pickupdatetime":BookDateTime },
                    type: 'POST',
                    dataType: 'json',
                    success: function (response) {
                        if(response !=null){
                            Drivername = response.Data[0] == null ? 0 : response.Data[0].Name == null ? 0 : response.Data[0].Name;
                            DriverUserId = response.Data[0] == null ? 0 : response.Data[0].PersonId == null ? 0 : response.Data[0].PersonId;
                            //appending an UL element to show the values.
                            $("#cmbDriver").val(DriverUserId);
                        }
                        else{
                            $("#cmbDriver").val(null);
                        }
                    },
                    error: function (xhr, status, error) {
                    }
                });
            }
        });
        
        
     
       

  
        
        $("#labelDistance").live("change",function () {
            var query = $(this).val();
            $.ajax({
                url: 'AutoComplete/CurrentFare',
                data: { " ": query },
                type: 'POST',
                dataType: 'json',
                success: function (response) {
                    data = response.Data[0] == null ? 0 : response.Data[0].Amount == null ? 0 : response.Data[0].Amount;
                    //appending an UL element to show the values.
                    document.getElementById("labelFare").innerText ="KShs " + DistanceKm * data;
                },
                error: function (xhr, status, error) {
                }
            });
        });

        $('#DivPOB').change(function() {
            if ($(this).val() === '2' || $(this).val() === '3'|| $(this).val() === '7') {
                $("#TxtComment").show();
            }
            else if($(this).val() === '1'){
                $("#TxtComment").hide();
            }
        });

        docMap = new mapobject("map");
        docMap.initialize();

        docMap.SetAutoComplete("PickUpPointName", "hdnFrom");
        docMap.SetAutoComplete("DropOffPointName", "hdnTo");

       
    });

    $('#btnBookingData').click(function (e) {

        window.open("DisplayBookingData/Index",'_blank');
        target = "_blank"

    });

    function closeAll() {
        $('#reports').hide();
    }
    function report_open() {
        closeAll();
        $('#reports').show();
    }
    /* maps overlay */           
    function myChangeHandler(DistanceKm) {
        var query = $(this).val();
        $.ajax({
            url: 'AutoComplete/CurrentFare',
            data: { " ": query },
            type: 'POST',
            dataType: 'json',
            success: function (response) {
                data = response.Data[0] == null ? 0 : response.Data[0].Amount == null ? 0 : response.Data[0].Amount;
                //appending an UL element to show the values.
                document.getElementById("labelFare").innerText ="KShs " + DistanceKm * data;
            },
            error: function (xhr, status, error) {
            }
        });
    }
    function ajax_error(request, text, error) {
        update_pending = false;
        close_progress();
        log('request: ' + request.responseText);
        log('text: ' + text);
        log('error: ' + error);
    }
    function createMarker(iconPath, lat, lng, text, size, tooltip) {
        var label = text !== '',
            halfSize = size / 2 | 0,
            base = {
                position: latLng(lat, lng),
                map: map,
                icon: {
                    url: iconPath,
                    size: new google.maps.Size(size, size),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(halfSize, halfSize)
                }
            };

        if (label) {
            base.labelContent = text;
            base.labelClass = 'maplabel';
            base.labelAnchor = new google.maps.Point(-halfSize, 8);
        }

        if (tooltip) {
            base.title = tooltip;
        }

        return new (label ? MarkerWithLabel : google.maps.Marker)(base);
    }
    
    function latLng(lat, lng) {
        return new google.maps.LatLng(lat, lng);
    }
    
    function fillvehicle(attr){
        $("#cmbVehicle").val(attr.VehicleId);
    }

    function mapobject(elemCanvas) {
        var poly;
        var geocoder;
        var directionsDisplay;
        var directionsService;
        var stepDisplay;
        var markerArray = [];
        var markersArray = [];
        var markers = [];
        var path = new google.maps.MVCArray;
        var elemCanvas = elemCanvas;
        var self = this;
        var startstoppoints = { start: null, end: null };

        this.initialize = function () {
            directionsService = new google.maps.DirectionsService();

            // Create a map and center it on Manhattan.
            var manhattan = new google.maps.LatLng(-1.2833333, 36.8166667);
            var mapOptions = {
                zoom: 8,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                center: manhattan
            }
            map = new google.maps.Map(document.getElementById(elemCanvas), mapOptions);

            // Create a renderer for directions and bind it to the map.
            var rendererOptions = {
                map: map
            }
            directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);

            //GEOCODER
            geocoder = new google.maps.Geocoder();

            //// Instantiate an info window to hold step text.
            stepDisplay = new google.maps.InfoWindow();

            google.maps.event.addListener(map, 'click', self.addPointEvent);
            google.maps.event.trigger(map, 'resize');

            var iw = new gm.InfoWindow();
            oms = new OverlappingMarkerSpiderfier(map, { markersWontMove: true, markersWontHide: true });

            oms.addListener('click', function (marker) {
                //iw.setContent(marker.desc);
                //iw.open(map, marker);
                fillvehicle(marker.attr);
            });
            oms.addListener('spiderfy', function (markers) {
                //iw.close();
            });
            oms.addListener('unspiderfy', function (markers) {
            });
        }

        this.clearmapArray = function () {
            // First, remove any existing markers from the map.
            for (var i = 0; i < markerArray.length; i++) {
                markerArray[i].setMap(null);
            }
            // Now, clear the array itself.
            markerArray = [];
        }

        this.drawPoint = function (point) {
            var pnt= new google.maps.LatLng(point.split(",")[0] ,point.split(",")[1]);
            self.addMarker(pnt, "Start", 0);
        }

        this.calcRoute = function (start, end) {
            self.clearmapArray();
            // Retrieve the start and end locations and create
            // a DirectionsRequest using WALKING directions.
            var request = {
                origin: start,
                destination: end,
                travelMode: google.maps.TravelMode.DRIVING
            };

            // Route the directions and pass the response to a
            // function to create markers for each step.
            directionsService.route(request, function (response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    //                var warnings = document.getElementById('warnings_panel');
                    //                warnings.innerHTML = '<b>' + response.routes[0].warnings + '</b>';
                    directionsDisplay.setDirections(response);
                    self.showSteps(response);
                }
            });
        }

        this.showSteps = function (directionResult) {
            // For each step, place a marker, and add the text to the marker's
            // info window. Also attach the marker to an array so we
            // can keep track of it and remove it when calculating new
            // routes.
            //console.log('this.showSteps');
            var myRoute = directionResult.routes[0].legs[0];

            for (var i = 0; i < myRoute.steps.length; i++) {
                var marker = new google.maps.Marker({
                    position: myRoute.steps[i].start_point,
                    map: map
                });
                self.attachInstructionText(marker, myRoute.steps[i].instructions);
                markerArray[i] = marker;
            }

            self.showroutedetails(myRoute);
        }

        this.attachInstructionText = function (marker, text) {
            google.maps.event.addListener(marker, 'click', function () {
                // Open an info window when the marker is clicked on,
                // containing the text of the step.
                stepDisplay.setContent(text);
                stepDisplay.open(map, marker);
            });
        }

        this.showroutedetails = function (route) {
            document.getElementById("labelAccount").innerText = document.getElementById('targetCustomerId').value
            document.getElementById("labelDistance").innerText = route.distance.text
            var str = route.distance.text;
            var DistanceKm = str.replace(" km", "");
            $("#hdnDistance").val(parseInt(DistanceKm));
            document.getElementById("labelJourney").innerText = route.duration.text
            // document.getElementById("labelFare").innerText ="KShs " + DistanceKm * 1000;

            $.ajax({
                url: '/AutoComplete/CurrentFare',
                type: 'POST',
                dataType: 'json',
                success: function (response) {
                    data = response.Data[0] == null ? 0 : response.Data[0].Amount == null ? 0 : response.Data[0].Amount;
                    //appending an UL element to show the values.
                    document.getElementById("labelFare").innerText = data * DistanceKm;                    
                    $('#TxtAmount').val(document.getElementById('labelFare').innerText);
                },
                error: function (xhr, status, error) {
                }
            });
            //document.getElementById("TxtAmount").value = document.getElementById('labelFare').innerText
            // document.getElementById('TxtAmount').value = document.getElementById('labelFare').innerText

            //        var details = 'From: ' + route.start_address + '<br/> ';
            //        details += 'To: ' + route.end_address + '<br/> ';
            //        details += 'Distance: ' + route.distance.text + '<br/> ';
            //        details += 'Average duration: ' + route.duration.text + '<br/> ';

            //        $('#route_details').html(details);
        }

        this.addPointEvent = function (event) {
            if (path.length > 1) {
                path.removeAt(1);
                //markers.pop().setMap(null);
            }
            path.insertAt(path.length, event.latLng);
            self.addMarker(event.latLng, path.length > 1 ? "End" : "Start");
        }

        this.addMarker = function (latLng, markerTitle, markerPos) {
            //console.log(path);
            var marker = new google.maps.Marker({
                position: latLng,
                map: map,
                draggable: false,
                visible: true,
                title: markerTitle
            });
        
            google.maps.event.addListener(marker, 'click', function () {
                marker.setMap(null);
                //                for (var i = 0, I = markers.length; i < I && markers[i] != marker; ++i);
                //                markers.splice(i, 1);
                path.removeAt(marker.getTitle().indexOf('end') > -1 ? 1 : 0);
            });

            google.maps.event.addListener(marker, 'dragend', function () {
                //for (var i = 0, I = markers.length; i < I && markers[i] != marker; ++i);
                path.setAt(marker.getTitle().indexOf('end') > -1 ? 1 : 0, marker.getPosition());
                if (path.length > 1) {
                    if (path.getAt(0) != null && path.getAt(1) != null) {
                        self.calcRoute(path.getAt(0), path.getAt(1));
                    }
                }
            });
            if (path.length > 1) {
                if (path.getAt(0) != null && path.getAt(1) != null) {
                    self.calcRoute(path.getAt(0), path.getAt(1));
                }
            }
        }

        function vehicle(values, $map) {
            var attr=values;

            this.update = function (new_values) {
            
                for (var v in new_values) {
                    this[v] = new_values[v];
                }

                //this.update_row();
                this.update_icon();
            };

            this.update_icon = function () {
                this.marker
                var self = this;
                if (this.marker !== null) {
                    this.marker.setMap(null);
                }

                this.marker = getMarkerIcon(this);
                this.marker.attr=attr;
                //google.maps.event.addListener(this.marker, 'click', function () {
                //    fillvehicle(attr);
                //});

                //var content = "<Div id='DivContactWin'>" + "<b>" + "<p>" + this.VehicleRegCode +
                //                                        "<br /> Pos: Lon - " + this.Longitude +
                //                                            ",<br/><space/>Lat - " + this.Latitude + "</p>" + "</Div>"

                //this.marker.desc = content;
                oms.addMarker(this.marker);
                markersArray.push(this.marker);
                this.marker = this.marker;
            }

            this.select = function () {
                $tbody.find('tr').removeClass('sel').find('td').removeClass('sel');
                this.row.addClass('sel').find('td').addClass('sel');
                selected_vehicle = this;
            };

            this.move_to = function (zoom) {
                map.setCenter(latLng(this.Latitude, this.Longitude));
                map.setZoom(zoom);
            };
        
            function getMarkerIcon(sVehicle) {
                var icon_name = imagePath + sVehicle.ImageUrl;

                return createMarker(icon_name, sVehicle.Latitude, sVehicle.Longitude, sVehicle.VehicleRegCode, 32);
            }
            this.marker = null;
            this.update(values);
        }
        
        this.SetAutoComplete = function (txtId, hdnPoint) {
            $(function () {
                $("#" + txtId).autocomplete({
                    //This bit uses the geocoder to fetch address values
                    minLength: 2,
                    autofill: true,
                    source: function (request, response) {
                        geocoder.geocode({ 'address': request.term, 'region': 'GB' }, function (results, status) {
                            response($.map(results, function (item) {
                                return {
                                    label: item.formatted_address,
                                    value: item.formatted_address,
                                    latitude: item.geometry.location.lat(),
                                    longitude: item.geometry.location.lng()
                                }
                            }));
                        })
                    },
                    //This bit is executed upon selection of an address
                    select: function (event, ui) {
                        //console.log(event);
                        $("#" + hdnPoint).val(ui.item.latitude + "," + ui.item.longitude);

                        if (hdnPoint.indexOf('hdnFrom') > -1) {

                            var coordinates = ui.item.latitude + " " + ui.item.longitude;
                            var $map = $('#map');
                            var params = $.param({
                                coordinates: coordinates
                            });

                            $.ajax({
                                url: '@Url.Action("getNearVehicleData", "VehicleDispatch")',
                                type: 'POST',
                                dataType: 'json',
                                data: params,
                                error: 'error',
                                success: function (data) {
                                    function setAllMap(map) {
                                        for (var i = 0; i < markersArray.length; i++) {
                                            markersArray[i].setMap(map);
                                        }
                                    }
                                    // Removes the markers from the map, but keeps them in the array.
                                    function clearMarkers() {
                                        setAllMap(null);
                                    }
                                    if (data != null) {                                              
                                        clearMarkers();
                                        $.each(data, function () {
                                            vehicles.push(new vehicle(this, $map));
                                        });
                                    }
                                }
                            });

                            startstoppoints.start = new google.maps.LatLng(ui.item.latitude, ui.item.longitude);
                            console.log(startstoppoints);

                            if (path.length > 0) {
                                path.setAt(0, startstoppoints.start);
                            } else {
                                path.insertAt(0, startstoppoints.start);
                            }

                            self.addMarker(startstoppoints.start, "Start", 0);
                        }
                        else {

                            startstoppoints.end = new google.maps.LatLng(ui.item.latitude, ui.item.longitude);
                            console.log(startstoppoints);

                            if (path.length > 1) {
                                path.setAt(1, startstoppoints.end);
                            } else if (path.length == 1) {
                                path.setAt(0, startstoppoints.start);
                                path.insertAt(1, startstoppoints.end);
                            } else {
                                path.insertAt(0, startstoppoints.start);
                                path.insertAt(1, startstoppoints.end);
                            }
                            self.addMarker(startstoppoints.end, "End", 1);
                        }
                    }
                });
            });
        }
    }
    function role_load() {
        $.ajax({
            url: '@Url.Action("getBookDispatchRoles", "VehicleDispatch")',
            type: 'POST',
            dataType: 'json',
            error: 'error',
            success: function (data) {
                if (data != null) {
                    var UserRoles = data;
                    $("#HdnUserRole").val(UserRoles)
                }
            }
        });
    }
    function confirmDialog()
    {
        $('form').submit(function (e) {
            (event.preventDefault) ? event.preventDefault() : event.returnValue = false;
            e.preventDefault();
            event.stopImmediatePropagation();
            var val = $("button[type=submit][clicked=true]").val();
            var check_all=$("button[type=submit][clicked=true].check_all").length;
            var form = $(this); //.serialize() + '&Command=' + val;
            //var url = $(this).attr('action');

            if (validatemoredata(check_all!=0? false:true) &&  $('form').valid()) {
                if(check_all==1){
                    //$('#actionmsg').text("Do you want to Send Sms?");
                    $("#dialog-confirm").dialog({
                        autoOpen: false,
                        resizable: false,
                        height: 170,
                        width: 350,
                        show: { effect: 'drop', direction: "up" },
                        modal: true,
                        draggable: true,
                        buttons: {
                            "Yes": function () {
                                $("#IsSendSms").val(1);

                                var params = $.param({
                                    SendToDriver:$('#ChkDriver').is(":checked"),
                                    SendToCustomer: $('#ChkCustomer').is(":checked"),
                                    IsSendSms:$("#IsSendSms").val(),
                                    Command:val
                                });
                                $(this).dialog("close");
                                $.ajax({
                                    type: "POST",
                                    data:form.serialize() + '&Command=' + val +'&'+ params,
                                    url: form.attr('action'),
                                    success: function () {
                                        location.reload(true);
                                    },
                                    beforeSend: function () {
                                        showWaiting();
                                    },
                                    complete: function () {
                                        closeWaiting();
                                    }
                                });
                            },
                            "No": function () {  
                                $("#IsSendSms").val(0);

                                var params = $.param({
                                    IsSendSms:$("#IsSendSms").val(),
                                    Command:val
                                });
                                $(this).dialog("close");
                                $.ajax({
                                    type: "POST",
                                    data: form.serialize() + '&Command=' + val +'&'+ params,
                                    url: form.attr('action'),
                                    success: function () {
                                        location.reload(true);
                                    },
                                    beforeSend: function () {
                                        showWaiting();
                                    },
                                    complete: function () {
                                        closeWaiting();
                                    }
                                });
                            },
                            "Cancel": function () {
                                $(this).dialog("close");
                            }
                        }
                    });
                    $("#dialog-confirm").dialog('open');
                    return false;
                }
                else if($('form').valid())
                {
                    $.ajax({
                        type: "POST",
                        data: form.serialize() + '&Command=' + val,
                        url: form.attr('action'),
                        success: function () {
                            location.reload(true);
                        },
                        beforeSend: function () {
                            showWaiting();
                        },
                        complete: function () {
                            closeWaiting();
                        }
                    });
                    return false;
                }
                else{
                    return false;
                }
            }
            return false;
        });

        $("form button[type=submit]").click(function () {
            $("button[type=submit]", $(this).parents("form")).removeAttr("clicked");
            $(this).attr("clicked", "true");
        });
        $("#IsSendSms").val(0);
        return false;
    }
</script>


@Scripts.Render("~/bundles/markerlabel")
@*<script src="~/Scripts/code.js" type="text/javascript"></script>*@
<link rel="stylesheet" href="~/Content/metro-ui/css/metro-bootstrap.css">
<link rel="stylesheet" href="~/Content/metro-ui/css/metro-bootstrap-responsive.css">
<link href="~/Content/metro-ui/css/iconFont.min.css" rel="stylesheet" />

<div id="map_modal" class="modal-body" style="display: none;">
    <div id="map_canvas_pop" style="width: 400px; height: 250px"></div>
</div>

@using (Html.BeginForm("CreateEditVehicleDispatch", "VehicleDispatch", FormMethod.Post))
{  
    
    @Html.ValidationSummary(true)
    if (ViewBag.IsUpdate == true)
    {
        @Html.HiddenFor(model => model.Dispatch.DispatchId)
        @Html.Hidden("isEditing", true)
        <script type="text/javascript">

            var start = new google.maps.LatLng( @(Model.Dispatch.From.Split(",".ToCharArray())[0]) ,@( Model.Dispatch.From.Split(",".ToCharArray())[1]));
            var end = new google.maps.LatLng(@(Model.Dispatch.To.Split(",".ToCharArray())[0]) , @(Model.Dispatch.To.Split(",".ToCharArray())[1]));
            docMap.calcRoute(start,end);
        </script>
    }
    
     <div class="grid">
        <div id="wait" style="display: none;">
        </div>
        <div id="from_result">
        </div>
        <input type="hidden" name="UserRole" id="HdnUserRole" />
        <div class="row">
            <input type="hidden" id="IsSendSms" name="IsSendSms" value="0" />
            <div style="width:100%;height: 20px;">
                <div id="addnewClientRpt-btn" class="buttonClassaddnew" title="">Add new customer</div>
               <div id="dispatchreports-btn" class="buttonClass" title="">Dispatch Report</div>
                
            </div>
            
           
        </div>
        <div class="row">
            <div id="PassengerDetailLeft">
                <div>
                    <div id="divCustomerId" class="targetcontrolsholder">
                        @Html.TextBoxFor(model => model.Dispatch.CustomerId, new { id = "hdnCustomerId", placeholder = "Passenger", style = "visibility: hidden;position: absolute;" })
                        @Html.TextBoxFor(model => model.Dispatch.DispatchId, new { id = "hdnDispatchId", style = "visibility: hidden;position: absolute;" })
                        <div id="targetDivCustomerId" class="targetcontrols">
                            <input type="text" id="targetCustomerId" value="@ViewBag.CustomerName" class="target disable_4dispatch" title="Passenger" placeholder="Passenger" />
                        </div>
                    </div>
                    <div id="SearchOrganisation" class="targetcontrolsholder">
                        <div id="targetDivOrganisation" class="targetcontrols">
                            <input type="text" id="targetOrganisation" value="@ViewBag.CustomerOrganisation" class="target disable_4dispatch" title="Organisation" placeholder="Organisation" />
                        </div>
                    </div>
                    <div id="SearchLeft" class="targetcontrolsholder">
                        <div id="targetDivPhone" class="targetcontrols">
                            <input type="text" id="targetPhone" value="@ViewBag.CustomerPhone" class="target disable_4dispatch" title="Phone" placeholder="Phone" />
                        </div>
                    </div>
                    <div id="SearchRight" class="targetcontrolsholder">
                        <div id="targetDivEmail" class="targetcontrols">
                            <input type="text" id="targetEmail" value="@ViewBag.CustomerEmail" class="target disable_4dispatch" title="Email" placeholder="Email" />
                        </div>
                    </div>
                </div>
                <div>
                    <div class="editor-field" style="float: left; padding-right: 7px;">
                        @Html.TextBoxFor(model => model.Dispatch.PickUpPointName, new { id = "PickUpPointName", title = "Pick Up Point", placeholder = "Pick Up Point", Class = "target" })
                        @Html.HiddenFor(model => model.Dispatch.From, new { id = "hdnFrom" })
                    </div>
                    <div>
                        <div class="editor-field" style="float: left; padding-right: 7px;">
                            @Html.TextBoxFor(model => model.Dispatch.DropOffPointName, new { id = "DropOffPointName", title = "Drop Off Point", placeholder = "Drop Off Point", Class = "target" })
                            @Html.HiddenFor(model => model.Dispatch.To, new { id = "hdnTo" })
                        </div>
                    </div>

                    <div id="pickupdateRight" style="float: left;">
                        <div class="editor-field" style="float: left; padding-right: 7px;">
                            @Html.TextBoxFor(model => model.Dispatch.PickUpDate, "{0:d}", new { id = "pickupdate", placeholder = "PickUp Date", style = "width: 110px;  -webkit-border-radius: 8px;  -moz-border-radius: 8px;  border-radius: px;  padding: 5px;  border: 1px solid #ccc;" })
                        </div>
                    </div>
                    <div id="pickuptimeRight" style="float: left; padding-right: 7px;">
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.Dispatch.PickUpTime, "{0:t}", new { id = "pickuptime", placeholder = "Time", style = "width: 93px;  -webkit-border-radius: 8px;  -moz-border-radius: 8px;  border-radius: px;  padding: 5px;  border: 1px solid #ccc;" })
                        </div>
                    </div>
                </div>
                <div>
                    <div class="editor-field" style="float: left;">
                        @Html.TextBoxFor(model => model.Dispatch.SpecialInstructions, new { id = "SpecialInstructions", title = "Special Instructions....", placeholder = "Special Instructions....", Class = "target" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="DivOtherBookDetails">
                <div class="editor-field" style="float: left; padding-right: 7px;">
                    @Html.TextBoxFor(model => model.Dispatch.BookingRequestedBy, new { id = "BookingBy", title = "Booking Requested By", placeholder = "Booking Requested By", Class = "target disable_4dispatch" })
                </div>
                <div class="editor-field" style="float: left; padding-right: 7px;">
                    @Html.TextBoxFor(model => model.Dispatch.NoOfPassengers, new { id = "NoOfPassengers", title = "No. Of Passengers", placeholder = "No. Of Passengers(Number)", Class = "target disable_4dispatch" })
                </div>
                @* <div class="validation-msg">
                @Html.ValidationMessageFor(model => model.Dispatch.NoOfPassengers)
            </div>*@
                <div class="editor-field" style="float: left; padding-right: 7px;">
                    @Html.DropDownListFor(model => model.Dispatch.VehicleId, new SelectList(ViewBag.Vehicle, "Value", "Text"), "Vehicle", new { id = "cmbVehicle", title = "Please Select Vehicle", style = "width:117px;padding: 3px;border: 1px solid #CCC;-webkit-border-radius: 8px;-moz-border-radius: 8px;height: 29px; " })
                </div>
                <div class="editor-field" style="float: left; padding-right: 7px;">
                    @Html.DropDownListFor(model => model.Dispatch.DriverUserId, new SelectList(ViewBag.Driver, "Value", "Text"), "Driver", new { id = "cmbDriver", title = "Please Select Driver", style = "width:117px;padding: 3px;border: 1px solid #CCC;-webkit-border-radius: 8px;-moz-border-radius: 8px;height: 29px; " })
                </div>
                <div>
                    @Html.ActionLink("Customer Map", "GetCustomerMap", "Customer", null, new { id = "DivCustMap", target = "_blank", @class = "buttonClass buttonCustMap", style = "display:none" })
                    @*<a style="display:none" href="html_images.asp" id="DivCustMap"></a>*@
                </div>
                @*<div>
                <div class="editor-field" style="float: left;">
                    @Html.TextBoxFor(model => model.Dispatch.SpecialInstructions, new { id = "SpecialInstructions", title = "Special Instructions....", placeholder = "Special Instructions....", Class = "target" })
                </div>
            </div>*@
            </div>

        </div>
        <div class="row">
        </div>
     </div>
  
<div id="dispatchDetails" class="dispatchdetailsclass row">
<div id="" class="span4" style="float: left; padding-right: 7px;">
    <fieldset>
        <legend><b>PAYMENT</b></legend>
        <div class="editor-field">
                <table>
                <tr>
                    @{
    int paymentmodecnt = 0;
    List<GFleetV3.Models.DispatchPaymentMode> paymentModes = ViewBag.PaymentMode;
    foreach (var paymentMode in paymentModes)
    {
        if (paymentmodecnt++ % 3 == 0)
        {
        }
                            @: <td>                                                                  
                                <input type="radio" 
                                    name="selectedPaymentMode" 
                                    value="@paymentMode.PaymentModeId" 
                                    @(Html.Raw(paymentMode.Assigned ? "checked=\"checked\"" : ""))/>
                                <span class="checkboxtext">
                                    @paymentMode.PaymentMode
                                </span> 
                        
                            @:</td>                                  
                        }
                    }
                </tr>
            </table>
        </div>
        <table style="text-align: left; font-size: 14px;">
            <tbody>
                <tr>
                    <td class="td_payment">Account:
                        <label id="labelAccount" class="lable_payment"></label>
                    </td>
                </tr>
                <tr>
                    <td class="td_payment">Journey:
                        <label id="labelJourney" class="lable_payment"></label>
                    </td>
                </tr>
                <tr>
                    <td class="td_payment">Distance:
                        <label id="labelDistance" class="lable_payment"></label>
                    </td>
                    @Html.HiddenFor(model => model.Dispatch.Distance, new { id = "hdnDistance" })
                </tr>
                <tr>
                    <td class="td_payment">Fare(KSHs):
                        <label id="labelFare" class="lable_payment"></label>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Dispatch.Amount, new { id = "TxtAmount", placeholder = "Override Price", style = "width: 220px;  -webkit-border-radius: 8px;  -moz-border-radius: 8px;  border-radius: px;  padding: 5px;  border: 1px solid #ccc;" })
        </div>
    </fieldset>
</div>
<div id="dispatchDetailss" class="span4" style="float: right;">
    <fieldset>
        <legend><b>Extras</b></legend>
        <div class="editor-field">
            <table>
                <tr>
                    @{
    int dispatchextrascnt = 0;
    List<GFleetV3.Models.DispatchExtras> dispatchextras = ViewBag.Extras;
    foreach (var dispatchextra in dispatchextras)
    {
        if (dispatchextrascnt++ % 2 == 0)
        {                 
                                @:  </tr> <tr>  
                            }
                            @: <td class="checkboxClass">
                                <input type="checkbox" 
                                    name="selectedExtras" 
                                    value="@dispatchextra.ExtrasID" 
                                    @(Html.Raw(dispatchextra.Assigned ? "checked=\"checked\"" : "")) />
                                <span class="checkboxtext">
                                    @dispatchextra.Extras
                                </span>
                                                                                                    
                            @:</td>                                  
                        }
                    }
                </tr>
            </table>
        </div>
    </fieldset>
</div>
<div id="dispatchAccess" class="span4" style="float: left">
    <fieldset>
        <legend><b>Accesibility</b></legend>
        <div class="editor-field">
                <table id="dispatchtable">
                <tr>
                    @{
    int dispatchAccesscnt = 0;
    List<GFleetV3.Models.AccessibilityinDispatch> accessibilitydispatchs = ViewBag.Accessibility;
    foreach (var accessibilitydispatch in accessibilitydispatchs)
    {
        if (dispatchAccesscnt++ % 4 == 0)
        {


        }
                            @: <td class="checkboxClass accesibilityclass">
                                                                  
                                <input type="checkbox" 
                                    name="selectedAccessibility" 
                                    value="@accessibilitydispatch.AccessibilityId" 
                                    @(Html.Raw(accessibilitydispatch.Assigned ? "checked=\"checked\"" : "")) />
                                <span class="checkboxtext">
                                    @accessibilitydispatch.Accessibility
                                </span> 
                                                    
                            @:</td>                                  
                        }
                    }
                </tr>
            </table>
        </div>
    </fieldset>
</div>
</div>
<div id="mapDetails" class="mapdetailsclass row">
<fieldset>
    <legend>
        <b>MAP</b>
    </legend>
    <div id="mapcontent">
        <div class="modal-body">
            <div id="map" class="map_canvasclass"></div>
        </div>
    </div>
</fieldset>
<div id="div_btndispatch">
    @if (roles.Contains("Booking"))
    {
    <button type="submit" id="btnSave" name="Command" class="buttonDispatch" value="Book" @*onclick="return validatemoredata(true);"*@>
        <span class="ui-button-text">Book</span></button>
        <button type="submit" id="btnBookEdit" name="Command" class="buttonDispatch" value="BookEdit">
        <span class="ui-button-text">EditBook</span></button>
        <script type="text/javascript">
            document.getElementById('btnBookEdit').style.display = "none";
        </script>
    }
    @if ((roles.Contains("Dispatch")) && (roles.Contains("Booking")))
    {
    <button type="submit" id="btnBookDispatch" name="Command" class="buttonDispatch check_all" value="BookDispatch" @*onclick="return validatemoredata() ;"*@>
        <span class="ui-button-text">Book + Dispatch</span></button>
    }
    @if (roles.Contains("Dispatch"))
    {
    <button type="submit" id="btnDispatch" name="Command" class="buttonDispatch check_all" value="Dispatch">
        <span class="ui-button-text">Dispatch</span></button>
        <script type="text/javascript">
            document.getElementById('btnDispatch').style.display = "none";
        </script>
    }
    <button type="button" id="btncancel" class="buttonDispatch">
        <span class="ui-button-text">Cancel</span></button>
</div>
</div>
    
<div id="divgrid">
    @*@Html.Partial("_VehicleDispatchGrid", Model.PagedVehicleDispatchModel)*@
    @Html.Partial("_DispatchGrid")
</div>    
<div id="map-view" style="width: auto; height: auto;">
</div>
<div id="dialog-confirm" style="overflow: hidden;height: 1px;">
     @* <p>
      <span class="ui-icon ui-icon-alert">*@
        <div>
            <div id="actionmsg" style="float: left;margin-bottom: 15px;">
                Do you want to Send Sms?
            </div>
            <div id="DivMsgParam" style="float: left;">
                Customer: <input type="checkbox" name="Customer" id="ChkCustomer" checked="checked" onclick="return false" />                
                Driver: <input type="checkbox" name="Driver" id="ChkDriver"  />
            </div>
        </div>
        @*</span>
    </p>*@
</div>
<div id="dialog-pob" style="overflow: hidden;display:none;">
    <div style="height: 40px;">
        <p>
            <span style="float: left; margin: 0 7px 20px 0;">
                <select id="DivPOB" style="position: absolute;width: 150px;height: 30px;border-radius: 5px;border: 1px solid blue;left: 30%;">
                    <option value="1">Picked</option>
                    <option value="2">Cancellation</option>
                    <option value="3">Disregard</option>
                    <option value="7">Delayed</option>
                </select>
            </span>
       
        </p>
    </div>
    <div>
        <textarea name="comment" id="TxtComment" placeholder="Enter comment here..."></textarea>
    </div>
</div>
<div id="dialog-callback" style="overflow: hidden;display:none;">
    <div style="height: 40px;">
        <p>
            <span style="float: left; margin: 0 7px 20px 0;">
                <select id="DivCallBack" style="position: absolute;width: 150px;height: 30px;border-radius: 5px;border: 1px solid blue;left: 30%;">
                    <option value="1">Texted</option>
                    <option value="2">Called</option>
                </select>
            </span>
       
        </p>
    </div>
    <div>
        <textarea name="comment" id="TxtCommentCallBack" placeholder="Enter comment here..."></textarea>
    </div>
</div>
}

<script type="text/javascript">
    $(function () {
        var oTable = $('#gridData').dataTable({
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": false,
            "bInfo": true,
            //"order": [[ 0, "desc" ]],
            "bAutoWidth": false,
            "sDom": 'T<"clear">lfrtip',
            "oTableTools": {
                "sSwfPath": "../../Scripts/dataTable/copy_csv_xls_pdf.swf"
            }
        });
        var oSettings = oTable.fnSettings();

        console.log(oSettings);
        //$('#gridData').dataTable({
        //    "iDisplayLength": -1,
        //    "oLanguage": {
        //        "sLengthMenu": 'Display <select>' +
        //       '<option value="-1">All</option>' +
        //       '<option value="100">100</option>' +
        //       '<option value="200">200</option>' +
        //       '<option value="300">300</option>' +
        //       '<option value="400">400</option>' +
        //       '</select>  records'
        //    },
        //    "oTableTools": {
        //    "sSwfPath": "../../Scripts/dataTable/copy_csv_xls_pdf.swf",
        //    "aButtons": [
        //                "copy",
        //                "print",
        //                {
        //                    "sExtends": "print",
        //                    "sButtonText": "Save",
        //                    "aButtons": ["csv", "pdf"]
        //                    // "aButtons": ["csv", "xls", "pdf"]
        //                }
        //    ]
        //}
        //});
        confirmDialog();
        $(".confirmDialog").live("click", function (e) {
            // e.preventDefault(); use this or return false
            $("#TxtComment").val(""); 
            $("#DivPOB").val([]);
            var dataobj = $(this);
            var val = $("button[type=submit][clicked=true]").val();
            var url = $(this).attr('href');
            //document.getElementById('TxtComment').style.display = "none"; 
            $("#TxtComment").hide();
            $("#dialog-pob").dialog({
                autoOpen: false,
                resizable: false,
                height: 250,
                width: 350,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                buttons: {
                    "Save": function () {
                        var e = document.getElementById("DivPOB");
                        var strPOB = e.options[e.selectedIndex].value;
                        var Comment = $("#TxtComment").val();
                        var params = $.param({
                            idno:getParameterByName(dataobj.attr('href'),'idno'),
                            PaggengerOnBoardId: strPOB,
                            Comment:Comment
                        });

                        var url=dataobj.attr('href').substring(0, dataobj.attr('href').indexOf("?"));

                        $(this).dialog("close");
                        $.ajax({
                            type: "POST",
                            data: params,
                            url: url ,
                            success: function () {
                                location.reload(true);
                            },
                            beforeSend: function () {
                                showWaiting();
                            },
                            complete: function () {
                                closeWaiting();
                            }
                        });
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
            });
            $("#dialog-pob").dialog('open');
            return false;
        });

        $(".callBackDialog").live("click", function (e) {
            // e.preventDefault(); use this or return false
            $("#TxtCommentCallBack").val(""); 
            $("#DivCallBack").val([]);
            var dataobj = $(this);
            var val = $("button[type=submit][clicked=true]").val();
            var url = $(this).attr('href');
            //document.getElementById('TxtComment').style.display = "none"; 
            //$("#TxtComment").hide();
            $("#dialog-callback").dialog({
                autoOpen: false,
                resizable: false,
                height: 250,
                width: 350,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                buttons: {
                    "Save": function () {
                        var e = document.getElementById("DivCallBack");
                        var strCallBack = e.options[e.selectedIndex].value;
                        var Comment = $("#TxtCommentCallBack").val();
                        var params = $.param({
                            idno:getParameterByName(dataobj.attr('href'),'idno'),
                            CallBackId: strCallBack,
                            Comment:Comment
                        });

                        var url=dataobj.attr('href').substring(0, dataobj.attr('href').indexOf("?"));

                        $(this).dialog("close");
                        $.ajax({
                            type: "POST",
                            data: params,
                            url: url ,
                            success: function () {
                                location.reload(true);
                            },
                            beforeSend: function () {
                                showWaiting();
                            },
                            complete: function () {
                                closeWaiting();
                            }
                        });
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
            });
            $("#dialog-callback").dialog('open');
            return false;
        });
    });

    function getParameterByName(locationItem, name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(locationItem);
        return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    function validatemoredata(check_all){
        if(check_all == null) check_all=false;

        if($("#targetCustomerId").val().length<1 ){
            $('#from_result').html("<span style='color: red;font-size: large;'>Kindly select select to customer</span>");
            return false;
        }
        if($('input[name="selectedPaymentMode"]:checked').val()==null){
            $('#from_result').html("<span style='color: red;font-size: large;'>Kindly select payment mode</span>");
            return false;
        }

        if(!check_all && $("#cmbVehicle").val().length<1 ){
            $('#from_result').html("<span style='color: red;font-size: large;'>Kindly select vehicle to dispatch</span>");
            return false;
        }
        if(!check_all && $("#cmbDriver").val().length<1 ){
            $('#from_result').html("<span style='color: red;font-size: large;'>Kindly select Driver to dispatch</span>");
            return false;
        }
        else{
            return true;
        }
    }

    function displayResult(data) {
        console.log(data);
        showWaiting();
    }

    function report_open(content)
    {
        var panel;
        if($('#JsPanelRptId').length<1){
            panel = $('body').jsPanel
                ({
                    title:'',
                    size:'auto',
                    //overflow:'scroll',
                    controls:{buttons:'closeonly'},
                    position: {top:100,right:100},
                    resizable:false,
                    content: content,
                    id:'JsPanelRptId',
                    selector:'#event-onjspanelclosed',
                    modal:false
                });
            $('body').on('onjspanelclosed', function( event, id ){
                if( id == "JsPanelRptId" )
                {
                    //alert( event.type + ' observed on element id: ' + id );
                }
            });
        }else{

        }

    }
    function customer_open(content)
    {
        var panel;
        if($('#JsPanelCustomer').length<1){
            panel = $('body').jsPanel
                ({
                    title:'',
                    size:'auto',
                    //overflow:'scroll',
                    controls:{buttons:'closeonly'},
                    position: {top:100,right:100},
                    resizable:false,
                    content: content,
                    id:'JsPanelCustomer',
                    selector:'#event-onjspanelclosed',
                    modal:false
                });
            $('body').on('onjspanelclosed', function( event, id ){
                if( id == "JsPanelCustomer" )
                {
                    //alert( event.type + ' observed on element id: ' + id );
                }
            });
        }else{

        }

    }

    function load_content(link,id)
    {
        $.get( link, function( data ) {
            report_open(data);
        });
    }
    function load_Customer_content(link,id)
    {
        $.get( link, function( data ) {
            customer_open(data);
        });
    }    
</script>
