﻿@model GFleetV3.Models.PagedVehicleDispatchModel
@{
    ViewBag.Title = "Taksi";

    if (false)
    {
    <script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>
    }


    GFleetV3.Models.MapModel data = new GFleetV3.Models.MapModel()
    {
        EndAddress = new GFleetV3.Models.Point() { Latitude = "36.8027", Longitude = "-1.26349" },
        StartAddress = new GFleetV3.Models.Point() { Latitude = "36.8114", Longitude = "-1.23639" }
    };
}
<style type="text/css">
    .pac-container
    {
        background-color: #FFF;
        z-index: 20;
        position: fixed;
        display: inline-block;
        float: left;
    }
    .modal
    {
        z-index: 20;
    }
    .modal-backdrop
    {
        z-index: 10;
    }
</style>
@Scripts.Render("~/bundles/jquery")
@*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>*@
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=drawing&amp;key=AIzaSyDEraSXsfbkYBnkCukdi5qTKRDoIaz4WUg"
 type="text/javascript"></script>
@*<script type="text/javascript" src="../../Scripts/MapDirections.js"></script>
<script type="text/javascript" src="../../Scripts/ToolTip.js"></script>*@ @*<script src="../../Scripts/GfleetScripts.js" type="text/javascript"></script>*@
<script type="text/javascript">
    function doMenu(item) {
        var sss = 'x' + item;
        obj = document.getElementById(item); col = document.getElementById(sss);
        if (obj.style.display == "none") {
            obj.style.display = "block"; col.innerHTML = "[-]";
        }
        else {
            obj.style.display = "none"; col.innerHTML = "[+]";
        }
    }
    $(document).ready(function () {
        $("#CreateVehicleDispatch").live("click", function (e) {
            // e.preventDefault(); use this or return false
            var url = $(this).attr('href');
            loadDialog(url, 'dialog-edit', 'Book Vehicle');
            return false;
        });

        $("#Create-passenger").live("click", function (e) {
            // e.preventDefault(); use this or return false
            var url = "/Customer/Create"; //= $(this).attr('href');
            loadDialog(url, 'dialogpassenger', 'Passenger');
            return false;
        });

        $(".editDialog").live("click", function (e) {
            // e.preventDefault(); use this or return false
            var url = $(this).attr('href');
            loadDialog(url, 'dialog-edit', 'Dispatch Vehicle');
            return false;
        });

        $(".confirmDialog").live("click", function (e) {
            // e.preventDefault(); use this or return false
            var url = $(this).attr('href');
            if (url.indexOf("Dispatch") > -1) {
                $('#actionmsg').text("Do you send Sms to client?");
            }
            else(url.indexOf("Book + Dispatch") > -1) {
                $('#actionmsg').text("Do you send Sms to client?");
            }
            $("#dialog-confirm").dialog({
                autoOpen: false,
                resizable: false,
                height: 170,
                width: 350,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                        $.ajax({
                            type: "POST",
                            url: url,
                            success: function () {
                                location.reload(true);
                            }
                        });
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
            });
            $("#dialog-confirm").dialog('open');
            return false;
        });

        $(".viewDialog").live("click", function (e) {
            // e.preventDefault(); use this or return false
            var url = $(this).attr('href');
            $("#dialog-view").dialog({
                title: 'View Dispatched Vehicle',
                position: [300, 100],
                autoOpen: false,
                resizable: false,
                width: 'auto',
                autoResize: true,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                dialogClass: "fixed-dialog",
                open: function (event, ui) {
                    $(this).load(url);
                },
                buttons: {
                    "Close": function () {
                        $(this).dialog('close');
                    }
                }
            });

            $("#dialog-view").dialog('open');
            return false;
        });

        $("#btncancel").live("click", function (e) {
            location.reload(true);
            //$("#dialog-edit").dialog('close');

        });
        $("#btncancelpassenger").live("click", function (e) {
            //location.reload(true);
            $("#dialogpassenger").dialog('close');

        });
    });
</script>
<table width="961" border="0" align="center" cellpadding="0">
    <tr>
        <td height="42" colspan="2" class="td1" align="right">
        </td>
    </tr>
    <tr>
        <td width="208" class="td1" valign="top">
            @*@Html.Partial("_sidebarmenu", GFleet.Models.SideMenu.getSubmenu("VehicleDispatch"))*@
            @Html.Partial("_sidebarmenu", GFleetV3.Models.SideMenu.getSubmenu(@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()))
        </td>
        <td width="747" class="td1" valign="top">
            <div id="add-Item">
                @Html.ActionLink(" ", "Create", "VehicleDispatch", null, new { @id = "CreateVehicleDispatch", @class = "add-VehicleDispatch" })
            </div>
            @*@Html.Partial("_VehicleDispatchGrid", Model)*@
        </td>
    </tr>
</table>
<br />
<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;">
            <div id="actionmsg">
            </div>
        </span>
    </p>
</div>
<div id="dialog-edit" style="width: auto; height: auto;">
</div>
<div id="dialogpassenger" style="width: auto; height: auto;">
</div>
<div id="dialog-view" style="display: none">
</div>
