﻿@model GFleetV3.Models.PagedVehicleDispatchModel
@{
    
    ViewBag.Title = "VehicleDispatchGrid";
    Layout = null;
    WebGrid grid = new WebGrid(rowsPerPage: 10000);
    grid.Bind(Model.VehicleDispatch == null ? new List<DataAccess.SQL.Dispatch>() : Model.VehicleDispatch,
              autoSortAndPage: false,
              rowCount: Model.TotalRows
              );
    if (false)
    {
        <script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>
        string[] roles = Roles.GetRolesForUser(@HttpContext.Current.User.Identity.Name).ToArray<string>();
        //var IsBookDispatch="";
    }
}
<style>
    table.qlabs_grid_container tbody.data_container tr td.data_cell label, table.qlabs_grid_container tbody.data_container tr td.data_cell div.grid_button {
        font-size: 11px !important;
    }

    table.qlabs_grid_container thead tr.header_row th.subheader_cell {
        font-size: 11px !important;
    }

    table.qlabs_grid_container tbody.data_container tr.data_even td.data_cell, table.qlabs_grid_container tbody.data_container tr.data_odd td.data_cell, table.qlabs_grid_container tbody.data_container tr.data_even td.label_cell, table.qlabs_grid_container tbody.data_container tr.data_odd td.label_cell {
        padding: 0px 2px 0px 2px !important;
        line-height: 150% !important;
        border-left: 1px solid #e5e5e5;
        border-top: 0;
        font-size: 11px !important;
    }
</style>
@grid.GetHtml(
            htmlAttributes: new { id = "gridData" },
                fillEmptyRows: false,
                tableStyle: "qlabs_grid_container",//"webgrid",
                headerStyle: "header_row",//"webgrid-header",
                footerStyle: "webgrid-footer",
                alternatingRowStyle: "data_even",//"webgrid-alternating-row",
                selectedRowStyle: "webgrid-selected-row",
                rowStyle: "data_odd", //"webgrid-row-style",
                    mode: WebGridPagerModes.All,
                            firstText: "<< First",
                            previousText: "< Prev",
                            nextText: "Next >",
                            lastText: "Last >>",
    columns: new[] {
        grid.Column("DispatchId",style: "data_cell",
                    header: "Ref No."),
        grid.Column("PickUpDateTime",style: "data_cell",format: (item) =>  String.Format("{0:ddd,MMM d, HH:mm}", item.PickUpDateTime),
                    header: "Pick Time"),
        grid.Column("PickUpPointName",style: "data_cell",
                    header: "Pick Up"),
        grid.Column("DropOffPointName",style: "data_cell",
                    header: "Drop Off"),
        grid.Column("PassengerNames",style: "data_cell",
                    header: "Passenger"),
        grid.Column("VehicleDispatched",style: "data_cell",
                    header: "Vehicle"),
        grid.Column("PassengerOrganisation",style: "data_cell",
                    header: "Organisation"),
        grid.Column("PassengerTelephone",style: "data_cell",
                    header: "Phone"),
        grid.Column("NoOfPassengers",style: "data_cell UserName",
                    header: "No. Passengers"),
        grid.Column("DateModified",style: "data_cell",format: (item) =>  String.Format("{0:ddd,MMM d, HH:mm}",item.DateModified),
                    header: "Booked Date"),
        grid.Column("",style: "data_cell",
                    header: "Actions",
                    format: @<text>
                        @{int IsBookDispatch = 0;}
                        @if ((Roles.GetRolesForUser(@HttpContext.Current.User.Identity.Name).ToArray<string>().Contains("Dispatch")) && (Roles.GetRolesForUser(@HttpContext.Current.User.Identity.Name).ToArray<string>().Contains("Booking")))
                        {
                            IsBookDispatch = 1;
                            if (item.DispatchedBy == null)
                            {
                                <label>@Html.ActionLink("Dispatch", "Edit", new { id = item.DispatchId }, new { @class = "editDialog" })</label>
                            }
                            if (item.DispatchedBy != null && item.PassengerOnBoardId == -1 && item.CallBackId == -1)
                            {
                                <label style="margin-bottom: 3px;">@Html.ActionLink("P.O.B", "UpdatePOB", new { idno = item.DispatchId }, new { @class = "confirmDialog" })</label>

                                <label style="margin-bottom: 3px;">@Html.ActionLink("Call Back", "UpdateCallBack", new { idno = item.DispatchId }, new { @class = "callBackDialog" })</label>
                            }
                            if (item.DispatchedBy != null && item.PassengerOnBoardId != -1)
                            {
                                <label style="margin-bottom: 3px;">@Html.ActionLink("Call Back", "UpdateCallBack", new { idno = item.DispatchId }, new { @class = "callBackDialog" })</label>
                            }
                            if (item.DispatchedBy != null && item.CallBackId != -1)
                            {
                                <label style="margin-right: 3px;">@Html.ActionLink("P.O.B", "UpdatePOB", new { idno = item.DispatchId }, new { @class = "confirmDialog" })</label>
                            }
                            if (item.DispatchedBy == null)
                            {
                                <label style="margin: 3px;">@Html.ActionLink("Edit", "Edit", new { id = item.DispatchId }, new { @class = "editDispatchBookDialog" })</label>
                            }
                            if (item.DispatchedBy != null)
                            {
                                <label style="margin: 3px;">@Html.ActionLink("Edit", "Edit Dispatch", new { id = item.DispatchId }, new { @class = "editDispatchBookDialog" })</label>
                            }
                        }
                        @if (((Roles.GetRolesForUser(@HttpContext.Current.User.Identity.Name).ToArray<string>().Contains("Dispatch"))) && (IsBookDispatch == 0))
                        {
                            if (item.DispatchedBy == null)
                            {
                                <label style="margin: 3px;">@Html.ActionLink("Dispatch", "Edit", new { id = item.DispatchId }, new { @class = "editDialog" })</label>
                            }
                            if (item.DispatchedBy != null)
                            {
                                <label style="margin-right: 3px;">@Html.ActionLink("P.O.B", "UpdatePOB", new { idno = item.DispatchId }, new { @class = "confirmDialog" })</label>
                            }
                        }
                        @if ((Roles.GetRolesForUser(@HttpContext.Current.User.Identity.Name).ToArray<string>().Contains("Booking") && (IsBookDispatch == 0)))
                        {
                            <label style="margin: 3px;">@Html.ActionLink("Edit", "Edit", new { id = item.DispatchId }, new { @class = "editBookDialog" })</label>
                        }
                    </text>

        )
})

<script type="text/javascript">
    $(document).ready(function () {
        InitGrid('gridData');
        //callback handler for form submit
        $(".editDialog").click(function (e) {
            var formURL = $(this).attr("href");
            $.ajax(
            {
                url: formURL,
                type: "POST",
                success: function (data, textStatus, jqXHR) {
                    //console.log(data);
                    loadBookData(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    //if fails
                    console.log(jqXHR);
                    console.log(textStatus);
                    console.log(errorThrown);
                },
                beforeSend: function () {
                    showWaiting();
                },
                complete: function () {
                    closeWaiting();
                }
            });
            e.preventDefault(); //STOP default action
            //e.unbind(); //unbind. to stop multiple form submit.
        });
        $(".editBookDialog").click(function (e) {
            var formURL = $(this).attr("href");
            $.ajax(
            {
                url: formURL,
                type: "POST",
                success: function (data, textStatus, jqXHR) {
                    //console.log(data);
                    loadEditBookData(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    //if fails
                    console.log(jqXHR);
                    console.log(textStatus);
                    console.log(errorThrown);
                },
                beforeSend: function () {
                    showWaiting();
                },
                complete: function () {
                    closeWaiting();
                }
            });
            e.preventDefault(); //STOP default action
            //e.unbind(); //unbind. to stop multiple form submit.
        });
        $(".editDispatchBookDialog").click(function (e) {
            var formURL = $(this).attr("href");
            $.ajax(
            {
                url: formURL,
                type: "POST",
                success: function (data, textStatus, jqXHR) {
                    //console.log(data);
                    loadEditDispatchBookData(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    //if fails
                    console.log(jqXHR);
                    console.log(textStatus);
                    console.log(errorThrown);
                },
                beforeSend: function () {
                    showWaiting();
                },
                complete: function () {
                    closeWaiting();
                }
            });
            e.preventDefault(); //STOP default action
            //e.unbind(); //unbind. to stop multiple form submit.
        });
    });

    function show_map_download(CustomerId)
    {
        var path = "@Url.Action("GetCustomerMap", "Customer")" + "/?CustId=";
        $('#DivCustMap').attr('href', path + CustomerId);
        $("#DivCustMap").show();
    }

    function hide_map_download() {
        $("#DivCustMap").hide();
    }

    function loadBookData(data) {

        if (data.CustomerDirUrl != null) {
            show_map_download(data.CustomerId);
        }

        $('#hdnDispatchId').val(data.DispatchId);
        $('#PickUpPointName').val(data.PickUpPointName);
        $('#hdnFrom').val(data.From);
        $('#DropOffPointName').val(data.DropOffPointName);
        $('#hdnTo').val(data.To);
        $('#pickupdate').val(data.PickUpDate);
        $('#pickuptime').val(data.PickUpTime);
        $('#MoreDetails').val(data.MoreDetails);
        $('#BookingBy').val(data.BookingRequestedBy);
        $('#NoOfPassengers').val(data.NoOfPassengers);

        $("input[name='selectedPaymentMode'][value='" + data.PaymentModeId + "']").prop('checked', true);

        $.each(data.DispatchExtras, function (i, val) {
            $("input[name='selectedExtras'][value='" + val + "']").prop('checked', true);
        });

        $.each(data.DispatchAccessibilities, function (i, val) {
            $("input[name='selectedAccessibility'][value='" + val + "']").prop('checked', true);
        });

        $('#BookersPhone').val(data.BookersPhone);
        $('#SpecialInstructions').val(data.SpecialInstructions);
        $('#hdnCustomerId').val(data.CustomerId);
        $('#targetCustomerId').val(data.PassengersName);

        //$(".disable_4dispatch").attr('disabled', 'disabled');
        $(".disable_4dispatch").attr("readonly", "readonly");

        $('#targetOrganisation').val(data.OrganisationName);
        $('#targetPhone').val(data.Telephone1);
        $('#targetEmail').val(data.Email1);
        $('#SpecialInstructions').val(data.SpecialInstructions);
        $('#from_result').html(null);

        $("#btnDispatch").show();
        $("#btnSave").hide();
        $("#btnBookDispatch").hide();

        $('#cmbVehicle').val(data.VehicleId);
        $('#cmbDriver').val(data.DriverUserId);

        if (data.To != null && data.From != null) {
            docMap.calcRoute(data.To, data.From);
        } else {
            var point = (data.From == null) ? data.To : data.From;
            if (point != null) {
                docMap.drawPoint(point);
            }
        }

        $('#TxtAmount').val(data.Amount);
    }

    function loadEditBookData(data) {

        $('#hdnDispatchId').val(data.DispatchId);
        $('#PickUpPointName').val(data.PickUpPointName);
        $('#hdnFrom').val(data.From);
        $('#DropOffPointName').val(data.DropOffPointName);
        $('#hdnTo').val(data.To);
        $('#pickupdate').val(data.PickUpDate);
        $('#pickuptime').val(data.PickUpTime);
        $('#MoreDetails').val(data.MoreDetails);
        $('#NoOfPassengers').val(data.NoOfPassengers);
        $('#BookingBy').val(data.BookingRequestedBy);

        $("input[name='selectedPaymentMode'][value='" + data.PaymentModeId + "']").prop('checked', true);

        $.each(data.DispatchExtras, function (i, val) {
            $("input[name='selectedExtras'][value='" + val + "']").prop('checked', true);
        });

        $.each(data.DispatchAccessibilities, function (i, val) {
            $("input[name='selectedAccessibility'][value='" + val + "']").prop('checked', true);
        });

        $('#BookersPhone').val(data.BookersPhone);
        $('#SpecialInstructions').val(data.SpecialInstructions);
        $('#hdnCustomerId').val(data.CustomerId);
        $('#targetCustomerId').val(data.PassengersName);

        //$(".disable_4dispatch").attr('disabled', 'disabled');
        $(".disable_4dispatch").attr("readonly", "readonly");

        $('#targetOrganisation').val(data.OrganisationName);
        $('#targetPhone').val(data.Telephone1);
        $('#targetEmail').val(data.Email1);
        $('#SpecialInstructions').val(data.SpecialInstructions);
        $('#from_result').html(null);

        $("#btnBookEdit").show();
        $("#btnDispatch").hide();
        $("#btnSave").hide();



        $('#cmbVehicle').val(data.VehicleId);
        $('#cmbDriver').val(data.DriverUserId);

        if (data.To != null && data.From != null) {
            docMap.calcRoute(data.To, data.From);
        } else {
            var point = (data.From == null) ? data.To : data.From;
            if (point != null) {
                docMap.drawPoint(point);
            }
        }

        $('#TxtAmount').val(data.Amount);
    }

    function loadEditDispatchBookData(data) {

        $('#hdnDispatchId').val(data.DispatchId);
        $('#PickUpPointName').val(data.PickUpPointName);
        $('#hdnFrom').val(data.From);
        $('#DropOffPointName').val(data.DropOffPointName);
        $('#hdnTo').val(data.To);
        $('#pickupdate').val(data.PickUpDate);
        $('#pickuptime').val(data.PickUpTime);
        $('#MoreDetails').val(data.MoreDetails);
        $('#BookingBy').val(data.BookingRequestedBy);

        $("input[name='selectedPaymentMode'][value='" + data.PaymentModeId + "']").prop('checked', true);

        $.each(data.DispatchExtras, function (i, val) {
            $("input[name='selectedExtras'][value='" + val + "']").prop('checked', true);
        });

        $.each(data.DispatchAccessibilities, function (i, val) {
            $("input[name='selectedAccessibility'][value='" + val + "']").prop('checked', true);
        });

        $('#BookersPhone').val(data.BookersPhone);
        $('#SpecialInstructions').val(data.SpecialInstructions);
        $('#hdnCustomerId').val(data.CustomerId);
        $('#targetCustomerId').val(data.PassengersName);

        //$(".disable_4dispatch").attr('disabled', 'disabled');
        $(".disable_4dispatch").attr("readonly", "readonly");

        $('#targetOrganisation').val(data.OrganisationName);
        $('#targetPhone').val(data.Telephone1);
        $('#targetEmail').val(data.Email1);
        $('#SpecialInstructions').val(data.SpecialInstructions);
        $('#from_result').html(null);

        $("#btnBookEdit").show();
        $("#btnDispatch").hide();
        $("#btnBookDispatch").hide();
        $("#btnSave").hide();



        $('#cmbVehicle').val(data.VehicleId);
        $('#cmbDriver').val(data.DriverUserId);

        if (data.To != null && data.From != null) {
            docMap.calcRoute(data.To, data.From);
        } else {
            var point = (data.From == null) ? data.To : data.From;
            if (point != null) {
                docMap.drawPoint(point);
            }
        }

        $('#TxtAmount').val(data.Amount);
    }
</script>


