@model DataAccess.SQL.DispatchSMSFormat
@{  
    Layout = null;
    if (false)
    {
    <script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>

    }
    
    
}
<script>
    var smslen = 160;

    $('#smslength').text(0);
    $('#smscount').text(smslen);

    var dfg = $('#smscount').val();
    formatsms($('#smscount').val());
    console.log(dfg);

    //$('#textareaid').bind('input propertychange', function () {
    //    var sms = $(this).val();
    //    formatsms(sms);
    //});
    $('#textareaid').bind("input paste", function (e) {
        var sms = $(this).val();
        formatsms(sms);
        console.log('dfg');
    })
    $('.btnFieldCntrl').click(function () {
        var value = $(this).val();
        insertAtCaret(value);
    });

    function formatsms(sms) {
        sms = sms.f("Kamau", "KBH 089T", "Evening", "Mrs. Catherine", "Geecko Group", "Hilton Hotel", "Ridgeways, Kiambu road",
            "1:49 PM", "0711111111", "2014-07-14", "White Toyota Saloon car", "4356", "Flight number 001/45rt", "0711222222","Customer Rescheduled");
        console.log(sms);
        $('#divsmsexample').html(sms);
    }


    function countChar(val) {
        var len = val.value.length;
        var smss = Math.round(len / smslen) + ((len % smslen) > 0 ? 1 : 0);
        len = len % smslen;
        $('#smslength').text(smslen - len);
        $('#smscount').text(smss);

        var sms = val.value;
        formatsms(sms);
    };

    function insertAtCaret(text) {
        var txtarea = document.getElementById('textareaid');
        var scrollPos = txtarea.scrollTop;
        var strPos = 0;
        var br = ((txtarea.selectionStart || txtarea.selectionStart == '0') ?
            "ff" : (document.selection ? "ie" : false));
        if (br == "ie") {
            txtarea.focus();
            var range = document.selection.createRange();
            range.moveStart('character', -txtarea.value.length);
            strPos = range.text.length;
        }
        else if (br == "ff") strPos = txtarea.selectionStart;

        var front = (txtarea.value).substring(0, strPos);
        var back = (txtarea.value).substring(strPos, txtarea.value.length);
        txtarea.value = front + text + back;
        strPos = strPos + text.length;
        if (br == "ie") {
            txtarea.focus();
            var range = document.selection.createRange();
            range.moveStart('character', -txtarea.value.length);
            range.moveStart('character', strPos);
            range.moveEnd('character', 0);
            range.select();
        }
        else if (br == "ff") {
            txtarea.selectionStart = strPos;
            txtarea.selectionEnd = strPos;
            txtarea.focus();
        }
        txtarea.scrollTop = scrollPos;

        formatsms(txtarea.value);
    };
</script>
<style type="text/css">
    .DropSMSType
    {
        width: 210px;
        padding: 5px;
        border: 1px solid #CCC;
    }
</style>


@using (Html.BeginForm("CreateEditDispatchSMSFormat", "SMSFormat", FormMethod.Post))
{  <div id="wait" style="display: none;">
    </div>
    <div class="divautosize">
        @Html.ValidationSummary(true)
        <div id="from_result">
        </div>
        @if (ViewBag.IsUpdate == true)
        { 
            @Html.HiddenFor(model => model.SMSFormatId)
            @Html.Hidden("isEditing", true)
        }
        <fieldset>
            <div id="SMSFormatLeft" style="float: left; padding-right: 7px;">
                <div class="editor-label">
                    @Html.LabelFor(model => model.SMSFormat)
                </div>
                <div class="smscount">
                    SMS: <span id="smscount">0</span> Characters left: <span id="smslength">160</span>
                </div>
                @Html.TextAreaFor(model => model.SMSFormat, new { style = "width: 300px;height: 120px;resize: none;", onkeyup = "countChar(this);", id = "textareaid", @class = "target" })
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.SMSFormat)
                </div>        
                <div style="width: 200px;">
                    <div style=" float: left;width: 90px;">
                        <div class="editor-label" style="bottom:9px;position: relative;">
                        @Html.LabelFor(model => model.Active)
                        </div>
                        <div class="editor-field">
                        @Html.CheckBoxFor(model => model.Active)
                        </div>
                    </div>
                    @*<div style="float: right;width: 90px;">
                        <div class="editor-label" style="bottom: 9px;position: relative;">
                        @Html.LabelFor(model => model.IsDriver)
                        </div>
                        <div class="editor-field">
                        @Html.CheckBoxFor(model => model.IsDriver)
                        </div>
                    </div>*@
                <div class="editor-field">
                    @if (ViewBag.IsUpdate == true)
                    {
                        @Html.DropDownListFor(model => model.SMSTypeId, new SelectList(ViewBag.SmsType, "Value", "Text"), "Please Select Sms Type", new {@class = "DropSMSType", @disabled = "disabled"  })
                        @Html.HiddenFor(model => model.SMSTypeId)
                    }else
                    { 
                        @Html.DropDownListFor(model => model.SMSTypeId, new SelectList(ViewBag.SmsType, "Value", "Text"), "Please Select Sms Type", new {@class = "DropSMSType"})
                    }
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.SMSTypeId)
                </div>
                </div>
            </div>
            <div id="SMSFormatRight" style="float: right;">
            <table style="text-align: left;">
                                <tr>
                                    @{
        int accessclientcnt = 0;
        List<DataAccess.SQL.DispatchSMSField> dispatchSMSFields = ViewBag.DispatchSMSField;
        foreach (var dispatchSMSField in dispatchSMSFields)
        {
            if (accessclientcnt++ % 2 == 0)
            {                                      
                                                      
                                                        @:  </tr> <tr>  
                                                    }
                                                    @: <td>                           
                                                        <button type="button" 
                                                                class="btnFieldCntrl" 
                                                                value="@dispatchSMSField.FieldAbbr" > 
                                                            @(Html.Raw(dispatchSMSField.FieldName + " - " + dispatchSMSField.FieldAbbr))
                                                            </button>
                                                    @:</td>                                  
                                                }
                                                @:</tr>
                                            }
                            </table>
            </div>
        </fieldset>
        <div style="width: 700px;margin-top: 20px;text-align: left;" id="divsmsexample"></div>
        <div>

        </div>
        <br />
        <div>
            @if (ViewBag.IsUpdate == true)
            { 

                <button type="submit" id="btnUpdate" name="Command" value="Update" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                    <span class="ui-button-text">Update</span></button>
            }
            else
            { 
                <button type="submit" id="btnSave" name="Command" value="Save" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                    <span class="ui-button-text">Save</span></button>
            }
            <button type="button" id="btncancel" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                <span class="ui-button-text">Cancel</span></button>
            &nbsp; &nbsp;
        </div>
    </div>
}
<script type="text/javascript">
    $(function () {
        dialogStartUp(displayResult);
    });
    function displayResult(data) {
        console.log(data);
        data = data.Data;
        var table = document.getElementById("gridData");
        var rowCount = table.rows.length;
        var row = table.insertRow(rowCount);
        row.className = rowCount % 2 == 0 ? "data_even" : "data_odd";

        var custtype = row.insertCell(0);
        var description = row.insertCell(1);
        var action = row.insertCell(2);

        custtype.innerHTML = data.CustomerTypeName; custtype.className = "data_cell";
        description.innerHTML = data.Description; description.className = "data_cell";
        var element1 = document.createElement("label");
        var a = document.createElement('a');
        var linkText = document.createTextNode("Edit");
        a.appendChild(linkText);
        a.setAttribute("class", "editDialog");
        a.title = "Edit";
        a.href = "/CustomerType/Edit/" + data.Id;
        element1.appendChild(a);
        action.appendChild(element1); action.className = "data_cell";
    }
</script>
