@model DataAccess.SQL.Price
@{  
    Layout = null;
    if (false)
    {
    <script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>
    }
}@Scripts.Render("~/bundles/time")
<script type="text/javascript">
    //    document.getElementById('main').style.display = 'none';
    $(function () {
        var currentTime = new Date()
        $("#TxtendTime").timePicker();
        $("#TxtstartTime").timePicker();
    });
</script>
@using (Html.BeginForm("CreateEditPrice", "Price", FormMethod.Post))
{  
    <div id="wait" style="display: none;">
    </div>
    <div class="divautosize">
        @Html.ValidationSummary(true)
        <div id="from_result">
        </div>
        @if (ViewBag.IsUpdate == true)
        { 
            @Html.HiddenFor(model => model.PriceId)
            @Html.Hidden("isEditing", true)
        }
        <fieldset>
            <div id="DeviceLeft" style="float: left; padding-right: 7px;">
                <div class="editor-label">
                    @Html.LabelFor(model => model.PriceName)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.PriceName)
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.PriceName)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.StartTime)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.StartTime, "{0:t}", new { id = "TxtstartTime", placeholder = "Start Time", style = "width: 93px;  -webkit-border-radius: 8px;  -moz-border-radius: 8px;  border-radius: px;  padding: 5px;  border: 1px solid #ccc;" })
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.EndTime)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.EndTime, "{0:t}", new { id = "TxtendTime", placeholder = "End Time", style = "width: 93px;  -webkit-border-radius: 8px;  -moz-border-radius: 8px;  border-radius: px;  padding: 5px;  border: 1px solid #ccc;" })
                </div>
            </div>
            <div id="DeviceRight" style="float: right;">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Amount)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Amount)
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.Amount)
                </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Active)
            </div>
            <div class="editor-field">
                @Html.CheckBoxFor(model => model.Active)
            </div>
            <div class="validation-msg">
                @Html.ValidationMessageFor(model => model.Active)
            </div>
            </div>
        </fieldset>
        <br />
        <div>
            @if (ViewBag.IsUpdate == true)
            { 

                <button type="submit" id="btnUpdate" name="Command" value="Update" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                    <span class="ui-button-text">Update</span></button>
            }
            else
            { 
                <button type="submit" id="btnSave" name="Command" value="Save" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                    <span class="ui-button-text">Save</span></button>
            }
            <button type="button" id="btncancel" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                <span class="ui-button-text">Cancel</span></button>
            &nbsp; &nbsp;
        </div>
    </div>
}
<script type="text/javascript">
    $(function () {
        dialogStartUp(displayResult);
    });
    function displayResult(data) {
        console.log(data);
        data = data.Data;
        var table = document.getElementById("gridData");
        var rowCount = table.rows.length;
        var row = table.insertRow(rowCount);
        row.className = rowCount % 2 == 0 ? "data_even" : "data_odd";

        var driverlicencetype = row.insertCell(0);
        var action = row.insertCell(1);

        driverlicencetype.innerHTML = data.DriverLicenceType; driverlicencetype.className = "data_cell";
        var element1 = document.createElement("label");
        var a = document.createElement('a');
        var linkText = document.createTextNode("Edit");
        a.appendChild(linkText);
        a.setAttribute("class", "editDialog");
        a.title = "Edit";
        a.href = "/DriverLicenceType/Edit/" + data.Id;
        element1.appendChild(a);
        action.appendChild(element1); action.className = "data_cell";
    }
</script>