﻿@model DataAccess.SQL.Dispatch
  @{  
    Layout = null;
    if (false)
    {
    <script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>
    }

    //GFleetV3.Models.MapModel data = new GFleetV3.Models.MapModel()
    //{
    //    EndAddress = new GFleetV3.Models.Point() { Latitude = "36.8027", Longitude = "-1.26349" },
    //    StartAddress = new GFleetV3.Models.Point() { Latitude = "36.8114", Longitude = "-1.23639" }
    //};
}
@*<style>
    .targetUL
    {
        width: inherit;
        border: 1px solid silver;
        margin-top: 2px;
        list-style: none;
        z-index: 100;
        position: absolute;
        background-color: rgb(255, 255, 255);        
        max-height:300px;
        overflow:auto;
        min-height: 100px;
    }
    .targetUL li
    {
        margin-left: -30px;
        border-bottom: 1px solid silver;
        padding-left: 5px;
        padding-top : 8px;
        cursor:pointer;
        z-index: 100;
        position: absolute;
        background-color: rgb(255, 255, 255);
        width:90%;
    }
     .target
    {
        width:300px;
    }
    .<span id="IL_AD3" class="IL_AD">imageClass</span>
    {
        height:54px;
        width:40px;
    }
   .text
    {
        padding-left: 20px;
        font-family: comic <span id="IL_AD9" class="IL_AD">sans</span> ms;
        font-size: 20px;
        font-weight: bolder;
    }
    .pac-container {
        background-color: #FFF;
        z-index: 20;
        position: fixed;
        display: inline-block;
        float: left;
    }
    .modal{
        z-index: 20;   
    }
    .modal-backdrop{
        z-index: 10;        
    }
 </style>*@
@Scripts.Render("~/bundles/time")
<script type="text/javascript">
    //    document.getElementById('main').style.display = 'none';
                
    $(function () {
        var currentTime = new Date()
        $("#ReturnDate").datepicker();
        $("#pickupdate").datepicker();
        $("#DateCompleted").timePicker();
        $("#ReturnTime").timePicker();
        $("#pickuptime").timePicker();
        $("#TimeCompleted").timePicker();
    });

    var docMap;

    var custControls = {
        Email: "targetEmail",
        Telephone: "targetPhone",
        PersonId: "hdnCustomerId",
        Name: "targetCustomerId"
    };

    $(document).ready(function () {
        //We have used keyup event to track the user enter value in the textbox.
        $("#targetCustomerId").keyup(function () {
            $("#hdnCustomerId").val(null);
            //Fetching the textbox value.
            var query = $(this).val();
            //Calling GetItems method.
            getItems(query, this.id, "CustomerNameData", "AutoComplete", "targetULCustomerId", "targetDivCustomerId",
                    "hdnCustomerId", "name", custControls);
        });
        $("#targetEmail").keyup(function () {
            $("#hdnCustomerId").val(null);
            //Fetching the textbox value.
            var query = $(this).val();
            //Calling GetItems method.
            getItems(query, this.id, "CustomerNameData", "AutoComplete", "targetULEmail", "targetDivEmail",
                    "hdnCustomerId", "email", custControls);
        });
        $("#targetPhone").keyup(function () {
            $("#hdnCustomerId").val(null);
            //Fetching the textbox value.
            var query = $(this).val();
            //Calling GetItems method.
            getItems(query, this.id, "CustomerNameData", "AutoComplete", "targetULPhone", "targetDivPhone",
                    "hdnCustomerId", "Phone", custControls);
        });
        $("#actionPointsAddVia").live("click", function (e) {
            $("#map_modal").dialog({
                show: false,
                open: function (event, ui) {
                    //                    console.log('open');
                    //                    var popMap = new mapobject("map_canvas_pop")
                    //                    .initialize();
                }
            });
            //            $("#map_modal").dialog('open');
            return false;
        });

        docMap = new mapobject("map_canvas");
        docMap.initialize();
        

        docMap.SetAutoComplete("PickUpPointName", "hdnFrom");
        docMap.SetAutoComplete("DropOffPointName", "hdnTo");
    });

    /* maps overlay */

    function mapobject(elemCanvas) {
        var poly, map;
        var geocoder;
        var directionsDisplay;
        var directionsService;
        var stepDisplay;
        var markerArray = [];
        var markers = [];
        var path = new google.maps.MVCArray;
        var elemCanvas = elemCanvas;
        var self = this;
        var startstoppoints = { start: null, end: null };

        this.initialize = function () {
            directionsService = new google.maps.DirectionsService();

            // Create a map and center it on Manhattan.
            var manhattan = new google.maps.LatLng(-1, 37.2);
            var mapOptions = {
                zoom: 8,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                center: manhattan
            }
            map = new google.maps.Map(document.getElementById(elemCanvas), mapOptions);

            // Create a renderer for directions and bind it to the map.
            var rendererOptions = {
                map: map
            }
            directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);

            //GEOCODER
            geocoder = new google.maps.Geocoder();

            // Instantiate an info window to hold step text.
            stepDisplay = new google.maps.InfoWindow();

            google.maps.event.addListener(map, 'click', self.addPointEvent);
            google.maps.event.trigger(map, 'resize');

            //            google.maps.event.addListener(marker, 'drag', function () {
            //                geocoder.geocode({ 'latLng': marker.getPosition() }, function (results, status) {
            //                    if (status == google.maps.GeocoderStatus.OK) {
            //                        if (results[0]) {
            //                            $('#address').val(results[0].formatted_address);
            //                            $('#latitude').val(marker.getPosition().lat());
            //                            $('#longitude').val(marker.getPosition().lng());
            //                        }
            //                    }
            //                });

            //            });
        }

        this.clearmapArray = function () {
            // First, remove any existing markers from the map.
            for (var i = 0; i < markerArray.length; i++) {
                markerArray[i].setMap(null);
            }
            // Now, clear the array itself.
            markerArray = [];
        }

        this.calcRoute = function (start, end) {
            //console.log('calcRoute');
            self.clearmapArray();
            // Retrieve the start and end locations and create
            // a DirectionsRequest using WALKING directions.
            var request = {
                origin: start,
                destination: end,
                travelMode: google.maps.TravelMode.DRIVING
            };

            // Route the directions and pass the response to a
            // function to create markers for each step.
            directionsService.route(request, function (response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    //                var warnings = document.getElementById('warnings_panel');
                    //                warnings.innerHTML = '<b>' + response.routes[0].warnings + '</b>';
                    directionsDisplay.setDirections(response);
                    self.showSteps(response);
                }
            });
        }

        this.showSteps = function (directionResult) {
            // For each step, place a marker, and add the text to the marker's
            // info window. Also attach the marker to an array so we
            // can keep track of it and remove it when calculating new
            // routes.
            //console.log('this.showSteps');
            var myRoute = directionResult.routes[0].legs[0];

            for (var i = 0; i < myRoute.steps.length; i++) {
                var marker = new google.maps.Marker({
                    position: myRoute.steps[i].start_point,
                    map: map
                });
                self.attachInstructionText(marker, myRoute.steps[i].instructions);
                markerArray[i] = marker;
            }

            self.showroutedetails(myRoute);
        }

        this.attachInstructionText = function (marker, text) {
            google.maps.event.addListener(marker, 'click', function () {
                // Open an info window when the marker is clicked on,
                // containing the text of the step.
                stepDisplay.setContent(text);
                stepDisplay.open(map, marker);
            });
        }

        this.showroutedetails = function (route) {
            document.getElementById("labelAccount").innerText = document.getElementById('targetCustomerId').value
            document.getElementById("labelDistance").innerText = route.distance.text
            var str = route.distance.text;
            var DistanceKm = str.replace(" km", "");
            $("#hdnDistance").val(parseInt(DistanceKm));
            document.getElementById("labelJourney").innerText = route.duration.text
            document.getElementById("labelFare").innerText = "$$$$$"

            //        var details = 'From: ' + route.start_address + '<br/> ';
            //        details += 'To: ' + route.end_address + '<br/> ';
            //        details += 'Distance: ' + route.distance.text + '<br/> ';
            //        details += 'Average duration: ' + route.duration.text + '<br/> ';

            //        $('#route_details').html(details);
        }

        this.addPointEvent = function (event) {
            if (path.length > 1) {
                path.removeAt(1);
                //markers.pop().setMap(null);
            }
            path.insertAt(path.length, event.latLng);
            self.addMarker(event.latLng, path.length > 1 ? "End" : "Start");
        }

        this.addMarker = function (latLng, markerTitle, markerPos) {
            //console.log(path);
            var marker = new google.maps.Marker({
                position: latLng,
                map: map,
                draggable: false,
                visible: true,
                title: markerTitle
            });

            google.maps.event.addListener(marker, 'click', function () {
                marker.setMap(null);
                //                for (var i = 0, I = markers.length; i < I && markers[i] != marker; ++i);
                //                markers.splice(i, 1);
                path.removeAt(marker.getTitle().indexOf('end') > -1 ? 1 : 0);
            });

            google.maps.event.addListener(marker, 'dragend', function () {
                //for (var i = 0, I = markers.length; i < I && markers[i] != marker; ++i);
                path.setAt(marker.getTitle().indexOf('end') > -1 ? 1 : 0, marker.getPosition());
                if (path.length > 1) {
                    if (path.getAt(0) != null && path.getAt(1) != null) {
                        self.calcRoute(path.getAt(0), path.getAt(1));
                    }
                }
            });
            if (path.length > 1) {
                if (path.getAt(0) != null && path.getAt(1) != null) {
                    self.calcRoute(path.getAt(0), path.getAt(1));
                }
            }
        }


        this.SetAutoComplete = function (txtId, hdnPoint) {
            $(function () {
                $("#" + txtId).autocomplete({
                    //This bit uses the geocoder to fetch address values
                    minLength: 2,
                    autofill: true,
                    source: function (request, response) {
                        geocoder.geocode({ 'address': request.term, 'region': 'GB' }, function (results, status) {
                            response($.map(results, function (item) {
                                return {
                                    label: item.formatted_address,
                                    value: item.formatted_address,
                                    latitude: item.geometry.location.lat(),
                                    longitude: item.geometry.location.lng()
                                }
                            }));
                        })
                    },
                    //This bit is executed upon selection of an address
                    select: function (event, ui) {
                        //console.log(event);
                        $("#" + hdnPoint).val(ui.item.latitude + "," + ui.item.longitude);

                        if (hdnPoint.indexOf('hdnFrom') > -1) {
                            startstoppoints.start = new google.maps.LatLng(ui.item.latitude, ui.item.longitude);
                            //console.log(startstoppoints);

                            if (path.length > 0) {
                                path.setAt(0, startstoppoints.start);
                            } else {
                                path.insertAt(0, startstoppoints.start);
                            }

                            self.addMarker(startstoppoints.start, "Start", 0);
                        }
                        else {
                            startstoppoints.end = new google.maps.LatLng(ui.item.latitude, ui.item.longitude);
                            //console.log(startstoppoints);

                            if (path.length > 1) {
                                path.setAt(1, startstoppoints.end);
                            } else if (path.length == 1) {
                                path.setAt(0, startstoppoints.start);
                                path.insertAt(1, startstoppoints.end);
                            } else {
                                path.insertAt(0, startstoppoints.start);
                                path.insertAt(1, startstoppoints.end);
                            }
                            self.addMarker(startstoppoints.end, "End", 1);
                        }
                    }
                });
            });
        }
    }

  
</script>
    <div id="map_modal" class="modal-body" style="display:none;">
        <div id="map_canvas_pop" style="width:400px; height:250px"></div>                        
    </div>   
@using (Html.BeginForm("CreateEditVehicleDispatch", "VehicleDispatch", FormMethod.Post))
{  <div id="wait" style="display: none;">
    </div>
    <div class="szd">
        @Html.ValidationSummary(true)
        <div id="from_result">
        </div>
        @*@if (ViewBag.IsUpdate == true)
        { 
            @Html.HiddenFor(model => model.DispatchId)
            @Html.Hidden("isEditing", true)*@
           
            <script type="text/javascript">            
                var start = new google.maps.LatLng( @(Model.From.Split(",".ToCharArray())[0]) ,@( Model.From.Split(",".ToCharArray())[1]));
                var end = new google.maps.LatLng(@(Model.To.Split(",".ToCharArray())[0]) , @(Model.To.Split(",".ToCharArray())[1]));
                docMap.calcRoute(start,end);
            </script>
            
        @*//}*@
        <div id="LicenceDetailLeft" style="float: left; padding-right: 7px;">
            <fieldset>
                <legend>
                    <img src="" alt="PASSENGER" />
                    <b>PASSENGER/ACCOUNT</b></legend>
                    <div class="editor-field">
                         @*@Html.TextBoxFor(model => model.Person1.FirstName, new { id = "hdnCustomerId", placeholder = "Passenger", style = "width: 400px;  -webkit-border-radius: 8px;  -moz-border-radius: 8px;  border-radius: px;  padding: 5px;  border: 1px solid #ccc;" })*@
                         @Html.TextBoxFor(model => model.CustomerId, new { id = "hdnCustomerId", placeholder = "Passenger", style = "visibility: hidden;position: absolute;" })
                        <div id="targetDivCustomerId" >
                            <input type="text" id="targetCustomerId" value="@ViewBag.CustomerName" class="target" placeholder = "Passenger" style="width: 400px;  -webkit-border-radius: 8px;  -moz-border-radius: 8px;  border-radius: px;  border: 1px solid #ccc;" }/>
                        </div>
                    </div>
                    <div class="validation-msg">
                        @Html.ValidationMessageFor(model => model.CustomerId)
                    </div>
                    <div>
                        <div id="SearchLeft" style="float: left;">       
                                <div id="targetDivPhone">
                                    <input type="text" id="targetPhone" value="@ViewBag.CustomerPhone" class="target" placeholder = "Phone" style="width: 150px;  -webkit-border-radius: 8px;  -moz-border-radius: 8px;  border-radius: px;    border: 1px solid #ccc;" }/>
                                </div>
                        </div>
                        <div id="SearchRight" style="float: right;">                      
                                <div id="targetDivEmail" >
                                    <input type="text" id="targetEmail" value="@ViewBag.CustomerEmail" class="target" placeholder = "Email" style="width: 150px;  -webkit-border-radius: 8px;  -moz-border-radius: 8px;  border-radius: px;    border: 1px solid #ccc;" }/>
                                </div>
                        </div>
                    </div> 
                    @*<input type="button" id="Create-passenger" value="+" />   *@
           </fieldset>
            <fieldset>
                <legend>
                    <img src="" alt="BOOKING" /><b>BOOKING</b></legend>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.PickUpPointName, new { id = "PickUpPointName", placeholder = "Pick Up Point", style = "width: 365px;  -webkit-border-radius: 8px;  -moz-border-radius: 8px;  border-radius: px;  padding: 5px;  border: 1px solid #ccc;" })
                    @Html.HiddenFor(model=> model.From, new{ id = "hdnFrom"})
                </div>
                
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.PickUpPointName)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.DropOffPointName, new { id = "DropOffPointName", placeholder = "Drop Off Point", style = "width: 365px;  -webkit-border-radius: 8px;  -moz-border-radius: 8px;  border-radius: px;  padding: 5px;  border: 1px solid #ccc;" })
                    @Html.HiddenFor(model=> model.To, new{ id = "hdnTo"})
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.DropOffPointName)
                </div>
                <div>
                <div id="pickupdateRight" style="float: left;">
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.PickUpDate, "{0:d}", new { id = "pickupdate",placeholder = "PickUp Date",style = "width: 150px;  -webkit-border-radius: 8px;  -moz-border-radius: 8px;  border-radius: px;  padding: 5px;  border: 1px solid #ccc;"  })
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.PickUpDate)
                </div>
                </div>
                <div id="pickuptimeRight" style="float: right;">
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.PickUpTime, "{0:t}", new { id = "pickuptime",placeholder = "PickUp Time",style = "width: 150px;  -webkit-border-radius: 8px;  -moz-border-radius: 8px;  border-radius: px;  padding: 5px;  border: 1px solid #ccc;"  })
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.PickUpTime)
                </div>
                </div>
                </div>
                <div>
                    <div id="ReturnTimeLeft" style="float: left;">
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.ReturnDate, "{0:d}", new { id = "ReturnDate", placeholder = "Return Date", style = "width: 150px;  -webkit-border-radius: 8px;  -moz-border-radius: 8px;  border-radius: px;  padding: 5px;  border: 1px solid #ccc;" })
                    </div>
                    <div class="validation-msg">
                        @Html.ValidationMessageFor(model => model.ReturnDate)
                    </div>
                    </div>
                <div id="ReturnTimeRight" style="float: right;">
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.ReturnTime, "{0:t}", new { id = "ReturnTime", placeholder = "Return Time", style = "width: 150px;  -webkit-border-radius: 8px;  -moz-border-radius: 8px;  border-radius: px;  padding: 5px;  border: 1px solid #ccc;" })
                </div>

                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.ReturnTime)
                </div>
                </div>
                </div>             

               <div>
                    <div id="NoOfPassengersRight" style="float: left;">
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.NoOfPassengers, new {placeholder = "No. Of Passengers", style = "width: 150px;  -webkit-border-radius: 8px;  -moz-border-radius: 8px;  border-radius: px;  padding: 5px;  border: 1px solid #ccc;" })
                        </div>
                        <div class="validation-msg">
                            @Html.ValidationMessageFor(model => model.NoOfPassengers)
                        </div>
                    </div>
                     <div id="NoOfLuggageLeft" style="float: right;">
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.NoOfLuggage, new {placeholder = "No. Of Luggage", style = "width: 150px;  -webkit-border-radius: 8px;  -moz-border-radius: 8px;  border-radius: px;  padding: 5px;  border: 1px solid #ccc;" })
                        </div>
                        <div class="validation-msg">
                            @Html.ValidationMessageFor(model => model.NoOfLuggage)
                        </div>
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Notes, new { placeholder = "More Details....", style = "width: 365px;  -webkit-border-radius: 8px;  -moz-border-radius: 8px;  border-radius: px;  padding: 5px;  border: 1px solid #ccc;" })
                    </div>
                    <div class="validation-msg">
                        @Html.ValidationMessageFor(model => model.Notes)
                    </div>
                </div>
            </fieldset>
        </div>
        <div id="LicenceDetailRight" style="float: left; padding-right: 7px;">
            <fieldset>
                <legend>
                    <img src="" alt="VEHICLE" /><b>VEHICLE</b></legend>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DriverVehicleAssignmentId)
                    </div>
                    <div class="editor-field">
                        @Html.DropDownListFor(model => model.DriverVehicleAssignmentId, new SelectList(ViewBag.Vehicle, "Value", "Text"), "Please Select Vehicle", new { style = "width:210px;padding: 5px;border: 1px solid #CCC;" })

                    </div>
                    <div class="validation-msg">
                        @Html.ValidationMessageFor(model => model.DriverVehicleAssignmentId)
                    </div> 
            </fieldset>
            <fieldset>
                <legend>
                    <img src="" alt="EXTRAS" /><b>EXTRAS</b></legend>
                    <div class="editor-field">                    
                        <table style="text-align: left;">
                            <tr>
                                @{
        int cnt = 0;
        List<GFleetV3.Models.DispatchExtras> extras = ViewBag.Extras;
        foreach (var extra in extras)
        {
            if (cnt++ % 2 == 0)
            {                                      
                                                      
                                            @:  </tr> <tr>  
                                        }
                                        @: <td>
                                        
                                        @*<label for="editor-fieldd"></label>     *@                            
                                            <input type="checkbox" 
                                                   name="selectedExtras" 
                                                   value="@extra.ExtrasID"
                                                   id="editor-fieldd" 
                                                   @(Html.Raw(extra.Assigned ? "checked=\"checked\"" : "")) /> 
                                                    @extra.Extras
                                        @:</td>                                  
                                    }
                                    @: </tr>
                                }
                        </table>
                    </div>
            </fieldset>
            <fieldset>
                <legend>
                    <img src="" alt="ACCESSIBILITY" /><b>ACCESSIBILITY</b></legend>
                
                    <div class="editor-field">                    
                        <table style="text-align: left;">
                            <tr>
                                @{
        int accesscnt = 0;
        List<GFleetV3.Models.AccessibilityinDispatch> accessibilities = ViewBag.Accessibility;
        foreach (var accessibility in accessibilities)
        {
            if (accesscnt++ % 2 == 0)
            {                                      
                                                      
                                            @:  </tr> <tr>  
                                        }
                                        @: <td>
                                        
                                        @*<label for="editor-fieldd"></label>     *@                            
                                            <input type="checkbox" 
                                                   name="selectedExtras" 
                                                   value="@accessibility.AccessibilityId" 
                                                   @(Html.Raw(accessibility.Assigned ? "checked=\"checked\"" : "")) /> 
                                                      @accessibility.Accessibility
                                        @:</td>                                  
                                    }
                                    @: </tr>
                                }
                        </table>
                    </div>
            </fieldset>
            <fieldset>
                <legend>0
                    <img src="" alt="ACCESSIBILITY" /><b>RECURRENT</b></legend>
                
                    <div class="editor-field">                    
                        <table style="text-align: left;">
                        <tr>
                        @*<td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Isreccurent)
                        </div>
                        </td>*@
                        <td>
                         @Html.EditorFor(model => model.Isreccurent, "Recurrent")
                        </td>
                        </tr>
                        </table>
                    </div>
            </fieldset>
        </div>
        <div id="dispatchDetails" style="float: right;">
            <fieldset>
                <legend>
                    <img src="" alt="PAYMENT" /><b>PAYMENT</b></legend>
@*<a href="#" onclick="doMenu('main');" id="xmain">[+]</a>October 2008
                    <div id="main" style="margin-left:1em">
                        Item 1<br />
                        Item 2<br />
                        Item 3<br />
                        </div>*@
                    <div class="editor-field">                    
                        <table>
                            <tr>
                                @{
        int paymentmodecnt = 0;
        List<GFleetV3.Models.DispatchPaymentMode> paymentModes = ViewBag.PaymentMode;
        foreach (var paymentMode in paymentModes)
        {
            if (paymentmodecnt++ % 3 == 0)
            {                                      
                                                      
                                            @:  </tr> <tr>  
                                        }
                                        @: <td>
                                        
                                        @*<label for="editor-fieldd"></label>     *@                            
                                            <input type="radio" 
                                                   name="selectedExtras" 
                                                   value="@paymentMode.PaymentModeId" 
                                                   @(Html.Raw(paymentMode.Assigned ? "checked=\"checked\"" : "")) /> 
                                                    @paymentMode.PaymentMode
                                        @:</td>                                  
                                    }
                                    @: </tr>
                                }
                        </table>
                    </div>
                    <table>
                        <tr>
                            <td>Account:<label id="labelAccount" style="position: absolute;padding: 0 0 0 0;"></label></td>
                        </tr>
                        <tr>
                            <td>Journey:<label id="labelJourney" style="position: absolute;padding: 0 0 0 0;"></label></td>
                        </tr>
                        <tr>
                            <td>Distance:<label id="labelDistance" style="position: absolute;padding: 0 0 0 0;"></label></td>
                            @Html.HiddenFor(model => model.Distance, new { id = "hdnDistance" })
                        </tr>
                        <tr>
                            <td>Fare:<label id="labelFare" style="position: absolute;padding: 0 0 0 0;"></label></td>
                        </tr>
                    </table>
                    <hr />
                    <div class="editor-field">
                    @Html.TextBoxFor(model => model.Amount, new { id = "Amount", placeholder = "Override Price", style = "width: 350px;  -webkit-border-radius: 8px;  -moz-border-radius: 8px;  border-radius: px;  padding: 5px;  border: 1px solid #ccc;" })
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    <img src="" alt="MAP" />
                    <b>MAP</b>
                </legend>
                <div id="mapcontent">                                  
                    <div class="modal-body">
                        <div id="map_canvas" style="width:400px; height:250px"></div>                        
                    </div>                    
                </div>               
            </fieldset>
        </div>
        <br />
    </div>
    
<div id="map-view" style="width: auto; height: auto;">
</div>
}
<script type="text/javascript">
    $(function () {
        dialogStartUp();
    });
</script>


