@model GFleetV3.Models.OrganisationRegisterModel
@{  
    Layout = null;
    if (false)
    {
    <script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>
}
}
<script type="text/javascript">
    $(function () {

        $("#TxtOrgEmail").keyup(function () {
            $("#TxtEmail").val(this.value);
        });
        $("#TxtEmail").keyup(function () {
            $("#TxtOrgEmail").val(this.value);
        });
    });
</script>
<style>
    fieldset legend
    {
        font-weight: bold;
    }
</style>
@using (Html.BeginForm("CreateEditOrganisation", "Organisation", FormMethod.Post))
{  
    <div id="wait" style="display: none;">
    </div>
<div class="divautosize">
    <div id="from_result">
    </div>
 

    
    @Html.ValidationSummary(true)
    @if (ViewBag.IsUpdate == true)
        { 
            @Html.HiddenFor(model => model.OrganisationModel.OrganisationId)
            @Html.Hidden("isEditing", true)
        }
        <fieldset>
            <legend>Organisation Details</legend>
            <div id="OrganisationLeft" style="float: left; padding-right: 7px;">
                <div class="editor-label">
                    @Html.LabelFor(model => model.OrganisationModel.OrganisationName)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.OrganisationModel.OrganisationName)
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.OrganisationModel.OrganisationName)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.OrganisationModel.OrganisationTypeId)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(m => m.OrganisationModel.OrganisationTypeId, new SelectList(ViewBag.OrgType, "Value", "Text"), "----Select----", new { style = "width:210px;padding: 5px;border: 1px solid #CCC;" })
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.OrganisationModel.OrganisationTypeId)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.OrganisationModel.ContactPerson)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.OrganisationModel.ContactPerson)
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.OrganisationModel.ContactPerson)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.OrganisationModel.Active)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.OrganisationModel.Active)
                </div>

               
               
               
                
             
            </div>

            <div id="OrganisationRight" style="float: right; padding-right: 7px;">
                <div class="editor-label">
                    @Html.LabelFor(model => model.OrganisationModel.OrganisationTelephone)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.OrganisationModel.OrganisationTelephone, new { @placeholder = "e.g. +254700000000", @id = "TxtOrgTelephone" })
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.OrganisationModel.OrganisationTelephone)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.OrganisationModel.OrganisationAddress)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.OrganisationModel.OrganisationAddress)
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.OrganisationModel.OrganisationAddress)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.OrganisationModel.Pricing)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.OrganisationModel.Pricing, new { @Value = "0" })
                </div>
                @*<div class="editor-label">
                    @Html.LabelFor(model => model.OrganisationModel.OrganisationPhysicalAddress)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.OrganisationModel.OrganisationPhysicalAddress)
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.OrganisationModel.OrganisationPhysicalAddress)
                </div>*@
               
              
               
                
            </div>

            <div id="OrganisationRightFar" style="float: right; padding-right: 7px;">
                <div class="editor-label">
                    @Html.LabelFor(model => model.OrganisationModel.OrganisationEmail)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.OrganisationModel.OrganisationEmail, new { @id = "TxtOrgEmail" })
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.OrganisationModel.OrganisationEmail)
                </div>
                @*<div class="editor-label">
                    @Html.LabelFor(model => model.OrganisationModel.Pricing)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.OrganisationModel.Pricing)
                </div>*@
                <div class="editor-label">
                    @Html.LabelFor(model => model.OrganisationModel.OrganisationPhysicalAddress)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.OrganisationModel.OrganisationPhysicalAddress)
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.OrganisationModel.OrganisationPhysicalAddress)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.OrganisationModel.WaitingCharge)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.OrganisationModel.WaitingCharge, new { @Value = "0" })
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.OrganisationModel.IsApproved)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.OrganisationModel.IsApproved, new { @id = "ChkIsApprove" })
                </div>
                <div class="validation-msg">
                    @Html.ValidationMessageFor(model => model.OrganisationModel.IsApproved)
                </div>

                </div>
</fieldset>
    @if (ViewBag.HasAc == false )
            {
            <fieldset>
                <legend>Account Details</legend>
                <div id="OrganisationAccDetails1" style="float: left; padding-right: 7px;">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.RegisterModel.Email)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.RegisterModel.Email, new { @id = "TxtEmail" })
                    </div>
                    <div class="validation-msg">
                        @Html.ValidationMessageFor(model => model.RegisterModel.Email)
                    </div>
                </div>

                @*<div id="OrganisationAccDetails2" style="float: right; padding-right: 7px;top: 62px;position: relative;">*@
                <div id="OrganisationAccDetails2" style="float: right; padding-right: 7px;">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.RegisterModel.ConfirmPassword)
                    </div>
                    <div class="editor-field">
                        @Html.PasswordFor(model => model.RegisterModel.ConfirmPassword)
                    </div>
                    <div class="validation-msg">
                        @Html.ValidationMessageFor(model => model.RegisterModel.ConfirmPassword)
                    </div>
                </div>

                    <div id="OrganisationAccDetailss1" style="float: right; padding-right: 7px;">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.RegisterModel.Password)
                        </div>
                        <div class="editor-field">
                            @Html.PasswordFor(model => model.RegisterModel.Password)
                        </div>
                        <div class="validation-msg">
                            @Html.ValidationMessageFor(model => model.RegisterModel.Password)
                        </div>
                    </div>


           
            </fieldset>
    }
    <br />
    <div style="bottom: 0px; position: relative; float: right;">
        @if (ViewBag.IsUpdate == true)
            {

                <button type="submit" id="btnUpdate" name="Command" value="Update" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                    <span class="ui-button-text">Update</span></button>
        }
            else
            { 
                <button type="submit" id="btnSave" name="Command" value="Save" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                    <span class="ui-button-text">Save</span></button>
        }
        
            <button type="button" id="btncancel" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                <span class="ui-button-text">Cancel</span></button>
        &nbsp; &nbsp;
    </div>
</div>
}

<script type="text/javascript">
    $(function () {
        dialogStartUp(displayResult); dialogStartUp
    });
    function displayResult(data) {
        console.log(data);
        data = data.Data;
        var table = document.getElementById("gridData");
        var rowCount = table.rows.length;
        var row = table.insertRow(rowCount);
        row.className = rowCount % 2 == 0 ? "data_even" : "data_odd";

        var insuarancename = row.insertCell(0);
        var contactperson = row.insertCell(1);
        var email = row.insertCell(2);
        var telephone = row.insertCell(3);
        var address = row.insertCell(4);
        var action = row.insertCell(5);
        var pricing = row.insertCell(6);
        var waitingcharge = row.insertCell(7);

        insuarancename.innerHTML = data.InsuaranceName; insuarancename.className = "data_cell";
        contactperson.innerHTML = data.ContactPerson; contactperson.className = "data_cell";
        email.innerHTML = data.Email; email.className = "data_cell";
        telephone.innerHTML = data.Telephone; telephone.className = "data_cell";
        address.innerHTML = data.Address; address.className = "data_cell";
        pricing.innerHTML = data.Pricing; pricing.className = "data_cell";
        waitingcharge.innerHTML = data.WaitingCharge; waitingcharge.className = "data_cell";
        var element1 = document.createElement("label");
        var a = document.createElement('a');
        var linkText = document.createTextNode("Edit");
        a.appendChild(linkText);
        a.setAttribute("class", "editDialog");
        a.title = "Edit";
        a.href = "/Insuarance/Edit/" + data.Id;
        element1.appendChild(a);
        action.appendChild(element1); action.className = "data_cell";
    }
</script>
