@model GFleetV3.Models.PagedOrganisationModel
@{
    Layout = null;
    WebGrid grid = new WebGrid(rowsPerPage: Model.PageSize);
    grid.Bind(Model.Organisation,
              autoSortAndPage: false,
              rowCount: Model.TotalRows
              );
    if (false)
    {
    <script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>
}
}
@Scripts.Render("~/bundles/datatable")
<link href="~/Content/Reports/TableTools.css" rel="stylesheet" />
<script type="text/javascript">

    var the_dataTable;
    $(document).ready(function () {
        loadDataTable();
    });

    function loadDataTable() {
        //if (vehicles.length > 0) {
        if (the_dataTable == null) {
            the_dataTable = $('#gridData').DataTable({
                "oTableTools": {
                    "sSwfPath": "../Scripts/dataTable/copy_csv_xls_pdf.swf",
                    "aButtons": [
                        {
                            "sExtends": "copy",
                            "mColumns": [0, 1, 2, 3, 4]
                        },
                        {
                            "sExtends": "csv",
                            "mColumns": [0, 1, 2, 3, 4]
                        },
                        {
                            "sExtends": "pdf",
                            "mColumns": [0, 1, 2, 3, 4]
                        },
                        {
                            "sExtends": "print",
                            "mColumns": [0, 1, 2, 3, 4]
                        },
                    ]
                },
                "scrollCollapse": true,
                "paging": false,
                "ordering": true,
                "order": [[1, "desc"]],
                "info": false,
                "ScrollY": "350px",
                "bPaginate": false,
                //"sDom": 'Tlfrtip'
                "sDom": '<"top_left"l><"top_right"Tf>'
            });
        }
    }
</script>
<style>
    table
    {
        font-size: 12px;
        
    }
    

    div.DTTT_container
    {
        top: 10px;
        margin-left: 5px;
    }

    .dataTables_filter
    {
        bottom: 5px;
        float: right;
        position: relative;
    }

    input, search
    {
        height: 24px;
    }
</style>
@grid.GetHtml(
               htmlAttributes: new { id = "gridData" },
            fillEmptyRows: false,
            tableStyle: "qlabs_grid_container",//"webgrid",
            headerStyle: "header_row",//"webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "data_even",//"webgrid-alternating-row",
            selectedRowStyle: "webgrid-selected-row",
            rowStyle: "data_odd", //"webgrid-row-style",
            mode: WebGridPagerModes.All,
                    firstText: "<< First",
                    previousText: "< Prev",
                    nextText: "Next >",
                    lastText: "Last >>",
    columns: new[] {
        
        grid.Column("OrganisationName",style: "data_cell", 
                    header: "Organisation Name"),
        grid.Column("OrganisationTelephone",style: "data_cell", 
                            header: "Telephone"),
        grid.Column("OrganisationEmail",style: "data_cell", 
                            header: "Email"),
        grid.Column("ContactPerson",style: "data_cell", 
                    header: "Contact Person"),    
        @*grid.Column("OrganisationPhysicalAddress",style: "data_cell", 
                    header: "Physical Address"),  *@   
        //grid.Column("OrganisationAddress",style: "data_cell", 
        //            header: "Address"),
        grid.Column("Pricing",style: "data_cell", 
                    header: "Pricing per Km"),
        grid.Column("WaitingCharge",style: "data_cell", 
                    header: "Waiting Charge/Hr"),
        grid.Column("",style: "data_cell thAction", 
                    header: "Actions",
                    format: @<text>
<label>@Html.ActionLink("Edit", "Edit", new { id = item.OrganisationId }, new { @class = "editDialog"})</label>
<label>@Html.ActionLink("Delete", "DeleteOrg", new { id = item.OrganisationId }, new { @class = "deleteDialog"})</label>
@*@if(item.IsApproved==true){
<label>@Html.ActionLink("Create Account", "EditOrgAc", new { id = item.OrganisationId }, new { @class = "editDialog" })</label>
}*@
</text>
)
})
<script type="text/javascript">
    InitGrid('gridData');
</script>

