@model GFleetV3.Models.OrganisationRegisterModel
@{  
    Layout = null;
    if (false)
    {
    <script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>
}
}
@using (Html.BeginForm("Delete", "Organisation", "", FormMethod.Post, new { @id = "DeleteForm", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.OrganisationModel.OrganisationId,new{@id="hdn_orgid"})
    <div id="dialog-confirm">
        <p>
            <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
            Are you sure you want to delete the organisation? 
        </p>

        <div style="bottom: 0px; position: relative; float: right;">
            <button type="submit" id="btnSave" name="Command" value="Save" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                <span class="ui-button-text">Ok</span></button>
            <button type="button" id="btncancel" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                <span class="ui-button-text">Cancel</span></button>
            &nbsp; &nbsp;
        </div>
    </div>
}
<script type="text/javascript">
    $(function () {
        dialogStartUp();
    });
</script>
