﻿@model GFleetV3.Models.PagedVehicleLicenceDetailModel
@{
    Layout = null;
    WebGrid grid = new WebGrid(rowsPerPage: Model.PageSize);
    grid.Bind(Model.VehicleLicenceDetail,
              autoSortAndPage: false,
              rowCount: Model.TotalRows
              );
    if (false)
    {
    <script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>
    }
}
@grid.GetHtml(
        htmlAttributes: new { id = "gridData" },
            fillEmptyRows: false,
            tableStyle: "qlabs_grid_container",//"webgrid",
            headerStyle: "header_row",//"webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "data_even",//"webgrid-alternating-row",
            selectedRowStyle: "webgrid-selected-row",
            rowStyle: "data_odd", //"webgrid-row-style",
            mode: WebGridPagerModes.All,
                    firstText: "<< First",
                    previousText: "< Prev",
                    nextText: "Next >",
                    lastText: "Last >>",
    columns: new[] {
        
        grid.Column("VehicleRegCode",style: "data_cell", 
                    header: "Registration"),
        grid.Column("VehicleLicenceType.VehicleLicenceTypeName",style: "data_cell", 
                    header: "Licence Type"),
        grid.Column("LicenceNo",style: "data_cell",
                    header: "LicenceNo"),
        grid.Column("RenewalDate",style: "data_cell", 
                    header: "RenewalDate",format: (item) => string.Format("{0:dd-MMM-yyyy}",item.RenewalDate)),
        grid.Column("ExpireDate",style: "data_cell", 
                    header: "Expiry Date",format: (item) => string.Format("{0:dd-MMM-yyyy}",item.ExpireDate)),
    grid.Column("RenewalCost",style: "data_cell", 
                    header: "Renewal Cost",format: (item) => string.Format("{0:#,##0.00;(#,##0.00);0.00}",item.RenewalCost)),
        grid.Column("",style: "data_cell", 
                    header: "Actions",
                    format: @<text>
<label>@Html.ActionLink("Edit", "Edit", new { id = item.VehicleLicenceDetailId }, new { @class = "editDialog"/*, data_dialog_id = "edit-Dialog"*/ })</label>
@*|
@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "confirmDialog" })*@
</text>
        )
})
<script type="text/javascript">
    InitGrid('gridData');
</script>
